<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CXNDatabaseConnection" connectionString="Data Source=localhost;Initial Catalog=QA_BETA_CXN;User ID=sa;pwd=MoneyGram1" />
    <add name="CXEDatabaseConnection" connectionString="Data Source=localhost;Initial Catalog=QA_BETA_CXE;User ID=sa;pwd=MoneyGram1" />
    <add name="PTNRDatabaseConnection" connectionString="Data Source=localhost;Initial Catalog=QA_BETA_PTNR;User ID=sa;pwd=MoneyGram1" />
  </connectionStrings>
  <appSettings>
    <add key="VerfFilePath" value="D:\Karun\GitHub\Verf\VerfImport\Synovus_SQL_Query_For_MGI\Verf-QA.csv" />
    <!-- If the below key is set to true, every time the application is run, it will delete the visa verf table -->
    <add key="CanDropVerfTable" value="false"/>

    <!-- Voltage Settings -->
    <!-- SOAP Service Config (Tokenize/Detokenize)-->
    <!--Starts Here -->
    <add key="Format" value="First 4 Last 4 SST" />
    <add key="Identity" value="token@ic.local" />
    <add key="Authinfo" value="MKeYWjWWVv91" />
    <!--Ends Here-->

    <!--HOST DLL Config (Encrypt/Decrypt -->
    <!--Starts Here -->
    <add key="DistrictName" value="ic.local" />
    <add key="PolicyLocator" value="https://proxy.ic.local/voltage/policy/clientPolicy.xml" />
    <add key="IdentityString" value="token@ic.local" />
    <add key="PieMerchantID" value="mgi" />
    <add key="DecryptTime" value="" />
    <add key="VoltageUrl" value="https://proxy.ic.local/voltage/vibesimple/services/VibeSimpleSOAP" />
    
  </appSettings>
</configuration>