<div class="col-sm-12">
  <kendo-tabstrip>
    <!-- <kendo-tabstrip-tab [title]="'Care Labels'" [selected]="true">
      <ng-template kendoTabContent>
        <app-care-labels></app-care-labels>
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab title="Create">
      <ng-template kendoTabContent>
        <app-create></app-create>
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab title="Cut Plan">
      <ng-template kendoTabContent>
        <app-cut-plan></app-cut-plan>
      </ng-template>
    </kendo-tabstrip-tab> -->

    <kendo-tabstrip-tab title="Search" [selected]="true">
      <ng-template kendoTabContent>
        <app-search></app-search>
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab title="Maintain">
        <ng-template kendoTabContent>
          <app-maintain></app-maintain>
        </ng-template>
      </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>