html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline; /*background: transparent;*/
}
.custSrchMarginHeight {
	margin-top: -15px;
}
body {
	height: 100%;
	width: 100%;
}
li {
	display: block;
	float: left;
}
.ieSpanDisplay {
	display: block;
}
.LoginButtonInfo {
	float: right;
	margin-right: 15.6%;
}
.aLinkButton {
	float: none;
	display: block;
}
.optDropDown {
	zoom: 1.3 !important;
}
.transHstryDropDown {
	zoom: 1.3 !important;
}
.transHstryDropDownWidth {
	zoom: 1.3 !important;
}
.transHstryDropDownWidth {
	font-family: Arial, sans-serif, Helvetica;
	font-size: 13px;
	line-height: 22.53px;
	width: 150px;
	padding: 8px 8px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
}
.transHstryDropDownCustmrWidth {
	font-family: Arial, sans-serif, Helvetica;
	font-size: 13px;
	line-height: 22.53px;
	width: 130px;
	padding: 8px 8px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	zoom: 1.3 !important;
}
.transHstCheckBox {
	margin-top: 5px;
	vertical-align: middle;
}
.message {
	width: 218px;
	margin-top: 2px;
}
.messageDisplay {
	float: left;
	margin-left: 8px;
}
.SrchButtonWdth {
	width: 30%;
}
.dropDownMenu {
	display: block;
	border: 1px solid black;
	background-color: #cccccc;
	text-align: left;
	width: 198px;
}
input[type="submit"] {
	height: 31px;
	display: block;
}
input[type="button"] {
	height: 31px;
	display: block;
}
.aLinkButton {
	height: 31px;
}
.ieWidth {
	width: 20%;
}
.ieMarginLeft {
	margin-left: 4px;
}
.custSearchOptBand {
	height: 12px;
	line-height: 12px;
}
.iePadding {
	padding-bottom: 10px;
}
.ieCustNavInfoBtn {
	width: 2%;
}
.cretNUserImg {
	display: block;
}
.mngCretNUser {
	display: block;
	float: left;
	width: 80%;
}
.shpngCartButton {
	clear: both;
	width: 500px;
}
.popUpCancelBtnWidth {
	width: 50%;
}
.popUpConfrmBtnWidth {
	width: 43%;
}
.locSummryWdth {
	width: 93%;
	border: 1px solid black;
}
.diagnoInfo {
	font-family: Arial, sans-serif, Helvetica;
	font-size: 13px;
	width: 50%;
	text-align: left;
	vertical-align: middle;
}
.productPageLblWidth {
	width: 83.5%;
}
.checkInstruction {
	display: list-item;
	float: none;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	list-style-type: square;
	margin-left: 20px;
	padding: 2px;
	vertical-align: middle;
}
.processCheckBtnAlign {
	width: 60%;
}
.processCheckPopUp {
	float: left;
	margin-left: 35%;
	width: 30%;
}
.custSrchDivWdth {
	float: left;
	margin-top: -2px;
	margin-left: 29.2%;
}
.mngUserDiv {
	margin-left: 15%;
}
.SrchButtonWidth {
	width: 30%;
}
.mngUserForgetPopup {
	display: block;
}
.cardSearchDiv {
	float: right;
	margin: 3px 8px;
	padding: 5px;
}
.cardSwipeBttn {
	width: 150px;
	margin-left: 38px;
}
.customerSearchOptnsMinheight {
	min-height: 277px;
}
.ieMrgnRight {
	margin-right: 33px;
}
.ieBandHeight {
	height: 12px;
	line-height: 12px;
}
.transHstryWidth {
	width: 150px;
}
.ProdTransHstryWdth {
	width: 130px;
}
.cashMgmt {
	width: 84%;
}
.synvsErrorDisplay {
	margin-left: 31.5%;
	padding: 2px;
}
.rgtAppltShpngCartBtn {
	margin-left: 143px;
}
.rgtAppltCustProfBtn {
	width: 51%;
	margin-right: 0px;
}
.custSrchMarginHeight {
	margin-top: -15px;
}
.iePrductBandDivWidth {
	width: 615px;
}
.ieCheckValidation {
	margin-left: 42%;
}
.shpngCartLabelTable {
	width: 630px;
}
.shpngCartLabelTdInput {
	display: table;
	padding: 0px;
	margin: 0px;
}
.shpngCartLabelInputTd {
	padding: 5px;
	width: 101px;
	text-align: right;
}
.shpngCartLabels {
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #4D4D4D;
}
.shpngCartLabelFont {
	font-size: 12px;
	font-weight: bold;
	font-family: arial, helvetica, sans-serif;
	padding: 0px;
}
.shpngCartLoadCardLbl {
	width: 210px;
	padding-left: 35px;
	text-align: left;
}
.shpngCarWithdrawCardLbl {
	padding-left: 0px;
	text-align: center;
	width: 237.5px;
}
.shpngCartNetCashLbl {
	padding-left: 34px;
	text-align: left;
	width: 205px;
}
.shpngCartCashCustmrLbl {
	padding-left: 34px;
	text-align: left;
	width: 203px;
}
.shpngCartTotalLabel {
	width: 631px;
	border-collapse: collapse;
	margin-bottom: 5px;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	background-color: #d9d9d9;
}
.sndMnySideHdngs {
	font-weight: bold;
	margin-left: 30.5%;
	text-align: left;
}
.bannerText {
	display: inline-block;
	float: left;
	text-align: left;
	width: 400px;
}
.lineSeperator {
	border-top: 2px solid #b5c1b2;
	width: 633px;
	padding: 0px;
	height: 0px;
}
.sendMnyDiv {
	float: left;
	width: 639px;
}
.sendMnyScndNameDiv {
	float: left;
	width: 285px;
}
.sendMnyLabel {
	text-align: right;
	width: 50%;
	margin: 0px;
}
.sendMnyScndLabel {
	text-align: left;
	width: 26%;
}
.sendMnyAddRcvr {
	margin-top: -7px;
	border: 1px solid #FFFFFF;
	padding: 6px 5px;
	cursor: pointer;
}
.sendMnyEditRcvr {
	display: inline-block;
	float: right;
	margin-top: -7px;
	border: 1px solid #FFFFFF;
	padding: 6px 5px;
	width: 65px;
}
.westernUnionText {
	font-weight: bold;
	padding-left: 48px;
	display: block;
	text-align: left;
}
.billPayDesc {
	background: #ffc35b;
	overflow: hidden;
	border: 1px solid black;
	width: 638px;
	margin-top: 5px;
}
.billPayDesc p {
	font-family: Arial, sans-serif, Helvetica;
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
	text-align: left;
}
.editRcvrLbl {
	font-weight: bold;
	margin: 23px;
	text-align: left;
}
.SndMnyBttnMargin {
	margin-left: 22%;
}
.SndMnyBttnMarginDiv {
	margin-left: 22%;
}
.wuDodFrankMsg {
	padding-left: 22px;
	text-align: left;
}
.receiveMnyButton {
	float: left;
	margin-left: 30%;
}
.sndMnyLiBttnWidth {
	width: 40%;
}
.receiveMnyDetailsButton {
	margin-left: 22%;
}
.sndMnyDisclosure {
	padding-left: 23px;
}
