<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WUServiceUrl" value="https://wugateway2pi.westernunion.net"/>
    <add key="WUClientCertificateName" value="westernunionpartnerintegration"/>
  </appSettings> 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DASInquiry_H2H_SOAP_HTTP_Binding" />
        <binding name="FusionGoShopping_H2H_SOAP_HTTP_Binding" />
        <binding name="MakePaymentStore_H2H_SOAP_HTTP_Binding" />
        <binding name="MakePaymentValidate_H2H_SOAP_HTTP_Binding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.westernunion.com/DAS_Service_H2H"
        binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding"
        contract="DASService.DASInquiryPortType" name="DASInquiry" />
      <endpoint address="http://localhost:7080/FusionGoShopping_Service_H2H"
        binding="basicHttpBinding" bindingConfiguration="FusionGoShopping_H2H_SOAP_HTTP_Binding"
        contract="FusionGoShopping.FusionGoShopping_Service_PortType"
        name="SOAP_HTTP_Port1" />
      <endpoint address="http://localhost:7081/MakePaymentStore_Service_H2H"
        binding="basicHttpBinding" bindingConfiguration="MakePaymentStore_H2H_SOAP_HTTP_Binding"
        contract="MakePayment.MakePaymentStore_Service_PortType" name="SOAP_HTTP_Port2" />
      <endpoint address="http://localhost:7081/MakePaymentValidate_Service_H2H"
        binding="basicHttpBinding" bindingConfiguration="MakePaymentValidate_H2H_SOAP_HTTP_Binding"
        contract="PaymentValidate.MakePaymentValidate_Service_PortType"
        name="SOAP_HTTP_Port3" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
