<div align="center" style="margin-top:3%;height:35%;">
	@Html.Raw(ViewBag.ConfirmationMessage)
	
</div>
<div class="txt_center">
	<ul>
		<li class="SrchButtonWidth">
			@Html.ActionLink("OK", "ProductCredential", "ProductCredential", new { @class = "anc_link_btn" })
			@*<input class="green_input push_top10_fix" onclick="RemovePopUp()" type="button" value="Ok">*@
		</li>
	</ul>
</div>