<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
		<add name="DatabaseConnection" connectionString="Data Source=localhost;Initial Catalog=SC_PTNR;User ID=sa;pwd=MoneyGram1"/>
  </connectionStrings>
  <appSettings>
    <add key="CXNDATABASE" value ="SC_PTNR"/>
    <add key="PTNRDATABASE" value ="SC_PTNR"/>
  </appSettings>
</configuration>
