<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database"
         xmlns:tx="http://www.springframework.net/tx">

  <!--Transaction support-->
  <object id="transactionManager"
        type="Spring.Data.NHibernate.HibernateTxScopeTransactionManager, Spring.Data.NHibernate32">
    <property name="DbProvider" ref="ChexarDbProvider"/>
    <property name="SessionFactory" ref="MySessionFactory"/>
  </object>

  <!-- Property placeholder configurer for database settings -->

  <object type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
    <property name="ConfigSections" value="databaseSettings"/>
  </object>

  <!-- Database and NHibernate Configuration -->

  <db:provider id="ChexarDbProvider"
          provider="SqlServer-2.0"
          connectionString="Data Source=10.111.109.20\MDOWD;Database=CXN;User ID=sa;Password=BIGtrouble2;"/>

  <tx:attribute-driven/>

  <!--Session factory-->
  <object id="MySessionFactory" type="Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate32">
    <property name="DbProvider" ref="ChexarDbProvider"/>
    <property name="MappingAssemblies">
      <list>
        <value>MGI.Cxn.Check.Chexar.Data</value>
        <value>ChexarIO</value>
      </list>
    </property>
    <property name="HibernateProperties">
      <dictionary>
        <entry key="connection.provider"
               value="NHibernate.Connection.DriverConnectionProvider"/>
        <entry key="dialect"
               value="NHibernate.Dialect.MsSql2008Dialect"/>
        <entry key="connection.driver_class"
               value="NHibernate.Driver.SqlClientDriver"/>
        <entry key="show_sql" value="true"/>
      </dictionary>
    </property>
    <property name="ExposeTransactionAwareSessionFactory" value="true"/>
  </object>

  <object id="NHibChexarPartnerRepo" type="MGI.Common.DataAccess.Impl.NHibRepository&lt;MGI.Cxn.Check.Chexar.Data.ChexarPartner>, MGI.Common.DataAccess.Impl">
    <property name="SessionFactory" ref="MySessionFactory"/>
  </object>
  <object id="NHibChexarIdentityRepo" type="MGI.Common.DataAccess.Impl.NHibRepository&lt;MGI.Cxn.Check.Chexar.Data.ChexarIdentity>, MGI.Common.DataAccess.Impl">
    <property name="SessionFactory" ref="MySessionFactory"/>
  </object>
  <object id="NHibChexarAccountRepo" type="MGI.Common.DataAccess.Impl.NHibRepository&lt;MGI.Cxn.Check.Chexar.Data.ChexarAccount>, MGI.Common.DataAccess.Impl">
    <property name="SessionFactory" ref="MySessionFactory"/>
  </object>
  <object id="NHibChexarSessionRepo" type="MGI.Common.DataAccess.Impl.NHibRepository&lt;MGI.Cxn.Check.Chexar.Data.ChexarSession>, MGI.Common.DataAccess.Impl">
    <property name="SessionFactory" ref="MySessionFactory"/>
  </object>
  <object id="NHibChexarTrxRepo" type="MGI.Common.DataAccess.Impl.NHibRepository&lt;MGI.Cxn.Check.Chexar.Data.ChexarTrx>, MGI.Common.DataAccess.Impl">
    <property name="SessionFactory" ref="MySessionFactory"/>
  </object>
  <object id="NHibCheckImageRepo" type="MGI.Common.DataAccess.Impl.NHibRepository&lt;MGI.Cxn.Check.Chexar.Data.CheckImage>, MGI.Common.DataAccess.Impl">
    <property name="SessionFactory" ref="MySessionFactory"/>
  </object>

  <object id="NHibChexarSimAccountRepo" type="MGI.Common.DataAccess.Impl.NHibRepository&lt;ChexarIO.SimEntities.ChexarSimAccount>, MGI.Common.DataAccess.Impl">
    <property name="SessionFactory" ref="MySessionFactory"/>
  </object>
  <object id="NHibChexarSimInvoiceRepo" type="MGI.Common.DataAccess.Impl.NHibRepository&lt;ChexarIO.SimEntities.ChexarSimInvoice>, MGI.Common.DataAccess.Impl">
    <property name="SessionFactory" ref="MySessionFactory"/>
  </object>

  <object id="ChexarWS" type="ChexarIO.ChexarSimulator, ChexarIO" autowire="byType">
    <property name="AccountRepo" ref="NHibChexarSimAccountRepo"></property>
    <property name="InvoiceRepo" ref="NHibChexarSimInvoiceRepo"></property>
  </object>

  <object id="ChexarProcessor" type="MGI.Cxn.Check.Chexar.Impl.ChexarGateway, MGI.Cxn.Check.Chexar.Impl" autowire="byType">
    <property name="PartnerRepo" ref="NHibChexarPartnerRepo"/>
    <property name="PartnerIdRepo" ref="NHibChexarIdentityRepo"/>
    <property name="AccountRepo" ref="NHibChexarAccountRepo"/>
    <property name="ChxrSessionRepo" ref="NHibChexarSessionRepo"/>
    <property name="ChxrTrxRepo" ref="NHibChexarTrxRepo"/>
    <property name="ImgRepo" ref="NHibCheckImageRepo"/>
    <property name="Chexar" ref="ChexarWS"></property>
  </object>
</objects>