<div class="col-sm-12">
    <kendo-tabstrip  #tabstrip>
      
        <kendo-tabstrip-tab title="Ordering"  [selected]="true">
            <ng-template kendoTabContent>
              <!--tab Lookup-->
              <app-order-screen></app-order-screen>
              <!--end of tab Lookup-->
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="PO Search">
            <ng-template kendoTabContent>
              <!--tab Lookup-->
              <app-po-tracking></app-po-tracking>
              <!--end of tab Lookup-->
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab  title="PO Maintenance" [disabled]="disableTab">
            <ng-template kendoTabContent>
              <!--tab Lookup-->
              <app-maintenance [PoHdrID]="poHdrId"></app-maintenance>
              <!--end of tab Lookup-->
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
</div>