<ul class="nav navbar-nav">
    <span class="sidebar-toggle">
    <span class="fa fa-arrow-right pull-left expandMenu" (click)="onMenuAction(false)"></span>
    <span class="fa fa-arrow-left pull-right collapseMenu" (click)="onMenuAction(true)"></span>
    </span>
    <li class="panel panel-default" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" id="dropdown" *ngFor="let menu of leftMenuList">
        <a [routerLink]="[menu.Path]">
            <i class="nav-shortIcon nav-shortIcon-text">{{menu.Name[0]}}</i>
            <span>{{ menu.Name }}</span>
        </a>
    </li>
</ul>