<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MGI.Alloy.CXN.Check.Chexar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MGI.Alloy.CXN.Check.Chexar.Properties.Settings>
            <setting name="MGI_Alloy_CXN_Check_Chexar_ChexarCallCenterService_CallCenterService"
                serializeAs="String">
                <value>http://beta.chexar.net/webservice/callcenterservice.asmx</value>
            </setting>
            <setting name="MGI_Alloy_CXN_Check_Chexar_ChexarCommonService_CommonService"
                serializeAs="String">
                <value>http://beta.chexar.net/webservice/commonservice.asmx</value>
            </setting>
            <setting name="MGI_Alloy_CXN_Check_Chexar_ChexarCustomerService_CustService"
                serializeAs="String">
                <value>http://beta.chexar.net/webservice/CustService.asmx</value>
            </setting>
            <setting name="MGI_Alloy_CXN_Check_Chexar_ChexarTransactionService_TransactionService"
                serializeAs="String">
                <value>http://beta.chexar.net/webservice/transactionservice.asmx</value>
            </setting>
        </MGI.Alloy.CXN.Check.Chexar.Properties.Settings>
    </applicationSettings>
</configuration>