<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>
  <connectionStrings>
    <add name="CXNDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_CXN;User ID=sa;pwd=Opteamix@123" />
  </connectionStrings>
  <appSettings>
    <add key="IsHardCodedCounterId" value="false" />
    <add key="ProviderIO" value="IO" />
  </appSettings>
	<spring>
		<context>
			<resource uri="config://spring/objects" />
		</context>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
		</parsers>

		<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		   xmlns:db="http://www.springframework.net/database"
		   xmlns:tx="http://www.springframework.net/tx"
		   xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
		</objects>
	</spring>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WUCardEnrollment_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="FeeInquiry_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="DASInquiry_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="SendMoneyStore_H2H_MSetSOAP_HTTP_Binding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="SMValidation_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WUCardLookup_H2H_SOAP_HTTP_Binding2" closeTimeout="00:01:00"
							openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
							allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
							textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
							messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://wugateway2pi.westernunion.net/FeeInquiry_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="FeeInquiry_H2H_SOAP_HTTP_Binding"
                contract="FeeInquiry.FeeInquiryPortType" name="SOAP_HTTP_Port1" />
			<endpoint address="http://www.westernunion.com/WUCard_Enrollment_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="WUCardEnrollment_H2H_SOAP_HTTP_Binding"
                contract="WUCardService.WUCardEnrollmentPortType" name="SOAP_HTTP_Port" />
			<endpoint address="http://www.westernunion.com/DAS_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding"
                contract="DASService.DASInquiryPortType" name="SOAP_HTTP_Port2" />
			<endpoint address="http://www.westernunion.com/SendMoneyStore_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="SendMoneyStore_H2H_MSetSOAP_HTTP_Binding"
                contract="SendMoneyStoreService.SendMoneyStorePortType" name="SOAP_HTTP_Port3" />
			<endpoint address="http://www.westernunion.com/SendmoneyValidation_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="SMValidation_H2H_SOAP_HTTP_Binding"
                contract="SendMoneyValidationService.SendMoneyValidatePortType"
                name="SOAP_HTTP_Port4" />
			<endpoint address="http://www.westernunion.com/WUCardLookup_Service_H2H"
					 binding="basicHttpBinding" bindingConfiguration="WUCardLookup_H2H_SOAP_HTTP_Binding2"
					 contract="WUCardLookupService.WUCardLookupPortType" name="WUCardLookup" />
		</client>
	</system.serviceModel>

</configuration>
