-- =============================================
-- Author:		<Abhijith>
-- Create date: <05/25/2018>
-- Description:	Updating the OnUS Transaction table.

--EXEC usp_UpdateTCFOnusTransactionById 1000000031,4567,'1805290551','180529055123','180529055123',0,0,'REJECTED',
-- =============================================

IF OBJECT_ID(N'usp_UpdateTCFOnusTransactionById', N'P') IS NOT NULL
DROP PROC usp_UpdateTCFOnusTransactionById
GO

CREATE PROCEDURE usp_UpdateTCFOnusTransactionById
	@tcfonusTransactionId BIGINT,	
	@amount MONEY,
	@checkNumber  NVARCHAR(20),
	@routingNumber NVARCHAR(20),
	@accountNumber NVARCHAR(20),
	@latitude FLOAT,
	@longitude FLOAT,
	@message NVARCHAR(4000),
	@tcfonusStatus NVARCHAR(50),
	@status NVARCHAR(50),
	@dTServerLastModified DATETIME,
	@dTTerminalLastModified DATETIME,
	@channelPartnerId BIGINT,
	@tellerTraceCode VARCHAR(50),
	@currentBalance MONEY,
	@availableBalance MONEY,
	@declineMessagekey NVARCHAR(20),
	@lang INT
AS
BEGIN

  BEGIN TRY

        DECLARE @declineMessage NVARCHAR(4000)  = @message 
		DECLARE @declineDisplayMessage NVARCHAR(4000)  
		--Get DMS Decline message 

		if(@status = 1) -- Declined
		BEGIN
			EXEC usp_GetDeclineMessageByKey @declineMessagekey, @channelPartnerId, @lang, @declineMessage OUTPUT, @declineDisplayMessage OUTPUT
	    END

		UPDATE 
		  tTCFOnus_Trx
		SET	
			Amount = @amount,
			CheckNumber = @checkNumber,
			RoutingNumber = @routingNumber,
			AccountNumber = @accountNumber,
			Latitude = @latitude,
			Longitude = @longitude,             
			TCFOnusStatus = @tcfonusStatus,
			Message = @declineMessage,
			TellerTraceCode = @tellerTraceCode,
			CurrentBalance = @currentBalance,
			AvailableBalance = @availableBalance,
			DTServerLastModified = @dTServerLastModified,	
			DTTerminalLastModified = @dTTerminalLastModified		
		 WHERE
		    TCFOnusTrxID = @tcfonusTransactionId

        -- Get DMS Check Submit type and return type by Chexar Type id 

	    --EXEC usp_GetCheckSubmitAndReturnTypeByChexarTypeId @submitType, @returnType, @submitType OUTPUT, @returnType OUTPUT

		SELECT ISNULL(@declineDisplayMessage,@declineMessage) as DeclineMessage --, @submitType as SubmitType, @returnType as ReturnType

  END TRY
  BEGIN CATCH
    EXECUTE usp_CreateErrorInfo
  END CATCH
  
  	
END
GO


