-- ==========================================================================================
-- Author:		<Manikandan Govindraj>
-- Create date: <01-17-2017>
-- Description:	checking all the Qualifiers for the Promotions
-- ==========================================================================================

--  SELECT dbo.ufn_ValidateQualifiers('BOGO', '100000001', 0, 0, 1000000002, 200, 2642468260740277)

IF EXISTS (SELECT 1 FROM SYS.OBJECTS WHERE TYPE = 'FN' AND NAME = 'ufn_ValidateQualifiers')
BEGIN
	DROP FUNCTION dbo.ufn_ValidateQualifiers
END
GO

CREATE FUNCTION ufn_ValidateQualifiers
(
    @promoCode             NVARCHAR(200),
    @promotionId           BIGINT,
    @transactionId         BIGINT,
	@IsNextCustomerSession BIT,
    @customerSessionId     BIGINT,
	@providerId            INT,
	@customerId            BIGINT,
	@freeTrxCount          INT
)
RETURNS BIT
BEGIN
	
	DECLARE @IsValidated BIT = 1
	DECLARE @noOfQualifiers INT = 0

	-- Checking whether the Promotion is already applied for the other transaction. 					 
	IF(dbo.ufn_IsPromotionApplied(@promotionId, @transactionId,  @customerId, @freeTrxCount) = 0) 
	BEGIN

				SELECT @noOfQualifiers = COUNT(1) FROM tPromoQualifiers WHERE PromotionId = @promotionId 

				IF @noOfQualifiers = 0
				BEGIN
					RETURN @IsValidated
				END
				ELSE 
				BEGIN
				    
					 DECLARE @loopCount         INT = 0,
					         @qualifierId       INT = 0,
					         @stardDate         DATE,
							 @endDate		    DATE,
							 @minTrxCount	    INT,
							 @productId         INT,
							 @transactionCount  INT,
							 @amount            MONEY,
							 @isPaidFee         BIT,
							 @transactionStates NVARCHAR(50),
							 @isParked          BIT
				  

				
							 -- Looping through all the qualifiers of the Promotion and if any one of the Qualifier is failed then no need to check the other Qualifiers.

							 WHILE( @loopCount < @noOfQualifiers )
							 BEGIN
											SELECT TOP 1 @qualifierId = promoqualifierId, @stardDate = StartDate, @endDate = EndDate, @minTrxCount = ISNULL(MinTransactionCount, 0),
											           @productId = ProductId, @amount = ISNULL(Amount, 0), @ispaidFee = IsPaidFee, @transactionStates = REPLACE(TransactionStates, '-', ','), @isParked = IsParked
											FROM  tPromoQualifiers 
											WHERE PromotionId = @promotionId AND PromoQualifierId > @qualifierId 
											ORDER BY PromoQualifierId ASC


					

											-- Get the transaction Count, when the minimum transaction count is not '0'.
											SET @transactionCount = 
											CASE @minTrxCount WHEN 0 THEN @minTrxCount ELSE 
											          dbo.ufn_GetTransactionCount(@customerSessionId, @productId, @providerId, @transactionId, @IsNextCustomerSession, @customerId, @stardDate, @endDate, @isPaidFee, @transactionStates, @isParked)
											END

											-- If the transaction count is not satisfied, then we need to check the amount field. (Transaction Count OR amount)
											IF( @minTrxCount = 0 OR @transactionCount < @minTrxCount)
											BEGIN

											        -- If the Amount is 'NULL', we don't need to check the transaction amount for the customer.
													IF(@amount = 0 OR dbo.ufn_GetTransactionAmount(@customerSessionId, @productId, @providerId, @transactionId,  @IsNextCustomerSession, @customerId, @stardDate, @endDate, @isPaidFee, @transactionStates, @isParked) <= @amount)
													BEGIN
													      SET @IsValidated = 0
														  BREAK                  -- if any one of the Qualifier is failed then no need to check the other Qualifiers  
													END

											END			

											SET @loopCount += 1 
							 END

                END

		END
		ELSE
		BEGIN
			SET @IsValidated = 0               
		END

	

	RETURN @IsValidated

END


