-- =============================================
-- Author:		<Abhijith>
-- Create date: <11/22/2017>
-- Description:	Inserting TCF Provider for Check in Processor Credentials table. 
-- Story ID:	<B-08674>

-- EXEC usp_CheckIsOnusProvider 107006444, 500

-- =============================================

IF OBJECT_ID(N'usp_CheckIsOnusProvider', N'P') IS NOT NULL
DROP PROC usp_CheckIsOnusProvider
GO

CREATE PROCEDURE usp_CheckIsOnusProvider
	@routingNumber BIGINT,	
	@accountNumber BIGINT
AS
BEGIN

  BEGIN TRY
		
		DECLARE 
			 @checkTypeId INT
			,@productProviderCode BIGINT

		SELECT 
			 @checkTypeId = cc.CheckTypeId
			,@productProviderCode = tct.ProductProviderCode
		FROM tCheckClassifications cc
			INNER JOIN dbo.tCheckTypes tct ON cc.CheckTypeId = tct.CheckTypeId
		WHERE 
		    @routingNumber BETWEEN StartRoutingNumber AND EndRoutingNumber
			AND 
			(
			  AccountNumberLength = LEN(@accountNumber)
			  OR
			  @accountNumber BETWEEN StartAccountNumber AND EndAccountNumber   
			)


		SELECT 
			 ISNULL(@checkTypeId, 0) AS CheckTypeId
			,ISNULL(@productProviderCode,200) AS ProductProviderCode

  
  END TRY
  BEGIN CATCH
    EXECUTE usp_CreateErrorInfo
  END CATCH
  
  	
END
GO


