--- ===============================================================================
-- Author:		<Rizwana Shaik>
-- Modified By : <Karun>
-- Create date: <04-13-2017>
-- Modified Date : <23-May-2017>
-- Description:	 Modified the sp to get the MoneyTransfer Pickup State.
-- Modified Reason : For RM originating out of US, Preflush, Postflush calls are being sent with Intl currency value than USD value or amount for the receiver value.
-- Jira ID:		<>

-- EXEC usp_GetPreflushPostflushDetails 1000000063,2108060721450761,1
-- ================================================================================


IF EXISTS (SELECT 1 FROM SYS.OBJECTS WHERE TYPE = 'P' AND NAME = 'usp_GetPreflushPostflushDetails')
BEGIN
	DROP PROCEDURE usp_GetPreflushPostflushDetails
END
GO


CREATE PROCEDURE [dbo].[usp_GetPreflushPostflushDetails]
	@CustomerSessionId BIGINT,
	@CustomerId BIGINT,
	@State INT
AS
BEGIN

DECLARE @CartId BIGINT = 
	(
		SELECT 
			TOP 1 CartId 
		FROM 
			tShoppingCarts WITH (NOLOCK)
		WHERE 
			State != 2
			AND State = @State
			AND	CustomerSessionId = @customerSessionId
		ORDER BY
			DTTerminalCreate DESC
	)

EXEC usp_GetCustomerByCustomerId @CustomerId 

SELECT   
	tC.TransactionId AS Id
	,'' AS AccountNumber 
	,'' AS AliasId 
	,tC.Amount
	,'' AS CardNumber 
	,'' AS CashType 
	,CASE 
		WHEN tC.ProviderID = 200
		THEN sCH.CheckNumber
		ELSE tOnus.CheckNumber
	END AS CheckNumber
	,tC.CheckType
	,tCT.Name AS CheckTypeName
	,tc.ConfirmationNumber
	,tC.Fee
	,(tC.Amount - tC.Fee) AS GrossTotalAmount
	,CAST(0 AS BIT) AS isActivate
	,'' AS MTCN 
	,'' AS Payee 
	,tC.State  AS [Status] 
	,'' AS ToAddress 
	,'' AS ToCity 
	,'' AS ToCountry 
	,'' AS ToCountryOfBirth 
	,'' AS ToDeliveryMethod 
	,'' AS ToDeliveryOption 
	,'' AS ToFirstName 
	,'' AS ToLastName 
	,'' AS ToPhoneNumber 
	,'' AS ToPickUpCity 
	,'' AS ToPickUpCountry 
	,'' AS ToPickUpState_Province 
	,'' AS ToSecondLastName 
	,'' AS ToState_Province 
	,'' AS ToZipCode 
	,'' AS TransferType 
	,'ProcessCheck' AS [Type]
	,0 AS CardBalance
	,0 AS TransferSubType
	,CASE 
		WHEN tC.ProviderID = 200
		THEN ca.ChxrAccountID
		ELSE tOnusAct.TCFOnusAccountId
	END AS TransactionAccountId
	,CASE 
		WHEN tC.ProviderID = 200
		THEN sCH.AccountNumber
		ELSE tOnus.AccountNumber
	END AS CheckAccountNumber
	,CASE 
		WHEN tC.ProviderID = 200
		THEN sCH.RoutingNumber
		ELSE tOnus.RoutingNumber
	END AS CheckRoutingNumber
FROM   
	tshoppingcarts sc
	INNER JOIN tShoppingCartTransactions sct ON sc.CartId = sct.CartId AND
		sct.CartId = @CartId AND sct.CartItemStatus = 0 AND sct.ProductId = 1
	INNER JOIN tTxn_Check tC ON sct.TransactionId = tC.TransactionId 
	LEFT JOIN tCheckTypes tCT ON tC.CheckType = tCT.CheckTypeId 
	LEFT JOIN tChxr_Trx sCH ON sCH.ChxrTrxID = tC.CXNId AND tC.ProviderId = 200
	LEFT JOIN tTCFOnus_Trx tOnus ON tOnus.TCFOnusTrxID = tC.CXNId AND tC.ProviderId = 202
	LEFT JOIN tChxr_Account ca ON sCH.ChxrAccountId = ca.ChxrAccountID
	LEFT JOIN tTCFOnus_Account tOnusAct ON tOnus.TCFOnusAccountId = tOnusAct.TCFOnusAccountID
	
UNION ALL  

SELECT   
	tF.TransactionID AS Id
	,'' AS AccountNumber 
	,sVA.CardAliasId AS AliasId
	,tF.Amount
	,sVA.CardNumber AS CardNumber
	,'' AS CashType 
	,'' AS CheckNumber
	,0 AS CheckType 
	,'' AS CheckTypeName
	,sV.ConfirmationId AS ConfirmationNumber 
	,tF.Fee
	,(tF.Amount - tF.Fee) AS GrossTotalAmount
	,CASE tF.FundType 
		WHEN 2 THEN CAST(1 AS BIT)
		ELSE CAST(0 AS BIT)
		END AS isActivate 
	,'' AS MTCN 
	,'' AS Payee 
	,tF.State  AS [Status]
	,'' AS ToAddress 
	,'' AS ToCity 
	,'' AS ToCountry 
	,'' AS ToCountryOfBirth 
	,'' AS ToDeliveryMethod 
	,'' AS ToDeliveryOption 
	,'' AS ToFirstName 
	,'' AS ToLastName 
	,'' AS ToPhoneNumber 
	,'' AS ToPickUpCity 
	,'' AS ToPickUpCountry 
	,'' AS ToPickUpState_Province 
	,'' AS ToSecondLastName 
	,'' AS ToState_Province 
	,'' AS ToZipCode 
	, CASE tF.FundType   
		WHEN 0 THEN 'Debit'   
		ELSE 'Credit'
		END AS TransferType
	,'Fund' AS [Type]
	,sV.Balance AS CardBalance
	,tF.FundType AS TransferSubType
	,sVA.VisaAccountId AS TransactionAccountId
	,'' AS CheckAccountNumber
	,'' AS CheckRoutingNumber
FROM  
	tshoppingcarts sc
	INNER JOIN tShoppingCartTransactions sct  on sc.CartId = sct.CartId
		AND  sct.CartId = @CartId AND sct.CartItemStatus = 0 AND sct.ProductId = 6
	INNER JOIN tTxn_Funds tF ON sct.TransactionId = tF.TransactionId
	LEFT JOIN tVisa_Trx sV ON sV.VisaTrxID = tF.CXNId AND tF.ProviderId = 103
	LEFT JOIN tVisa_Account sVA ON sVA.VisaAccountID = sV.VisaAccountId

UNION ALL

SELECT   
	tM.TransactionID AS Id
	,'' AS AccountNumber 
	,'' AS AliasId 
	,tM.Amount
	,'' AS CardNumber 
	,'' AS CashType 
	,tM.CheckNumber
	,0 AS CheckType 
	,'' AS CheckTypeName
	,'' AS ConfirmationNumber 
	,tM.Fee  
	,(Amount + Fee) AS GrossTotalAmount
	,CAST(0 AS BIT) AS isActivate
	,'' AS MTCN 
	,'' AS Payee 
	,tM.State AS [Status]
	,'' AS ToAddress 
	,'' AS ToCity 
	,'' AS ToCountry 
	,'' AS ToCountryOfBirth 
	,'' AS ToDeliveryMethod 
	,'' AS ToDeliveryOption 
	,'' AS ToFirstName 
	,'' AS ToLastName 
	,'' AS ToPhoneNumber 
	,'' AS ToPickUpCity 
	,'' AS ToPickUpCountry 
	,'' AS ToPickUpState_Province 
	,'' AS ToSecondLastName 
	,'' AS ToState_Province 
	,'' AS ToZipCode 
	,'' AS TransferType 
	,'MoneyOrder' AS [Type]
	,0 AS CardBalance
	,0 AS TransferSubType
	,'' AS TransactionAccountId
	,'' AS CheckAccountNumber
	,'' AS CheckRoutingNumber
FROM 
	tshoppingcarts sc
	INNER JOIN tShoppingCartTransactions sct ON sc.CartId = sct.CartId
		AND  sct.CartId = @CartId AND sct.CartItemStatus = 0 AND sct.ProductId = 5
	INNER JOIN tTxn_MoneyOrder tM ON sct.TransactionId = tM.TransactionId

UNION ALL

SELECT   
	tB.TransactionID AS Id
	 ,tB.AccountNumber
	,'' AS AliasId 
	 ,Amount
	,'' AS CardNumber 
	,'' AS CashType 
	,'' AS CheckNumber 
	,0 AS CheckType 
	,'' AS CheckTypeName
	,'' AS ConfirmationNumber 
	,Fee
	,(Amount + Fee) AS GrossTotalAmount
	,CAST(0 AS BIT) AS isActivate
	,sBW.MTCN
	,sBW.BillerName AS Payee
	,tB.State AS [Status] 
	,'' AS ToAddress 
	,'' AS ToCity 
	,'' AS ToCountry 
	,'' AS ToCountryOfBirth 
	,'' AS ToDeliveryMethod 
	,'' AS ToDeliveryOption 
	,'' AS ToFirstName 
	,'' AS ToLastName 
	,'' AS ToPhoneNumber 
	,'' AS ToPickUpCity 
	,'' AS ToPickUpCountry 
	,'' AS ToPickUpState_Province 
	,'' AS ToSecondLastName 
	,'' AS ToState_Province 
	,'' AS ToZipCode 
	,'' AS TransferType 
	,'BillPayment' AS [Type]
	,0 AS CardBalance
	,0 AS TransferSubType
	,sBW.WUBillPayAccountID AS TransactionAccountId
	,'' AS CheckAccountNumber
	,'' AS CheckRoutingNumber
FROM   
	tshoppingcarts sc
	INNER JOIN tShoppingCartTransactions sct ON sc.CartId = sct.CartId
		AND  sct.CartId = @CartId AND sct.CartItemStatus = 0 AND sct.ProductId = 2
	INNER JOIN tTxn_BillPay tB ON sct.TransactionId = tB.TransactionId
	LEFT JOIN tWUnion_BillPay_Trx sBW ON sBW.WUBillPayTrxID= tB.CXNId AND tB.ProviderId = 401 

UNION ALL

SELECT   
	tMT.TransactionID AS Id
	,'' AS AccountNumber 
	,'' AS AliasId 
	,CASE  tMT.TransferType 
			WHEN 1 THEN CAST( OriginatorsPrincipalAmount AS MONEY)
			--ELSE CAST( DestinationPrincipalAmount AS MONEY)
			ELSE CAST( AmountToReceiver AS MONEY)
		END AS Amount
	,'' AS CardNumber 
	,'' AS CashType 
	,'' AS CheckNumber 
	,0 AS CheckType 
	,'' AS CheckTypeName
	,'' AS ConfirmationNumber 
	,CASE  tMT.TransferType 
				WHEN 1 THEN Fee
				ELSE 0
			END AS Fee
	,CASE  tMT.TransferType 
				WHEN 1 THEN CAST( GrossTotalAmount AS MONEY)
				ELSE CAST( AmountToReceiver AS MONEY)
			END AS GrossTotalAmount
	,CAST(0 AS BIT) AS isActivate
	,sW.Mtcn
	,'' AS Payee 
	,tMT.State AS [Status] 
	,wr.Address AS ToAddress
	,wr.City AS ToCity
	,'' AS ToCountry 
	,'' AS ToCountryOfBirth 
	,DeliveryServiceName AS ToDeliveryMethod
	,DeliveryServiceName AS ToDeliveryOption
	,sW.RecieverFirstName AS ToFirstName
	,sW.RecieverLastName AS ToLastName
	,wr.PhoneNumber AS ToPhoneNumber
	,sW.ExpectedPayoutCityName AS ToPickUpCity
	,wc.Name AS ToPickUpCountry
	,sW.ExpectedPayoutStateCode AS ToPickUpState_Province
	,sW.RecieverSecondLastName AS ToSecondLastName
	,wr.[State/Province] AS ToState_Province
	,wr.ZipCode AS ToZipCode
	,CASE  tMT.TransferType 
		WHEN 1 THEN 'Send'			
		ELSE 'Receive'
		END AS  TransferType
	,'MoneyTransfer' AS [Type]
	,0 AS CardBalance
	,0 AS TransferSubType
	,sW.WUAccountID AS TransactionAccountId
	,'' AS CheckAccountNumber
	,'' AS CheckRoutingNumber
FROM   
	tshoppingcarts sc
	INNER JOIN tShoppingCartTransactions sct ON  sc.CartId = sct.CartId
		AND sct.CartId = @CartId AND sct.CartItemStatus = 0 AND sct.ProductId = 3
	INNER JOIN tTxn_MoneyTransfer tMT ON sct.TransactionId = tMT.TransactionId 
		 AND tMT.TransactionSubType IS NULL
	LEFT JOIN tWUnion_Trx sW on tMT.CXNId = sW.WUTrxId AND tMT.ProviderId = 301 
	LEFT JOIN tWunion_Receiver wr on wr.WUReceiverID = sW.WUReceiverID
	LEFT JOIN tWUnion_Countries wc ON wc.ISOCountryCode = sw.DestinationCountryCode 

UNION ALL  
  
SELECT   
	tCA.TransactionID AS Id
	,'' AS AccountNumber 
	,'' AS AliasId 
	,Amount
	,'' AS CardNumber 
	,CASE tCA.CashType   
		WHEN 1 THEN 'CashIn'   
		WHEN 2 THEN 'CashOut'   
	END AS CashType  
	,'' AS CheckNumber 
	,0 AS CheckType 
	,'' AS CheckTypeName
	,'' AS ConfirmationNumber 
	,ISNULL(FEE,0) AS Fee
	,CASE tCA.CashType   
		WHEN 1 THEN CAST((Amount - ISNULL(FEE,0)) AS MONEY) 
		ELSE CAST((Amount + ISNULL(FEE,0)) AS MONEY)
		END AS GrossTotalAmount
	,CAST(0 AS BIT) AS isActivate
	,'' AS MTCN 
	,'' AS Payee 
	,tCA.State AS [Status]
	,'' AS ToAddress 
	,'' AS ToCity 
	,'' AS ToCountry 
	,'' AS ToCountryOfBirth 
	,'' AS ToDeliveryMethod 
	,'' AS ToDeliveryOption 
	,'' AS ToFirstName 
	,'' AS ToLastName 
	,'' AS ToPhoneNumber 
	,'' AS ToPickUpCity 
	,'' AS ToPickUpCountry 
	,'' AS ToPickUpState_Province 
	,'' AS ToSecondLastName 
	,'' AS ToState_Province 
	,'' AS ToZipCode 
	,'' AS  TransferType
	,'Cash' AS [Type]
	,0 AS CardBalance
	,0 AS TransferSubType
	,'' AS TransactionAccountId
	,'' AS CheckAccountNumber
	,'' AS CheckRoutingNumber
FROM   
	tshoppingcarts sc
	INNER JOIN tShoppingCartTransactions sct on sc.CartId = sct.CartId
		AND  sct.CartId = @CartId AND sct.CartItemStatus = 0 AND sct.ProductId = 7
	INNER JOIN tTxn_Cash tCA ON sct.TransactionId = tCA.TransactionId

END
GO