-- =============================================
-- Author:		<Abhijith>
-- Modified By : Abhijith
-- Create date: <11/22/2017>
-- Modified Date : 06/21/2018
-- Description:	Inserting TCF Provider for Check in Processor Credentials table. 
-- Modifications : Adding the StateId in the filter to check whether the range of Account Number and Routing Numbers falls between the range.
-- Story ID:	<B-08674>

-- EXEC usp_CheckIsOnusProvider 107006444, 500, 'TX'
-- =============================================

IF OBJECT_ID(N'usp_CheckIsOnusProvider', N'P') IS NOT NULL
DROP PROC usp_CheckIsOnusProvider
GO

CREATE PROCEDURE usp_CheckIsOnusProvider
	@routingNumber BIGINT,	
	@accountNumber BIGINT,
	@stateCode NVARCHAR(10)
AS
BEGIN

  BEGIN TRY
		
		DECLARE 
			 @checkTypeId INT
			,@productProviderCode BIGINT

		DECLARE @stateId BIGINT =
		(
			SELECT StateId 
			FROm tStates
			Where Abbr = @stateCode AND CountryCode = 840 --Hardcoded because the locations can have only US States.
		)

		SELECT 
			 @checkTypeId = cc.CheckTypeId
			,@productProviderCode = tct.ProductProviderCode
		FROM tCheckClassifications cc
			INNER JOIN dbo.tCheckTypes tct ON cc.CheckTypeId = tct.CheckTypeId
		WHERE 
		    @routingNumber BETWEEN StartRoutingNumber AND EndRoutingNumber
			AND 
			(
			  AccountNumberLength = LEN(@accountNumber)
			  OR
			  @accountNumber BETWEEN StartAccountNumber AND EndAccountNumber   
			)
			AND StateId = @stateId

		SELECT 
			 ISNULL(@checkTypeId, 0) AS CheckTypeId
			,ISNULL(@productProviderCode,200) AS ProductProviderCode
  
  END TRY
  BEGIN CATCH
    EXECUTE usp_CreateErrorInfo
  END CATCH
  
  	
END
GO


