-- ===============================================================================
-- Author : <Abhijith>
-- Create date: <05-23-2018>
-- Description:	 Get the Onus Account.
-- ================================================================================

IF OBJECT_ID(N'usp_GetTCFOnusAccount', N'P') IS NOT NULL
DROP PROC usp_GetTCFOnusAccount
GO

CREATE PROCEDURE usp_GetTCFOnusAccount
(
	@customerSessionId BIGINT
)
AS
BEGIN
	BEGIN TRY

		SELECT
		    tca.TCFOnusAccountID, 
			tc.FirstName,
			tc.LastName,
			tc.Address1,
			tc.Address2,
			tc.City,
			tc.State,
			tc.ZipCode as Zip,
			tc.Phone1 as Phone,
			tc.SSN,
			tc.IDCode,
			tc.DOB,
			tc.GovtIdentification as GovernmentId,
			ISNULL(tc.GovtIDExpirationDate, CONVERT(DATETIME,'1900-01-01')) as IDCardExpireDate,
			nt.Name as IDCardType,
			tc.GovtIdIssueDate as IDCardIssuedDate,
			c.Name as IDCardIssuedCountry,
			NULL as Occupation,
			NULL as Employer,
			NULL as EmployerPhone,
			tc.CustomerID

		FROM 
			tTCFOnus_Account tca WITH (NOLOCK)
			RIGHT JOIN tCustomers tc  WITH (NOLOCK) ON tc.CustomerID = tca.CustomerId 
			LEFT JOIN tNexxoIdTypes as nt WITH (NOLOCK) ON nt.NexxoIdTypeID = tc.GovtIdTypeId
			LEFT JOIN tStates as s WITH (NOLOCK) ON s.StateId = nt.StateId
			LEFT JOIN tMasterCountries c WITH (NOLOCK) ON c.MasterCountriesID = nt.MasterCountriesID		
			INNER JOIN tCustomerSessions cs WITH (NOLOCK) ON cs.CustomerId = tc.CustomerId      
		WHERE 
			cs.CustomerSessionId = @customerSessionId

	END TRY
	
	BEGIN CATCH
		EXECUTE usp_CreateErrorInfo
	END CATCH
END

