-- =============================================
-- Author:		<Abhijith>
-- Create date: <06/05/2018>
-- Description:	Get the Check Type based on Routing and Account Number. 

-- EXEC usp_GetCheckType 107006444, 500

-- =============================================

IF OBJECT_ID(N'usp_GetCheckType', N'P') IS NOT NULL
DROP PROC usp_GetCheckType
GO

CREATE PROCEDURE usp_GetCheckType
	@routingNumber BIGINT,	
	@accountNumber BIGINT
AS
BEGIN

  BEGIN TRY
		
		DECLARE 
			 @checkTypeName NVARCHAR(50)
			,@productProviderCode BIGINT

		SELECT 
			 @checkTypeName = tct.Name
			,@productProviderCode = tct.ProductProviderCode
		FROM tCheckClassifications cc
			INNER JOIN dbo.tCheckTypes tct ON cc.CheckTypeId = tct.CheckTypeId
		WHERE 
		    @routingNumber BETWEEN StartRoutingNumber AND EndRoutingNumber
			AND 
			(
			  AccountNumberLength = LEN(@accountNumber)
			  OR
			  @accountNumber BETWEEN StartAccountNumber AND EndAccountNumber   
			)


		SELECT 
			 ISNULL(@checkTypeName, 0) AS CheckTypeName
			,ISNULL(@productProviderCode,200) AS ProductProviderCode

  
  END TRY
  BEGIN CATCH
    EXECUTE usp_CreateErrorInfo
  END CATCH
  
  	
END
GO


