<div class="container opt-form">
  <div class="clearfix"></div>
  <div class="opt-card mdl-card mdl-shadow--2dp p-a-lg" style="padding: 1% 5% 5% 5%;">
    <h4 class="m-t mdl-color-text--red-400">Dear </h4>
    <p class="lead">Hearty welcome to Opteamix Family!<br />
                    <span style="align-content:center">
                        Please find Below your schedule of Day 1 at Opteamix.<br />
                        &nbsp;&nbsp;&nbsp;i.	Welcome<br />
                        &nbsp;&nbsp;&nbsp;ii.	Biometric Access<br />
                        &nbsp;&nbsp;&nbsp;iii.  Issue of appointment letter and NDA by the HR Team<br />
                        &nbsp;&nbsp;&nbsp;iv.	Introduction to the IT Team and handing over the Laptop.<br />
                        &nbsp;&nbsp;&nbsp;v.	Floor introduction by PMO.<br />
                        &nbsp;&nbsp;&nbsp;vi.	Lunch with Manager.<br />
                        &nbsp;&nbsp;&nbsp;vii.	Facility Tour with assigned Buddy.<br />
                    </span>
    </p>
    <div class="clearfix"></div>
    <div class="offer-btn-center">
      <button type="button" class="mdl-button mdl-js-button mdl-color-text--white mdl-color--green-300 declined-btn-margin" (click)="acceptJoiningDate()"> Accept</button>&nbsp;&nbsp;&nbsp;
      <button type="button" class="mdl-button mdl-js-button mdl-color-text--white mdl-color--red-300 declined-btn-margin" (click)="showPopUp()"> Decline </button>
    </div>
    <!-- Accent-colored raised button -->
  </div>
</div>