<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <description>An example that demonstrates use of a poincut.</description>
      <object id="EpsonPrintBeforeAdvise" type="MGI.Peripheral.Printer.EpsonTMS9000.Impl.EpsonPrintBeforeAdvise, MGI.Peripheral.Epson.TMS9000" />
      <object id="EpsonPrintFaultAdvise" type="MGI.Peripheral.Printer.EpsonTMS9000.Impl.EpsonPrintFaultAdvise, MGI.Peripheral.Epson.TMS9000" />
      <object id="TMS9000CheckScanner" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
          <object type="MGI.Peripheral.CheckScanner.EpsonTMS9000.Impl.CheckScanner, MGI.Peripheral.Epson.TMS9000" />
        </property>
      </object>
      <object id="TMS9000ReceiptPrinter" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
          <object type="MGI.Peripheral.Printer.EpsonTMS9000.Impl.EpsonPrinter, MGI.Peripheral.Epson.TMS9000" />
        </property>
        <property name="InterceptorNames">
          <list>
            <value>EpsonPrintBeforeAdvise</value>
            <value>EpsonPrintFaultAdvise</value>
          </list>
        </property>
      </object>
      <object id="TMS9000CheckPrinter" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
          <object type="MGI.Peripheral.CheckPrinter.Epson.TMS9000.Impl.EpsonCheckPrinter, MGI.Peripheral.Epson.TMS9000" />
        </property>
      </object>
		<object id="TMS9000CheckFranking" type="Spring.Aop.Framework.ProxyFactoryObject">
			<property name="Target">
				<object type="MGI.Peripheral.CheckFranking.Epson.TMS9000.Impl.EpsonCheckFranking, MGI.Peripheral.Epson.TMS9000" />
			</property>
		</object>
      <object id="IngoCheckMessenger" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
          <object type="MGI.Peripheral.Check.Messenger.Ingo.Impl.CheckMessenger, MGI.Peripheral.Check.Messenger" />
        </property>
      </object>

    </objects>
  </spring>
  <system.serviceModel>
    <services>
      <service name="MGI.Peripheral.Server.Impl.PeripheralServiceImpl">
        <endpoint address="" binding="wsHttpBinding" contract="MGI.Peripheral.Server.Contract.IPeripheralService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Peripheral/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true" />
    <trust legacyCasModel="true" level="Full" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="CheckSaveDir" value="c:\Windows\Temp" />
    <add key="ScannerIsSimulator" value="false" />
    <add key="SimulatorImageDir" value="g:\tmp\images" />
    <add key="PrinterIsSimulator" value="false" />
    <add key="PrinterImageDir" value="g:\tmp\images" />
    <add key="PrinterLogoFile" value="g:\tmp\CarverReceiptLogo.bmp" />
    <add key="CheckPrinterIsSimulator" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="DMSLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="DMSDebug.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>