<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="MongoDbDatabaseName" value="TalentRadar" />
    <add key="MongoDbConnectionString" value="mongodb://localhost:27017/{DB_NAME}?safe=true" />
    <add key="DomainName" value="LDAP://tkn-srv-0500.opteamix.com:389/DC=Opteamix,DC=COM" />
    <add key="UserName" value="AKIAIBPE57PSPVCXOIJA"/>
    <add key="Password" value="Aie0qFHXJHlXtm/4FCdxJQEM/1NX7KZ6eLP7IHADDAaZ"/>
    <add key="EmailHost" value="email-smtp.us-east-1.amazonaws.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="ADGroup" value="Recruitment" />
    <add key="AppName" value="TalentRadar" />
  </appSettings>
</configuration>
