<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>
  <connectionStrings>
    <add name="PTNRDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_PTNR;User ID=sa;pwd=Opteamix@123" />
    <add name="CXEDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_CXE;User ID=sa;pwd=Opteamix@123" />
    <add name="CXNDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_CXN;User ID=sa;pwd=Opteamix@123" />
    <add name="PCATDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_PCAT;User ID=sa;pwd=Opteamix@123" />
    <add name="ComplianceDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_Compliance;User ID=sa;pwd=Opteamix@123" />
  </connectionStrings>
	<appSettings>
		<!--Receipt server settings-->
		<add key="ReceiptServerURL" value="http://172.18.100.13:8081/" />
		<add key="ReceiptServerDBName" value="Nxo_ReceiptsRepo" />
		<!--Check Processor settings-->
		<add key="BranchUserNamePrefix" value="NX" />
		<add key="BranchPasswordPrefix" value="nx" />
		<add key="EmployeeUserNamePrefix" value="NXe" />
		<add key="EmployeePasswordPrefix" value="nxE" />
		<add key="CheckProcessor" value="Simulator" />
		<!--Funds Encryption/Decryption settings: "Simulator" or "Service"-->
		<add key="DataProtectionService" value="Simulator" />
    <add key="ChexarSessionSeperator" value=":"/>
		<add key="TSysAPIUsername" value="synovustestapi" />
		<add key="TSysAPIPassword" value="Synovusapi1@" />
		<add key="CardNumberLogging" value="true" />
		<add key="EnvironmentIndicator" value="D" />
		<add key="GetPendingStatusFromProcessor" value="true" />
		<add key="IsHardCodedCounterId" value="false" />
		<add key="AllowDuplicateTrxWU" value="O" />
		<add key="LPMTErrorMessage" value="U3336 - LPMT PROCESS REQUIRED" />
		<add key="ReceiptServerBucketName" value="TCF" />
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsdlNexxoPolicy" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
			
				<binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00"
				 receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
				 bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>			
      </basicHttpBinding>
    </bindings>

		
    <client>
      <endpoint address="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy"
        binding="basicHttpBinding" bindingConfiguration="wsdlNexxoPolicy"
        contract="FISService.wsdlNexxoPolicy" name="wsdlNexxoPolicy" />
			<endpoint address="https://10.111.109.3:443/TCF/mb/ZeoCustomerService"
							binding="basicHttpBinding" bindingConfiguration="ZeoCustomerService_MsgSetSOAP_HTTP_Binding"
							contract="RCIFService.ZeoCustomerService_MsgSetPortType" name="ZeoCustomer_Port" />
    </client>
  </system.serviceModel>
</configuration>