<div class="custNavigation" style="margin-left:25%;margin-top:-2px;">
<ul>
@{
	Dictionary<string, string> actionControllers = MGI.Channel.DMS.Web.Common.WebHelper.GetRelatedActionController();
}

<li>@Html.ActionLink("Cancel", actionControllers["actionMethod"], actionControllers["controller"], null, new { @class = "anc_link_btn red_btn" })</li>
<li>@Html.ActionLink("Back", "IdentificationInformation", "CustomerRegistration", null, new { @class = "anc_link_btn" })</li>
	<li class="SrchButtonWdth"><input type="submit" value="Next" name="profilesummary" /></li>
</ul>

</div>
