<?xml version="1.0" encoding="utf-8" ?>
<DMS>
	<DBProjects>
		<!--Nexxo.CI.Setup.Database - Create blank database or to restore database backup files and upgrade the package-->
		<Project name="Nexxo.CI.Setup.Database"  RootPath="CMMN\Nexxo.CI.Setup.Database\" InitialCatalog="master" Nugetpush="false"/> 
		<Project name="Nexxo.Core.Catalog.Database"  RootPath="CORE.Catalog\Nexxo.Core.Catalog.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.Core.Compliance.Database"  RootPath="CORE.Compliance\Nexxo.Core.Compliance.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.Core.CXE.Database"  RootPath="CORE.CXE\Nexxo.Core.CXE.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.Cxn.Customer.FIS.Database"  RootPath="CXN.Customer\Nexxo.Cxn.Customer.FIS.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.Cxn.Customer.CCIS.Database"  RootPath="CXN.Customer\Nexxo.Cxn.Customer.CCIS.Database\" InitialCatalog="PTNR" />
		<Project name="Nexxo.Cxn.Fund.FirstView.Database"  RootPath="CXN.Funds\Nexxo.Cxn.Fund.FirstView.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.Cxn.Fund.TSys.Database"  RootPath="CXN.Funds\Nexxo.Cxn.Fund.TSys.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.Cxn.Check.Database"  RootPath="CXN.Checks\Nexxo.Cxn.Check.Database\" InitialCatalog="PTNR"/>
		<Project name="MGI.Cxn.Check.Certegy.Database"  RootPath="CXN.Checks\MGI.Cxn.Check.Certegy.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.CXN.BP.WU.Database"  RootPath="CXN.BillPay\Nexxo.CXN.BP.WU.Database\" InitialCatalog="PTNR"/>
		<!-- <Project name="Nexxo.CXN.BP.NYCHA.Database"  RootPath="CXN.BillPay\Nexxo.CXN.BP.NYCHA.Database\" InitialCatalog="PTNR"/> -->
		<Project name="Nexxo.CXN.BP.MG.Database"  RootPath="CXN.BillPay\Nexxo.CXN.BP.MG.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.Cxn.Database"  RootPath="CXN.Xfr\Nexxo.Cxn.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.CXN.MT.WU.Database"  RootPath="CXN.Xfr\Nexxo.CXN.MT.WU.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.CXN.MT.MG.Database"  RootPath="CXN.Xfr\Nexxo.CXN.MT.MG.Database\" InitialCatalog="PTNR"/>
		<Project name="Nexxo.CXN.MG.Common.Database"  RootPath="CXN.MG.Common\Nexxo.CXN.MG.Common.Database\" InitialCatalog="PTNR"/>
		<Project name="MGI.Cxn.Customer.TCIS.Database"  RootPath="CXN.Customer\MGI.Cxn.Customer.TCIS.Database\" InitialCatalog="PTNR"/>
		<Project name="MGI.Cxn.Fund.Visa.Database"  RootPath="CXN.Funds\MGI.Cxn.Fund.Visa.Database\" InitialCatalog="PTNR"/> -->
		<Project name="Nexxo.Core.Partner.Database"  RootPath="CORE.Partner\Nexxo.Core.Partner.Database\" InitialCatalog="PTNR"/>
		<Project name="TCF.Zeo.Database"  RootPath="Alloy\TCF.Zeo.Database\" InitialCatalog="PTNR"/>
		<!--Nexxo.CI.Seed.Database- insert seed data in case of blank DB -->
		<Project name="Nexxo.CI.Seed.Database"  RootPath="CMMN\Nexxo.CI.Seed.Database\" InitialCatalog="master" Nugetpush="false"/> 
		<!-- Default Commandline argument is "paymentfile"- this will export NYCHA payment ,"tenantfile"- This will import NYCHA tenant details-->
		<!-- <Project name="Nexxo.Cxn.NYCHA.ImportExportUI"  RootPath="CXN.BillPay\Nexxo.Cxn.NYCHA.ImportExportUI\" Nugetpush="false" CommandLineArguments="tenantfile"/> -->
	</DBProjects>
	<WebApps>
		<WebApp name="TCF.Channel.Zeo.Service.Svc"  RootPath="Alloy\TCF.Channel.Zeo.Service.Svc\" ApplicationName="DEV-CI-SVC" />
		<WebApp name="TCF.Channel.Zeo.Web"  RootPath="CHNL.DMS.Web\Nexxo.Channel.DMS.Web\" ApplicationName="DEV-CI" />
		<!--<WebApp name="Nexxo.Channel.DMS.NpsInstallerServer.Svc"  RootPath="CHNL.DMS.Server\branches\1.6\Nexxo.Channel.DMS.NpsInstallerServer.Svc\" ApplicationName="DMSNps" Nugetpush="false"/>
		<WebApp name="MGI.Channel.MVA.Server.Svc"  RootPath="CHNL.MVA.Server\Nexxo.Channel.MVA.Server.Svc\" ApplicationName="MVAService" />-->
	</WebApps>
	<MonitorProjects>
		<Project name="TCF.Zeo.WU.DASMonitor"  RootPath="Alloy\TCF.Zeo.WU.DASMonitor\" Nugetpush="false"/>
		<!--<Project name="MGI.Providers.MG.Monitor"  RootPath="CXN.Monitor\Nexxo.Providers.MG.Monitor\" Nugetpush="false"/>-->
	</MonitorProjects>
	<TestProjects>
		<TestProject name="MGI.Integration.Test" RootPath="Tests\MGI.Integration.Test\" ApplicationName="DEV-CI-SVC" />
		<TestProject name="MGI.Unit.Test" RootPath="Tests\MGI.Unit.Test\" ApplicationName="" />
	</TestProjects>
	<DatabaseConfig>
		<add key="DataSource" value ="localhost"/>
		<add key="DBOwnerUserName" value ="sa"/>
		<add key="DBOwnerPassword" value ="MoneyGram1"/>
		<add key="DMSDBUserName" value ="DMSWebSvc"/>
		<add key="DMSDBPassword" value ="BIGtrouble2"/>
		<add key="DBPrifix" value ="ZEO"/>
		<!--To Enable DB restore in Setup Database package-->
		<add key="RestoreDB" value="false"/>
		<add key="DBBackupPath" value=""/>
		<add key="DeploymentServer" value = "localhost"/>
		<add key="ServiceBaseUrl" value="http://localhost:51942/"/>
		</DatabaseConfig>
	<SystemTest>
		<add key="SancusRepoPath" value ="E:\Projects\Nexxo_mitra\sancus\"/>
	</SystemTest>
</DMS>
