<div class="tab-container tab-control frm-lg">
  <!-- <app-spinner [show]="show"></app-spinner> -->
  <div class="row custForm no-gutters  custLayout">
<!--     
    <div class="col col-auto">
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label font-bold width-60"  style="min-width:auto;">Monthly</label>
        <kendo-switch   [onLabel]="' '"  [offLabel]="' '" class="width-60" ></kendo-switch>
        <label for="staticEmail" class="col-form-label font-bold width-40 ml-4"  style="min-width:auto;">Weekly</label>
      </div>
    </div> -->
    <div class="col col-auto">
      <div class="row custFormrow">
        <label for="staticEmail" class="col-form-label widthAuto">LOB</label>
        <kendo-dropdownlist class=" width-100" >        </kendo-dropdownlist>
      </div>
    </div>
    <div class="col col-auto">
      <div class="row custFormrow">
        <label for="staticEmail" class="col-form-label widthAuto">Load Category</label>
        <kendo-dropdownlist class=" width-100" >        </kendo-dropdownlist>
      </div>
    </div>
    <div class="col col-auto">
      <div class="row custFormrow">
        <label for="staticEmail" class="col-form-label  widthAuto">Style</label>
        <kendo-dropdownlist class=" width-100" >        </kendo-dropdownlist>
      </div>
    </div>
    <div class="col col-auto">
      <div class="row custFormrow">
        <label for="staticEmail" class="col-form-label  widthAuto">Color</label>
        <kendo-dropdownlist class=" width-100" >        </kendo-dropdownlist>
      </div>
    </div>
    <div class="col col-auto">

      <div class="row custFormrow">
        <label for="staticEmail" class="col-form-label widthAuto">SKU</label>
        <kendo-dropdownlist class=" width-100" >        </kendo-dropdownlist>
      </div>

  </div>

</div>
<div id="grid3" data-role="grid" class="k-grid k-widget k-display-block">
  <div class="k-grid-header">
    <!-- <table role="grid">
      <thead role="rowgroup"> -->
    <kendo-grid #grid="kendoGrid" [style.maxHeight.vh]="72" [style.minHeight.px]="106">
      <kendo-grid-column  class="text-center tab-font   font-bold " title="Style" 
        >
      </kendo-grid-column>

      <kendo-grid-column  class=" text-left tab-font " title="Color"  >
      </kendo-grid-column>

          <kendo-grid-column  class=" text-left tab-font" title="Size" >
          </kendo-grid-column>

      <kendo-grid-column  class="text-right tab-font" title="Load Cat."  [width]="80">
      </kendo-grid-column>

      <kendo-grid-column  class="text-right tab-font" title="Exclusive Owner"  [width]="70">
      </kendo-grid-column>

      <kendo-grid-column  class="text-right tab-font" title="Category"  [width]="80">
      </kendo-grid-column>

      <kendo-grid-column  class="text-right tab-font" title="Style Description"  [width]="120">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="LT"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="On hand"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="Avg. Wkly Demand"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="Min WOS"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="Safety Stock"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font" title="12-01-17"  [width]="80">
      </kendo-grid-column>

      <!-- <kendo-grid-column *ngFor='let label of WELabelList'  class="text-right tab-font" title="" [width]="65"
        [sortable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div [class]="fieldColor(dataItem, label)">
            getColumnValue(label, dataItem.ItemNumber) | number
          </div>
        </ng-template>
      </kendo-grid-column> -->
    </kendo-grid>
    <!-- </thead>
    </table> -->
  </div>
</div>
</div>