@model MGI.Channel.DMS.Web.Models.BaseModel
<ul class="menuClass" id="selection">
    <li class="nav_head">
        <a href="#">Products</a>
    </li>
    <!--added for receive money -->
    @if (Session["activeButton"] != null && Session["activeButton"] == "Receive Money")
    {
        <li class="nav_item_select nav_icon_recivemoney">
            <a class="nav_name" href="#">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CarverReceiveMoney</a>
        </li>
    }
    else
    {
        <li id="liRcvMny" class="nav_item nav_icon_recivemoney_dis">
            <a class="nav_name" href="#">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CarverReceiveMoney</a>
        </li>
    }
</ul>