@model MGI.Channel.DMS.Web.Models.BaseModel
@{
	ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.EpsonDiagnostics;
	Layout = "~/Views/Shared/_menu.cshtml";
}
@*This refernce is needed for accordion*@
<link href="@Url.Content("~/Content/jquery-ui/redmond/jquery-ui-1.9.2.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/PeripheralServices/EpsonDiagnostics.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/PeripheralServices/EpsonTest.js")" type="text/javascript"></script>
<script>
	$(function () {
		$("#accordion").accordion({
			collapsible: true
		});
	});
</script>

<div id="accordion" class="align_">
	<h3>Device Status</h3>
	<div id="ds"></div>
	<h3>PDS Driver Verification</h3>
	<div id="pds"></div>
	<h3>SDK Driver Verification</h3>
	<div id="sdk"></div>
	<h3>PS File Verification</h3>
	<div id="ps"></div>
</div>