@model MGI.Channel.DMS.Web.Models.ProductCredentialViewModel
@{
	ViewBag.Title = "ProductCredentials";
	Layout = "~/Views/Shared/_Common.cshtml";
	@*Begin TA-170 Changes
	User Story Number: TA-170 | ALL |   Developed by: Sunil Shetty     Date: 17.03.2015
	Purpose: The partial View is moved to channelpartner specific folder and will be called here after on convetional way*@
	string bankInfoView = "_BankInfo";
}
@using (Html.BeginForm("ProductCredential", "ProductCredential", FormMethod.Post, new { id = "ProductCredentialForm" }))
{
	@Html.Partial("_PrepaidCardCommon")	
	@Html.Partial(bankInfoView)
	@Html.Partial("_partialSpinner")

	<div class="profile_btn_wrap product_credential">
		<ul>
			<li class="row_width30">
				<input id="CancelTransaction" type="button" name = "Source" value="@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CancelButtonText" />
			</li>
			<li class="row_width30 submit_btn">
				<input type="submit" id="submitPrepaidPurchase" value="Submit" />
			</li>
		</ul>
	</div>
}
