<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
  <connectionStrings>
    <add name="PTNRDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_PTNR;User ID=sa;pwd=Opteamix@123" />
    <add name="CXEDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_CXE;User ID=sa;pwd=Opteamix@123" />
    <add name="CXNDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_CXN;User ID=sa;pwd=Opteamix@123" />
    <add name="PCATDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_PCAT;User ID=sa;pwd=Opteamix@123" />
    <add name="ComplianceDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_Compliance;User ID=sa;pwd=Opteamix@123" />
  </connectionStrings>
  <appSettings>
		<!--Receipt server settings-->
		<add key="ReceiptServerURL" value="http://172.18.100.13:8081/" />
		<add key="ReceiptServerDBName" value="Nxo_ReceiptsRepo" />
		<!--Check Processor settings-->
		<add key="BranchUserNamePrefix" value="NX" />
		<add key="BranchPasswordPrefix" value="nx" />
		<add key="EmployeeUserNamePrefix" value="NXe" />
		<add key="EmployeePasswordPrefix" value="nxE" />
		<add key="CheckProcessor" value="Simulator" />
		<add key="IsHardCodedCounterId" value="false" />
		<add key="GetPendingStatusFromProcessor" value="true" />
		<add key="AllowDuplicateTrxWU" value="O" />
		<add key="CardNumberLogging" value="true" />
		<add key="EnvironmentIndicator" value="D" />
		<add key="TSysAPIUsername" value="synovustestapi" />
		<add key="TSysAPIPassword" value="Synovusapi1@" />
		<add key="EventsQueue" value=".\Private$\DMSEvents" />
		<add key="ReceiptServerBucketName" value="TCF" />
		<add key="LPMTErrorMessage" value="U3336 - LPMT PROCESS REQUIRED" />
		<!--Funds Encryption/Decryption settings: "Simulator" or "Service"-->
		<add key="DataProtectionService" value="Simulator" />
		<add key="ChexarSessionSeperator" value=":" />
		<add key="ReceiptServerURL" value="http://10.111.109.13:8081/" />
		<add key="ReceiptServerDBName" value="Nxo_ReceiptsRepo" />
		<add key="ReceiptServerBucketName" value="TCF" />
		<!--*********************** SOAP Service Config (Tokenize/Detokenize)****************************-->
		<!--Starts Here -->
		<add key="Format" value="First 4 Last 4 SST" />
		<add key="Identity" value="token@nxo-eng.local" />
		<add key="Authinfo" value="voltage123" />
		<!--Ends Here-->	</appSettings>

	<spring>
		<context>
			<resource uri="config://spring/objects" />
		</context>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
		</parsers>
		<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:db="http://www.springframework.net/database" xmlns:tx="http://www.springframework.net/tx" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd"></objects>
	</spring>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding">
					<security mode="Transport" />
				</binding>
				<binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding1" />
				<binding name="PrepaidServices" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://10.111.109.3:443/TCF/mb/ZeoCustomerService" binding="basicHttpBinding" bindingConfiguration="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" contract="RCIFService.ZeoCustomerService_MsgSetPortType" name="ZeoCustomer_Port" />
		<endpoint address="http://localhost/PrepaidServices/PrepaidServices.svc" binding="basicHttpBinding" bindingConfiguration="PrepaidServices" contract="Prepaid.IPrepaidServices" name="VisaPrepaidServices" />
		</client>
	</system.serviceModel>
	<!--<system.serviceModel>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					-->
	<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
	<!--
					<serviceMetadata httpGetEnabled="true" />
					-->
	<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
	<!--
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="traceBehavior">
					<traceOutputBehavior />
				</behavior>
			</endpointBehaviors>
		</behaviors>

		<bindings>
			<basicHttpBinding>

				<binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />

					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://10.111.109.3/TCF/mb/ZeoCustomerService" binding="basicHttpBinding" bindingConfiguration="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" contract="RCIFService.ZeoCustomerService_MsgSetPortType" name="ZeoCustomer_Port" behaviorConfiguration="traceBehavior" />
		</client>
	</system.serviceModel>-->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
