<div class="tab-container tab-control">
    <div class="row custForm no-gutters custLayout clearfix pt-2 mt-3">
        <div class="form-group row custFormrow m-0">
          <label for="staticEmail" class="mr-4 font-bold">Vendor Code</label> 
          <label for="staticEmail" class="mr-4 ml-4 font-bold">100071</label>
        </div>
    </div>
<div id="grid" data-role="grid" class="k-grid  k-widget k-display-block" style="min-height:auto;">
  <div class="k-grid-header">
    <kendo-grid   class="" [scrollable]="'scrollable'"
      [height]="240" [style.maxHeight.vh]="50"  [style.minHeight.px]="240">
      <kendo-grid-column  class="text-right tab-font " title="Load Category" [class]=""   [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
          <p>B1</p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
          <ng-template kendoGridCellTemplate let-dataItem>
            <p>1200</p>
          </ng-template>
        </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
          <p>1200</p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
          <p>1200</p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
          <p>1200</p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
          <p>1200</p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
          <p>1200</p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
          <p>1200</p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
          <p>1200</p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
          <p>1200</p>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
          <p>1200</p>
        </ng-template>
      </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>


  <div class="row custForm no-gutters custLayout clearfix pt-2 mt-3">
      <div class="form-group row custFormrow m-0">
        <label for="staticEmail" class="mr-4 font-bold">Vendor Code</label> 
        <label for="staticEmail" class="mr-4 ml-4 font-bold">100074</label>
      </div>
  </div>
  <div id="grid" data-role="grid" class="k-grid  k-widget k-display-block" style="min-height:auto;">
      <div class="k-grid-header">
        <kendo-grid   class="" [scrollable]="'scrollable'"
          [height]="240" [style.maxHeight.vh]="50"  [style.minHeight.px]="240">
          <kendo-grid-column  class="text-right tab-font " title="Load Category" [class]=""   [width]="90">
              <ng-template kendoGridCellTemplate let-dataItem>
                <p>B2</p>
              </ng-template>
            </kendo-grid-column>
          <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p>1200</p>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p>1200</p>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p>1200</p>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p>1200</p>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p>1200</p>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p>1200</p>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p>1200</p>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p>1200</p>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p>1200</p>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column  class="text-right tab-font " title="19-01-2018" [class]=""   [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p>1200</p>
            </ng-template>
          </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
</div>