 <nav class="breadcrumb">
   <a class="breadcrumb-item" href="#" (click)="home()"><i class="fa fa-angle-left" aria-hidden="true"></i> Home</a> 
   <a class="breadcrumb-item">|</a> 

  <!-- <a class="breadcrumb-item {{breadcrumb.lastElement ? 'active disabled' : ''}}" 
    *ngFor="let breadcrumb of breadcrumbs" routerLink="{{breadcrumb.url}}"
    >
      {{breadcrumb.label}}
      <i *ngIf="!breadcrumb.lastElement" class="fa fa-angle-right" aria-hidden="true"></i>
  </a> -->
  <a class="breadcrumb-item" 
  *ngFor="let breadcrumb of breadcrumbs"
  >
    {{breadcrumb.label}}
    <i *ngIf="!breadcrumb.lastElement" class="fa fa-angle-right" aria-hidden="true"></i>
</a>
</nav> 