<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
			<!--<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />-->			
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="BillerImportPartnerIDs"  value="1"/>
		<add key="ChannelPartnerID"  value="1"/>
		<add key="ProviderID"  value="405"/>
		<add key="LogPath"  value="C:\logs"/>
		<add key="MoneyGramFileFormat" value="mgi_nexxo_biller_full_" />
		<add key="MoneyGramBillerFolderPath" value="E:\MGI\MGCSVFiles\" />
		<add key="MGBillerArchiveFolderPath" value="E:\MGI\MGCSVFiles\MGBillerArchiveFiles\" />
		<add key="ReceiveAgentIdColumnName"  value="#RECEIVE_AGENT_ID"/>
		<add key="ReceiveCodeColumnName"  value="RECEIVE_CODE"/>
		<add key="BillerNameColumnName"  value="BILLER_NAME"/>
		<add key="PoeSvcMsgENTextColumnName"  value="POE_SVC_MSG_EN_TEXT"/>
		<add key="PoeSvcMsgESTextColumnName"  value="POE_SVC_MSG_ES_TEXT"/>
		<add key="KeywordsColumnName"  value="ALL_KEYWORDS"/>
		<add key="CXNDatabaseName" value="Mitra_CXN" />
		<add key="SearchFileExtensionValue" value="*.txt" />
		<add key="BillerFileDelimiter" value="\t" />
		<add key="MongoDbDatabaseName" value="TlogsDb" />
		<add key="CollectionName" value="testlogs"/> 
		<add key="MongoDbConnectionString" value="mongodb://localhost:27017/{DB_NAME}?safe=true" />
		<add key="ProviderIO" value="IO" />
		<add key="IsTransactionLogRequired" value="false"/>
	</appSettings>
	<connectionStrings>
		<add name="CXNDBConnection" connectionString="Data Source=localhost;Initial Catalog=Mitra_CXN;Integrated Security=False; User Id=sa; Password=MoneyGram1" providerName="System.Data.SqlClient" />
		<add name="PCATDBConnection" connectionString="Data Source=localhost;Initial Catalog=Mitra_PCAT;Integrated Security=False; User Id=sa; Password=MoneyGram1" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>

		<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:db="http://www.springframework.net/database" xmlns:tx="http://www.springframework.net/tx" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">

			<import resource="assembly://MGI.CXN.MG.Common/MGI.CXN.MG.Common/MGI.CXN.MG.Common.Spring.xml"/>

      <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
        <property name="VariableSources">
          <list>
            <object type="Spring.Objects.Factory.Config.ConnectionStringsVariableSource, Spring.Core"/>
            <object type="Spring.Objects.Factory.Config.ConfigSectionVariableSource, Spring.Core">
              <property name="SectionNames" value="appSettings">
              </property>
            </object>
          </list>
        </property>
      </object>

      <object id="MoneyGramMonitor" type="MGI.Providers.MG.Monitor.MoneyGramMonitor, MGI.Providers.MG.Monitor">
				<property name="MoneyGramCommonIO" ref="MoneyGramCommonIO"/>
			</object>

		</objects>
	</spring>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="AgentConnectBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="104857600"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="AgentConnectBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="104857600"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://extws.moneygram.com/extws/services/AgentConnect1305" binding="basicHttpBinding" bindingConfiguration="AgentConnectBinding" contract="AgentConnectService.AgentConnect" name="AgentConnect"/>
		</client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
