<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ZeoConnectionString" connectionString="Data Source=localhost;Initial Catalog=Zeo_PTNR;User ID=sa;pwd=MoneyGram1"/>
  </connectionStrings>
  <!--<appSettings>
    <add key="PTNRDATABASE" value ="SC_PTNR"/>
    <add key="CommandTimeOut" value="10000"/>
  </appSettings>-->
</configuration>