<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:db="http://www.springframework.net/database" xmlns:tx="http://www.springframework.net/tx" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
      <object type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
        <property name="ConfigSections" value="databaseSettings" />
      </object>

      <object id="transactionManager" type="Spring.Data.Core.TxScopeTransactionManager, Spring.Data">
        <property name="TransactionSynchronization" value="Always" />
      </object>
      <tx:attribute-driven />

      <import resource="assembly://Nexxo.Cxn.Check.Chexar.Impl/Nexxo.Cxn.Check.Chexar.Impl/CxnChexarSpring.xml" />

      <object id="ChexarMonitor" type="MGI.Cxn.Check.Chexar.Monitor.ChexarMonitor, ChexarMonitor">
        <property name="CxnCheckSvc" ref="CxnCheckService"/>
      </object>
  
    </objects>
  </spring>
  <databaseSettings>
    <add key="CXNDataSource" value="10.111.109.20\MDOWD;Integrated Security=false" />
    <add key="CXNUser" value="sa" />
    <add key="CXNPassword" value="BIGtrouble2" />
    <add key="CXNDatabase" value="CXN" />
    <add key="BranchUserNamePrefix" value="NX" />
    <add key="BranchPasswordPrefix" value="nx" />
    <add key="EmployeeUserNamePrefix" value="NXe" />
    <add key="EmployeePasswordPrefix" value="nxE" />
    <add key="CheckProcessor" value="WebSvc" />
    <add key="ChexarSessionSeperator" value="-" />
    <add key="GetPendingStatusFromProcessor" value="true" />
  </databaseSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>