<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="BillerImportPartnerIDs" value="1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="ChannelPartnerID" value="1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="ProviderID" value="405" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="LogPath" value="C:\logs" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="MoneyGramFileFormat" value="mgi_biller_full_" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="MoneyGramBillerFolderPath" value="{OutputDirectory}MGBillerImportFile\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="MGBillerArchiveFolderPath" value="{OutputDirectory}MGBillerImportArchiveFile\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="ReceiveAgentIdColumnName" value="#RECEIVE_AGENT_ID" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="ReceiveCodeColumnName" value="RECEIVE_CODE" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="BillerNameColumnName" value="BILLER_NAME" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="PoeSvcMsgENTextColumnName" value="POE_SVC_MSG_EN_TEXT" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="PoeSvcMsgESTextColumnName" value="POE_SVC_MSG_ES_TEXT" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="KeywordsColumnName" value="ALL_KEYWORDS" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="CXNDatabaseName" value="{CXNDatabaseName}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="SearchFileExtensionValue" value="*.txt" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="BillerFileDelimiter" value="\t"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
	</appSettings>
	<connectionStrings>
		<add name="CXN" connectionString="{CXNConnectionString}" providerName="System.Data.SqlClient"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)"/>
		<add name="CString" connectionString="{PCATConnectionString}" providerName="System.Data.SqlClient"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)"/>
	</connectionStrings>
</configuration>



