<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="DatabaseConnection"
        connectionString="Data Source=172.18.100.222;Initial Catalog=NXOR3_CXN;User ID=sa;pwd=Opti@123" />
  </connectionStrings>
	<appSettings>
		<add key="PTNRDATABASE" value="Dev_PTNR"/>
	</appSettings>
</configuration>