<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnection"
          connectionString="Data Source=OPT-LAP-0098;Initial Catalog=master;User ID=sa;pwd=Opti@123" />
  </connectionStrings>
  <appSettings>
    <add key="DBUserName" value ="DMSWebSvc"/>
    <add key="DBUserPassword" value ="Opti@123"/>
    <add key="DBPrifix" value ="Mitra"/>
  </appSettings>
</configuration>