<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="EventsQueue" value=".\Private$\DMSEvents"/>
    <add key="EventLoggerUrl" value="http://10.111.109.13:3002/nxo/logger/add"/>
    <add key="EventViewerUrl" value="http://10.111.109.13:3002/nxo/logger"/>
  </appSettings>
</configuration>