@model TCF.Channel.Zeo.Web.Models.PinDetails

@{
    ViewBag.Title = "Pin Details";
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<div align="center"><img src="~/Content/images/PinDetails.png"  usemap="#Map"/></div>
<h2 align="center">Pin Details</h2>

@using (Html.BeginForm())
{
    @Html.Partial("_PinDetails", Model)
    @Html.Partial("_PinNavigation")
} 
