<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MGI.Cxn.Customer.TCIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://10.111.109.3:443/TCF/mb/ZeoCustomerService"
                binding="basicHttpBinding" bindingConfiguration="ZeoCustomerService_MsgSetSOAP_HTTP_Binding"
                contract="RCIFService.ZeoCustomerService_MsgSetPortType" name="ZeoCustomer_Port" />
        </client>
    </system.serviceModel>
   
</configuration>