.icon_arm {
  background-color: transparent;
  background: url(../images/icon_sprite.svg);
  border: none;
  cursor: pointer;
  height: 41px;
  margin: 0 4px;
  width: 41px;
  z-index: 1;
  background-repeat: no-repeat;
}

.icon_arm:focus {
  outline: none;
}

.icon_arm_xs {
  background-color: transparent;
  background-image: url(../images/icon_sprite.svg);
  border: none;
  cursor: pointer;
  height: 18px;
  margin: 0 4px;
  width: 18px;
  z-index: 1;
  background-repeat: no-repeat;
}
.icon_arm_sm {
  background-color: transparent;
  background-image: url(../images/icon_sprite.svg);
  border: none;
  cursor: pointer;
  height: 24px;
  margin: 0 4px;
  width: 24px;
  z-index: 1;
  background-repeat: no-repeat;
}

.icon_arm_sm:focus {
  outline: none;
}

.maintain-roles .icon_arm_sm:first-child {
  margin-right: 20px;
}

.arm_add {
  background-position: -5px -5px;
}

.arm_add:disabled {
  background-position: -5px -65px;
}

.arm_delete {
  background-position: -54px -5px;
}

.arm_delete:disabled {
  background-position: -54px -65px;
}

.arm_copy {
  background-position: -106px -5px;
}

.arm_copy:disabled {
  background-position: -105px -65px;
}

.arm_transfer {
  background-position: -155px -5px;
}

.arm_transfer:disabled {
  background-position: -155px -65px;
}

.arm_pdf {
  background-position: -206px -5px;
}

.arm_pdf:disabled {
  background-position: -206px -63px;
}

.arm_excel {
  background-position: -257px -5px;
}

.arm_excel:disabled {
  background-position: -256px -64px;
}

.arm_refresh {
  background-position: -314px -12px;
  vertical-align: 9px;
}

.arm_refresh:disabled {
  background-position: -314px -12px;
}
.arm_gear{
   background-position: -504px -12px;

}