<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>
  <connectionStrings>
    <add name="PTNRDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_PTNR;User ID=sa;pwd=Opteamix@123" />
  </connectionStrings>
  <appSettings>
	<!--Funds Encryption/Decryption settings: "Simulator" or "Service"-->
    <add key="DataProtectionService" value="Simulator" />
  </appSettings>
	<spring>
		<context>
			<resource uri="config://spring/objects" />
		</context>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
		</parsers>

		<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			   xmlns:db="http://www.springframework.net/database"
			   xmlns:tx="http://www.springframework.net/tx"
			   xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
		</objects>
	</spring>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ZeoCustomer" />
				<binding name="ZeoCustomer1" />
				<binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding">
					<security mode="Transport" />
				</binding>
				<binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://mn-zlxtwmba1.tcfbank.com:9010/ZeoCustomer/"
                binding="basicHttpBinding" bindingConfiguration="ZeoCustomer"
                contract="Test.ZeoCustomer" name="ZeoCustomerSOAP" />
			<endpoint address="http://mn-zlxtwmba1.tcfbank.com:9010/ZeoCustomer/"
                binding="basicHttpBinding" bindingConfiguration="ZeoCustomer1"
                contract="RCIFService.ZeoCustomer" name="ZeoCustomerSOAP1" />
			<endpoint address="https://10.111.109.3:443/TCF/mb/ZeoCustomerService"
                binding="basicHttpBinding" bindingConfiguration="ZeoCustomerService_MsgSetSOAP_HTTP_Binding"
                contract="RCIFService.ZeoCustomerService_MsgSetPortType" name="ZeoCustomer_Port" />
		</client>
	</system.serviceModel>
</configuration>