<div class="col-10 mx-auto justify-content-center mt-5 pt-5">
<div class="row dashboard-card-lyout">
<div class="col-8 row text-center ml-auto mr-auto">
  <div class="col-2 text-right  ">
      <img src="./assets/images/icon_uc.png" style="max-width: 65px;">
  </div>
  <div class="col-8 text-left ">
    <h5 style="    font-size: 60px;  border-bottom: 4px solid red;  margin-bottom: 40px;font-weight:100;">Under <b class="font-bold">Construction</b></h5>
    <h5 style="font-size:48px;">We don't believe in</h5>
    <label style="    font-size: 62px;    font-weight: bold;    font-family: roboto black;">FOUR '0' FOUR</label>
  </div>
</div>

</div>
</div>