<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		<add name="PTNRDatabaseConnection" connectionString="Data Source=localhost;Initial Catalog=AlloyImageDB;User ID=sa;pwd=Moneygram1"/>
	</connectionStrings>
	<appSettings>
		<add key="ImageDirectory" value="C:\AlloyImages"/>
		<add key="LogPath" value="C:\Logs\"/>
		
		<!--Time format should be HH:mm:ss and should be 24 hour format-->
		<add key="ImageArchiveFrequencyHours" value="24:00:00"/>
		<add key="ImageArchiveScheduledTime" value="16:31:00"/>

		<add key="ImageArchivePriorToDays" value="350"/>
		<add key="CpMonitorFrequencyMinutes" value="00:02:00"/>

		<!--Time format should be HH:mm:ss and should be 24 hour format-->
		<add key="ServiceNameInEnvironment" value="DEV-Alpha"/>
	</appSettings>
</configuration>
