<div class="col-sm-12">
  <kendo-tabstrip>
    <kendo-tabstrip-tab title="Build" [selected]="true">
      <ng-template kendoTabContent>
        <app-container-build></app-container-build>
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab title="Tracking">
      <ng-template kendoTabContent>
        <app-container-tracking></app-container-tracking>
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab title="Search">
      <ng-template kendoTabContent>
        <app-search></app-search>
      </ng-template>
    </kendo-tabstrip-tab>

  </kendo-tabstrip>
</div>