<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>  
  <connectionStrings>
    <add name="PTNRDBConnection" connectionString="Data Source=OPT-LAP-0098;Initial Catalog=Test_PTNR;User ID=sa;pwd=MoneyGram1" />
  </connectionStrings>
  <appSettings>
    <add key="LogPath" value="C:\Logs\" />
    <add key="ReceiptLogoUrl" value="http://172.18.100.222/MSPDeploy/" />
    <add key="CertificateFilePath" value="C:\CheckFree\nexxo.cer" />
    <add key="ExceptionDrillDownLimit" value="5" />

    <!--*********************** SOAP Service Config (Tokenize/Detokenize)****************************-->
    <!--Starts Here -->
    <add key="Format" value="First 4 Last 4 SST" />
    <add key="Identity" value="token@ic.local" />
    <add key="Authinfo" value="MKeYWjWWVv91" />
    <!--Ends Here-->

    <!--*********************** HOST DLL Config (Encrypt/Decrypt) ********************************-->
    <!--Starts Here -->
    <add key="VoltageUrl" value="https://proxy.ic.local/voltage/vibesimple/services/VibeSimpleSOAP" />
    <add key="DistrictName" value="ic.local" />
    <add key="PolicyLocator" value="https://proxy.ic.local/voltage/policy/clientPolicy.xml" />
    <add key="IdentityString" value="host@ic.local" />
    <add key="PieMerchantID" value="mgi" />
    <add key="DecryptTime" value="" />
    <!--Ends Here-->
    <!--Receipt server settings-->
    <add key="ReceiptServerURL" value="http://proxy.ic.local/receipts/" />
    <add key="ReceiptServerDBName" value="MGI_ReceiptsRepo" />
    <add key="ReceiptServerBucketName" value="Dev-Alpha" />

    <!--Check Processor settings-->
    <add key="BranchUserNamePrefix" value="NX" />
    <add key="BranchPasswordPrefix" value="nx" />
    <add key="EmployeeUserNamePrefix" value="NXe" />
    <add key="EmployeePasswordPrefix" value="nxE" />
    <add key="CheckProcessor" value="Simulator" />
    <add key="ChexarSessionSeperator" value="-" />
    <add key="GetPendingStatusFromProcessor" value="true" />

    <!--Funds Encryption/Decryption settings: "Simulator" or "Service"-->
    <add key="DataProtectionService" value="Simulator" />

    <!--Controls whether full card numbers are logged or not-->
    <add key="CardNumberLogging" value="false" />
    <add key="EnvironmentIndicator" value="D" />
    <add key="TSysAPIUsername" value="synovustestapi" />
    <add key="TSysAPIPassword" value="Synovusapi1@" />
    <add key="AllowDuplicateTrxWU" value="O" />
    <add key="IsHardCodedCounterId" value="false" />
    <add key="LPMTErrorMessage" value="U3336 - LPMT PROCESS REQUIRED" />
    <add key="AllowDuplicateMoneyOrder" value="true" />
    <add key="ProviderIO" value="IO" />
    <add key="IsRealPAN" value="true" />
    <add key="EventsQueue" value=".\Private$\DMSEvents" />

    <!-- Mongo Db Settings For TLogs -->
    <add key="MongoDbDatabaseName" value="TlogsDb" />
    <add key="CollectionName" value="testlogs" />
    <add key="MongoDbConnectionString" value="mongodb://localhost:27017/{DB_NAME}?safe=true" />
    <add key="IsTransactionLogRequired" value="false"/>

    <!-- New Relic for version monitoring/analyzing-->
    <add key = "NewRelic.AppName" value="MGI.Alloy.Svc" />

  </appSettings>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
		</parsers>

		<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:db="http://www.springframework.net/database" xmlns:tx="http://www.springframework.net/tx" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
		</objects>
	</spring>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
