@charset "utf-8";
/* CSS Document */

/* Base Rules */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html, body, form {
	height: 100%;
	width: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
 [hidden], template {
 display: none;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
}
a:focus {
	/*outline: none;*/
    outline:#000 solid 0.5px;
}
:focus {
	outline: none;
}
a:active, a:hover {
	outline: 0;
}
h1, h2 {
	font-size: 2em;
	margin: 0.67em 0;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	display: block;
	height: 1px;
	border: 0;
	padding: 0;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
}
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
map area {
	cursor: pointer;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
section.feature img {
	color: #999;
	content: attr(alt);
	font-size: 1.5em;
	font-weight: 600;
}
button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
input {
	width: 90%;
}
input, select {
	vertical-align: middle;
}
button, input {
	line-height: normal;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	border: 0;
	-webkit-appearance: button;
	cursor: pointer;
}
button, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
    outline: #000 solid 0.5px;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
 border: 0px;
}
html input[disabled] {
    cursor: default;
}

html input[type="text"]:disabled {
	background-color: #eeeeee;
}

html input[type="button"]:disabled, input[type="submit"]:disabled {
	cursor: default;
	opacity: 0.4; 
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
li {
	list-style-type: none;
	display: inline-block;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
input[type="submit"] {
	background-color: #006937;
	float: right;
	cursor: pointer;
	width: 130px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	color: #f2f0da;
	border: none;
	outline: none;
	margin: 4px;
	padding-right: 2px;
	padding-left: 2px;
}
/*End Base Rules */

/*General Rules*/
.ubkey {
	margin-left: 80%;
	margin-top: 30%;
}
#header, #footer {
	float: left;
	width: 100%;
	clear: both;
	display: block;
	height: 100%;
}
.menu {
	display: inline-block;
	font-family: Arial, sans-serif, Helvetica;
	font-size: 14px;
	color: #006837;
	margin-top: -2px;
	padding: 3px;
	text-align: left;
	vertical-align: top;
}
#gallery-wrap {
	margin: 0 auto;
	overflow: hidden;
	width: 500px;
	position: relative;
}
#gallery {
	position: relative;
	left: 0;
	top: 0;
}
/*#gallery li {
	float: left;
	margin: 0 20px 15px 0;
}*/
#aDescription {
	text-decoration: none;
}
#aDescription:hover {
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
	color: #0000ff;
}
.successText {
	font-size: 24px;
	font-weight: 900;
	color: Black;
	text-align:center;
}
.successPrice {
	font-size: 24px;
	font-weight: 900;
	color: Blue;
	text-align: center;
}
.active {
	color: Green;
	font-weight: 600;
}
.btn_wrap {
	margin-left: 29%;
}
.btn_txt {
	color: #FFFFFF;
	font-size: 6px;
	padding: 2px;
	margin: 10px;
	background-color: #00794F;
	border: 1px solid #787878;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: 600;
	width: auto;
	font-size: 1em;
	padding: 4px;
	margin-right: 4px;
}
.oddColor:nth-child(even) {
	background-color: #d9d9d9;
}
.scan_check_wrap .next_shift_fix {
	margin-left: 310px;
}
.scan_check_wrap .submit_shift_fix {
	margin-left: 232px;
}
.ui-pg-input {
	width: 10px;
}

#loading {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('../../images/imgmask.gif');
	z-index: 1000;
}
#spinnerWithNoMsg {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('../../images/imgmask.gif');
	z-index: 1000;
}
#loadingcontent {
	display: table;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#loadingspinner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	font-size: larger;
	color: Black;
	padding-top: 60px;
	padding-left: 100px;
}
.name_area {
	width: 240px;
	float: right;
	font-size: 12px;
	color: #333;
	text-align: right;
	padding-right: 2px;
	padding-top: 5px;
	margin-bottom: 10px;
}
.main_div {
	width: 90%;
	height: auto;
	margin-top: 0.7%;
}
.txt_box {
	color: #000000;
	line-height: 23px;
	padding: 4px 11px;
	margin-right: 80px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	outline: none;
	width: 38%;
	height: 20px;
	-moz-opacity: .6;
}

.hover_menu {
	display: block;
	color: #006837;
	margin-top: -4px;
	padding: 3px;
	text-align: left;
	vertical-align: top;
}
.nav_name {
	font-size: 14px;
	color: #006837;
	text-decoration: none;
}

#header, #footer, #mainContentContainer {
	float: left;
	width: 100%;
	clear: both;
	display: block;
	height: 100%;
}
.cust_search {
	margin-left: 27px;
	margin-top: -22px;
}
.menu {
	display: inline-block;
	font-size: 14px;
	color: #006837;
	margin-top: -2px;
	padding: 3px;
	text-align: left;
	vertical-align: top;
}
.cust_Prof_txt {
	width: 65%;
	margin-bottom: 2px;
}
.cust_error_dis {
	margin-left: 30%;
	padding: 2px;
}
.dropdown_width {
	width: 27.5%;
}
input[type="password"] {
	font-size: 13px;
	line-height: 23px;
	padding: 4px 8px;
	margin-right: 80px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	height: 20px;
	width: 38%;
	outline: none;
	-moz-opacity: .6;
}
input[type="submit"], input[type="button"] {
	background-color: #006937;
	float: right;
	cursor: pointer;
	width: 130px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	color: #f2f0da;
	margin: 4px;
	padding-right: 2px;
	padding-left: 2px;
	font-weight:normal !important;
}
ul.sub_navigation {
	position: absolute;
	display: none;
	z-index: 1;
}
ul.sub_navigation li {
	clear: both;
}
.check_band {
	background-color: #fcbd56;
	color: #000000;
}
.check_img {
	width: 480px;
	height: 170px;
}
.check_img_fix {
	width: 480px;
	height: 200px;
}
.scan_inc_img {
	height: 190px;
	width: 186px;
}
.check_req {
	padding: 5px;
	margin: 5px;
	color: Blue;
}
.shp_cart {
	vertical-align: middle;
	color: #FFFFFF;
	margin-left: 3px;
	font-size: 15px;
	font-weight: bold;
}
.sum_grid_head {
	background-color: #a5b3a1;
	width: 622px;
	height: 34px;
}
.sum_grid_head .sum_grid_txt {
	color: #F2F0DA;
	padding: 11px 0px;
	text-align: center;
}
.del_img {
	background-image: url("../../images/cross.png");
	background-repeat: no-repeat;
	height: 15px;
	display: block;
	width: 20px;
	margin-left: 10px;
}
.row_even {
	background-color: #ebf0ea;
}
.row_odd {
	padding: 5px;
	background-color: #ffffff;
}
.edit_anchor {
	background-repeat: no-repeat;
	height: 15px;
	display: block;
	cursor: pointer;
}
#gallery .freq_items {
	background-repeat: no-repeat;
	float: right;
	cursor: pointer;
	width: 168px;
	height: 75px;
	font-weight: bold;
	text-align: center;
	line-height: 23px;
	color: #f2f0da;
	margin: 4px;
	/*padding-right: 2px;
	padding-left: 2px;*/
}
#gallery .freq_items img {
	margin-top: 10px;
}
#gallery .non_sel_freq_item {
	background-color: #006937;
}
#gallery .sel_freq_item {
	background-color: #fdbe57;
}
.downloader_wrap .download_btn {
	background-image: url("../../images/npsinstaller.png");
	width: 258px;
	height: 77px;
	display: block;
}
.tableContainer .loc_sum_wrap {
	width: 100%;
	border: 1px solid black;
}
.mng_user_btn_wrap {
	margin-left: 15%;
}
.mng_user_btn_wrap .mng_user_popup {
	display: inline-block;
}
.srch_crit_txt {
	width: 57%;
	margin-right: 0 !important;
}

.shpng_withdraw_lbl {
	min-width: 189px;
}
.shpng_withdraw_lbl_nonIe {
	font-size: 100%;
    text-align: right;
    font-weight: bold;
}
.edit_receiver_ldl {
	font-weight: bold;
	margin: 23px;
	text-align: left;
}
.com_info {
	font-weight: bold;
	margin-left: 30.5%;
	text-align: left;
	padding: 10px;
}
.banner_txt {
	display: inline-block;
	float: left;
	text-align: left;
	width: 400px;
}
.w_union_txt {
	font-weight: bold;
	padding-left: 26px;
	display: block;
	text-align: left;
}
.bill_pay_desc {
	overflow: hidden;
	border: 1px solid black;
	width: 620px;
	margin-bottom: 10px;
}
.bill_pay_desc p {
	font-weight: bold;
	padding: 5px;
	text-align: left;
}
.line_Sep {
	border-top: 2px solid #b5c1b2;
	width: 615px;
	padding: 0px 0px 15px 0px;
}
.send_money_wrap {
	float: left;
	width: 640px;
}

.send_money_txt {
	text-align: right;
	width: 50%;
	margin: 0px;
}
.send_money_Scn_txt {
	text-align: left;
	width: 26%;
}
#billerMessage {
	width: 602px;
	padding: 10px;
	background: #ffc35b;
}
.send_many_btn_shift {
	margin-left: 24%;
}
.send_many_btn_shift .add_rec_btn_wrap{
	width: 22%;
}
.send_many_btn_shift .next_btn_wrap{
	width: 29%;
}
.bill_w_union_txt {
	padding-left: 18px;	
	padding-bottom:10px;
	display: block;
}
.agent_banner_title {
	margin-top: -22px;
}
.popUpCancelBtnWidth input[type="button"] {
	background-color: #ad2525 !important;
}
#timeOutPopup .popUpCancelBtnWidth .anc_link_btn, #timeOutPopup .popUpConfrmBtnWidth .green_input {
    width:100px !important;
}
.agent_trns_his_wrap {
	height: 185px;
}
.agent_trans .agent_trns_id_wrap {
	margin-top: 10px;
}
#layout_center_pane .trans_top_fix {
	margin-top: 10px;
}
#layout_center_pane .trans_top_fix .trans_his_txt {
	width: 174px;
	margin-left: 14px;
	height: 16px;
}
.agent_trans .trans_wrap .trans_his_drop_txt {
	width: 140px;
}
.search_wrap .trans_history_ldl .trans_his_head {
	padding-top: 9px;
}
.search_wrap .trans_history_ldl .trans_his_sel {
	margin-top: 10px;
}
.cust_trans_search_btn {
	margin-left: 43px;
}

.row_width30 .add_user_save_btn {
	width: 120px;
	float: left;
}
.trans_his_wrap {
	height: 185px;
}

.w_union_lookup_txt {
	width: 290px;
}
.park_img {
	background-image: url("../../images/cross.png");
	background-repeat: no-repeat;
	height: 15px;
	display: block;
	width: 20px;
	margin-left: 10px;
}
#divPrepaid {
	min-height: 190px !important;
}
.divPopupLong{
	min-height: 430px !important;
}
.divPopupSmall {
	min-height: 280px !important;
}
.terminal_setup_sucess_msg {
	font-weight: bold;
	position: relative;
	top: 20px;
}
.thank_you {
	font-weight: bold;
	font-size: 20px;
	color: #2981c1;
}
.del_cart_alert_wrap {
	margin-top: 43px;
	margin-left: 13%;
}
.del_cart_alert_wrap input[type="button"] {
	background-color: #848484
}
.park_trans_amt {
	margin-bottom: 3%;
	display: inline-block;
	vertical-align: middle;
}
.part_freq_pay {
	width: 97%;
	height: 90px;
	margin-bottom: 3px;
	margin-left: 23px;
}
.part_nych_bill_color {
	background-color: #006937
}
.common_cancel_btn_fix {
	width:100px !important;
}
.common_cancel_btn_wrap {
	margin-top: 5% !important;
	margin-left: 21% !important;
}
/* Page elements for particular pages */
footer {
	clear: both;
	background-color: #ffffff;
	/* Old browsers */
	background: -moz-linear-gradient(top, white 0%, #ffc868 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ffc868));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, white 0%, #ffc868 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, white 0%, #ffc868 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, white 0%, #ffc868 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, white 0%, #ffc868 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffc868', GradientType=0 );
	/* IE6-9 */
	height: 100px;
}
/* menu */
ul#menu {
	margin: 0 0 5px;
	padding: 0;
}
ul#menu li {
	display: inline;
	background-color: #00794f;
	list-style: none;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 24px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	padding: 3px;
}
/* page titles */
hgroup.title {
	margin-bottom: 10px;
}
hgroup.title h1, hgroup.title h2 {
	display: inline;
}
hgroup.title h2 {
	font-weight: normal;
	margin-left: 3px;
}
/* ordered list */
ol.round {
	list-style-type: none;
	padding-left: 0;
}
ol.round li {
	margin: 25px 0;
	padding-left: 45px;
}
ol.round li.zero {
	background: url("../Images/orderedList0.png") no-repeat;
}
ol.round li.one {
	background: url("../Images/orderedList1.png") no-repeat;
}
ol.round li.two {
	background: url("../Images/orderedList2.png") no-repeat;
}
ol.round li.three {
	background: url("../Images/orderedList3.png") no-repeat;
}
ol.round li.four {
	background: url("../Images/orderedList4.png") no-repeat;
}
ol.round li.five {
	background: url("../Images/orderedList5.png") no-repeat;
}
ol.round li.six {
	background: url("../Images/orderedList6.png") no-repeat;
}
ol.round li.seven {
	background: url("../Images/orderedList7.png") no-repeat;
}
ol.round li.eight {
	background: url("../Images/orderedList8.png") no-repeat;
}
ol.round li.nine {
	background: url("../Images/orderedList9.png") no-repeat;
}
/* forms */
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
fieldset legend {
	display: none;
}
fieldset ol {
	padding: 0;
	list-style: none;
}
fieldset ol li {
	padding-bottom: 5px;
}
label.checkbox {
	display: inline;
}
input {
	border: 1px solid #ffc868;
	background: #fff;
	color: #333;
	font-size: 1.2em;
	padding: 1px;
	width: 300px;
}
input:focus, input.gender:focus {
	border: 1px solid #00794f;
}
input[type="checkbox"], input[type="radio"] {
	background: transparent;
	border: inherit;
	width: auto;
}
td input[type="submit"], td input[type="button"], td button {
	font-size: 1em;
	padding: 4px;
	margin-right: 4px;
}
/* styles for validation helpers */
input.input-validation-error, select.input-validation-error {
	/*border: 1px solid #e80c4d;*/
}
input[type="checkbox"].input-validation-error {
	border: 0 none;
}
input[type="radio"].input-validation-error {
	border: 1px solid #e80c4d;
	-webkit-border: 1px solid #e80c4d;
	-moz-border: 1px solid #e80c4d;
}
.validation-summary-errors {
	color: #e80c4d;
	font-weight: normal;
	font-size: 1.1em;
}
.validation-summary-valid {
	display: none;
}
#layout_center_pane .show_cash_rep_btn {
	width: 150px;
	float: left;
	margin: 0px;
}
.show_cash_active {
	background-color:#006837;
	color:#FFF;
}
.row_width30 .terminal_setup_btn {
	position: relative;
	left: 10%;
}
.ui-dialog .ui-widget-header {
	background-color: #006937;
}

.reset_pass_wrap {
	position: absolute;
	left: 23.5%;
}
.reset_pass_wrap .pass_change_btn {
	margin-left: 23%;
	
}
.scan_recheck_wrap {
	text-align: right;
	margin-right: 10%;
}
.checkout_sucess_wrap {
	margin-top: 12%;
	text-align: center;
	position:absolute;
	z-index:1;
}
.checkout_sucess_wrap .row5 ul {
	width: 594px;
	text-align: center;
}

.send_mny_name_wrap {
	height: 36px;
}
.send_mny_name_wrap .last_name_wrap 
{
	clear:both;
	position: relative;
	top: -30px;
	left: 40%;
}
.send_mny_name_wrap .input_box{
	width: 20% !important;
}
.profile_det_shift {
	margin-left: 17% !important;
}
.ieCustNavInfoBtn input[type="submit"] {
	width:130px !important;
}
.ieCustNavInfoBtn input[type="submit"]:focus {
	outline:#000 solid 0.5px;
}
.width_fix100 {
	width: 100px !important;
}
#divCashCollect {
	margin-left: 23%;
}
.net_cash_wrap {
	margin-left: 24%;
}
.part_freq_pay 
{
	text-align: -webkit-center;
}
.CustProfileLabelTxt 
{
	width: 210px !important;
}

.send_mny_trns_firstname_wrap {
float: left;
width: 283px;
margin-right: -50px; 
margin-left: 84px;
}

.send_mny_trns_firstname_wrap_popup 
{ 
    float: left;
    width: 250px;
    margin-right: -50px;
    margin-left: 92px;  
}
.send_mny_trns_lastname_wrap 
{
    float: left;
    width: 265px;
}
.send_mny_trns_refund_status 
{
    position: relative;
    top: -6px;
}
#divModify .row_width50 {
	width: 29%;
}
.wu_goldcard_wrap {
	width: 73%;
	font-size: 12px;
	float: left;
	margin-bottom: 5px;
}
.wu_goldcard_wrap p {
	margin-left:5px;
	line-height:1.5;
}/* End Page elements for particular pages */
/* Footer */

/* Footer */
footer .float-left, footer .float-right {
	float: none;
}
footer {
	text-align: center;
	height: auto;
	padding: 10px 0;
}
footer p {
	margin: 0;
}
/* EndFooter */

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 0.75em;
	border: 0 none;
}
th {
	font-size: 12px;
	text-align: left;
	border: none 0px;
	padding-left: 0;
	color: Black !important;
}
th a {
	display: block;
	position: relative;
}
th a:link, th a:visited, th a:active, th a:hover {
	color: #333;
	font-weight: 600;
	text-decoration: none;
	padding: 0;
}
th a:hover {
	color: #000;
}
th.asc a, th.desc a {
	margin-right: .75em;
}
th.asc a:after, th.desc a:after {
	display: block;
	position: absolute;
	right: 0em;
	top: 0;
	font-size: 0.75em;
}
th.asc a:after {
	content: '?';
}
th.desc a:after {
	content: '?';
}
td {
	padding: 0.25em 2em 0.25em 0em;
	border: 0 none;
}
tr.pager td {
	padding: 0 0.25em 0 0;
}
/* End Tables */

/* End General Rules */

/* Helper Rules */
.clear_both {
	clear: both;
}
.v_hidden {
	visibility: hidden;
}
.disableLink {
	cursor: default;
}
.bold {
	font-weight: bold;
}

.boldalign {	
	font-size: 11px;
	font-weight: bold;
	display: block;
    text-align: center;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.font_15 {
	font-size: 15px;
}
.font_17 {
	font-size: 17px;
}
.txt_left {
	text-align: left;
}
.txt_right {
	text-align: right;
}
.txt_center {
	text-align: center;
}

.txt_center_padding {
	text-align: center;
	padding-top:90px;
}

.align_super {
	vertical-align: super;
}
.txt_blue {
	color: #0000FF;
}
.div_width
{
	width:18%;
}
.btn_width
{
	margin-left: 35%; 
	float: left;
}
.margin_top_two
{
	margin-top:2%;
}
.margin_top_eight
{
	margin-top:8%;
}
/* Validation classes */
.spinner {
	vertical-align: middle !important;
	position: fixed !important;
	width:100% !important;
	height:150px !important;
	top: 50% !important;
	left: 45% !important;
}

.field-validation-error {
	font-size: 13px;
	color: #FF0000;
	/*text-align: center;*/
	padding: 5px;
	font-family: Arial, sans-serif, Helvetica;
}
.field-validation-valid {
	display: none;
}
.error_txt {
	color: #F00;
}
.error_align_left {
	text-align: left;
	margin-left: 30%;
	padding: 2px;
}
/* Input, text & button related classes */

.word_break {
	word-wrap: break-word;
}
.mandatory {
	color: #F00;
	vertical-align: top;
}
.label_txt {
	font-size: 12px;
	font-weight: bold;
	color: #4D4D4D;
}
.green_input {
	background-color: #006937 !important;
}
.input_box {
	font-size: 13px;
	color: #000000;
	line-height: 22.53px;
	padding: 4px 11px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	height: 20px;
	outline: none;
	width: 38%;
	-moz-opacity: .6;
}

.input_box_left {
	font-size: 13px;
	color: #000000;
    margin-left:36px;
	line-height: 22.53px;
	padding: 4px 8px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	height: 20px;
	outline: none;
	width: 38%;
	-moz-opacity: .6;
}

textarea {
	font-size: 13px;
    line-height: 20px;
    width: 38%;
    min-height: 50px;
    padding: 8px 8px;
    border: 1px solid #808080;
    background-color: #FFFFFF;
}

.dropdown_box {
	font-size: 13px;
	line-height: 22.53px;
	width: 41%;
	height: 30px;
	padding: 5px 0px;
	margin-right: 14%;
	border: 1px solid #808080;
	background-color: #FFFFFF;
}
.anc_link_btn {
	background-color: #006937;
	float: right;
	cursor: pointer;
	width: 130px;
	height: 30px;
	font-size: 14px;
	font-weight:normal !important;
	text-align: center;
	line-height: 30px;
	color: #f2f0da !important;
	border: none;
	outline: none;
	margin: 4px;
	padding-right: 2px;
	padding-left: 2px;
}
.anc_link_gray_btn {
	background-color: #808080;
	float: right;
	cursor: pointer;
	width: 130px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #f2f0da !important;
	border: none;
	outline: none;
	margin: 4px;
	padding-right: 2px;
	padding-left: 2px;
}
.disable_txt {
	width: 38%;
	line-height: 23px;
	padding: 4px 8px;
	margin-right: 80px;
	border: 1px solid #808080;
	background-color: #eff1ef;
	height: 20px;
}
.red_btn, #CancelTransaction {
	font-weight:normal !important;
	background-color: #ad2525 !important;
}

.yellow_btn {
	background-color: #FDBE57 !important;
	color: black !important;
}
.orange_btn {
	background-color: #fec25c !important;
	color: black !important;
}
.orange_btn:focus{
    outline: #000 solid 0.5px;
}
.brown_btn {
	background-color: brown;
}
/* Positioning related*/
.row {
	padding: 1px;
	margin: 1px;
}

.rowleft{
	float :left;
	padding: 1px 10px 0 35px;
	margin: 1px;
}

.row2 {
	margin: 20px 0px 0px 5px;
}
.row5 {
	padding: 5px;
	margin: 5px;
}
.row_width25 {
	width: 25%;
}
.row_width35 {
	width: 35%;
}
.row_width30 {
	width: 30%;
}
.row_width30_fix {
	width: 30px;
}
.row_shift1 {
	margin-left: 1%;
}
.row_shift2 {
	margin-left: 2%;
}
.row_shift9 {
	margin-left: 9%;
}
.row_shift12 {
	margin-left: 12%;
}
.row_shift15 {
	margin-left: 15%;
}
.row_shit17 {
	margin-left: 17%;
}
.row_shift19 {
	margin-left: 19%;
}
.row_shift20 {
	margin-left: 20%;
}
.row_shift28 {
	margin-left: 28%;
}
.row_shift30 {
	margin-left: 30%;
}
.row_shift40 {
	margin-left: 40%;
}
.row_input_bg {
	border: 1px solid #808080;
	background-color: #eff1ef;
}
.shift25 {
	margin-top: 5%;
	margin-left: 25%;
}
.shift25 input[type="button"], .shift25 input[type="submit"] {
	width: 100px;
}
.push_top5 {
	margin-top: 5%;
}
.push_top10_fix {
	margin-top: 10px;
}
.push_top23_fix {
    margin-top:23%;
}
.shift_left1 {
	margin-left: 1%;
}
.bottom_margin5{
    margin-bottom: 5% !important;
}
.row_label_txt {
	float: left;
	width: 27%;
	padding-top: 7px;
	margin-right: 16px;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	color: #4D4D4D;
}

.row_label_txt_wrap {
	float: left;
	width: auto;
	padding-top: 7px;
	margin-right: 16px;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	color: #4D4D4D;
}


.row_label_txt_Status {
float: left;
width: 100%;
text-align: left;
padding-top:7px;
padding-bottom: 7px;
margin-left: 2px;
font-size: 14px;
font-weight: normal;
color: #4D4D4D;
}
.status_msg {
	font-weight: bold;
	font-size: 14px;
	color: #00794f;
}
.edit_gold_card_img {
	clear: both;
	position: relative;
	top: -10px;
	left: 70px;
}
.bill_pay_review_pull {
	padding-top: 0px;
}
#jqTable1 
{
    width:962px !important;
    word-wrap:break-word;
}
.fav_payee_banner_txt {
    display: inline-block;
    float: left;
    text-align: left;
    width: 319px;
}
.import_payee_button {
    float: left;
    width: 71px;
    text-align: right;
}
.import_payee_img {
    position: relative;
	margin-top: -10px;
	border: none;
	left: 55px;
}
.card_Trans_summary
{
    width:100% !important;
}
.padding_left_250
{
    padding-left: 250px;
}
.v_visible {
	visibility:visible !important;
}
.margin_left_2
{
	left:-2.5%;
}
.margin_left_1
{
	left:-0.7%;
}
.positionrelative
{
	position: relative;
}
.float_left
{
	float: left;
}
.margin_top_1
{
	margin-top: 1%;
}
.z-index_9
{
	 z-index: 9; 
}
.grey_btn {
	font-weight:normal !important;
	background-color: #808080 !important;
}

.left_zero_three
{
    margin-left: -0.3em;
}
.anc_link_red_btn {
	background-color: #ad2525 !important;
	float: right;
	cursor: pointer;
	width: 130px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #f2f0da !important;
	border: none;
	outline: none;
	margin: 4px;
	padding-right: 2px;
	padding-left: 2px;
}
.floatleft
{
	float: left !important;
	width: 20% !important;
}
.floatleftdiv
{
	float: left !important;
	width: 80% !important;
}
table.fixed
{
	table-layout: fixed;
}
table.fixed td
{
	overflow: hidden;
}
.float_left
{
	float: left !important;	
}
.overflow_hidden
{
overflow:hidden;
}
.height_200
{
	height:200px;
}
.padding_left3
{
	padding-left:3px !important;
}
.margin_bottom20 {
	margin-bottom: 20px !important;
}
/* End Helper Rules */
.manual_check_second{
	margin-left:70px ! important;
	margin-right:5px ! important;
	width : 70% ! important;
}
.manual_check{
	margin-bottom:5px ! important;
	width : 80% ! important;
    padding-left: 0px !important;
}
.certegy_manual_check_label{
	width: 160px;
	margin-bottom: 5px;
	margin-left: 22px;
    text-align: left !important;
}
.certegy_manual_check_txtbx {
	float: left;
	width: 180px;
	margin-top:-5px;
	margin-bottom:5px;
}
.certegy_manual_check_txtbx2{
	float:left;
	width:280px;
	margin-top:-20px;
	margin-bottom:5px;
	margin-left:-50px;
}
.certegy_manual_check_error{
	padding:2px;
	margin-top: -2%;
    float:left;
    margin-left: 5px;
}
.certegy_manual_check_error2
{
	padding:2px;
	margin-left:23%;
	margin-top:4px;
}
.push_top4 {
	margin-top: 5%;
}
.grey_btn1{
	font-weight:normal !important;
	background-color: #808080 !important;
	float: left;
	cursor: pointer;
	width: 130px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #f2f0da !important;
	border: none;
	outline: none;
	margin: 4px;
	padding-right: 2px;
	padding-left: 2px;
}

.push_width400_fix{
    text-align:center;
    width:400px; 
}

.push_width400_fix li {
    display:inline-block;
}

.margin_right_0 {
	margin-right: 0px !important;
}

.margin_right_33 {
	margin-right: 33px !important;
}

a
{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline; /*background:transparent;*/
}

ins
{
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark
{
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

html
{
	height: 100%;
	width: 100%;
}

body
{
	height: 100%;
	width: 100%;
}

li
{
	list-style-type: none;
	display: inline-block;
}

form
{
	height: 100%;
	width: 100%;
}

a
{
	text-decoration: none;
}

.aLinkButton
{
	background-color: #006937;
	float: right;
	cursor: pointer;
	width: 130px;
	height: 30px;
	font-family: Arial, sans-serif, Helvetica;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	color: #f2f0da;
	border: none;
	outline: none;
	margin: 4px;
	padding-right: 2px;
	padding-left: 2px;
}

ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	min-width: 200px;
}

ul#navigation
{
	float: left;
}

ul#navigation li
{
	float: left;
	border: 1px black solid;
	min-width: 200px;
}

ul.sub_navigation
{
	position: absolute;
	display: none;
	z-index: 1;
}

ul.sub_navigation li
{
	clear: both;
}

#gallery-wrap
{
	margin: 0 auto;
	overflow: hidden;
	width: 500px;
	position: relative;
}

#gallery
{
	position: relative;
	left: 0;
	top: 0;
}

/*#gallery li
{
	float: left;
	margin: 0 20px 15px 0;
}*/

#aDescription
{
	text-decoration: none;
}

#aDescription:hover
{
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
	color: #0000ff;
}

.opaqueViewCart
{
	opacity: 0.4;
}

.width_547 {
	width:547px;
}
.input_box_crit_txt {
	font-size: 13px;
	color: #000000;
	line-height: 22.53px;
	padding: 4px 11px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	height: 20px;
	outline: none;
	-moz-opacity: .6;
}

a.opaqueButtonShadow, .opaqueButtonShadow{
    display: block;
    outline: none;
}

.margin_left_8 {
    margin-left: 8%;
}

.icon_print {
    margin-top:-9px !important;
    float:right !important;
    display: block;
    padding: 3px 12px 2px 15px !important;
    cursor: pointer;
}

.top_margin_4{
    margin-top:4% !important;
}

.margin_left_5 {
	margin-left: -5.5%;
}

.margin_left_4 {
	margin-left: -4%;
}

.support_details{
    font-size: 15px;
    font-weight: 700;
    padding-top: 13px;
    margin-left: 8%;
    color: rgba(0, 105, 55, 1);
}

.provider_contact_details_email_phone_row1{
    margin: 5px;
    min-width: 38%;
    text-align: right;
    font-weight: 700;
}

.contact_details_email_phone_row1{
    margin: 5px;
    min-width: 24%;
    text-align: right;
    font-weight: 700;
}

.contact_details_email_phone_row2{
    margin: 5px;
    min-width: 45%;
    text-align: left;
    padding-left: 21px;
    color:blue;
}

.top_margin_2{
    margin-top: 2%;
}

.solid_border{
    border: 1px solid black;
    z-index: 9999;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 10px;}


#jqProvision tr.jqgrow td, #jqQualifier tr.jqgrow td, #jqPromo tr.jqgrow td {
    white-space:normal !important;
}

.center-lable {
    margin-left:32% !important;
    text-align:center !important;
}
