.armrk-input-group.armrk-icon {
    position: relative;
}
.armrk-input-group.armrk-icon .icon-downarrow {
  width: 1em;
  height: 1em;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  top: 8px;
  right: 6px;
  z-index: 1;
  cursor: pointer;
}
.armrk-input-group.armrk-icon .icon-downarrow:before {
    content: "\E006" !important;
    width: 1em;
    height: 1em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: WebComponentsIcons;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    speak: none;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    top: 0;
    right: 0;
    z-index: 1;
    color: #656565;
}
.armrk-input-group.armrk-icon .icon-clearinput {
  width: 1em;
  height: 1em;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  top: 10px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}
.armrk-input-group.armrk-icon .icon-clearinput:before {
  content: "\E11B" !important;
  width: 1em;
  height: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: WebComponentsIcons;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  speak: none;
  text-transform: none;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  top: 0;
  right: 0;
  z-index: 1;
  color: #656565;
}
.armrk-input-group > .menu {
    padding: 0;
    margin: 0;
    z-index: 1000;
    float: left;
    min-width: 100%;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    width: 100%;
  }
  .armrk-input-group > .menu .list-group {
    border: 0;
    box-shadow: none;
    height: 100%;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow: auto;
    box-shadow: none;
    width:100%;
  }
  .armrk-input-group > .menu .list-group-item {
    font-size: 12px;
    border: 0;
    box-shadow: none;
    padding: 4px 12px;
    line-height: 1.5;
    white-space: normal;
    cursor: pointer;
  }
  .armrk-input-group > .menu .list-group-item:hover {
    background-color: #efefef;
  }
 .cusc {
   position: absolute !important;
    top: 30px !important;
    left: 0px !important;
 }
  .hide{
    display: none;
  }