<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ISO8583WebSvcSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.206.57:5222/FIS/ISO8583WebSvc.asmx"
                binding="basicHttpBinding" bindingConfiguration="ISO8583WebSvcSoap"
                contract="ISOWebSvc.ISO8583WebSvcSoap" name="ISO8583WebSvcSoap" />
        </client>
    </system.serviceModel>
</configuration>