<div class="col-sm-12">
    <kendo-tabstrip>
        <kendo-tabstrip-tab [title]="'title_container_tracking' | translation" [selected]="true">
            <ng-template kendoTabContent>
                <!--tab On container-tracking-->
                <app-container-tracking></app-container-tracking>
                <!--end of tab container-tracking-->
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'title_receiving' | translation">
            <ng-template kendoTabContent>
                <!--tab Receiving-->
                <app-receiving></app-receiving>
                <!--end of tab Receiving-->
            </ng-template>
        </kendo-tabstrip-tab>

        <kendo-tabstrip-tab [title]="'title_lookup' | translation">
            <ng-template kendoTabContent>
                <!--tab Lookup-->
                <app-lookup></app-lookup>
                <!--end of tab Lookup-->
            </ng-template>
        </kendo-tabstrip-tab>

        <kendo-tabstrip-tab [title]="'title_search' | translation">
            <ng-template kendoTabContent>
                <!--tab Lookup-->
                <app-search></app-search>
                <!--end of tab Lookup-->
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
</div>