<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChexarIO.Communication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ChexarIO.Communication.Properties.Settings>
            <setting name="ChexarIO_Communication_CallCenterService_CallCenterService"
                serializeAs="String">
                <value>http://beta.chexar.net/webservice/callcenterservice.asmx</value>
            </setting>
        </ChexarIO.Communication.Properties.Settings>
    </applicationSettings>
</configuration>