<div class="identify_btn_wrap profile_det_shift">
    <ul>
@{
	Dictionary<string, string> actionControllers = TCF.Channel.Zeo.Web.Common.WebHelper.GetRelatedActionController();
}

<li>@Html.ActionLink("Cancel", actionControllers["actionMethod"], actionControllers["controller"], null, new { @class = "anc_link_btn red_btn" , tabindex =6 })</li>
<li>@Html.ActionLink("Back", "IdentificationInformation", "CustomerRegistration", null, new { @class = "aLinkButton", tabindex = 5 })</li>
<li><input type="submit" value="Next" tabindex="4"  name="pindetails" /></li>
    </ul>
</div>
