<div class="row_shift28">
<ul>
	
	@if (Session["ClosedCustomerProfile"] != null && Session["ClosedCustomerProfile"] == "true" || Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.Tech || Convert.ToInt32((Session["UserRoleId"])) == (int)UserRoles.ComplianceManager)
	{
		<li>@Html.ActionLink("Exit", "CustomerSearch", "CustomerSearch", null, new { @class = "anc_link_btn red_btn" })</li>
		<li>@Html.ActionLink("Cancel", "ProductInformation", "Product", null, new { @class = "anc_link_btn" })</li>
	}
 else
 {
	<li>@Html.ActionLink("Back", "PinDetails", "CustomerRegistration", null, new { @class = "anc_link_btn", tabindex = 2 })</li>
	 if (Session["EditProspect"] != null && (bool)Session["EditProspect"] == false)
	 {
		<li class="row_width30 row_shift2">
			<input type="submit" value="Confirm" tabindex="1"/></li>
	 }
	 else
	 {
		<li class="row_width30 row_shift2">
            <input type="submit" value="Done" tabindex="1" /></li>
	 }
 }
</ul>
</div>
