@charset "utf-8";
/* CSS Document */

#layout_container_wrap {
	font-family: Arial, sans-serif, Helvetica;
	width: 1200px;
	margin: 0 auto;
	font-size: 12px;
}
/* Log-In*/
#layout_login {
	border: 1px solid gray;
	box-shadow: 4px 4px 6px #ccc;
	width: 50%;
	height: auto;
	float: left;
	margin: 100px 260px;
	padding: 15px 0px 15px 45px;
}
#layout_login .spacer_login {
	padding: 1px;
	margin: 1px;
}
#layout_login .spacer_login .label_txt {
	float: left;
	width: 27%;
	padding-top: 7px;
	margin-right: 16px;
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	color: #4D4D4D;
}
#layout_login .spacer_login .input_login, #layout_login .spacer_login input[type="password"] {
	font-size: 13px;
	color: #000000;
	line-height: 22px;
	padding: 4px 8px;
	margin-right: 80px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	height: 20px;
	outline: none;
	width: 38%;
	-moz-opacity: .6;
}
#layout_login .spacer_login .display_error {
	text-align: left;
	margin-left: 30%;
	padding: 2px;
}
#layout_login .login_btn {
	float: right;
	margin-top: -5px;
	margin-right: 29%;
	margin-bottom: 15px;
}	
#layout_login input[type="submit"] {
	background-color: #006937;
	float: right;
	cursor: pointer;
	width: 130px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	color: #f2f0da;
	border: none;
	outline: none;
	margin: 4px;
	padding-right: 2px;
	padding-left: 2px;
}
#layout_login .forget_info {
	clear: both;
	text-align: right;
	text-decoration: underline;
	clear: both;
	float: left;
	margin-left: 37%;
}
#layout_login .forget_info ul li {
	display: block;
	margin-bottom: 3px;
}
.forget_pass {
	text-align: center;
	position: relative;
	top: 20px;
}
.goback_home_btn {
	position: relative;
	top: 25px;
	left: 8px;
}
.goback_home_btn a {
	color: #000000;
	text-decoration: underline;
	font-size: 13px;
	margin-left: 42%;
}
/* End Log-In*/

/* Primary Header */
#layout_primary_head {
	width: 95.5%;
	height: 100%;
	display: block;
	float: left;
	clear: both;
}
#layout_primary_head .logo_bg {
	
	height: 82px;
	width: 99%;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#layout_primary_head .logo_bg .logo_agent {
	max-height: 55px;
	margin: 15px;
	float: left;
}
#layout_primary_head .logo_bg .logo_nexxo {
	margin-top: 5px;
	margin-right: 4px;
	float: right;
}
#layout_primary_head .page_head {
	background-image: url("../../images/nav_bkrnd_full.png");
	height: 33px;
	width: 100%;
	margin-top: 5px;
	padding-top: 7px;
}
#layout_primary_head .page_head .nav_breadcrumb {
	font-size: 14px;
	float: left;
	margin-left: 15px;
	margin-top: 6px;
	color: #006837;
}
#layout_primary_head .page_head .bread_head {
	font-size: 14px;
	float: left;
	margin-left: 18px;
	margin-top: 6px;
	color: #006837;
}
#layout_primary_head .page_head .bread_head a {
	color: #006837;
	text-decoration: none;
}
#layout_primary_head .page_head .search_head {
	margin-left: 27px;
	margin-top: -22px;
}
#layout_primary_head .page_head .login_head {
	/*margin-left: 27px;*/
}
/* End Primary Header */

/* Primary Navigation */
#layout_primary_nav .nav_head {
	height: 35px;
	background-color: #A5B3A1;
	margin: 0px 8px 2px 0px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	display: block;
}
#layout_primary_nav .nav_head a {
	color: #FFFFFF;
}
#layout_primary_nav .nav_item_select, #layout_primary_nav .nav_item {
	width: 232px;
	height: 35px;
	padding: 0px;
	background-position: 15px !important;
	margin: 2px 8px 2px 0px;
}
#layout_primary_nav .nav_item_select a, #layout_primary_nav .nav_item a, #layout_primary_nav .nav_head a {
	display: block;
	width: 180px;
	height: 25px;
	text-align: left;
	padding-top: 10px;
	padding-left: 55px;
}
#layout_primary_nav .nav_item_select a:hover, #layout_primary_nav .nav_item a:hover, #layout_primary_nav .nav_head a:hover {
	color: #FFFFFF;
}
#layout_primary_nav .nav_icon_home {
	background: #A5B3A1 url(../../images/Home-Icon.png) center left no-repeat;
	background-position: 15px;
}
#layout_primary_nav .nav_icon_customer, #layout_primary_nav .nav_icon_customer_dis:hover {
	background: #006837 url(../../images/New-Customer-Icon-Wht.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_customer_dis {
	background: #d7dbd6 url(../../images/New-Customer-Icon-Grn.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_manage_user, #layout_primary_nav .nav_icon_manage_user_dis:hover {
	background: #006837 url(../../images/ManageUsersIconWhite.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_manage_user_dis {
	background: #d7dbd6 url(../../images/ManageUsersIconGreen.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_location, #layout_primary_nav .nav_icon_location_dis:hover {
	background: #006837 url(../../images/LocationIconWhite.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_location_dis {
	background: #d7dbd6 url(../../images/LocationIconGreen.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_transactionhistory, #layout_primary_nav .nav_icon_transactionhistory_dis a:hover {
	background: #006837 url(../../images/TransHistoryWhite.png) center left no-repeat;
cursor:pointer !important;
}
#layout_primary_nav .nav_icon_transactionhistory_dis {
	background: #d7dbd6 url(../../images/TransHistoryGreen.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_adhoc_transhistory, #layout_primary_nav .nav_icon_adhoc_transhistory_dis:hover {
	background: #006837 url(../../images/TransHistoryWhite.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_adhoc_transhistory_dis, #layout_primary_nav .nav_icon_adhoc_transhistory_disable {
	background: #d7dbd6 url(../../images/TransHistoryGreen.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_hardware_dis:hover {
	background: #006837 url(../../images/Hardware-Icon-Wht.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_hardware_dis {
	background: #d7dbd6 url(../../images/Hardware-Icon-Grn.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_diagnostics_dis:hover {
	background: #006837 url(../../images/Diagnostics-Icon-Wht.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_diagnostics_dis {
	background: #d7dbd6 url(../../images/Diagnostics-Icon-Grn.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_pserver_dis:hover {
	background: #006837 url(../../images/Peripheral-Server-Icon-Wht.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_pserver_dis {
	background: #d7dbd6 url(../../images/Peripheral-Server-Icon-Grn.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_terminal_dis:hover {
	background: #006837 url(../../images/Terminal-Icon-Wht.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_terminal_dis {
	background: #d7dbd6 url(../../images/Terminal-Icon-Grn.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_billpayment, #layout_primary_nav .nav_icon_billpayment_dis:hover {
	background: #006837 url(../../images/BillPayWhite.png) center left no-repeat;
}
#layout_primary_nav #selection li.nav_icon_billpayment_dis.DisablePanels:hover {
	background: #d7dbd6 url(../../images/BillPayGreen.png) center left no-repeat;
	background-position: 15px !important;
}
#layout_primary_nav .nav_icon_billpayment_dis, #layout_primary_nav .nav_icon_billpayment_disable {
background: #d7dbd6 url(../../images/BillPayGreen.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_moneytransfer, #layout_primary_nav .nav_icon_moneytransfer_dis:hover {
	background: #006837 url(../../images/SendMoneyWhite.png) center left no-repeat;
}
#layout_primary_nav #selection li.nav_icon_moneytransfer_dis.DisablePanels:hover {
	background: #d7dbd6 url(../../images/SendMoneyGreen.png) center left no-repeat;
	background-position: 15px !important;
}
#layout_primary_nav .nav_icon_moneytransfer_dis, #layout_primary_nav .nav_icon_moneytransfer_disable {
	background: #d7dbd6 url(../../images/SendMoneyGreen.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_receivemoney, #layout_primary_nav .nav_icon_receivemoney_dis:hover {
	background: #006837 url(../../images/ReceiveMoneyWhite.png) center left no-repeat;
}
#layout_primary_nav #selection li.nav_icon_receivemoney_dis.DisablePanels:hover {
	background: #d7dbd6 url(../../images/ReceiveMoneyGreen.png) center left no-repeat;
	background-position: 15px !important;
}
#layout_primary_nav .nav_icon_receivemoney_dis, #layout_primary_nav .nav_icon_receivemoney_disable {
	background: #d7dbd6 url(../../images/ReceiveMoneyGreen.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_productcredential, #layout_primary_nav .nav_icon_productcredential_dis:hover {
	background: #006837 url(../../images/CredentialsWhite.png) center left no-repeat;
}
#layout_primary_nav #selection li.nav_icon_productcredential_dis.DisablePanels:hover {
	background: #d7dbd6 url(../../images/CredentialsGreen.png) center left no-repeat;
	background-position: 15px !important;
}
#layout_primary_nav .nav_icon_productcredential_dis, #layout_primary_nav .nav_icon_productcredential_disable {
	background: #d7dbd6 url(../../images/CredentialsGreen.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_processcheck, #layout_primary_nav .nav_icon_processcheck_dis:hover {
	background: #006837 url(../../images/processcheckwhite.png) center left no-repeat;
}
#layout_primary_nav #selection li.nav_icon_processcheck_dis.DisablePanels:hover {
	background: #d7dbd6 url(../../images/processcheckgreen.png) center left no-repeat;
	background-position: 15px !important;
}
#layout_primary_nav .nav_icon_processcheck_dis, #layout_primary_nav .nav_icon_processcheck_disable {
	background: #d7dbd6 url(../../images/processcheckgreen.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_moneyorder, #layout_primary_nav .nav_icon_moneyorder_dis:hover {
	background: #006837 url(../../images/MoneyOrderWhite.png) center left no-repeat;
}
#layout_primary_nav #selection li.nav_icon_moneyorder_dis.DisablePanels:hover {
	background: #d7dbd6 url(../../images/MoneyOrderGreen.png) center left no-repeat;
	background-position: 15px !important;
}
#layout_primary_nav .nav_icon_moneyorder_dis, #layout_primary_nav .nav_icon_moneyorder_disable  {
	background: #d7dbd6 url(../../images/MoneyOrderGreen.png) center left no-repeat;
}
#layout_primary_nav .nav_icon_transhistory, #layout_primary_nav .nav_icon_transhistory_dis:hover {
	background: #006837 url(../../images/TransHistoryWhite.png) center left no-repeat;
}
#layout_primary_nav #selection li.nav_icon_transactionhistory_dis.DisablePanels:hover {
	background: #d7dbd6 url(../../images/TransHistoryGreen.png) center left no-repeat;
	background-position: 15px !important;
}
#layout_primary_nav .nav_icon_transhistory_dis {
	background: #d7dbd6 url(../../images/TransHistoryGreen.png) center left no-repeat;
}
#layout_primary_nav .show_cash_active, #layout_primary_nav .show_cash_active:hover {
	background-color: #006837;
}
#layout_primary_nav .show_cash_active a {
	color:#FFFFFF;
}
#layout_primary_nav .sub_nav {
	clear: both;
	position: relative;
	top: -11px;
	left: 218px;
	left: 214px\9; /* IE8 */
	z-index: 2;
	display: none;
	font-size:14px;
	height:0px;
}
/* End Primary Navigation */

/* Secondary Navigation */
#layout_sec_nav {
	float: right;
	margin-right: 35px;
	margin-top: -2px;
}
#layout_sec_nav .icon_agent {
	position: relative;
	top: 6px;
	left: 10px;
}
#layout_sec_nav .icon_teller {
	position: relative;
	top: 6px;
	left: 10px;
    visibility:visible;
    height: 25px;
}


#layout_sec_nav .nav_txt {
	font-size: 14px;
	color: #006837;
	padding: 3px;
	text-align: left;
	/*vertical-align: top;*/
}
#layout_sec_nav .nav_txt_adj {
	position: relative;
	top: -5px;
}
#layout_sec_nav .nav_divider {
	position: relative;
	top: -5px;
}
#layout_sec_nav .item_txt .nav_breadcrumb {
	font-size: 14px;
	color: #006837;
	text-decoration: none;
}
#layout_sec_nav .sub_navigation {
	position: absolute;
	top: 118px;
	width: 180px;
}
#layout_sec_nav .sub_navigation .drop_down {
	display: block;
	border: 1px solid black;
	background-color: #cccccc;
	text-align: left;
	margin-bottom: 1px;
}
#layout_sec_nav .sub_navigation .drop_down a {
	vertical-align: top;
	margin: 0px;
	display: block;
	color: #006837;
	padding: 7px;
	text-align: left;
}
/* End Secondary Navigation */

/* Primary Content */
#layout_primary_content {
	float: left;
	width: 100%;
	clear: both;
	display: block;
	height: 100%;
}
#layout_primary_content .main_content_wrap {
	margin-top: 3px;
}
#layout_left_pane {
	width: 20%;
	height: auto;
	float: left;
}
/*#layout_left_pane_shadow
{
background-color:white;
position:absolute;
z-index:10;
height:70%;
width:18%;
filter: alpha(opacity=10);
opacity:0.01;
display:none;
}*/
#layout_center_pane {
	width: 50%;
	height: auto;
	min-height: 497px;
	float: left;
}
#layout_center_pane .page_head {
	color: #fff;
	background-color: #A5B3A1;
	padding: 10px;
	margin: 0px 8px 2px 8px;
	text-align: center;
	line-height: 24px;
	font-size: 15px;
	font-weight: bold;
	display: block;
	width: 93%;
	height: 100%;
}
#layout_center_pane .product_head {
	height: 14px;
	line-height: 14px;
	width: 603px;
	margin: 0px 0px 10px 0px;
	text-align: left;
}
#layout_center_pane .cust_head_wrap {
	margin-top: 5px;
}
#layout_center_pane .cust_head {
	width: 813px;
	background-color: #fdbe57;
	color: #000000;
	height: 9px;
	line-height: 9px;
	text-align: left;
}
#layout_center_pane .product_head li {
	text-align: left;
}
#layout_center_pane .search_head_fix {
	width: 813px;
	text-align: left;
}
#layout_center_pane .cust_summary_valid {
	margin-left: 3%;
	margin-top: 5px;
	color: Red;
}
#layout_center_pane .cust_summary_error {
	text-align: center;
	margin-left: 11.2%;
	color: Red;
}
#layout_center_pane .cust_search_wrap {
	float: left;
	width: 832px;
}
#layout_center_pane .cust_search_wrap .cust_crit_search {
	float: left;
	padding-left: 8px;
}
#layout_center_pane .cust_search_wrap .cust_search_options {
	float: left;
	width: 412px;
	background-color: #e9e7e7;
	overflow: hidden;
	height: auto;
	min-height: 280px;
}
/* End Primary Content */

/* Right pane */
#divTable {
	visibility: hidden;
}
#layout_right_pane {
	float: left;
	width: 27%;
	height: auto;
	margin-left: 2.5%;
	min-height: 250px;
}
#layout_right_pane .product_head {
	color: #FFFFFF;
	background-color: #A5B3A1;
	padding: 10px;
	margin: -1px 8px 2px 8px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	display: block;
	width: 93%;
	height: 100%;
	border: solid 1px #FFFFFF;
}
#layout_right_pane .product_head .head {
	padding: 10px 0px 3px 0px;
	margin: 0px 0px 3px;
	text-align: center;
	display: block;
	min-height: 250px;
	height: 20%;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}
#layout_right_pane .product_head .cust_sesssion {
	background-color: #FFFFFF;
	min-height: 250px;
	height: 20%;
}
#layout_right_pane .product_head .cust_sesssion tr {
	color: #000000;
	font-weight: normal;
}
#layout_right_pane .product_cart {
	border: 1px solid #FFF;
	background-color: #a5b3a1;
	min-height: 250px;
	overflow: hidden;
	width: 275px;
	margin-top: -1px;
}
#layout_right_pane .product_cart .cart_img {
	margin: 5px 0px 0px 10px;
	vertical-align: middle;
}
#layout_right_pane .product_cart .cart_txt {
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}
#layout_right_pane .product_cart .cart_support_wrap {
	width: 265px;
	padding: 5px;
}
#layout_right_pane .product_cart .view_btn {
	margin: 0px 0px 3px 136px;
}
#layout_right_pane .cust_profile {
	border: 1px solid #FFF;
	background-color: #a5b3a1;
	overflow: hidden;
	width: 275px;
	margin-top: -1px;
}
#layout_right_pane .cust_profile .float_right .shift_btn_fix {
	margin-left: 62px;
}
#layout_right_pane .cust_profile .cust_img {
	margin: 5px 0px 0px 10px;
	vertical-align: middle;
}
#layout_right_pane .cust_profile .cust_txt {
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}
#layout_right_pane .cust_profile .cust_prof_data {
	background-color: #FFF;
	margin-left: 5px;
	width: 265px;
}
/* End right pane */
/* SSO pages */
.ssoerrortext {
    float: left;
    margin-left: 2%;
    font-size: 16px;
    font-weight: 500;
	margin-top:10px;
	font-family: Arial, sans-serif, Helvetica; 
}
/* SSO pages */

/* Added this to highlight radio button on tab*/
input[type="radio"]:focus 
{
    outline: #00794f solid 1px;
}
/* Added this to highlight checkbox on tab*/
input[type="checkbox"]:focus 
{
    outline: #00794f solid 1px;
}
#layout_primary_nav #selection li.nav_item.DisablePanels a:hover {
    color: #006837;
	cursor: default;
}
#layout_primary_nav #selection li.nav_item_select.nav_icon_moneytransfer a.nav_name.SSN.SWB.validate {
	cursor: default;
}
#layout_primary_nav .nav_icon_hardware_dis .sf-menu li {
 margin: 0px 08px 0px 0px !important;
 border-bottom: 2px solid #eee;
}
#layout_primary_nav .sf-menu.sub_nav {
 top: -9px;
}
/* Added this to highlight checkbox on tab*/


#layout_right_pane .card_status {
	
	font-weight:normal !important;
	text-align: center;
	line-height: 10px;
	border-radius:2px;
	
}

#layout_right_pane  .green_backgrund {
		background-color: #006937;
		color:#FFFFFF !important;
		width : 45px;
		margin-right:22px;
		margin-left: 9px;
		float :right;
		margin-top:-15px;	
		padding:4px 2px 2px 2px;
	}

#layout_right_pane  .red_backgrund {
		background-color: #FF0000;
        color:#FFFFFF !important;
		width : 45px;
		margin-right:22px;
		margin-left: 9px;
		float :right;
		margin-top:-15px;	
		padding:4px 2px 2px 2px;
	}

#layout_right_pane  .yellow_backgrund {
		background-color: #FFFF00;
		width: 67px;
		margin-left: 8px;
		height: 12px;
		float :right;
		margin-top:-15px;	
		padding:4px 2px 2px 2px;
	}

#layout_right_pane  .otherstatus_backgrund {
		background-color: #FF0000;
		width: 4em;
		word-wrap: break-word;
		margin-right : 20px;
		margin-left: 15px;
	    overflow-wrap: break-word; 
    	float :right;
		margin-top:-15px;	
		padding:4px 2px 2px 2px;
	}
