<div class="custNavigation" style="margin-left:25%;margin-top:-2px;">
<ul>
@{
	Dictionary<string, string> actionControllers = TCF.Channel.Zeo.Web.Common.WebHelper.GetRelatedActionController();
}

<li>@Html.ActionLink("Cancel", actionControllers["actionMethod"], actionControllers["controller"], null, new { @class = "anc_link_btn red_btn", tabindex = 7 })</li>
<li>@Html.ActionLink("Back", "IdentificationInformation", "CustomerRegistration", null, new { @class = "anc_link_btn" , tabindex = 6 })</li>
	<li class="SrchButtonWdth"><input type="submit" value="Next" name="profilesummary" tabindex="5" /></li>
</ul>

</div>
