@model TCF.Channel.Zeo.Web.Models.CashDrawerReport 
@{
    ViewBag.Title = "My Reports";
    Layout = "~/Views/Shared/_ReportLayout.cshtml"; 
}
@using (Html.BeginForm("ShowCashDrawerReport", "Report"))
{   
    
    <div>
        <ul class="page_head product_head">
            <li>Cash Management</li>
        </ul>
    </div>
    <br />
    <input type="submit" value="Cash Drawer Report" class="show_cash_rep_btn red_btn"/>
}