@model TCF.Channel.Zeo.Web.Models.ProductInfo 
@{
    ViewBag.Title = TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ProductInformation;  
}
@using (Html.BeginForm())
{   
    <div class="page_head product_head"><p>@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ProductScreen</p></div>
    <br />
    <div class="error_popup bold">@ViewBag.PrepaidCardRegisterWarning</div>    
}