@model TCF.Channel.Zeo.Web.Models.BaseModel ﻿
@{
	ViewBag.Title = TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ReceiptPrintTest;
	Layout = "~/Views/Shared/_menu.cshtml";
}
<script src="@Url.Content("~/Scripts/PeripheralServices/EpsonTest.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>
<script>
	$(function () {
		ReceiptPrint();
	});
</script>
@Html.Partial("_partialSpinner")
<div>
	<ul class="page_head product_head">
		<li>Receipt Print Test</li>
	</ul>
</div>
<div class="txt_center">
	<div id="print" class="page_head product_head">
		Printing...
	</div>

	<div class="msg_statement">
		<div>
			<img id="CheckImage" alt="checkimage " src="@Url.Content("~/Content/images/ReceiptPrint.jpg")" />
		</div>
	</div>
</div>

