<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  
  <import resource="assembly://MGI.Common/MGI.Common/MGICommon.xml"/>
  
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
       
    <!--<objects xmlns="http://www.springframework.net">
    	<import resource="config/dms-server-spring.xml"/>
    </objects>-->

    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.net          http://www.springframework.net/xsd/spring-objects.xsd">

      <object id="DesktopEngine" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop" autowire="byType">
        <property name="Target">
          <object type="MGI.Channel.DMS.Server.Impl.DesktopEngine, MGI.Channel.DMS.Server.Impl">
            <property name="CustomerService" ref="Nexxo.Core.Customer.Service" />
            <property name="AgentService" ref="Nexxo.Core.Agent.Service" />
            <property name="DataStructuresService" ref="Nexxo.Core.Customer.DataStructures.Service" />
            <property name="MongoDBLogger" ref="TLoggerRef"/>
 		    <property name="MessageStore" ref="MessageStoreRef"/>
            <!--<property name="ReceiverService" ref="Nexxo.Core.Customer.Service"/>-->
          </object>
        </property>
        <property name="InterceptorNames">
          <list>
            <value>TraceAroundAdvice</value>
          </list>
        </property>
      </object>

      <!-- The details of the advice used in this configuration -->
      <object id="TraceAroundAdvice" type="Nexxo.Util.Advice.TraceAroundAdvice, Nexxo.Util.Advice" autowire="byType" />

      <!-- the customer core service implementation -->
      <object id="Nexxo.Core.Customer.Service" type="Nexxo.Core.Customer.Impl.CustomerServiceImpl, Nexxo.Core.Customer.Impl" autowire="byType">
      </object> 
      <object id="Nexxo.Core.Agent.Service" type="Nexxo.Core.Agent.Impl.AgentServiceImpl, Nexxo.Core.Agent.Impl" autowire="byType">
      </object>
      <object id="Nexxo.Core.Customer.DataStructures.Service" type="Nexxo.Core.Customer.DataStructures.Impl.CustomerDataStructuresServiceImpl, Nexxo.Core.Customer.DataStructures.Impl" autowire="byType">
      </object>
    </objects>

  </spring>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
