<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbConnectionString" connectionString="Data Source=localhost;Initial Catalog=AO_PTNR;User ID=sa;pwd=MoneyGram1" />
  </connectionStrings>
  <appSettings>
    <add key="ReceiptsToBeUploaded" value="E:\TCF\Zeo\SYS.CONF.Receipts\Receipts\" />
  </appSettings>
</configuration>