<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="ZeoConnectionString" connectionString="Data Source=localhost;Initial Catalog=ZEO_PTNR;User ID=sa;pwd=MoneyGram1" />
  </connectionStrings>

  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="TCF.Zeo.Biz.Check.Monitor.Advice.TraceExtension,CPMonitor" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>

  <appSettings>
    <add key="LogPath" value="C:\Logs\Zeo\" />
    <add key="BranchUserNamePrefix" value="NX"/>
    <add key="BranchPasswordPrefix" value="nx"/>
    <add key="EmployeeUserNamePrefix" value="NXe"/>
    <add key="EmployeePasswordPrefix" value="nxE"/>
    <add key="ChexarSessionSeperator" value="-"/>
    <add key="CheckProcessor" value="IO" />
    <add key="GetPendingStatusFromProcessor" value="true" />
    <add key="DataProtectionService" value="Simulator" />
    <add key="IsRealPAN" value="true" />
  </appSettings>
</configuration>