<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="database" connectionString="Data Source=hq-dbdev.nxo-eng.local;Initial Catalog=DIT2_PTNR;User ID=aullal;Password=P0r$che911;Persist Security Info=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="outputDirectory" value="C:\X9Reporting\Input"/>
		<add key="dbPrefix" value="DIT2_"/>
		<add key="maxItemCountPerFile" value="10000"/>
		<add key="SMTPServer" value="10.111.109.5"/>
		<add key="toEmailAddress" value="aullal@moneygram.com"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
