<div class="pop-container">
  <div class="pop-header">
    Dear user please enter the valid reason below
  </div>
  <div class="pop-main">
    <textarea name="comment" [(ngModel)]="_candStatus.DeclineReason" rows="6" style="border: 1px solid #999;color:black; width:100%"
      id="decline_reason"></textarea>
  </div>
  <div class="pop-footer">
    <button type="submit" class="mdl-button mdl-js-button mdl-button--accent padding-margin" (click)="declined()">Submit</button>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--primary padding-margin" (click)="close()">Close</button>
  </div>
</div>