<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?define ProductVersion="3.0.0.0" ?>
	<?define Manufacturer="Nexxo"?>
	<?define UpgradeCode="{C932E5A5-5222-4061-AFB7-ED9075F0204E}"?>
	<Product Id="*" Name="Nexxo Epson FirmwareUpdate" Language="1033"
			 Version='$(var.ProductVersion)' Manufacturer='$(var.Manufacturer)' UpgradeCode='$(var.UpgradeCode)'>
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"
				 Manufacturer='$(var.Manufacturer)' />
		<Media Id="1" Cabinet="Sample.cab" EmbedCab="yes"/>
		<Property Id="DiskPrompt" Value="Installation [1]" />
		<SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize" />
		<Property Id="INSTALLDIR" Secure="yes" />
		<Property Id="SERVERPATH"/>
		<Property Id="INSTALLLOGFOLDER"/>

		<!--Calling Custom Action Methods using dll  -->
		<Binary Id="BIN_CustomAction" SourceFile="Nexxo.Epson.Firmware.CustomAction.CA.dll" />
		<CustomAction Id="CAEpsonFirmwareUpdate" BinaryKey="BIN_CustomAction" DllEntry="EpsonFirmwareUpdate" Execute="immediate" Return="check"/>


		<InstallExecuteSequence>
			<Custom Action="CAEpsonFirmwareUpdate" After="InstallExecute"></Custom>
		</InstallExecuteSequence>

	<Directory Id="TARGETDIR"  Name="SourceDir">
		<Directory Id="ProgramFilesFolder">
			<Directory Id="INSTALLLOCATION" Name="Nexxo Epson FirmwareUpdate">
				<Component Id="ComponentBatEpsonFirmUpdate" Guid="{E170903E-25B4-4D6C-9019-6E2E7F474208}">
          <util:EventSource Log="Application" Name="Nexxo Epson Firmware Update" EventMessageFile="%SystemRoot%\Microsoft.Net\Framework\v2.0.50727\EventLogMessages.dll" />
          <File Id="FileBatInstallEpson64" Source="EpsonUpdate.bat"/>
				</Component>
				<Component Id="ComponentEpsonTMS9000MJ106" Guid="{D256D186-8FDE-4F58-AEF2-72137B891AD5}">
					<File Id="FileEpsonTMS9000MJ106" Source="TM-S9000MJ_106.exe"/>
				</Component>
			</Directory>
		</Directory>
	</Directory>

	<Feature Id="ProductFeature" Title="Nexxo Epson Firmware Update"  Level="1"  ConfigurableDirectory="INSTALLLOCATION">
		<ComponentRef Id="ComponentBatEpsonFirmUpdate"/>
		<ComponentRef Id="ComponentEpsonTMS9000MJ106"/>
		
	</Feature>
	</Product>

</Wix>