html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%; }

li {
  list-style-type: none;
  display: inline-block; }

form {
  height: 100%;
  width: 100%; }

a {
  text-decoration: none; }

.spacer {
  padding: 1px;
  margin: 1px; 
  }
.diagnoSpacer{
	padding:5px;
	margin:5px;
}
.optDropDown {
  width: 41%;
  padding: 8px 8px;
  margin-right: 14%;
  border: none;
  outline: none;
  background-color: #ebf0ee; }

.bubbleImg {
  margin-top: 13%;
  margin-left: 17%;
  vertical-align: middle; }

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
  border: 0px; }

#keySpace {
  float: left;
  height: auto;
  width: 499px; }

.ubkey {
  margin-left: 80%;
  margin-top: 30%; }

.keyContainer {
  float: left;
  height: 165px;
  width: 379px; }

#keyLogin {
  color: #00794F;
  float: left;
  font-family: sans-serif,Arial, Helvetica;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  margin-bottom: 10px;
  text-align: left;
  width: 379px;
  margin-left: 8px; }

#container {
  width: 1200px;
  margin: 0 auto; }

#header,
#footer,
#mainContentContainer {
  float: left;
  width: 100%;
  clear: both;
  display: block;
  height: 100%; }

#sidebar-left {
  float: left;
  width: 20%;
  height: auto; }

#sidebar-right {
  float: left;
  width: 27%;
  height: auto;
  margin-left: 2.5%; }

#mainContent {
  float: left;
  height: 100%;
  min-height: 497px;
  width: 50%; }

.cFont {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px; }

.breadNav {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 14px;
  width: 10%;
  float: left;
  margin-left: 18px;
  margin-top: 6px;
  color: #006837; }

.breadNavSecond {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 14px;
  float: left;
  margin-left: 15px;
  margin-top: 6px;
  color: #006837; }

.searchCust {
  margin-left: 27px;
  margin-top: -22px; }

.expiryInfo {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  float: left;
  width: 30%;
  color: Red;
  margin-top: 6px;
  margin-left: 21%; }

.forgotInfo {
  float: right;
  margin-right: 12%;
  padding: 3px; }

.forgotLink {
  text-decoration: underline;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px; }

.agentImg {
  height: 100px;
  width: 100%;
  background-image: url("../../images/NFS_header_1600x150.jpg");
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; }

.logoImgRight {
  float: right;
  margin: 16px; }

.logoImgLeft {
  float: left;
  width: 200px;
  height: 80px;
  margin: 1%; }

.pMenuImg {
  margin-top: -8px;
  margin-left: 5px; }

.pMenuText {
  vertical-align: top;
  margin-left: 10px; }

.menuOpts {
  background-image: url("../../images/nav_bkrnd_fullHome.gif");
  background-repeat: no-repeat;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 40px;
  width: 100%;
  margin-top: 7px;
  padding-left: 7px;
  padding-top: 7px; }

.menuOptsNew {
  background-image: url("../../images/nav_bkrnd_full.gif");
  background-repeat: no-repeat;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 40px;
  width: 100%;
  margin-top: 7px;
  padding-left: 7px;
  padding-top: 7px; }

.menu {
  display: inline-block;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 14px;
  color: #006837;
  margin-top: -2px;
  padding: 3px;
  text-align: left;
  vertical-align: top; }

.loginMenu {
  display: inline-block;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 14px;
  color: #006837;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
  padding: 3px; }

.loginArea {
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #ccc;
  width: 100%;
  height: auto;
  float: left;
  margin: 100px 260px;
  padding: 15px; }

.labelText {
  float: left;
  width: 40%;
  padding-top: 7px;
  margin-right: 16px;
  text-align: left;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  font-weight: bold;
  color: #4D4D4D; }

.breadCrumb {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 14px;
  color: #006837;
  text-decoration: none; }

.hoverMenu {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  display: inline-block;
  color: #006837;
  margin-top: -4px;
  padding: 3px;
  text-align: left;
  vertical-align: top; }

textarea {
  margin: 1px 0px 6px 6%;
  padding: 1px;
  width: auto;
  height: 30px;
  resize: none; }

.profile {
  float: left;
  width: auto;
  padding-top: 7px;
  margin-right: 16px;
  text-align: right;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px; }

.forgot {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  text-align: center; }

.call {
  text-decoration: underline;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  margin-left: 42%; }

.comingSoon {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  text-align: center; }

#AgentLoginnew {
  width: 100%;
  height: 30px;
  float: left;
  margin-bottom: 10px;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  font-weight: bold;
  color: #00794f;
  text-align: center; }

.field-validation-error {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  color: #FF0000; }

.errorDisplay {
  margin-left: 43%;
  padding: 5px; }

.optDropDown {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  line-height: 22.53px;
  width: 41%;
  padding: 8px 8px;
  margin-right: 14%;
  border: none;
  outline: none;
  background-color: #A5B3A1; }

.textBox1 {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  line-height: 22.53px;
  padding: 4px 8px;
  border: none;
  background-color: #ebf0ea;
  height: 20px;
  outline: none;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  width: 38%;
  -moz-opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.textBox {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  color: #000000;
  line-height: 22.53px;
  padding: 4px 8px;
  margin-right: 80px;
  border: none;
  background-color: #A5B3A1;
  height: 20px;
  outline: none;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  width: 38%;
  -moz-opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }
  .textBox:focus {
    font-family: Arial, sans-serif, Helvetica;
    font-size: 13px;
    color: #000000;
    line-height: 22.53px;
    padding: 4px 8px;
    margin-right: 80px;
    border: none;
    background-color: #A5B3A1;
    height: 20px;
    width: 38%;
    outline: none;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
    -moz-opacity: .6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.disableText {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  line-height: 22.53px;
  padding: 4px 8px;
  margin-right: 80px;
  border: none;
  background-color: #A5B3A1;
  height: 20px;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  width: 38%;
  -moz-opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.disableTxt {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  line-height: 22.53px;
  padding: 4px 8px;
  margin-right: 80px;
  border: none;
  background-color: #A5B3A1;
  height: 20px;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  -moz-opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

input[type="password"] {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  line-height: 22.53px;
  padding: 4px 8px;
  margin-right: 80px;
  border: none;
  background-color: #A5B3A1;
  height: 20px;
  width: 38%;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  -moz-opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }
  input[type="password"]:focus {
    font-family: Arial, sans-serif, Helvetica;
    font-size: 13px;
    line-height: 22.53px;
    padding: 4px 8px;
    margin-right: 80px;
    border: none;
    background-color: #A5B3A1;
    height: 20px;
    width: 38%;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
    -moz-opacity: .6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

input[type="submit"] {
  background-color: #006937;
  border-radius: 15px;
  -moz-border-radius: 15px;
  float: right;
  cursor: pointer;
  width: 130px;
  height: 30px;
  line-height: 30px;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 14px;
  text-align: center;
  color: #f2f0da;
  border: none;
  outline: none;
  margin: 4px;
  padding-right: 2px;
  padding-left: 2px; }

input[type="button"] {
  background-color: #ad2525;
  border-radius: 15px;
  -moz-border-radius: 15px;
  float: right;
  cursor: pointer;
  width: 130px;
  height: 30px;
  line-height: 30px;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 14px;
  text-align: center;
  color: #f2f0da;
  border: none;
  outline: none;
  margin: 4px;
  padding-right: 2px;
  padding-left: 2px; }

.aLinkButton {
  background-color: #006937;
  border-radius: 15px;
  -moz-border-radius: 15px;
  float: right;
  cursor: pointer;
  width: 130px;
  height: 30px;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: #f2f0da;
  border: none;
  outline: none;
  margin: 4px;
  padding-right: 2px;
  padding-left: 2px; }

.dropDownMenu {
  display: block;
  border: 1px solid black;
  background-color: #cccccc;
  text-align: left; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 200px; }

ul#navigation {
  float: left; }

ul#navigation li {
  float: left;
  border: 1px black solid;
  min-width: 200px; }

ul.sub_navigation {
  position: absolute;
  display: none;
  z-index: 1; }

ul.sub_navigation li {
  clear: both; }

.menuHeading {
  color: #fff;
  background-color: #A5B3A1;
  padding: 10px;
  margin: 0px 8px 2px 8px;
  text-align: center;
  line-height: 24.27px;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 15px;
  font-weight: bold;
  display: block;
  height: 15px; }

.menuTitle {
  height: 15px;
  background-color: #c5d0fe;
  padding: 10px;
  margin: 0px 8px 2px 8px;
  text-align: center;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  display: block; }

.menuItems {
  height: 15px;
  background-color: #d7dbd6;
  padding: 10px;
  margin: 0px 8px 2px 8px;
  text-align: center;
  cursor: pointer;
  display: block; }

.cmenuItems {
  height: 15px;
  background-color: #5879fc;
  padding: 10px;
  margin: 0px 8px 2px 8px;
  text-align: left;
  cursor: pointer;
  display: block; }
  .cmenuItems a {
    color: #f2f0da; }

.menuLeft {
  height: 15px;
  background-color: #d7dbd6;
  padding: 10px;
  margin: 0px 8px 2px 8px;
  text-align: left;
  cursor: pointer;
  display: block; }
  .menuLeft:hover {
    background-color: #006837; }
    .menuLeft:hover a {
      color: #FFF; }

.menuNames {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 14px;
  color: #006837;
  text-decoration: none; }

.productBand {
  height: 14px;
  line-height: 14.27px;
  width: 100%;
  margin: 0px; }

.checkBand {
  background-color: #fcbd56;
  color: #000000; }

.mngUserBand {
  margin-left: 40.2%;
  width: 366px;
  height: 9px;
  border: 1px solid #006937; }

.mngCretNUser {
  display: inline-block;
  float: left;
  cursor: pointer;
  margin-top: -2px;
  margin-left: 10px; }

.message {
  border: 1px solid #c5d0fe;
  background-color: #c5d0fe;
  min-height: 173px;
  width: 223px;
  margin-left: 8px; }

.tipsandoffers 
{
  background-color: #FFFFFF;
  font-family: Arial,sans-serif,Helvetica;
  font-size: 12px;
  height: auto;
  margin: 2px;
  text-align: left;
  word-spacing: calc(4px); }

.productHeading {
  line-height: 14.27px;
  height: 14px; }

.CheckImage {
  width: 480px;
  height: 170px; }

.CheckImg {
  width: 480px;
  height: 170px; }

.checkImageInstructions {
  height: 190px;
  width: 186px; }

.checkRequest {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  padding: 5px;
  margin: 5px;
  color: Blue; }

.checkAmt {
  float: left;
  padding-top: 7px;
  margin-right: 16px;
  margin-left: 10%;
  text-align: left;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px; }

.checkTxt {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  padding: 4px 8px;
  margin-right: 80px;
  border: none;
  background-color: #ebf0ea;
  height: 20px;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  -moz-opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.apprCheck {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  text-align: center; }

.custProfile {
  margin-top: -13px;
  overflow: hidden;
  border: 1px solid #A5B3A1;
  background-color: #c5d0fe; }

.shppngCart {
  border: 1px solid #a5b3a1;
  background-color: #c5d0fe;
  min-height: 250px; }

.shppngCartGrid {
  border: 1px solid black;
  font-family: Arial,sans-serif;
  font-size: 13px;
  width: 620px; }

.shppngCartGridText {
  border: 1px solid black;
  vertical-align: middle;
  color: #F2F0DA;
  padding: 5px; }

.shppngCartGridTabCol {
  width: 15%;
  padding: 5px;
  border: 1px solid black;
  vertical-align: middle; }

.shoppingCart {
  vertical-align: middle;
  color: #FFFFFF;
  margin-left: 3px;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 15px;
  font-weight: bold; }

.custText {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  text-align: left; }

.gridHeader {
  background-color: #a5b3a1;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  width: 622px;
  height: 34px; }

.gridText {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 17px;
  color: #F2F0DA;
  padding: 5px; }

.columnText {
  text-align: center; }

.deleteImg
{
  background-image: url("../../images/cross.png");
  background-repeat: no-repeat;
  height: 15px;
  display: block;
  width: 20px;
  margin-left: 30px; }
  
  .deleteItemImg
{
  background-image: url("../../images/cross.png");
  background-repeat: no-repeat;
  height: 15px;
  display: block;
  width: 20px;
  margin-left: 30px; }

.parkImg
{
  background-image: url("../../images/cross.png");
  background-repeat: no-repeat;
  height: 15px;
  display: block;
  width: 20px;
  margin-left: 30px; }


.editImg {
  background-image: url("../../images/edit.png");
  background-repeat: no-repeat;
  height: 15px;
  display: block;
  cursor: pointer; }

.evenRow {
  background-color: #ebf0ea;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px; }

.oddRow {
  padding: 5px;
  background-color: #ffffff;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px; }

.profileText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 4px 8px;
  margin-left: 78px;
  border: none;
  background-color: #A5B3A1;
  height: 20px;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  -moz-opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.identTxt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 4px 8px;
  border: none;
  background-color: #A5B3A1;
  height: 20px;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  -moz-opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.profileHeading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #00794F;
  text-decoration: underline; }

.ui-dialog-titlebar-close {
  display: none; }

.editAnchorTag {
  background-repeat: no-repeat;
  height: 15px;
  display: block;
  cursor: pointer; }

.productInfo {
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  font-weight: bold;
  color: #026a34;
  margin-top: 10%; }

.frequentItems {
  background-repeat: no-repeat;
  background-color: #006937;
  border-radius: 15px;
  -moz-border-radius: 15px;
  float: right;
  cursor: pointer;
  width: 168px;
  height: 75px;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  line-height: 23px;
  color: #f2f0da;
  border: none;
  outline: none;
  margin: 4px;
  padding-right: 2px;
  padding-left: 2px; }

.selectedFrequentItem {
  background-repeat: no-repeat;
  background-color: #fdbe57;
  border-radius: 15px;
  -moz-border-radius: 15px;
  float: right;
  cursor: pointer;
  width: 168px;
  height: 75px;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  text-align: center;
  line-height: 23px;
  color: #000000;
  border: none;
  outline: none;
  margin: 4px;
  padding-right: 2px;
  padding-left: 2px; }

#gallery-wrap {
  margin: 0 auto;
  overflow: hidden;
  width: 500px;
  position: relative; }

#gallery {
  position: relative;
  left: 0;
  top: 0; }

#gallery li {
  float: left;
  margin: 0 20px 15px 0; }

#aDescription {
  text-decoration: none; }

#aDescription:hover {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
  color: #0000ff; }

.receiversMultileTxtBx {
  margin-left: 139px;
  height: 60px;
  width: 239px;
  background-color: #ebf0ee; }

.activeSessionTable {
  color: #000000;
  padding-top: 10px;
  padding-bottom: 3px;
  margin: 0px 0px 3px;
  text-align: center;
  line-height: 24.27px;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  font-weight: normal;
  display: block;
  min-height: 250px;
  height: 20%; }

.labelTextForRpt {
  float: left;
  margin-right: 16px;
  text-align: left;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px; }

.tableHeader {
  color: #000000;
  font-weight: normal; }

.custNavigation {
  float: left;
  margin-left: 40%; }

.mngUserGrid {
  border: 1px solid black;
  font-family: Arial,sans-serif;
  font-size: 13px;
  width: 620px; }

.mngUserGridText {
  border: 1px solid black;
  vertical-align: middle;
  background-color: #ffc000;
  color: #0000;
  padding: 5px; }

.mngUserGridCol {
  border: 1px solid black;
  vertical-align: middle;
  color: #0000;
  text-align: center;
	padding: 5px;
}
.DisableButtons
{
	opacity: 0.4 !important;
}
.DisablePanels
{
	opacity: 0.4 !important;
}
.SpinnerImageDiv
{
	display: table;
	padding-top: 60px;
	padding-left: 100px;
	z-index: 1000;
	position: fixed;
	top: 24%;
	left: 43%;
	background: url("../../images/Spinner.gif") no-repeat;
	cursor: wait;
}
.SpinnerDivMessage
{
	font-weight: bold;
	display: table;
	padding-top: 80px;
	padding-left: 100px;
	z-index: 1000;
	position: absolute;
	top: 21%;
	left: 34%;
}
.LoadCoverPage
{
	background-color: white;
	width: 1500px;
	height: 700px;
	float: left;
	top: -20%;
	margin-top: -25%;
	margin-left: -60%;
	z-index: 2000;
	opacity: 0.4;
}
.RecieptNotFound
{
	left: 32% !important;
}
.PrinterNotFound
{
	left: 27% !important;
}
.shoppingCartTxtDiv
{
	left: 39.5%;
	top: 44%;
	width: 21%;
	height: 18.5%;
	color: #fcf9f9;
	float: left;
	position: absolute;
	z-index: -1;
	opacity: 0.9;
	background-color: rgb(252, 249, 249);
}
.shoppingCartTxt
{
	width: 19%;
	float: left;
	position: absolute;
	word-wrap: break-word;
	left: 40%;
	color: #363434;
	font-family: Arial, sans-serif, Helvetica;
}
.displaynoneleftpanel
{
	width: 235px;
	height: 250px;
	margin-top: 5px;
	position: absolute;
	opacity: 0.1;
	background-color: white;
	display: none;
}
.displayblockleftpanel
{
	width: 235px;
	height: 250px;
	margin-top: 5px;
	position: absolute;
	opacity: 0.1;
	background-color: white;
	display: block;
	z-index: 9;
}
.opaqueViewCart
{
	opacity: 0.4;
}
.msgSpinner
{
	display: block;
	height: 18%;
	position: absolute;
	background-color: white;
	width: 15%;
}
.msgInnerSpinner
{
	margin-top: 21%;
	margin-left: 45%;
}
.msgCenterFirstName
{
	max-width: 70px;
	word-wrap: break-word;
}
.msgCenterAmount
{
	float:left;
	margin-left:08px;
}
.msgCenterStatus
{
	margin-left:10px;
}
.msgCenterTicketNumber
{
	margin-right:5px;
	float:right;
}
.msgCenterNameHeader
{
	width: 70px;
}
.msgCenterAmountHeader
{
	width: 70px;
}
.msgCenterStateHeader
{
	width: 30px;
}
.msgCenterTableDiv
{
	height: 125px; 
	overflow-x: hidden; 
	overflow-y: auto; 
	margin-top: -5px;	
}
.msgCenterTable
{
	width: 95%;
}
.msgCenterHeaderTable
{
	width: 98%;
}
.tipsAndMesgCenterSpace
{
	height: 2px; 
	width: 100%;
}
