<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath"  value="C:\Logs\CommonMonitor"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
		<bindings>
      <basicHttpBinding>
          <binding name="BasicHttpBinding_IDesktopService" closeTimeout="00:30:00"
              openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
              allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferPoolSize="524288" maxBufferSize="10485760" maxReceivedMessageSize="10485760"
              textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
              messageEncoding="Text">
              <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                  maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
              <security mode="None">
                  <transport clientCredentialType="None" proxyCredentialType="None"
                      realm="" />
                  <message clientCredentialType="UserName" algorithmSuite="Default" />
              </security>
          </binding>
      </basicHttpBinding>
  </bindings>
		<client>
      <endpoint address="http://localhost:51942/DesktopWSImpl.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesktopService"
          contract="DMSService.IDesktopService" name="BasicHttpBinding_IDesktopService" />
  </client>
	</system.serviceModel>
</configuration>