<div class="col-sm-12">
  <kendo-tabstrip>
    <kendo-tabstrip-tab [title]="'title_allocate' | translation" [selected]="true">
      <ng-template kendoTabContent>
        <!--tab Allocate-->
        <app-allocate></app-allocate>
        <!--end of tab Allocate-->
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'title_pull' | translation">
      <ng-template kendoTabContent>
        <!--tab Pull-->
        <app-pull></app-pull>
        <!--end of tab Pull-->
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'title_consume' | translation">
      <ng-template kendoTabContent>
        <!--tab Consume-->
        <app-consume></app-consume>
        <!--end of tab Consume-->
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'title_return' | translation">
      <ng-template kendoTabContent>
        <!--tab Return-->
        <app-return></app-return>
        <!--end of tab Return-->
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>