<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <databaseSettings>
    <add key="PartnerDataSource" value="10.111.109.20\MDOWD;Integrated Security=false" />
    <add key="PartnerDbUser" value="sa" />
    <add key="PartnerDbPassword" value="BIGtrouble2" />
    <add key="PartnerDatabase" value="Partner" />
  </databaseSettings>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
    </parsers>
    <!--<objects xmlns="http://www.springframework.net">
    	<import resource="config/dms-server-spring.xml"/>
    </objects>-->
    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.net/tx" xmlns:db="http://www.springframework.net/database" xsi:schemaLocation="http://www.springframework.net  http://www.springframework.net/xsd/spring-objects.xsd">
      <!--<import resource="assembly://Nexxo.Core.Partner.Impl/Nexxo.Core.Partner.Impl/Core.Partner.Db.Spring.xml" />-->
      <import resource="assembly://MGI.Core.Partner.test/MGI.Core.Partner.test/Core.Partner.Test.Spring.xml" />
    </objects>
  </spring>
</configuration>