<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TCF.Channel.Zeo.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- Yubi Key Authentication Service Url And Return Codes -->
    <add key="YUBICO_AUTH_SRV_URL" value="http://api.yubico.com/wsapi/verify?id=1&amp;otp="/>
    <!-- Configuration to enable disable yubi key validation, if not specified default is true -->
    <!-- Return Codes From Yubi Key -->
    <add key="OK" value=" The OTP is valid."/>
    <add key="BAD_OTP" value=" The OTP is invalid format."/>
    <add key="REPLAYED_OTP" value=" The Yubi Key has already been used, Please re-enter new Yubi Key"/>
    <add key="BAD_SIGNATURE" value=" The HMAC signature verification failed."/>
    <add key="MISSING_PARAMETER" value=" The request lacks a parameter."/>
    <add key="NO_SUCH_CLIENT" value=" The request id does not exist."/>
    <add key="OPERATION_NOT_ALLOWED" value=" The request id is not allowed to verify OTPs."/>
    <add key="BACKEND_ERROR" value=" Unexpected error in Yubi Key Server. Please try again later."/>
    <add key="NOT_ENOUGH_ANSWERS" value=" Server could not get requested number of syncs during before timeout."/>
    <add key="REPLAYED_REQUEST" value=" This combination has already been used, Please re-enter new Yubi Key."/>
    <add key="INVALID_NEXXO_YUBI_KEY" value="This is an invalid Yubi key for Nexxo. Please try again with the correct Yubi key for Nexxo."/>
    <!-- Channel Partner -->
    <add key="ChannelPartner" value="TCF"/>
    <add key="TempFilePath" value="C:\Windows\Temp\"/>
    <!-- Login Related Messages -->
    <add key="MIN_PWDCHANGE_DAYS" value="25"/>
    <!-- Activation Related Messages -->
    <add key="LANDING_ACTIVATIONUSER_MESSAGE" value="Registration successful."/>
    <add key="ReceiptLogoUrl" value="http://172.18.100.222/MSPDeploy/"/>
    <add key="IDExpiryDays" value="14"/>
    <add key="SessionWarning" value="25"/>
    <add key="shoppingcartRefreshTime" value="1"/>
    <add key="LogPath" value="C:\Logs\Zeo\"/>
    <add key="SynovusSSOUrl" value="https://xmlgw-qa.soa.synovus.com/synconnect/sso/samlauth"/>
    <add key="SynovusSSOCertificatePath" value="C:\Certs\SYNPUB.KEY"/>
    <add key="RetrieveHostFromNps" value="true"/>
    <add key="IsNpsLocal" value="true"/>
    <add key="messageCenterRefreshTime" value="0.5"/>
    <add key="AgentTransactionHistoryDuration" value="7"/>
    <add key="VersionInfo" value="#{Octopus.Action.Package.NuGetPackageVersion}"/>
    <add key="NoOfCounterIDs" value="3"/>
    <!-- security settings -->
    <add key="VoltagePieBaseUrl" value="https://proxy.ic.local/tcf_voltage/pie/v1"/>
    <!-- SOAP Service Config (Tokenize/Detokenize)-->
    <!--Starts Here -->
    <add key="Format" value="alloy4x4" />
    <add key="Identity" value="token@alloy" />
    <add key="Authinfo" value="voltage123" />
    <!--Ends Here-->
    <!-- HOST DLL Config (Encrypt/Decrypt -->
    <!--Starts Here -->
    <add key="DistrictName" value="dev.tcfbank.com" />
    <add key="PolicyLocator" value="https://proxy.ic.local/tcf_voltage/policy/clientPolicy.xml" />
    <add key="IdentityString" value="host@dev.tcfbank.com" />
    <add key="PieMerchantID" value="tcf" />
    <add key="DecryptTime" value="" />
	  <add key="VoltageUrl" value="https://proxy.ic.local/tcf_voltage/vibesimple/services/VibeSimpleSOAP" />
    <add key="NewSearchScreen" value="SingleSearchScreen" />


    <!-- New Relic for version monitoring/analyzing-->
    <add key = "NewRelic.AppName" value="MGI.Alloy.Web" />

    <add key="FaultExceptionMessage" value="Zeo|0.0|This operation could not be completed.|Please try again. If problem persists, contact IT Service Desk at 763-337-6600." />
    <add key="EndpointNotFoundExceptionMessage" value="Zeo|0.0|This operation could not be completed.|Please try again. If problem persists, contact IT Service Desk at 763-337-6600." />
    <add key="CommunicationExceptionMessage" value="Zeo|0.0|This operation could not be completed.|Please try again. If problem persists, contact IT Service Desk at 763-337-6600." />
    <add key="TimeoutExceptionMessage" value="Zeo|0.0|This operation could not be completed.|Please try again. If problem persists, contact IT Service Desk at 763-337-6600." />
    <add key="UnhandledExceptionMessage" value="Zeo|0.0|This operation could not be completed.|Please try again. If problem persists, contact IT Service Desk at 763-337-6600." />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Errors/GeneralErrors">
      <error statusCode="500" redirect="~/Errors/404Errors"/>
      <error statusCode="404" redirect="~/Errors/404Errors"/>
    </customErrors>
    <authentication mode="Forms">
      <!-- TODO: replace with page that routes to correct partner login page -->
      <forms loginUrl="~/SSO/Logout"/>
    </authentication>
    <httpRuntime maxRequestLength="32768"/>
    <!-- <compilation debug="true" targetFramework="4.0"/>-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="MvcSiteMapProvider.Web.Html"/>
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.6.1"/>
    <sessionState timeout="30"/>
    <siteMap defaultProvider="MvcSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="MvcSiteMapProvider" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Mvc.Sitemap" securityTrimmingEnabled="true" cacheDuration="5" enableLocalization="true" scanAssembliesForSiteMapNodes="true" includeAssembliesForScan="" excludeAssembliesForScan="" attributesToIgnore="visibility" nodeKeyGenerator="MvcSiteMapProvider.DefaultNodeKeyGenerator, MvcSiteMapProvider" controllerTypeResolver="MvcSiteMapProvider.DefaultControllerTypeResolver, MvcSiteMapProvider" actionMethodParameterResolver="MvcSiteMapProvider.DefaultActionMethodParameterResolver, MvcSiteMapProvider" aclModule="MvcSiteMapProvider.DefaultAclModule, MvcSiteMapProvider" siteMapNodeUrlResolver="MvcSiteMapProvider.DefaultSiteMapNodeUrlResolver, MvcSiteMapProvider" siteMapNodeVisibilityProvider="MvcSiteMapProvider.DefaultSiteMapNodeVisibilityProvider, MvcSiteMapProvider" siteMapProviderEventHandler="MvcSiteMapProvider.DefaultSiteMapProviderEventHandler, MvcSiteMapProvider"/>
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="NexxoTranslator" verb="*" path="*.js.axd" type="TCF.Channel.Zeo.Web.Common.NexxoScriptTranslator,TCF.Channel.Zeo.Web"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- Alloy Bindings -->
        <binding name="BasicHttpBinding_IZeoService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="10485760" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Alloy End Point -->
      <endpoint address="http://localhost:49404/ZeoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZeoService" contract="ZeoService.IZeoService" name="BasicHttpBinding_IZeoService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
