<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PTNRDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_PTNR;User ID=sa;pwd=Opteamix@123" />
    <add name="CXEDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_CXE;User ID=sa;pwd=Opteamix@123" />
    <add name="CXNDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_CXN;User ID=sa;pwd=Opteamix@123" />
    <add name="PCATDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_PCAT;User ID=sa;pwd=Opteamix@123" />
    <add name="ComplianceDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_Compliance;User ID=sa;pwd=Opteamix@123" />
  </connectionStrings>
  <appSettings>
    <!--Receipt server settings-->
    <add key="ReceiptServerURL" value="http://10.111.109.13:8081/" />
    <add key="ReceiptServerDBName" value="Nxo_ReceiptsRepo" />
    <!--Check Processor settings-->
    <add key="BranchUserNamePrefix" value="NX" />
    <add key="BranchPasswordPrefix" value="nx" />
    <add key="EmployeeUserNamePrefix" value="NXe" />
    <add key="EmployeePasswordPrefix" value="nxE" />
    <add key="CheckProcessor" value="Simulator" />
    <!--Funds Encryption/Decryption settings: "Simulator" or "Service"-->
    <add key="DataProtectionService" value="Simulator" />
    <add key="ChexarSessionSeperator" value=":"/>

    <add key="TSysAPIUsername" value="synovustestapi"/>
    <add key="TSysAPIPassword" value="Synovusapi1@"/>
    <add key="AllowDuplicateTrxWU" value="O"/>
    <add key="IsHardCodedCounterId" value="false" />
    <add key="LPMTErrorMessage" value="U3336 - LPMT PROCESS REQUIRED" />
	<add key="ProviderIO" value="IO" />
    <add key="LogPath" value="C:\Logs\" />
    <add key="ReceiptLogoUrl" value="http://10.111.109.11/MSPDeploy/ImageCache/" />
    <add key="CertificateFilePath" value="C:\CheckFree\nexxo.cer" />
    <!-- This should always be empty string. Set it to TRUE only for testing with same account and multiple card activation-->
    <add key="USEPREPDSIM" value=""/>
  </appSettings>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
    </parsers>

    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:db="http://www.springframework.net/database"
       xmlns:tx="http://www.springframework.net/tx"
       xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
      <import resource="assembly://MGI.Cxn.MoneyTransfer.WU.Impl/MGI.Cxn.MoneyTransfer.WU.Impl/WUSpring.xml"/>
    </objects>
  </spring>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IWesternUnionSimulator" closeTimeout="00:03:00"
     openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ReceiveMoneySearch_H2H_SOAP_HTTP_Binding" closeTimeout="00:03:00"
     openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ReceiveMoneyPay_H2H_SOAP_HTTP_Binding" />
    <binding name="SMValidation_H2H_SOAP_HTTP_Binding" />
    <binding name="SendMoneyStore_H2H_MSetSOAP_HTTP_Binding" closeTimeout="00:03:00"
     openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="WUCardLookup_H2H_SOAP_HTTP_Binding2" closeTimeout="00:03:00"
     openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ModifySendMoneySearch_H2H_SOAP_HTTP_Binding" closeTimeout="00:03:00"
     openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ModifySendMoney_H2H_SOAP_HTTP_Binding" closeTimeout="00:03:00"
     openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="DASInquiry_H2H_SOAP_HTTP_Binding" closeTimeout="00:03:00"
     openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="Search_H2H_SOAP_HTTP_Binding" closeTimeout="00:03:00"
     openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="Refund_H2H_SOAP_HTTP_Binding" closeTimeout="00:03:00"
     openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="PayStatus_H2H_SOAP_HTTP_Binding" closeTimeout="00:03:00"
     openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ReceiveMoneyPay_H2H_SOAP_HTTP_Binding1" />
    <binding name="SendMoneyStore_H2H_MSetSOAP_HTTP_Binding1" />

	<binding name="FeeInquiry_H2H_SOAP_HTTP_Binding" closeTimeout="00:03:00"
	openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
	allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
	maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
	textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
	messageEncoding="Text">
		<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
		maxBytesPerRead="4096" maxNameTableCharCount="16384" />
		<security mode="Transport">
			<transport clientCredentialType="Certificate" proxyCredentialType="None"
			realm="" />
			<message clientCredentialType="UserName" algorithmSuite="Default" />
		</security>
	</binding>
	   
	<binding name="WUCardEnrollment_H2H_SOAP_HTTP_Binding" closeTimeout="00:03:00"
	openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
	allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
	maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"			
	textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
	messageEncoding="Text">
		<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
		maxBytesPerRead="4096" maxNameTableCharCount="16384" />
		<security mode="Transport">
			<transport clientCredentialType="Certificate" proxyCredentialType="None"
			realm="" />
			<message clientCredentialType="UserName" algorithmSuite="Default" />
		</security>
	</binding>

	<binding name="CustomerLookupRequest_H2H_SOAP_HTTP_Binding" closeTimeout="00:03:00"
	openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
	allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
	maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
	textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
	messageEncoding="Text">
		   <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
		   maxBytesPerRead="4096" maxNameTableCharCount="16384" />
		   <security mode="Transport">
			   <transport clientCredentialType="Certificate" proxyCredentialType="None"
			   realm="" />
			   <message clientCredentialType="UserName" algorithmSuite="Default" />
		   </security>
	   </binding>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:50814/WesternUnionSimulator.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWesternUnionSimulator"
    contract="WUService.IWesternUnionSimulator" name="BasicHttpBinding_IWesternUnionSimulator" />
   <endpoint address="http://www.westernunion.com/ReceiveMoneySearch_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="ReceiveMoneySearch_H2H_SOAP_HTTP_Binding"
    contract="ReceiveMoneySearch.ReceiveMoneySearchPortType" name="ReceiveMoneySearch" />
   <endpoint address="http://www.westernunion.com/ReceiveMoneyPay_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="ReceiveMoneyPay_H2H_SOAP_HTTP_Binding"
    contract="ReceiveMoneyPay.ReceiveMoneyPayPortType" name="SOAP_HTTP_Port2" />
   <endpoint address="http://wugateway2pi.westernunion.net/SendmoneyValidation_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="SMValidation_H2H_SOAP_HTTP_Binding"
    contract="SendMoneyValidation.SendMoneyValidatePortType" name="SOAP_HTTP_Port4" />
   <endpoint address="https://wugateway2pi.westernunion.net/SendMoneyStore_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="SendMoneyStore_H2H_MSetSOAP_HTTP_Binding"
    contract="SendMoneyStore.SendMoneyStorePortType" name="SOAP_HTTP_Port" />
   <endpoint address="http://www.westernunion.com/WUCardLookup_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="WUCardLookup_H2H_SOAP_HTTP_Binding2"
    contract="WUCardLookupService.WUCardLookupPortType" name="WUCardLookup" />
   <endpoint address="http://www.westernunion.com/ModifySendMoneySearch_H2H_Service"
    binding="basicHttpBinding" bindingConfiguration="ModifySendMoneySearch_H2H_SOAP_HTTP_Binding"
    contract="ModifySendMoneySearch.ModifySendMoneySearchPortType"
    name="ModifySendMoneySearch" />
   <endpoint address="http://www.westernunion.com/ModifySendMoney_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="ModifySendMoney_H2H_SOAP_HTTP_Binding"
    contract="ModifySendMoney.ModifySendMoneyPortType" name="ModifySendMoney" />
   <endpoint address="http://www.westernunion.com/PayStatus_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="PayStatus_H2H_SOAP_HTTP_Binding"
    contract="SendMoneyPayStatus.PayStatusPortType" name="SOAP_HTTP_Port12" />
   <endpoint address="http://www.westernunion.com/DAS_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding"
    contract="DASService.DASInquiryPortType" name="SOAP_HTTP_Port2" />
   <endpoint address="http://www.westernunion.com/Search_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="Search_H2H_SOAP_HTTP_Binding"
    contract="Search.SearchPortType" name="WU_Search" />
   <endpoint address="http://www.westernunion.com/Refund_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="Refund_H2H_SOAP_HTTP_Binding"
    contract="SendMoneyRefund.RefundPortType" name="WU_SendMoneyRefund" />
   <endpoint address="http://www.westernunion.com/ReceiveMoneyPay_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="ReceiveMoneyPay_H2H_SOAP_HTTP_Binding1"
    contract="ReceiveMoneyPayService.ReceiveMoneyPayPortType" name="SOAP_HTTP_Port1" />
   <endpoint address="http://www.westernunion.com/SendMoneyStore_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="SendMoneyStore_H2H_MSetSOAP_HTTP_Binding1"
    contract="SendMoneyStoreService.SendMoneyStorePortType" name="SOAP_HTTP_Port3" />
   <endpoint address="http://www.westernunion.com/SendMoneyStore_Service_H2H/FeeInquiry_Service_H2H"
	binding="basicHttpBinding" bindingConfiguration="FeeInquiry_H2H_SOAP_HTTP_Binding"
	contract="FeeInquiry.FeeInquiryPortType" name="SOAP_HTTP_Port1" />
	<endpoint address="http://www.westernunion.com/DAS_Service_H2H"
	binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding"
    contract="DASService.DASInquiryPortType" name="DASInquiry" />
	<endpoint address="https://wugateway2pi.westernunion.net/PayStatus_Service_H2H"
	binding="basicHttpBinding" bindingConfiguration="PayStatus_H2H_SOAP_HTTP_Binding"
	contract="SendMoneyPayStatus.PayStatusPortType" name="WU_SendMoneyPayStatus" />
	<endpoint address="https://wugateway2pi.westernunion.net/WUCard_Enrollment_Service_H2H"
	binding="basicHttpBinding" bindingConfiguration="WUCardEnrollment_H2H_SOAP_HTTP_Binding"
	contract="WUCardService.WUCardEnrollmentPortType" name="SOAP_HTTP_Port6" />
	<endpoint address="https://wugateway2pi.westernunion.net/CustomerLookup_Service_H2H"
	binding="basicHttpBinding" bindingConfiguration="CustomerLookupRequest_H2H_SOAP_HTTP_Binding"
	contract="WUCustomerLookup.CustomerLookupPortType" name="SOAP_HTTP_Port8" />
  </client>
	</system.serviceModel>
</configuration>
