-- ================================================================================
-- Author:		<Ashok Kumar G>
-- Create date: <11/04/2015>
-- Description:	<Update certificate name in >
-- Jira ID:		<>
-- ================================================================================

update tWUnion_Credential set WUClientCertificateSubjectName = 'WUPartnerIntegration'