<div class="container opt-form">
  <div class="clearfix"></div>
  <div class="opt-card mdl-card mdl-shadow--2dp p-a-lg" style="padding-bottom: 60px !important;">
    <div class="row row-margin">
      <div class="col-sm-8 bottom-margin-col">
        <b>Name:</b>{{_recruiter.FullName}}
      </div>
      <div class="col-sm-8 bottom-margin-col">
        <b>Contact No:</b>{{_recruiter.MobileNo}}
      </div>
      <div class="col-sm-8 bottom-margin-col">
        <b>Email: </b>{{_recruiter.Email}}
      </div>
      <div class="col-sm-8">
        <b>Address: </b>
      </div>
      <div class="col-sm-8 bottom-margin-col">
        <p>&nbsp;&nbsp;37/A-07, Southend Road<br>&nbsp;&nbsp;6th Block, Southend Circle<br>&nbsp;&nbsp;Basavanagudi<br>&nbsp;&nbsp;Bengaluru 560004<br>&nbsp;&nbsp;INDIA<br /></p>
      </div>
      <div class="col-sm-8">
        <b>Location:</b>
      </div>
      <div class="col-sm-8 bottom-margin-col">
        <a href="https://maps.google.com/?saddr=My%20Location&daddr=Opteamix India "><img src="/src/app/images/Map-image-01.jpg" class="img-responsive" /></a>
      </div>
    </div>
  </div>
</div>