<div class="container opt-form">
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="opt-card mdl-card mdl-shadow--2dp m-b-md" style="height: auto; min-height: 10px;">
        <ul class="mdl-list m-a-0 p-a-0 bottom-border" *ngFor="let c of _notifications">
          <li class="mdl-list__item mdl-list__item--two-line" (click)="!(c.Stage.Name === _candNotification.CandidateStatus) || redirect()">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">location_on</i>
                <span>{{c.Stage.Name}}</span>
            <span class="mdl-list__item-sub-title">{{c.Stage.DTCreate | date}}</span>
            </span>
            <span class="mdl-list__item-secondary-content">
                <a class="mdl-list__item-secondary-action mdl-color-text--red-400" href="#"><i class="material-icons">star</i></a>
                </span>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

