<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsdlNexxoPolicy">
                    <security mode="Transport" />
                </binding>
                <binding name="wsdlNexxoPolicy1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy"
                binding="basicHttpBinding" bindingConfiguration="wsdlNexxoPolicy"
                contract="FISService.wsdlNexxoPolicy" name="wsdlNexxoPolicy" />
        </client>
    </system.serviceModel>
 </configuration>