<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnection" connectionString="Data Source=OPT-LAP-0102;Initial Catalog=DEV_CXN;User ID=sa;pwd=Opti@123"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
