<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Spring Configuration Settings to support logging of the application -->

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="ZeoConnectionString" connectionString="Data Source=localhost;Initial Catalog=Develop_PTNR;User ID=sa;pwd=MoneyGram1" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- Log file path -->
    <add key="LogPath" value="C:\Logs\Zeo\" />

    <!--Check Processor settings-->
    <add key="BranchUserNamePrefix" value="NX" />
    <add key="BranchPasswordPrefix" value="nx" />
    <add key="EmployeeUserNamePrefix" value="NXe" />
    <add key="EmployeePasswordPrefix" value="nxE" />
    <add key="ChexarSessionSeperator" value="-" />
    <add key="GetPendingStatusFromProcessor" value="true" />
    <add key="AllowDuplicateTrxWU" value="O" />
    <add key="IsHardCodedCounterId" value="false" />
    <!--Funds Encryption/Decryption settings: "Simulator" or "Service"-->
    <add key="DataProtectionService" value="Simulator" />
    <add key="VoltageUrl" value="https://proxy.ic.local/tcf_voltage/vibesimple/services/VibeSimpleSOAP" />
    <add key="Format" value="alloy4x4" />
    <add key="Identity" value="token@alloy" />
    <add key="Authinfo" value="voltage123" />
    <add key="AllowDuplicateMoneyOrder" value="true" />
    <add key="LPMTErrorMessage" value="U3336 - LPMT PROCESS REQUIRED" />
    <!--ProviderIO settings: "Simulator" or "IO"-->
    <!-- Starts Here -->
    <add key="FundsProcessor" value="IO" />
    <add key="TCFProcessor" value="IO" />
    <add key="BillPayProcessor" value="IO" />
    <add key="MTProcessor" value="IO" />
    <add key="CheckProcessor" value="Simulator" />
    <!-- Ends Here -->
    <add key="IsRealPAN" value="false" />
    <add key="PANNumber" value ="100000000000000" />
    <add key="LogVoltage" value ="false" />
    <add key ="RCIFErrorMessages" value ="Retail Customer already exists.:1111"/>
  </appSettings>

  <!-- Spring Configuration Settings to support logging of the application -->

  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <parsers>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
    </parsers>
    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.net/tx" xmlns:db="http://www.springframework.net/database" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
      <import resource="assembly://TCF.Channel.Zeo.Service.Svc/TCF.Channel.Zeo.Service.Svc/ZeoService.xml" />
    </objects>
  </spring>

  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="TCF.Channel.Zeo.Service.Svc.TraceExtension,TCF.Channel.Zeo.Service.Svc" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="traceBehavior">
          <traceOutputBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="TCF.Channel.Zeo.Service.Svc.ZeoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZeoService" bindingNamespace="http://www.nexxo.com/DesktopWSImpl" contract="TCF.Channel.Zeo.Service.Contract.IZeoService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingNamespace="http://www.nexxo.com/DesktopWSImpl" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IZeoService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="5242880" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="wsdlNexxoPolicy" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <!-- DO NOT OVERWRITE THIS DURING MERGE -->
          <!--<security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>-->
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
          <!-- DO NOT OVERWRITE THIS DURING MERGE -->        
        </binding>
        <binding name="ISO8583WebSvcSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IWesternUnionSimulator" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="cardService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="transactionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="userService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="feeService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="accountService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="prepaidLoadService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WUCardEnrollment_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FeeInquiry_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DASInquiry_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SendMoneyStore_H2H_MSetSOAP_HTTP_Binding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SMValidation_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ReceiveMoneySearch_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ReceiveMoneyPay_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="MakePaymentValidate_H2H_SOAP_HTTP_Binding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="MakePaymentStore_H2H_SOAP_HTTP_Binding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FusionGoShopping_H2H_SOAP_HTTP_Binding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WUCardLookup_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CustomerLookupRequest_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ModifySendMoneySearch_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ModifySendMoney_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PayStatus_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Refund_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Search_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AgentConnectBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="104857600" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PCAPortBinding" messageEncoding="Mtom" sendTimeout="00:2:00">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="PrepaidServices" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
        </binding>
      </basicHttpBinding>
    </bindings>

    <extensions>
      <behaviorExtensions>
        <add name="traceOutputBehavior" type="TCF.Zeo.Common.Behaviour.TraceOutputBehaviorExtensionElement, TCF.Zeo.Common" />
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/synovus/wsdlNexxoPolicy" binding="basicHttpBinding" bindingConfiguration="wsdlNexxoPolicy" contract="FISService.wsdlNexxoPolicy" name="wsdlNexxoPolicy" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/tcf/mb/ZeoCustomerService" binding="basicHttpBinding" bindingConfiguration="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" contract="RCIFService.ZeoCustomerService_MsgSetPortType" name="ZeoCustomer_Port" />
      <endpoint behaviorConfiguration="traceBehavior" address="http://192.168.204.215/ISO8583WebSvc/iso8583websvc.asmx" binding="basicHttpBinding" bindingConfiguration="ISO8583WebSvcSoap" contract="ISOWebSvc.ISO8583WebSvcSoap" name="ISO8583WebSvcSoap" />
      <endpoint behaviorConfiguration="traceBehavior" address="http://172.18.100.222/Nexxo.Core.MoneyTransfer.Processor.WesternUnionSimSvc.1.0.1/WesternUnionSimulator.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWesternUnionSimulator" contract="WUService.IWesternUnionSimulator" name="BasicHttpBinding_IWesternUnionSimulator" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/tsys/api/card" binding="basicHttpBinding" bindingConfiguration="cardService" contract="TSysCardSvc.cardService" name="cardService" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/tsys/api/transaction" binding="basicHttpBinding" bindingConfiguration="transactionService" contract="TSysTransactionSvc.transactionService" name="transactionService" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/tsys/api/fee" binding="basicHttpBinding" bindingConfiguration="feeService" contract="TSysFeeSvc.feeService" name="feeService" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/tsys/api/account" binding="basicHttpBinding" bindingConfiguration="accountService" contract="TSysAccountSvc.accountService" name="accountService" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/tsys/api/user" binding="basicHttpBinding" bindingConfiguration="userService" contract="TSysUserSvc.userService" name="userService" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/tsys/api/prepaidLoad" binding="basicHttpBinding" bindingConfiguration="prepaidLoadService" contract="TSysPrepaidLoadSvc.prepaidLoadService" name="prepaidLoadService" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/FeeInquiry_Service_H2H" binding="basicHttpBinding" bindingConfiguration="FeeInquiry_H2H_SOAP_HTTP_Binding" contract="FeeInquiry.FeeInquiryPortType" name="SOAP_HTTP_Port1" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/WUCard_Enrollment_Service_H2H" binding="basicHttpBinding" bindingConfiguration="WUCardEnrollment_H2H_SOAP_HTTP_Binding" contract="WUCardEnrollmentService.WUCardEnrollmentPortType" name="SOAP_HTTP_Port6" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/DAS_Service_H2H" binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding" contract="DASService.DASInquiryPortType" name="SOAP_HTTP_Port2" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/SendMoneyStore_Service_H2H" binding="basicHttpBinding" bindingConfiguration="SendMoneyStore_H2H_MSetSOAP_HTTP_Binding" contract="SendMoneyStore.SendMoneyStorePortType" name="SOAP_HTTP_Port" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/SendmoneyValidation_Service_H2H" binding="basicHttpBinding" bindingConfiguration="SMValidation_H2H_SOAP_HTTP_Binding" contract="SendMoneyValidation.SendMoneyValidatePortType" name="SOAP_HTTP_Port4" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/ReceiveMoneySearch_Service_H2H" binding="basicHttpBinding" bindingConfiguration="ReceiveMoneySearch_H2H_SOAP_HTTP_Binding" contract="ReceiveMoneySearch.ReceiveMoneySearchPortType" name="ReceiveMoneySearch" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/DAS_Service_H2H" binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding" contract="DASService.DASInquiryPortType" name="DASInquiry" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/ReceiveMoneyPay_Service_H2H" binding="basicHttpBinding" bindingConfiguration="ReceiveMoneyPay_H2H_SOAP_HTTP_Binding" contract="ReceiveMoneyPay.ReceiveMoneyPayPortType" name="ReceiveMoneyPay" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/MakePaymentValidate_Service_H2H" binding="basicHttpBinding" bindingConfiguration="MakePaymentValidate_H2H_SOAP_HTTP_Binding" contract="MakePaymentValidate.MakePaymentValidate_Service_PortType" name="WUValidate" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/MakePaymentStore_Service_H2H" binding="basicHttpBinding" bindingConfiguration="MakePaymentStore_H2H_SOAP_HTTP_Binding" contract="MakePaymentStore.MakePaymentStore_Service_PortType" name="WUPayment" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/FusionGoShopping_Service_H2H" binding="basicHttpBinding" bindingConfiguration="FusionGoShopping_H2H_SOAP_HTTP_Binding" contract="FusionGoShopping.FusionGoShopping_Service_PortType" name="FusionGo" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/WUCardLookup_Service_H2H" binding="basicHttpBinding" bindingConfiguration="WUCardLookup_H2H_SOAP_HTTP_Binding" contract="WUCardLookupService.WUCardLookupPortType" name="WUCardLookup" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/CustomerLookup_Service_H2H" binding="basicHttpBinding" bindingConfiguration="CustomerLookupRequest_H2H_SOAP_HTTP_Binding" contract="WUCustomerLookupService.CustomerLookupPortType" name="SOAP_HTTP_Port8" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/ModifySendMoneySearch_H2H_Service" binding="basicHttpBinding" bindingConfiguration="ModifySendMoneySearch_H2H_SOAP_HTTP_Binding" contract="ModifySendMoneySearch.ModifySendMoneySearchPortType" name="ModifySendMoneySearch" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/ModifySendMoney_Service_H2H" binding="basicHttpBinding" bindingConfiguration="ModifySendMoney_H2H_SOAP_HTTP_Binding" contract="ModifySendMoney.ModifySendMoneyPortType" name="ModifySendMoney" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/PayStatus_Service_H2H" binding="basicHttpBinding" bindingConfiguration="PayStatus_H2H_SOAP_HTTP_Binding" contract="SendMoneyPayStatus.PayStatusPortType" name="WU_SendMoneyPayStatus" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/Search_Service_H2H" binding="basicHttpBinding" bindingConfiguration="Search_H2H_SOAP_HTTP_Binding" contract="Search.SearchPortType" name="WU_Search" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/wu/Refund_Service_H2H" binding="basicHttpBinding" bindingConfiguration="Refund_H2H_SOAP_HTTP_Binding" contract="SendMoneyRefund.RefundPortType" name="WU_SendMoneyRefund" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://extws.moneygram.com/extws/services/AgentConnect1305" binding="basicHttpBinding" bindingConfiguration="AgentConnectBinding" contract="AgentConnectService.AgentConnect" name="AgentConnect" />
      <endpoint behaviorConfiguration="traceBehavior" address="https://proxy.ic.local/visa/PrepaidServices/PrepaidServices.svc" binding="basicHttpBinding" bindingConfiguration="PrepaidServices" contract="Prepaid.IPrepaidServices" name="VisaPrepaidServices" />
    </client>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.45000" newVersion="2.0.1.45000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.45000" newVersion="2.0.1.45000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Data" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.45000" newVersion="2.0.1.45000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>



