<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>
	<appSettings>
    <add key="BillerImportPartnerIDs"  value="28,33,34"/>
	<add key="ChannelPartnerID"  value="28"/>
	<add key="ProviderID"  value="401"/>
	<add key="LogPath"  value="C:\logs"/>
	<add key="CXNDatabase" value="AO_PTNR" />
	<add key="WUServiceURL"  value=""  />
    <add key="IsHardCodedCounterId" value="true" />
    <add key="ProviderIO" value="IO" />
    <add key="MongoDbDatabaseName" value="TlogsDb" />
    <add key="CollectionName" value="testlogs"/>
    <add key="MongoDbConnectionString" value="mongodb://localhost:27017/{DB_NAME}?safe=true" />
	<add key="IsTransactionLogRequired" value="false"/>

  </appSettings>
	<connectionStrings>
		<add name="PTNRDBConnection" connectionString="Data Source=localhost;Initial Catalog=AO_PTNR;Integrated Security=False; User Id=sa; Password=MoneyGram1" providerName="System.Data.SqlClient" />
		<add name="CXNDBConnection" connectionString="Data Source=localhost;Initial Catalog=AO_PTNR;User ID=sa;pwd=MoneyGram1" />
	</connectionStrings>
	<spring>
		<context>
			<resource uri="config://spring/objects" />
		</context>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
		</parsers>		
		<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.net/tx" xmlns:db="http://www.springframework.net/database" xsi:schemaLocation="http://www.springframework.net          http://www.springframework.net/xsd/spring-objects.xsd">
			<import resource="assembly://MGI.Providers.WU.DASMonitor/MGI.Providers.WU.DASMonitor/WUSpring.xml" />
			<object id="transactionManager" type="Spring.Data.Core.TxScopeTransactionManager, Spring.Data"  >
				<property name="TransactionSynchronization" value="Always" />				
			</object>
			<tx:attribute-driven transaction-manager="transactionManager" />			
			<object id="westernUnionIO" type="MGI.Providers.WU.DASMonitor.WesternUnionIO, MGI.Providers.WU.DASMonitor">
				<property name="WUCountryRepo" ref="WUCountryRepo" />
				<property name="WUStateRepo" ref="WUStateRepo"/>
				<property name="WUBillersRepo" ref="WUBillersRepo"/>
				<property name="WUCountryCurrencyRepo" ref="WUCountryCurrencyRepo"/>
				<property name="WUErrorMessagesRepo" ref="WUErrorMessagesRepo"/>
				<property name="WUCitiesRepo" ref="WUCitiesRepo"/>
				<property name="WUCredentialRepo" ref="WUCredentialRepo"/>
				<property name="WUDeliveryServiceRepo" ref="WUDeliveryServiceRepo"/>
				<property name="WUContryTranslationRepo" ref="WUContryTranslationRepo"/>
			</object>			
		</objects>
	</spring>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="DASInquiry_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="HeartBeatSOAP_HTTP_Binding" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="https://wugateway2pi.westernunion.net/DAS_Service_H2H"
    binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding"
    contract="WUService.DASInquiryPortType" name="SOAP_HTTP_Port" />
   <endpoint address="https://wugateway2pi.westernunion.net/HeartBeat" binding="basicHttpBinding"
    bindingConfiguration="HeartBeatSOAP_HTTP_Binding" contract="HeartBeatService.HeartBeatPortType"
    name="HeartBeat_SOAP_HTTP_Port" />
  </client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>	
</configuration>
