<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <databaseSettings>
   <!--<add key="CXEDataSource" value="localhost\SQLEXPRESS;Integrated Security=false" />
		<add key="CXEUser" value="sa" />
		<add key="CXEPassword" value="test123" />
		
		<add key="CXEDatabase" value="Mitra_CXE" />
		--><!--Connection Database--><!--
		<add key="CXNDataSource" value="localhost\SQLEXPRESS;Integrated Security=false" />
		<add key="CXNUser" value="sa" />
		<add key="CXNPassword" value="test123" />
		<add key="CXNDatabase" value="Mitra_CXN" />
		--><!--Catalog Database--><!--
		<add key="CatalogDataSource" value="localhost\SQLEXPRESS;Integrated Security=false" />
		<add key="CatalogUser" value="sa" />
		<add key="CatalogPassword" value="test123" />
		<add key="CatalogDatabase" value="Mitra_PCAT" />
		--><!--CorePartner Database--><!--
		<add key="PartnerDataSource" value="localhost\SQLEXPRESS;Integrated Security=false" />
		<add key="PartnerDbUser" value="sa" />
		<add key="PartnerDbPassword" value="test123" />
		<add key="PartnerDatabase" value="Mitra_PTNR" />
		--><!--Compliance Database--><!--
		<add key="ComplianceDataSource" value="localhost\SQLEXPRESS;Integrated Security=false" />
		<add key="ComplianceDbUser" value="sa" />
		<add key="ComplianceDbPassword" value="test123" />
		<add key="ComplianceDatabase" value="Mitra_COMPLIANCE" />
		--><!--Bridger Database--><!--
		<add key="BridgerOFACDataSource" value="10.111.109.20\MDOWD;Integrated Security=false" />
		<add key="BridgerOFACDbUser" value="sa" />
		<add key="BridgerOFACDbPassword" value="BIGtrouble2" />
		<add key="BridgerOFACDatabase" value="BridgerTest" />
		--><!--Nexxo3 Database--><!--
		<add key="Nexxo3DataSource" value="10.111.109.20\MDOWD;Integrated Security=false" />
		<add key="Nexxo3DbUser" value="sa" />
		<add key="Nexxo3DbPassword" value="BIGtrouble2" />
		<add key="Nexxo3Database" value="BridgerTest" />-->
    <!--Bridger Path settings-->
    <add key="BridgerBasePath" value="C:\BridgerQ408" />
    <add key="BridgerBatchFolder" value="\Batches" />
    <add key="BridgerCLPath" value="\BridgerInsight\TestOFACCommandLine.exe" />
    <add key="OFACAlertRecipientAddress" value="mzaman@nexxofinancial.com" />
    <add key="DataProtectionService" value="Simulator" />
    <add key="CardNumberLogging" value="true" />
    <add key="EnvironmentIndicator" value="D" />
    <add key="TSysAPIUsername" value="synovustestapi" />
    <add key="TSysAPIPassword" value="Synovusapi1@" />
		<add key="AllowDuplicateMoneyOrder" value="true" />
    <add key="IsHardCodedCounterId" value="false" />
    <add key="AllowDuplicateTrxWU" value="O" />
    <add key="LPMTErrorMessage" value="U3336 - LPMT PROCESS REQUIRED" />
    <add key="ReceiptServerBucketName" value="TCF" />    
    <add key="BridgerCLPath" value="\BridgerInsight\TestOFACCommandLine.exe" />
    <add key="OFACAlertRecipientAddress" value="mzaman@nexxofinancial.com" />
    <!--Receipt server settings-->
    <add key="ReceiptServerURL" value="" />
			<!--http://10.111.109.13:8081/-->
    <add key="ReceiptServerDBName" value="Nxo_ReceiptsRepo" />
    <!--Check Processor settings-->
    <add key="BranchUserNamePrefix" value="NX" />
    <add key="BranchPasswordPrefix" value="nx" />
    <add key="EmployeeUserNamePrefix" value="NXe" />
    <add key="EmployeePasswordPrefix" value="nxE" />
    <add key="CheckProcessor" value="Simulator" />
    <add key="ChexarSessionSeperator" value="-" />
    <add key="GetPendingStatusFromProcessor" value="true" />
    <add key="EventsQueue" value=".\Private$\DMSEvents" />
  </databaseSettings>
  <appSettings>
    <add key="LogPath" value="C:\Logs\" />
    <add key="ReceiptLogoUrl" value="" />
			<!--http://172.18.100.222/MSPDeploy/-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	  <!--Mongo Database-->
	  <add key="MongoDbDatabaseName" value="TlogsDb"/>
	  <add key="CollectionName" value="testLogs"/>
	  <add key="MongoDbConnectionString" value="mongodb://localhost:27017/{DB_NAME}?safe=true"/>
  </appSettings>
  <!-- Neeraj's spring config -->
		<spring>
			<context>
				<resource uri="config://spring/objects" />
			</context>
			<parsers>
				<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
				<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
				<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
			</parsers>

			<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:db="http://www.springframework.net/database" xmlns:tx="http://www.springframework.net/tx" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
			</objects>
		</spring>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.0" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment --><!--
          <serviceMetadata httpGetEnabled="true" />
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="MGI.Channel.DMS.Server.Svc.DesktopWSImpl">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesktopService" bindingNamespace="http://localhost:51942/DesktopWSImpl.svc" contract="MGI.Channel.DMS.Server.Contract.IDesktopService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingNamespace="http://localhost:51942/DesktopWSImpl.svc" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        --><!--<binding name="BasicAuthSecurity">
          <security mode="None">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>--><!--
        <binding name="BasicHttpBinding_IDesktopService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="10485760" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="10485760" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ISO8583WebSvcSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      <binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />				
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
    </bindings>
    <client>

      <endpoint address="http://localhost:51942/DesktopWSImpl.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesktopService" contract="DMSService.IDesktopService" name="BasicHttpBinding_IDesktopService" />


      <endpoint address="http://192.168.204.215/ISO8583WebSvc/iso8583websvc.asmx" binding="basicHttpBinding" bindingConfiguration="ISO8583WebSvcSoap" contract="ISOWebSvc.ISO8583WebSvcSoap" name="ISO8583WebSvcSoap" />
    
    <endpoint address="https://10.111.109.3/TCF/mb/ZeoCustomerService" binding="basicHttpBinding" bindingConfiguration="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" contract="RCIFService.ZeoCustomerService_MsgSetPortType" name="ZeoCustomer_Port" />
    </client>
  </system.serviceModel>-->
  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>-->
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      --><!--<dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>--><!--
      --><!--<dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.40000" newVersion="2.0.1.40000" />
      </dependentAssembly>--><!--
    </assemblyBinding>
  </runtime>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>