.mdl-layout__header{
	background-color:rgb(244,67,54) !important;
}
a {
	text-decoration: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.offer-btn-center{
		margin-left: 20%;
	}
}

@media only screen and (min-width : 321px) {

}

@media only screen and (max-width : 320px) {
	.offer-btn-center{
		margin-left: 13%;
	}
}

@media only screen and (min-width : 480px) {
/* Smartphones (landscape) ----------- */
	.offer-btn-center{
		margin-left: 18%;
	}
}

@media only screen and (min-width : 640px) {
	.offer-btn-center{
		margin-left: 25%;
	}
}

@media only screen and (max-width : 768px) {

}

@media only screen and (min-width : 768px) {
	.offer-btn-center{
		margin-left: 38%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* iPads (portrait and landscape) ----------- */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* iPads (landscape) ----------- */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* iPads (portrait) ----------- */

}

@media only screen and (min-width : 1024px) and ( min-height: 600px ) {
/* Smartphones (landscape) ----------- */

}
@media only screen and (min-width : 1024px) and ( min-height: 768px ) {
/* Smartphones (landscape) ----------- */

}
@media only screen and (min-width : 1280px) and ( min-height: 800px ) {
/* Smartphones (landscape) ----------- */

}
@media only screen and (min-width : 1366px) and ( min-height: 768px ) {
/* Smartphones (landscape) ----------- */

}
@media only screen and (min-width : 1600px) and ( min-height: 900px ) {
/* Smartphones (landscape) ----------- */

}
@media only screen and (min-width : 1920px) and ( min-height: 1080px ) {
/* Smartphones (landscape) ----------- */

}

@media only screen and (min-width : 1200px) {
/* Desktops and laptops ----------- */
	.offer-btn-center{
		margin-left: 30%;
	}
}

@media only screen and (min-width : 1700px) {
/* Large screens ----------- */

}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* iPhone 4 ----------- */

}