<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
            Opteamix
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
    </div>
  </div>
  <div class="container opt-form">
    <div class="clearfix"></div>
    <div class="opt-card mdl-card mdl-shadow--2dp p-a-lg" style="padding: 1% 5% 5% 5%;">
      <h2 class="m-t mdl-color-text--red-400"><strong>Greetings!</strong></h2>
      <h4 class="m-t mdl-color-text--red-400">You have been shortlisted!</h4>
      <p class="lead">We are pleased to inform you that you have been short listed as <b>{{_candDetails.PositionName}}</b> position for one
        of our projects and are among the potential candidtes to continue with further course.</p>
      <p class="lead"><b>Position:</b> {{_candDetails.PositionName}}</p>
      <p class="lead"><b>Job Description:</b> {{_candDetails.JobDescription}} </p>
      <div class="clearfix"></div>
      <!-- Accent-colored raised button -->
      <div class="offer-btn-center">
        <button class="mdl-button mdl-js-button mdl-color-text--white mdl-color--green-300" (click)="acceptConformation()">Accept</button>&nbsp;&nbsp;&nbsp;
        <a class="mdl-button mdl-js-button mdl-color-text--white m-l-lg mdl-color--red-300" (click)="showPopUp()"> Decline </a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="_isLoading" class="loading">Loading&#8230;</div>
