<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AgentConnectBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AgentConnectBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://extws.moneygram.com/extws/services/AgentConnect1305"
                binding="basicHttpBinding" bindingConfiguration="AgentConnectBinding"
                contract="AgentConnectService.AgentConnect" name="AgentConnect" />
        </client>
    </system.serviceModel>
</configuration>