@model MGI.Channel.DMS.Web.Models.CashACheck
@{
	ViewBag.Title = MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CashaCheck;
}

<link href="@Url.Content("~/Content/css/Common/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/ShoppingCart/CheckOutSuccess.js")" type="text/javascript"></script>

@using (Html.BeginForm("CheckScan", "CertegyProcecssCheck"))
{
	<div>
		<ul class="page_head product_head">
			<li>Verify Check Information</li>
		</ul>
	</div>
	<div class="cash_check_desc_wrap">
		<div>
			<ul>
				<li class="verify_check">Date on the check is today or earlier </li>
				<li class="verify_check">Front of the check was signed</li>
				<li class="verify_check">The amount in words to match the numeric amount written on the check</li>
				<li class="verify_check">Check is correctly endorsed on back</li>
				<li class="verify_check">Not an altered check</li>
				<li class="verify_check">Not a money order issued within 48 hours</li>
				<li class="verify_check">Not a credit card check</li>
				<li class="verify_check">Not a starter check</li>
				<li class="verify_check">Maker and payee have different names and different addresses</li>
			</ul>
		</div>
	</div>
	<div class="profile_btn_wrap cash_check_btn_wrap ">
		<ul>
			<li>@Html.ActionLink("Cancel", "ProductInformation", "Product", null, new { @class = "anc_link_btn ", style = "background-color:#ad2525" })</li>
			<li>@Html.ActionLink("Confirm", "CheckScan", "CertegyProcessCheck", null, new { @class = "anc_link_btn " })</li>
		</ul>
	</div>
}
