
@model MGI.Channel.DMS.Web.Models.BaseModel 
@{
    ViewBag.Title = "ComingSoon";
    Layout = "~/Views/Shared/_Menu.cshtml";
     
}
@using (Html.BeginForm())
{   
    if (Model.channelPartner.IsMGIAlloyLogoEnable)
    { 
    <div class="coming_soon_img"><img src="~/Content/images/MGiAlloylogo.png" /></div> 
    }
    <br /><br />
    <div class="txt_center"><p><strong class="coming_soon_txt">@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ComingSoonText</strong></p></div>     
}




