<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>
  <connectionStrings>
    <add name="PTNRDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_PTNR;User ID=sa;pwd=Opteamix@123" />
  </connectionStrings>
	<appSettings>
		<add key="IsHardCodedCounterId" value="false" />
		<add key="AllowDuplicateTrxWU" value="O" />
		<add key="LPMTErrorMessage" value="U3336 - LPMT PROCESS REQUIRED" />
		<add key="DataProtectionService" value="Simulator" />
	</appSettings>

	<spring>
		<context>
			<resource uri="config://spring/objects" />
		</context>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
		</parsers>

		<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		   xmlns:db="http://www.springframework.net/database"
		   xmlns:tx="http://www.springframework.net/tx"
		   xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
		</objects>
	</spring>


	<!--<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IWesternUnionSimulator" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="FeeInquiry_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:49711/WesternUnionSimulator.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWesternUnionSimulator" contract="WUService.IWesternUnionSimulator" name="BasicHttpBinding_IWesternUnionSimulator" />
			<endpoint address="https://wugateway2pi.westernunion.net/FeeInquiry_Service_H2H" binding="basicHttpBinding" bindingConfiguration="FeeInquiry_H2H_SOAP_HTTP_Binding" contract="FeeInquiry.FeeInquiryPortType" name="SOAP_HTTP_Port1" />
			--><!--<endpoint address="https://wugateway2pi.westernunion.net/FeeInquiry_Service_H2H" binding="basicHttpBinding" bindingConfiguration="FeeInquiry_H2H_SOAP_HTTP_Binding" contract="FeeInquiry.FeeInquiryPortType" behaviorConfiguration="traceBehavior" name="SOAP_HTTP_Port1" />--><!--
		</client>
	</system.serviceModel>-->
	
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="traceBehavior">
					<traceOutputBehavior />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<services>
			<service name="MGI.Channel.DMS.Server.Svc.DesktopWSImpl">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesktopService" bindingNamespace="http://www.nexxo.com/DesktopWSImpl" contract="MGI.Channel.DMS.Server.Contract.IDesktopService" />
				<endpoint address="mex" binding="mexHttpBinding" bindingNamespace="http://www.nexxo.com/DesktopWSImpl" contract="IMetadataExchange" />
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<!--<binding name="BasicAuthSecurity">
          <security mode="None">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>-->
				<binding name="BasicHttpBinding_IDesktopService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="5242880" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ISO8583WebSvcSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IWesternUnionSimulator" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="cardService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="transactionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="userService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="feeService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="accountService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="prepaidLoadService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="wsdlNexxoPolicy" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WUCardEnrollment_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="FeeInquiry_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="DASInquiry_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="SendMoneyStore_H2H_MSetSOAP_HTTP_Binding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="SMValidation_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ReceiveMoneySearch_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ReceiveMoneyPay_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="MakePaymentValidate_H2H_SOAP_HTTP_Binding">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="MakePaymentStore_H2H_SOAP_HTTP_Binding">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="FusionGoShopping_H2H_SOAP_HTTP_Binding">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WUCardLookup_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="CustomerLookupRequest_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ModifySendMoneySearch_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>

				<binding name="ModifySendMoney_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>

				<binding name="PayStatus_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>

				<binding name="Refund_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="Search_H2H_SOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="AgentConnectBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="104857600" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="PrepaidServices" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
				</binding>
				<binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<extensions>
			<behaviorExtensions>
				<add name="traceOutputBehavior" type="MGI.Common.Util.TraceOutputBehaviorExtensionElement, MGI.Common" />
			</behaviorExtensions>
		</extensions>
		<client>
			<endpoint address="http://192.168.204.215/ISO8583WebSvc/iso8583websvc.asmx" binding="basicHttpBinding" bindingConfiguration="ISO8583WebSvcSoap" contract="ISOWebSvc.ISO8583WebSvcSoap" name="ISO8583WebSvcSoap" />
			<endpoint address="http://172.18.100.222/Nexxo.Core.MoneyTransfer.Processor.WesternUnionSimSvc.1.0.1/WesternUnionSimulator.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWesternUnionSimulator" contract="WUService.IWesternUnionSimulator" name="BasicHttpBinding_IWesternUnionSimulator" />
			<endpoint address="https://uat-api-4.tsysprepaid.com/api/card" binding="basicHttpBinding" bindingConfiguration="cardService" contract="TSysCardSvc.cardService" name="cardService" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://uat-api-4.tsysprepaid.com/api/transaction" binding="basicHttpBinding" bindingConfiguration="transactionService" contract="TSysTransactionSvc.transactionService" name="transactionService" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://uat-api-4.tsysprepaid.com/api/fee" binding="basicHttpBinding" bindingConfiguration="feeService" contract="TSysFeeSvc.feeService" name="feeService" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://uat-api-4.tsysprepaid.com/api/account" binding="basicHttpBinding" bindingConfiguration="accountService" contract="TSysAccountSvc.accountService" name="accountService" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://uat-api-4.tsysprepaid.com/api/user" binding="basicHttpBinding" bindingConfiguration="userService" contract="TSysUserSvc.userService" name="userService" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://uat-api-4.tsysprepaid.com/api/prepaidLoad" binding="basicHttpBinding" bindingConfiguration="prepaidLoadService" contract="TSysPrepaidLoadSvc.prepaidLoadService" name="prepaidLoadService" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy" binding="basicHttpBinding" bindingConfiguration="wsdlNexxoPolicy" contract="FISService.wsdlNexxoPolicy" name="wsdlNexxoPolicy" />
			<endpoint address="https://wugateway2pi.westernunion.net/FeeInquiry_Service_H2H" binding="basicHttpBinding" bindingConfiguration="FeeInquiry_H2H_SOAP_HTTP_Binding" contract="FeeInquiry.FeeInquiryPortType" behaviorConfiguration="traceBehavior" name="SOAP_HTTP_Port1" />
			<endpoint address="https://wugateway2pi.westernunion.net/WUCard_Enrollment_Service_H2H" binding="basicHttpBinding" bindingConfiguration="WUCardEnrollment_H2H_SOAP_HTTP_Binding" contract="WUCardService.WUCardEnrollmentPortType" name="SOAP_HTTP_Port6" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/DAS_Service_H2H" binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding" contract="DASService.DASInquiryPortType" name="SOAP_HTTP_Port2" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/SendMoneyStore_Service_H2H" binding="basicHttpBinding" bindingConfiguration="SendMoneyStore_H2H_MSetSOAP_HTTP_Binding" contract="SendMoneyStore.SendMoneyStorePortType" name="SOAP_HTTP_Port" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/SendmoneyValidation_Service_H2H" binding="basicHttpBinding" bindingConfiguration="SMValidation_H2H_SOAP_HTTP_Binding" contract="SendMoneyValidation.SendMoneyValidatePortType" name="SOAP_HTTP_Port4" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/ReceiveMoneySearch_Service_H2H" binding="basicHttpBinding" bindingConfiguration="ReceiveMoneySearch_H2H_SOAP_HTTP_Binding" contract="ReceiveMoneySearch.ReceiveMoneySearchPortType" name="ReceiveMoneySearch" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/DAS_Service_H2H" binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding" contract="DASService.DASInquiryPortType" name="DASInquiry" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/ReceiveMoneyPay_Service_H2H" binding="basicHttpBinding" bindingConfiguration="ReceiveMoneyPay_H2H_SOAP_HTTP_Binding" contract="ReceiveMoneyPay.ReceiveMoneyPayPortType" name="ReceiveMoneyPay" behaviorConfiguration="traceBehavior" />
			<endpoint address="http://localhost:7081/MakePaymentValidate_Service_H2H" binding="basicHttpBinding" bindingConfiguration="MakePaymentValidate_H2H_SOAP_HTTP_Binding" contract="PaymentValidate.MakePaymentValidate_Service_PortType" name="WUValidate" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/MakePaymentStore_Service_H2H" binding="basicHttpBinding" bindingConfiguration="MakePaymentStore_H2H_SOAP_HTTP_Binding" contract="MakePayment.MakePaymentStore_Service_PortType" name="WUPayment" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/FusionGoShopping_Service_H2H" binding="basicHttpBinding" bindingConfiguration="FusionGoShopping_H2H_SOAP_HTTP_Binding" contract="FusionGoShopping.FusionGoShopping_Service_PortType" name="FusionGo" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/WUCardLookup_Service_H2H" binding="basicHttpBinding" bindingConfiguration="WUCardLookup_H2H_SOAP_HTTP_Binding" contract="WUCardLookupService.WUCardLookupPortType" name="WUCardLookup" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/CustomerLookup_Service_H2H" binding="basicHttpBinding" bindingConfiguration="CustomerLookupRequest_H2H_SOAP_HTTP_Binding" contract="WUCustomerLookup.CustomerLookupPortType" name="SOAP_HTTP_Port8" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/ModifySendMoneySearch_H2H_Service" binding="basicHttpBinding" bindingConfiguration="ModifySendMoneySearch_H2H_SOAP_HTTP_Binding" contract="ModifySendMoneySearch.ModifySendMoneySearchPortType" name="ModifySendMoneySearch" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/ModifySendMoney_Service_H2H" binding="basicHttpBinding" bindingConfiguration="ModifySendMoney_H2H_SOAP_HTTP_Binding" contract="ModifySendMoney.ModifySendMoneyPortType" name="ModifySendMoney" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/PayStatus_Service_H2H" binding="basicHttpBinding" bindingConfiguration="PayStatus_H2H_SOAP_HTTP_Binding" contract="SendMoneyPayStatus.PayStatusPortType" name="WU_SendMoneyPayStatus" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/Search_Service_H2H" binding="basicHttpBinding" bindingConfiguration="Search_H2H_SOAP_HTTP_Binding" contract="Search.SearchPortType" name="WU_Search" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://wugateway2pi.westernunion.net/Refund_Service_H2H" binding="basicHttpBinding" bindingConfiguration="Refund_H2H_SOAP_HTTP_Binding" contract="SendMoneyRefund.RefundPortType" name="WU_SendMoneyRefund" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://extws.moneygram.com/extws/services/AgentConnect1305" binding="basicHttpBinding" bindingConfiguration="AgentConnectBinding" contract="AgentConnectService.AgentConnect" name="AgentConnect" behaviorConfiguration="traceBehavior" />
			<endpoint address="http://localhost/PrepaidServices/PrepaidServices.svc" binding="basicHttpBinding" bindingConfiguration="PrepaidServices" contract="Prepaid.IPrepaidServices" name="VisaPrepaidServices" behaviorConfiguration="traceBehavior" />
			<endpoint address="https://10.111.109.3/TCF/mb/ZeoCustomerService" binding="basicHttpBinding" bindingConfiguration="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" contract="RCIFService.ZeoCustomerService_MsgSetPortType" name="ZeoCustomer_Port" behaviorConfiguration="traceBehavior" />
		</client> 
	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.2.12296" newVersion="2.6.2.12296" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.4000" newVersion="3.2.0.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>-->
</configuration>