<div class="col-sm-12">
  <kendo-tabstrip>
   
    <kendo-tabstrip-tab [title]="'FG Weekly Watchlist'" [selected]="true">
      <ng-template kendoTabContent>
        <app-fg-watchlist></app-fg-watchlist>
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'FG Monthly Watchlist'" >
      <ng-template kendoTabContent>
        <app-fg-future-watchlist></app-fg-future-watchlist>
      </ng-template>
    </kendo-tabstrip-tab>

    

    <kendo-tabstrip-tab [title]="'Planning Report'">
      <ng-template kendoTabContent>
        <app-planning-report></app-planning-report>
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Capacity'">
      <ng-template kendoTabContent>
        <app-capacity></app-capacity>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'Transpose View'">
      <ng-template kendoTabContent>
        <app-transpose></app-transpose>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>