<div class="tab-container tab-control  fab-container-track frm-lg">
  <div class="row custForm no-gutters custLayout">
      <div class="col col-auto">    
          <div class="form-group row custFormrow">
            <label for="staticEmail" class="col-form-label font-bold width-60-1">Status</label>
              <kendo-dropdownlist class="width-120" [data]="containerStatus" [popupSettings]="{ width: 'auto' }" 
               [(value)]="selectedStatus" (valueChange)="onStatusChange(selectedStatus)" (filterChange)="handleStatusFilter($event)">
            </kendo-dropdownlist>
          </div>
          <div class="form-group row custFormrow">
              <label for="staticEmail" class="col-form-label font-bold width-60-1">Container</label>
                <kendo-combobox class="k-widget k-dropdown k-header width-120" [data]="containerNumbers | sortPipe : 'ContainerNbr':true"
                [(value)]= "selectedContainer" [filterable]="true" [textField]="'ContainerNbr'" [valueField]="'ContainerNbr'"
                [popupSettings]="{ width: 'auto' }" (valueChange)="onContainerChange(selectedContainer)" (filterChange)="handleContainerFilter($event)">
                <ng-template kendoComboBoxHeaderTemplate>
                  <div class="row k-list-header">
                    <div class="col col-auto maxWidth-80 font-bold">Container #</div>
                    <div class="col col-auto minWidth-70 widthAuto font-bold">Vendor</div>
                  </div>
               </ng-template>
               <ng-template kendoComboBoxItemTemplate let-dataItem>
                  <div class="col col-auto maxWidth-80 templatecell">{{dataItem?.ContainerNbr}}</div>
                  <div class="col col-auto minWidth-70 widthAuto templatecell">{{ dataItem?.VendorName}}</div>
                </ng-template>
                </kendo-combobox> 
            </div>
      </div>
      <div class="col col-auto">  
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label width-60" >PickUp #</label>
            <kendo-combobox class="k-widget k-dropdown k-header width-100" [data]="pickupNumbers | sortPipe : 'PickupNbr'"
            [(value)] = "selectedPickUp" [filterable]="true" [textField]="'PickupNbr'" [valueField]="'PickupNbr'"
            [popupSettings]="{ width: 'auto' }" (valueChange)="onPickupChange(selectedPickUp)" (filterChange)="handlePickupFilter($event)">
                <ng-template kendoComboBoxHeaderTemplate>
                  <div class="row k-list-header">
                    <div class="col-auto font-bold">Pickup #</div>
                    <div class="col-auto minWidth-120 maxWidth-120 font-bold">Vendor</div>
                    <div class="col-auto minWidth-120 font-bold">Pickup Location</div>
                  </div>
              </ng-template>
              <ng-template kendoComboBoxItemTemplate let-dataItem>
                  <div class="col col-auto templatecell">{{dataItem?.PickupNbr}}</div>
                  <div class="col col-auto minWidth-120 maxWidth-120 templatecell"><span class="ellipsis" title="{{ dataItem?.VendorName }}">{{ dataItem?.VendorName}}</span></div>
                  <div class="col col-auto minWidth-160 templatecell">{{ dataItem?.PickupLocation}}</div>
              </ng-template>
          </kendo-combobox>
        </div>
        <div class="form-group row custFormrow">
            <label for="inputEmail3" class="col-form-label width-60" style="min-width:auto;">PO #</label>
            <kendo-combobox class="k-widget k-dropdown k-header width-100" [data]="poNumbers | sortPipe : 'PoNbr' : true"
            [(value)] = "selectedPO" [filterable]="true" [textField]="'PoNbr'" [valueField]="'PoNbr'"
            [popupSettings]="{ width: 'auto' }" (valueChange)="onPOChange(selectedPO)" (filterChange)="handlePoFilter($event)">
            <ng-template kendoComboBoxHeaderTemplate>
                <div class="row k-list-header">
                  <div class="col-auto width-70 font-bold">PO #</div>
                  <div class="col-auto font-bold">Created Date</div>
                </div>
             </ng-template>
             <ng-template kendoComboBoxItemTemplate let-dataItem>
                <div class="col-auto width-70 templatecell">{{dataItem?.PoNbr}}</div>
                <div class="col-auto templatecell">{{ dataItem?.CreatedDate}}</div>
               </ng-template>
            </kendo-combobox>
          </div>
      </div>
      <div class="col col-auto">     
          <div class="form-group row custFormrow">
              <label for="staticEmail" class="col-form-label width-70-2" style="min-width:auto;">Vendor</label>
              <kendo-combobox  class="k-widget k-dropdown k-header width-160" [data]="vendors | unique"
              [(value)] = "selectedVendor" [filterable]="true"
              [popupSettings]="{ width: 'auto' }" (valueChange)="onVendorChange(selectedVendor)" (filterChange)="handleVendorFilter($event)">
              </kendo-combobox >
            </div>
 
            <div class="form-group row custFormrow">
                <label for="staticEmail" class="col-form-label width-70-2" style="min-width:auto;">Vendor Item</label>
                <kendo-combobox class="k-widget k-dropdown k-header width-160" [data]="vendorItems | unique"
                [(value)] = "selectedVendorItem" [filterable]="true"
                [popupSettings]="{ width: 'auto' }" (valueChange)="onVendorItemChange(selectedVendorItem)" (filterChange)="handleVendorItemFilter($event)">
               </kendo-combobox>
            </div>  
      </div>
      <div class="col col-auto">      
        <div class="form-group row custFormrow">
            <label for="staticEmail" class="col-form-label width-80-1">Aramark Item</label>
            <kendo-combobox class="k-widget k-dropdown k-header width-180" [data]="aramarkItems | sortPipe : 'AramarkItemCode' : true"
            [(value)] = "selectedAramarkItem" [filterable]="true" [textField]="'AramarkItemCode'" [valueField]="'AramarkItemCode'"
            [popupSettings]="{ width: 'auto' }" (valueChange)="onAramarkChange(selectedAramarkItem)" (filterChange)="handleAramarkItemFilter($event)">
            <ng-template kendoComboBoxHeaderTemplate>
              <div class="row k-list-header">
                <div class="col-auto width-100 font-bold">Aramark Item</div>
                <div class="col-auto font-bold">Description</div>
              </div>
           </ng-template>
           <ng-template kendoComboBoxItemTemplate let-dataItem>
              <div class="col-auto width-100 templatecell">{{dataItem?.AramarkItemCode}}</div>
              <div class="col-auto templatecell">{{ dataItem?.AramarkDescription}}</div>
             </ng-template>
            </kendo-combobox>
          </div>
          <div class="form-group row custFormrow">
              <label for="staticEmail" class="col-form-label width-80-1">Fiber Content</label>
              <kendo-combobox class="k-widget k-dropdown k-header width-180" [data]="fiberContents | unique"
              [(value)] = "selectedFiberContent" [filterable]="true"
              [popupSettings]="{ width: 'auto' }" (valueChange)="onFiberContentChange(selectedFiberContent)" (filterChange)="handleFibercontentFilter($event)">
              </kendo-combobox>
          </div>     
      </div>

      <div class="col col-auto mr-auto">
          <div class="form-group row custFormrow armrk-btn">
            <button type="submit" class="btn btn-clearall-circle-red-bg" (click)="clearSearchForm()" [disabled]="(!setMasked)"></button>
            <button type="submit" class="btn btn-arrow-right-circle-red-bg" (click)="reloadDataGrid()" [disabled]="(!setMasked)"></button>
          </div>
      </div>
     
      <div class="col-auto mr-0">
        <div id="agglomerations2" class=" text-right col agglomerations iconTooltip iconTooltip-large armrk-btn pt-0 mt-4 mr-0 clearfix">
          <button title="Export to PDF"  class="icon_arm arm_pdf" id="moscow" [disabled]="gridDataList.data.length === 0" (click)="onExportPDF(grid)"></button>
          <button title="Export to Excel"  class="icon_arm arm_excel" id="moscow" [disabled]="gridDataList.data.length === 0"  (click)="onExportExcel(grid)"></button>
         </div>
      </div>
    </div> 
  
  <div id="grid2" class="clearfix"></div>
      <div class="responsiveTable">
      <kendo-grid #grid="kendoGrid" [data]="gridDataList.data" [scrollable]="'scrollable'" [height]="630" [style.maxHeight.vh]="50" [sortable]="{allowUnsort:false}"
      [sort]="filterSort" (sortChange)="filterSortChange($event)">
        
        <kendo-grid-column field="ContainerNumber" title="Container" [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div>
              <input [disabled]="true" type="text" class="k-textbox text-center" [(ngModel)]="dataItem.ContainerNumber" />
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="PickupNumber" title="Pickup #" [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div>
              <input [disabled]="true" type="text" class="k-textbox text-center" [(ngModel)]="dataItem.PickupNumber" />
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="PONumber" title="PO #" [width]="80">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div>
              <input [disabled]="true" type="text" class="k-textbox text-center" [(ngModel)]="dataItem.PONumber" />
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="TotalRolls" title="Total Rolls" [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div>
              <input [disabled]="true" type="text" class="k-textbox text-right" [ngModel]="dataItem.TotalRolls | number" />
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="TotalYards" title="Total Yards" [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div>
              <input [disabled]="true" type="text" class="k-textbox text-right" [ngModel]="dataItem.TotalYards | number" />
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="PickupLocation" title="Pickup Location" [width]="260">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div title="{{dataItem.PickupLocation}}" style="max-width:100%;"> <input [disabled]="true" class="k-textbox text-left" type="text" [(ngModel)]="dataItem.PickupLocation" /></div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="VendorName" title="Vendor Name" [width]="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input [disabled]="true" class="k-textbox text-left" type="text" [(ngModel)]="dataItem.VendorName" />
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="AramarkItemCode" title="Aramark Item" [width]="130">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input [disabled]="true" class="k-textbox text-left" type="text" [(ngModel)]="dataItem.AramarkItemCode" />
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="Color" title="Color" [width]="140">
          <ng-template kendoGridCellTemplate let-dataItem>
              <div title="{{dataItem.Color}}"> <input [disabled]="true" class="k-textbox text-left" type="text" [(ngModel)]="dataItem.Color" /></div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="FiberContent" title="Fiber Content" [width]="130">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div title="{{dataItem.FiberContent}}" style="max-width:100%;"><input [disabled]="true" class="k-textbox text-left" type="text" [ngModel]="dataItem.FiberContent" /></div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="VendorItem" title="Vendor Item" [width]="130">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input [disabled]="true" class="k-textbox text-left" type="text" [ngModel]="dataItem.VendorItem" />
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="COO" title="COO" [width]="80">
            <ng-template kendoGridCellTemplate let-dataItem>
              <input [disabled]="true" class="k-textbox text-left" type="text" [ngModel]="dataItem.COO" />
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="StatusDescription" title="Container Status" [width]="130">
              <ng-template kendoGridCellTemplate let-dataItem>
                <input [disabled]="true" class="k-textbox text-left" type="text" [ngModel]="dataItem.StatusDescription" />
              </ng-template>
            </kendo-grid-column>

              
    <kendo-grid-pdf fileName="container_search_results.pdf" [repeatHeaders]="true">
      <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
      <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
        <div class="page-template">
          <div class="header">
            <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
          </div>
          <div class="footer">
            Page {{ pageNum }} of {{ totalPages }}
          </div>
        </div>
      </ng-template>
      <kendo-grid-column field="ContainerNumber" title="Container">
      </kendo-grid-column>

      <kendo-grid-column field="PickupNumber" title="PickUpNumber">
      </kendo-grid-column>

      <kendo-grid-column field="PONumber" title="PO #">
      </kendo-grid-column>

      <kendo-grid-column field="TotalRolls" title="Total Rolls">
      </kendo-grid-column>

      <kendo-grid-column field="TotalYards" title="Total Yards">
      </kendo-grid-column>

      <kendo-grid-column field="PickupLocation" title="PickUp Location">
      </kendo-grid-column>

      <kendo-grid-column field="VendorName" title="Vendor Name" >
      </kendo-grid-column>

      <kendo-grid-column field="AramarkItemCode" title="Aramark Item" >
      </kendo-grid-column>

      <kendo-grid-column field="Color" title="Color" >
      </kendo-grid-column>

      <kendo-grid-column field="FiberContent" title="Fiber Content">
      </kendo-grid-column>

      <kendo-grid-column field="VendorItem" title="Vendor Item">
      </kendo-grid-column>

      <kendo-grid-column field="COO" title="COO" >
      </kendo-grid-column>

      <kendo-grid-column field="StatusDescription" title="Container Status" >
      </kendo-grid-column>
    </kendo-grid-pdf>

    <kendo-grid-excel fileName="container_search_results.xlsx">
      <kendo-excelexport-column field="ContainerNumber" title="Container">
      </kendo-excelexport-column>

      <kendo-excelexport-column field="PickupNumber" title="PickUpNumber">
      </kendo-excelexport-column>

      <kendo-excelexport-column field="PONumber" title="PO #">
      </kendo-excelexport-column>

      <kendo-excelexport-column field="TotalRolls" title="Total Rolls">
      </kendo-excelexport-column>

      <kendo-excelexport-column field="TotalYards" title="Total Yards">
      </kendo-excelexport-column>

      <kendo-excelexport-column field="PickupLocation" title="PickUp Location">
      </kendo-excelexport-column>

      <kendo-excelexport-column field="VendorName" title="Vendor Name" >
      </kendo-excelexport-column>

      <kendo-excelexport-column field="AramarkItemCode" title="Aramark Item" >
      </kendo-excelexport-column>

      <kendo-excelexport-column field="Color" title="Color">
      </kendo-excelexport-column>

      <kendo-excelexport-column field="FiberContent" title="Fiber Content" >
      </kendo-excelexport-column>

      <kendo-excelexport-column field="VendorItem" title="Vendor Item" >
      </kendo-excelexport-column>

      <kendo-excelexport-column field="COO" title="COO">
      </kendo-excelexport-column>

      <kendo-excelexport-column field="StatusDescription" title="Container Status">
      </kendo-excelexport-column>

    </kendo-grid-excel>

  </kendo-grid>
</div>
  <form class="row custForm armrk-tbl-footer no-gutters custLayout clearfix">
      <div class="col mt-2">   
          <div class="form-group row custFormrow">
              <label for="staticEmail" class="col-form-label font-bold widthAuto  minWidthAuto">Total Rolls</label>
              <input type="text" class="k-textbox text-left" id="" value ="{{totalRolls | number}}" style="max-width: 70px;" disabled>
              <label for="staticEmail" class="col-form-label font-bold widthAuto  minWidthAuto">&nbsp;&nbsp;</label>
              <label for="staticEmail" class="col-form-label font-bold widthAuto  minWidthAuto">Total Yards</label>
              <input type="text" class="k-textbox text-left" id="" value ="{{totalYards | number}}" style="max-width: 70px;" disabled>
          </div> 
      </div>      
    </form>
</div>
