<div class="col-sm-12">
    <kendo-tabstrip #tabstrip>

        <kendo-tabstrip-tab title="Receipts" [selected]="true">
            <ng-template kendoTabContent>
                <!--tab Lookup-->
                <app-receiving-old></app-receiving-old>
                <!--end of tab Lookup-->
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Lookup">
            <ng-template kendoTabContent>
                <!--tab Lookup-->
                <app-lookup></app-lookup>
                <!--end of tab Lookup-->
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Receipt Details" [disabled]="disableTab">
            <ng-template kendoTabContent>
                <!--tab receipt details-->
                <app-receipt-details [ReceiptNumber]="receiptNumber" [PONumber]="poNumber"></app-receipt-details>
                <!--end of tab receipt details-->
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
</div>