@model MGI.Channel.DMS.Web.Models.EmploymentDetails

@{
    ViewBag.Title = "Employment Details";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<div align="center"><img src="~/Content/images/Employment.png"  usemap="#Map" /></div>
<h2 align="center">Employment Details</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.Partial("_EmploymentDetails", Model)
    @Html.Partial("_EmploymentNavigation")
}
