<div class="col-sm-12">
  <kendo-tabstrip #tabstrip>
    <kendo-tabstrip-tab title="BOM" selected="true">
      <ng-template kendoTabContent>
        <!--tab On Hold-->
        <app-bom-maintenance></app-bom-maintenance>
        <!--end of tab On Hold-->
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab title="RM Item">
      <ng-template kendoTabContent>
        <!--tab Receiving-->
        <app-item-maintenance [ItemCode]="itemCode"></app-item-maintenance>
        <!--end of tab Receiving-->
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="RM Vendor">
      <ng-template kendoTabContent>
        <!--tab Receiving-->
        <app-vendor-maintenance></app-vendor-maintenance>
        <!--end of tab Receiving-->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- <kendo-tabstrip-tab title="SKU Maintenance">
      <ng-template kendoTabContent> -->
        <!--tab Receiving-->
        <!-- <app-sku-maintenance></app-sku-maintenance> -->
        <!--end of tab Receiving-->
      <!-- </ng-template>
    </kendo-tabstrip-tab> -->
    
  </kendo-tabstrip>
</div>