<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="ZeoCustomer">
     <security mode="Transport" />
    </binding>
    <binding name="ZeoCustomer1" />
    <binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding">
     <security mode="Transport" />
    </binding>
    <binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding1" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="https://10.111.109.3:443/TCF/ZeoCustomer"
    binding="basicHttpBinding" bindingConfiguration="ZeoCustomer"
    contract="RCIFService.ZeoCustomer" name="ZeoCustomerSOAP" />
   <endpoint address="https://10.111.109.3:443/TCF/mb/ZeoCustomerService"
    binding="basicHttpBinding" bindingConfiguration="ZeoCustomerService_MsgSetSOAP_HTTP_Binding"
    contract="RCIFService.ZeoCustomerService_MsgSetPortType" name="ZeoCustomer_Port" />
  </client>
	</system.serviceModel>
	<applicationSettings>
		<MGI.Cxn.Customer.TCIS.Properties.Settings>
			<setting name="MGI_Cxn_Customer_TCIS_RCIFService_ZeoCustomer_Service"
                serializeAs="String">
				<value>https://10.111.109.3:443/TCF/mb/ZeoCustomerService</value>
			</setting>
		</MGI.Cxn.Customer.TCIS.Properties.Settings>
	</applicationSettings>
</configuration>
