<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>
  <connectionStrings>
    <add name="CXNDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_CXN;User ID=sa;pwd=Opteamix@123" />
  </connectionStrings>
  <appSettings>
    <add key="IsHardCodedCounterId" value="true" />
    <add key="AllowDuplicateTrxWU" value="O" />
    <add key="DataProtectionService" value="Simulator" />
	<add key="ProviderIO" value="SimulatorIO" />
  </appSettings>
	<spring>
		<context>
			<resource uri="config://spring/objects" />
		</context>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
		</parsers>

		<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			   xmlns:db="http://www.springframework.net/database"
			   xmlns:tx="http://www.springframework.net/tx"
			   xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
		</objects>
	</spring>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="FusionGoShopping_H2H_SOAP_HTTP_Binding">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None"
									  realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="DASInquiry_H2H_SOAP_HTTP_Binding">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None"
									  realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="MakePaymentValidate_H2H_SOAP_HTTP_Binding">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None"
									  realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="MakePaymentStore_H2H_SOAP_HTTP_Binding" >
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None"
									  realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:7080/FusionGoShopping_Service_H2H"
					binding="basicHttpBinding" bindingConfiguration="FusionGoShopping_H2H_SOAP_HTTP_Binding"
					contract="FusionGoShopping.FusionGoShopping_Service_PortType"
					name="FusionGo" />
			<endpoint address="http://www.westernunion.com/DAS_Service_H2H"
					binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding"
					contract="DASService.DASInquiryPortType" name="DASInquiry" />
			<endpoint address="http://localhost:7081/MakePaymentValidate_Service_H2H"
					binding="basicHttpBinding" bindingConfiguration="MakePaymentValidate_H2H_SOAP_HTTP_Binding"
					contract="PaymentValidate.MakePaymentValidate_Service_PortType"
					name="WUValidate" />
			<endpoint address="http://localhost:7081/MakePaymentStore_Service_H2H"
					binding="basicHttpBinding" bindingConfiguration="MakePaymentStore_H2H_SOAP_HTTP_Binding"
					contract="MakePayment.MakePaymentStore_Service_PortType" name="WUPayment" />
		</client>
	</system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.4000" newVersion="3.2.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>