<script type="text/javascript">
	$('#submitLink').click(function () {
        var id = '@ViewBag.Id';
        var screenName = '@ViewBag.ScreenName';
        $.ajax({
            url: '@Url.Action("CancelSendMoneyDetails", "SendMoney")' + "?id=" + id + "&screenName=" + screenName,
            // data: dataValues,
            type: 'POST',
            datatype: 'json',
            success: function (jsonData) {
                if (jsonData.success) {
                    RedirectToUrl('@Url.Action("ProductInformation", "Product")');
                }
                else {
                    showExceptionPopupMsg(jsonData.data);
                }
            },
            error: function (err) {
                showExceptionPopupMsg(err);
            }
        });

    });

</script>
<div class="margin_top_two">
    <hgroup>
        <h1>Are you Sure you want to Cancel this Transaction?</h1>
    </hgroup>
    <div class="row_shift20 margin_top_eight">
        <ul>
            <li>
                <input type="button" value="Yes" id="submitLink" class="green_input width_fix100" />
            </li>
            <li>
                <input type="button" value="No" onclick="javascript:$('#dlgCancelMT').dialog('destroy').remove();"
                    class="red_btn width_fix100" />
            </li>
        </ul>
    </div>
</div>
