

<div class="identify_btn_wrap profile_det_shift">
    <ul>
@{
	Dictionary<string, string> actionControllers = MGI.Channel.DMS.Web.Common.WebHelper.GetRelatedActionController();
}


<li>@Html.ActionLink("Cancel", actionControllers["actionMethod"], actionControllers["controller"], null, new { @class = "anc_link_btn red_btn", tabindex="16"})</li>
<li>@Html.ActionLink("Back", "PersonalInformation", "CustomerRegistration", null, new { @class = "anc_link_btn" , id="btnBack", tabindex="15"})</li>
        <li class="ieCustNavInfoBtn"><input type="submit" value="Next" tabindex="14"/></li>
    </ul>
</div>



