@model MGI.Channel.DMS.Web.Models.ProcessCheckTransactionDetailsViewModel
@{
    Layout = null;
}
<div class="trxpopup_provider_div">
    <div class="trxpopup_row">
        @Html.LabelFor(model => model.CheckType, new { @class = "trxpopup_label check_div_align" })
        <span class="trxpopup_label check_div_align">@Html.DisplayFor(model => model.CheckType)</span>
    </div>
    @if (@ViewBag.IsAgentSession == null || @ViewBag.IsAgentSession == false)
    {
        <div class="trxpopup_topspace_row">
            <span class="row_label_txt_Status">
                For inquiries and more information about this transaction,
                please contact Synovus at 866-355-8918
            </span>
        </div>
    }
</div>
