@model MGI.Channel.DMS.Web.Models.ProcessorCrendential

<div class="row">
	<div>
		@Html.LabelFor(model => processor.CounterID)
		@Html.TextBoxFor(model => processor.CounterID, processor.CounterID, new { @class = "input_box", maxLength = "100" })
	</div>
	<div class="error_align_left align_left_processor">
		@Html.ValidationMessageFor(model => processor.CounterID)
	</div>
</div>

<input type="submit" value="Edit" name="btnsubmit" />
<input type="submit" value="Save" name="btnsubmit" />
