@model MGI.Channel.DMS.Web.Models.MoneyOrderTransactionDetailsViewModel
@{
    Layout = null;
}
    @{if (Convert.ToString(Session["ChannelPartnerName"]) == "Carver" )
    {
        ViewBag.PhoneNumber = "718-230-2900";
    }
    else
    {
     ViewBag.PhoneNumber = "866-355-8918";
    }
}


@if (@ViewBag.IsAgentSession == null || @ViewBag.IsAgentSession == false)
{
    <div class="trxPopUpRowsTopSpace">
        <span class="trxPopUpLabel">For inquiries and more information about this transaction,
            please contact @Session["ChannelPartnerName"] at @ViewBag.PhoneNumber </span>
    </div>
}