
<div class="new_cust_nav">
<ul>
@{
	Dictionary<string, string> actionControllers = MGI.Channel.DMS.Web.Common.WebHelper.GetRelatedActionController();
}

<li>@Html.ActionLink("Cancel", actionControllers["actionMethod"], actionControllers["controller"], null, new { @class = "anc_link_btn red_btn" })</li>
<li class="ieWidth"><input type="button" value = "Next"  tabindex ="32" onclick="javacript:checkCustomerInactiveStatus();" class="confirmButton" /></li>
</ul>
</div>