
<div class="profile_btn_wrap row_shift30">
    <ul>
@{
	Dictionary<string, string> actionControllers = MGI.Channel.DMS.Web.Common.WebHelper.GetRelatedActionController();
}

<li>@Html.ActionLink("Cancel", actionControllers["actionMethod"], actionControllers["controller"], null, new { @class = "anc_link_btn red_btn" })</li>
<li>@Html.ActionLink("Back", "EmploymentDetails", "CustomerRegistration", null, new { @class = "anc_link_btn" })</li>
        <li class="ieCustNavInfoBtn"><input type="submit" value="Next" id="PinNextSubmit" /></li>
    </ul>
</div>