@model MGI.Channel.DMS.Web.Models.CustomerSupport
@{
    ViewBag.Title = "Forgot Username";
    Layout = "~/Views/Shared/_Loginlayout.cshtml"; 
}

<h2 class="forget_pass">Please call MoneyGram at @Model.channelPartner.PhoneNumber</h2>
<div class="goback_home_btn">
    @Html.ActionLink("Click to go back to Login Page", "Create", "Login", new { @class = "call_txt" })
</div>