@model MGI.Channel.DMS.Web.Models.CustomerSupport
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Loginlayout.cshtml"; 
}

<div class="error_txt txt_center">@TempData["LoginMessage"]</div>

<h2 class="txt_center">Please call MoneyGram at @Model.channelPartner.PhoneNumber</h2>
<div >
    @Html.ActionLink("Click to go back to Login Page", "Create", "Login", new { @class = "call_txt", style = "color:#000000" })
</div>


