@model MGI.Channel.DMS.Web.Models.Login
@{
	ViewBag.Title = "Terminal Setup Success";
	Layout = "~/Views/Shared/_Loginlayout.cshtml"; 
}
<center>
	<div class="terminal_setup_sucess_msg">
		Congratulations @HttpContext.Current.Session["UserNameText"].ToString()!<br />
		<br />
		You have successfully set up the Terminal.<br />
		<br />
		Please click on the link and Login again.<br />
		<br />
		<u>@Html.ActionLink("Login", "Create", "Login", new { channelPartner = Model.ChannelPartnerName }, new { style = "color:Blue" })
		</u>
	</div>
</center>
