<div>
    <hgroup>
        <h1>Do you want to do an additional transaction?</h1>
    </hgroup>
    <div class="add_trans_wrap">
        <ul>
            <li>@Html.ActionLink("Yes", "ProductInformation", "Product", null, new { id = "submitLink", @class = "anc_link_btn"})</li>
            <li>@Html.ActionLink("No", "CustomerSearch", "CustomerSearch", null, new { id = "submitLink", @class = "anc_link_btn"})</li>
        </ul>
    </div>
</div>