<script src="@Url.Content("~/Scripts/Common/PopupScript.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>

@using (Html.BeginForm())
{
    <div id="divWarning" class="row_shift2">
        <div style="margin-bottom:20px" class="cFont">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CustomerFraudWarningMessage</div>
        <ul class="row_shift9">
            <li class="popUpCancelBtnWidth"><input type="button" value="No" onclick="RemovePopUp();setConsumerPrompt(false);" /></li>
            <li class="popUpConfrmBtnWidth"><input type="button" value="Yes" onclick="RemovePopUp();ShowPopUp(fraudConfirmPopUp_URL,'ZEO', 430, 170);" class="green_input" /></li>
        </ul>
    </div>
}
