<script type="text/javascript">
    function removePopupandSendwarningconsent() {
        RemovePopUp();
        showSpinner();
        setConsumerPrompt(true);
    }
</script>

<div id ="customer_fraud_notification" class="cFont" style="margin-left:5px;">
    <div style="margin-top: 5px; margin-left:5px;">
        <div style="width: 380px">
            <p style="line-height: 1.2;">
               @TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CustomerFraudNotificationMessage
            </p>
        </div>
    </div>
    <div style="text-align: center;">
        <ul style="margin-top: 10px;">
            <li>
                <input type="button" value="OK" onclick="removePopupandSendwarningconsent();" class="green_input width_fix100" />
            </li>
        </ul>
    </div>

</div>