
<div class="identify_btn_wrap">
    <ul>
@{
	Dictionary<string, string> actionControllers = TCF.Channel.Zeo.Web.Common.WebHelper.GetRelatedActionController();
}

<li>@Html.ActionLink("Cancel", actionControllers["actionMethod"], actionControllers["controller"], null, new { @class = "aLinkButton", style = "background-color:#ad2525" })</li>
<li>@Html.ActionLink("Back", "IdentificationInformation", "CustomerRegistration", null, new { @class = "aLinkButton" })</li>
        <li class="ieCustNavInfoBtn"><input type="submit" value="Next"   /></li>
    </ul>
</div>
