<div id="dyntext" class="row5 txt_center padding_left3">
	<p> Please sign "VOID" across Money Order and place check in drawer </p>
</div>
<div>
	<ul class="txt_center transHstCheckBox">
		<li>
			<input type="button" value="OK" id="btnMOReplace" onclick="ReplaceMO();" class="confirmButton" />
		</li>
	</ul>
</div>
