<div>
    @if ((bool)ViewBag.IsQualifier)
    {
        <hgroup>
            <h1>Do you want to add your Qualifier before moving to the next screen. By selecting 'No', changes will be lost.</h1>
        </hgroup>

        <div class="row_shift20 push_top5">
            <ul>
                <li>@Html.ActionLink("No", "AddProvision", "Promotion", null, new { id = "submitLink", @class = "anc_link_btn red_btn" })</li>
                <li>
                    <input type="button" value="Yes" onclick="javascript: SaveQualifier();" class="anc_link_btn green_input" />
                </li>
            </ul>
        </div>
    }
    else
    {
        <hgroup>
            <h1>Do you want to add your Provision before moving to the next screen. By select 'No', changes will be lost.</h1>
        </hgroup>

        <div class="row_shift20 push_top5">
            <ul>
                <li>@Html.ActionLink("No", "PromotionSummary", "Promotion", null, new { id = "submitLink", @class = "anc_link_btn red_btn" })</li>
                <li>
                    <input type="button" value="Yes" onclick="javascript: SaveProvision();" class="anc_link_btn green_input" />
                </li>
            </ul>
        </div>
    }

   
</div>
