<div class="dyntext">
    <br />
    <span class="boldalign">
        Do we need to delete this Promotion ?
    </span>
</div>
<div class="shift25">
    <ul>
        <li class="popUpCancelBtnWidth">
            <input type="button" id="CancelTransaction" value="No" onclick="RemovePopUp();" />
        </li>
        <li class="popUpConfrmBtnWidth">
            <input type="button" value="Yes" id="btnYes" onclick="updateStatus('@ViewBag.PromotionId');" class="green_input push_top10_fix" />
        </li>
    </ul>
</div>