<div class="dyntext">
    <br />
    <span class="boldalign">
        Are you sure you want to @ViewBag.StatusName Promotion ?
    </span>
</div>
<div class="shift25">
    <ul>
        <li class="popUpCancelBtnWidth">
            <input type="button" id="CancelTransaction" value="No" onclick="removePopUp();" />
        </li>
        <li class="popUpConfrmBtnWidth">
            <input type="button" value="Yes" id="btnYes" onclick="disabledStatus('@ViewBag.PromotionId', '@ViewBag.Status');" class="green_input push_top10_fix" />
        </li>
    </ul>
</div>