<div class="cFont">
	<div style="margin-top: 5px; margin-left:5px;">
		<div style="float: left; margin-right: 1px; height:100px;">
			<img src="@Url.Content("~/Content/images/FailedIcon.png")" alt="Failed" title="Failed" />
		</div>
		<div style=" width: 380px">
			<p style="line-height: 1.2;">
				<b>Attention</b> - This action will permanently close this customer profile.
				Once the profile is set to a closed status it cannot be changed.
				This change will be committed by clicking on the Done button on the Profile Summary page.
				<br /> <br />
				Would you like to continue?
			</p>
		</div>
	</div>
	<div style=" text-align: center; margin-bottom:0px">
		<ul>
			<li>
				<input type="button" value="Yes" class="red_btn width_fix100" onclick="SubmitPersonalInfoForm()" />
			</li>
			<li>
				<input type="button" value="No" onclick="closethis()"
					   class="green_input width_fix100" />
			</li>
		</ul>
	</div>
</div>
<script>
	function SubmitPersonalInfoForm() {
		$('#frmPersonalInfo').submit();
	}
</script>
