<div class="dyntext">
    <br />
    <span class="boldalign">
        Are you sure you want to delete this provision?
    </span>
</div>
<div class="shift25">
    <ul>
        <li class="popUpCancelBtnWidth">
            <input type="button" id="CancelTransaction" value="Cancel" onclick="RemovePopUp()" />
        </li>
        <li class="popUpConfrmBtnWidth">
            <input type="button" value="Yes" id="btnYes" onclick="DeleteProvision('@ViewBag.Id');" class="green_input push_top10_fix" />
        </li>
    </ul>
</div>