@model TCF.Channel.Zeo.Web.Models.AgentDetails
<div class="dyntext">
	<br />
	<span class="bold">
		Are you sure you want to delete this favorite biller from the customer profile?
	</span>
</div>
<div class="shift25">
	<ul>
		<li class="popUpCancelBtnWidth">	
			<input type="button" id="CancelTransaction" value="Cancel" onclick="javascript:$('#divDeletefavBillerDialog').dialog('destroy').remove();" />
		</li>
		<li class="popUpConfrmBtnWidth">
			<input type="button" value="Yes" id="btnYes" onclick="DeleteFavBiller('@ViewBag.Id');" class="green_input push_top10_fix" />
		</li>
	</ul>
</div>
