@{ 
    var referenceManualUrl = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ZeoReferenceManualURL"]);
}
<div id="zeoreferencemanual" hidden>
    <div class="" style="background:#006937">
        <div id="title-lable" style="color:#FFFFFF;"><span class="cFont">ZEO Reference Manual</span></div>
        <div id="close-manualreference-window" onclick="closeReferencebox()">&times;</div>
        <div id="minim-manualreference-window" onclick="minimReferencebox()"><span class="minim-button">&minus;</span></div>
        <div id="maxi-manualreference-window" onclick="onZeoManualClick()"><span class="maxi-button">&plus;</span></div>
    </div>
    <div id="widthheight100">
        <div id="widthheight100">
            <div id="ZeoRefManualId" style="width:100%;height:100%;margin-top:25px"></div>
        </div>
    </div>
</div>