<br />
<div>
    <div>
        <p class="txt_center">
            Checks $25,000 or more require supervisor approval. Once your supervisor has reviewed, you may then select OK.
        </p>
        <br />
    </div>
</div>
<div style="text-align:center;">
    <ul>
        <li class="">
            <input type="submit" value="OK" id="" name="" onclick="RemovePopUp();" />
        </li>
    </ul>
</div>