<script src="@Url.Content("~/Scripts/Common/PopupScript.js?version=" + @DateTime.Now.Ticks)" type="text/javascript"></script>

<div id="divWarning" class="row_shift2">
    <div class="cFont row_shift28" style="margin-bottom:10px"><b>@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.ConfirmWarningMessage</b></div></div>
    <div style="margin-bottom:15px" class="cFont">@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CustomerFraudConfirmMessage</div>
    <ul class="row_shift9">
        <li class="popUpCancelBtnWidth"><input type="button" value="No" onclick="RemovePopUp();setConsumerPrompt(false);" /></li>
        <li class="popUpConfrmBtnWidth"><input type="button" value="Yes, I'm sure" onclick="RemovePopUp();ShowPopUp(fraudNotificationPopUp_URL,'Customer Fraud Notification', 430, 180);" class="green_input" /></li>
    </ul>
</div>
