<br />
<div>
    <p>
       @ViewBag.Message
    </p>
    <br />
</div>
<div style="text-align:center;">
    <ul>
        <li class="popUpCancelBtnWidth">
            <input type="submit" id="btnOk" value="@ViewBag.BtnText" onclick="javascript:$('#divDisplayMessage').dialog('destroy').remove();" />
        </li>
    </ul>
</div>