<div id="help-window" hidden>
    <div class="" style="background:#006937">
        <div id="title-lable" style="color:#FFFFFF;"><span class="cFont">What's new in ZEO?</span></div>
        <div id="close-help-window" onclick="closeHelpbox()">&times;</div>
        <div id="minim-help-window" onclick="minimHelpbox()"><span class="minim-button">&minus;</span></div>
        <div id="maxi-help-window" onclick="onHelpClick()"><span class="maxi-button">&plus;</span></div>
    </div>
    <div id="widthheight100">
        <div id="widthheight100">
            <div id="whatsNewPdf" style="width:100%;height:100%;margin-top:25px"></div>
        </div>
    </div>
</div>