@model TCF.Channel.Zeo.Web.Models.AgentDetails
<div class="dyntext">
	<br />
	<span class="bold">
		I,<span class="shift_left1">@Html.DisplayFor(model => model.AgentFirstName)</span>
		<span class="shift_left1">@Html.DisplayFor(model => model.AgentLastName),</span>
		certify this is my true and correct name,<br />
		<br /> I am AML/CFT trained and will comply
		with all laws in processing transactions.
	</span>
</div>
<div class="shift25">
	<ul>
		<li class="popUpCancelBtnWidth">
			<input type="button" id="CancelTransaction" value="Disagree" onclick="destroyValidatePopup()" />
		</li>
		<li class="popUpConfrmBtnWidth">
			<input type="button" value="Agree" id="btnAgree" onclick="Redirect();" class="green_input push_top10_fix" />
		</li>
	</ul>
</div>
