
<div class="profile_btn_wrap row_shift30">
    <ul>
@{
	Dictionary<string, string> actionControllers = TCF.Channel.Zeo.Web.Common.WebHelper.GetRelatedActionController();
}

<li>@Html.ActionLink("Cancel", actionControllers["actionMethod"], actionControllers["controller"], null, new { @class = "anc_link_btn red_btn", tabindex = 5 })</li>
<li>@Html.ActionLink("Back", "EmploymentDetails", "CustomerRegistration", null, new { @class = "anc_link_btn" ,tabindex = 4 })</li>
        <li class="ieCustNavInfoBtn"><input type="submit" value="Next" id="PinNextSubmit" tabindex="3"/></li>
    </ul>
</div>