@model TCF.Channel.Zeo.Web.ServiceClient.ZeoService.SendMoneyRefundRequest
@{
    ViewBag.Title = "_SendMoneyRefundFail";
}

<div id="trxpopup_provider_div">
    <div class="">
        <label class="row_label_txt_Status">
            @Html.Label(@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SendMoneyModifyFail)</label>
    </div>
    <div>
        <div class="SendMoneyButtonAlign">
            <input type="button" id="CancelTransaction" value="OK" class="trxbuttonText" onclick="javascript:$('#MoneyTransferRefundFailPopup').dialog('destroy').remove();" /></span>
        </div>
    </div>
</div>
