<div>
	<hgroup>
		<h1>Are you sure you want to cancel?</h1>
	</hgroup>
	<div class="common_cancel_btn_wrap">
		<ul>
			<li>@Html.ActionLink("Yes", "MoneyTransfer", "MoneyGramMoneyTransfer", null, new { @class = "anc_link_btn common_cancel_btn_fix" })</li>
			<li><input type="button" value="No" onclick="RemovePopUp()" class="common_cancel_btn_fix" /></li>
		</ul>
	</div>
</div>


