@model TCF.Channel.Zeo.Web.ServiceClient.ZeoService.SendMoneyRefundRequest
@{
    ViewBag.Title = "_SendMoneyModifySuccess";
}
<div style="text-align: center;">
    <div>
        @Html.Label(@TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.SendMoneyModifySuccessFirstLine)
    </div>
    <div>
        <input type="button" id="CancelTransaction" value="OK" class="trxbuttonText" style="float: none;"
            onclick="javascript:$('#SendMoneyModifySuccessPopup').dialog('destroy').remove();" />
    </div>
</div>
