@using (Html.BeginForm("ShoppingCartCheckout", "ShoppingCart", FormMethod.Get))
{
	<div id="dyntext">
		<p class="shoppingCart_Checkout_Confirm"> If you are performing multiple ZEO transactions, card transactions (Card Trx) should be completed last. The session will automatically end after this transaction.</p>
        <br /><br />
		<p class="shoppingCart_Checkout_Confirm"> Would you like to continue? </p>
	</div>
	<div class="shift25">
		<ul>
			<li class="popUpCancelBtnWidth">
				<input type="button" value="No" onclick="javascript:$('#ShowGPRtrxConfirmationMessage').dialog('destroy').remove();" style="background-color: #ad2525;" />
			</li>
			<li class="popUpConfrmBtnWidth">
				<input type="submit" value="Yes" id="btnConfirm" />
			</li>
		</ul>
	</div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnConfirm').focus();
    });
</script>
