@*<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span id="ui-id-1" class="ui-dialog-title">Confirmation</span><a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a></div>*@
<div class="cFont">
    <div style="margin-top: 10px">
        <div style="float: left; margin-right: 10px;">
            <img src="@Url.Content("~/Content/images/FailedIcon.png")" alt="Failed" title="Failed" />
        </div>
        <div style="float: left; width: 335px">
            <p style="line-height: 1.2;">
                 WARNING - All Transactions must be removed from the Shopping Cart before closing an account.
            </p>
        </div>
    </div>
    <div style="clear: both;">
    </div>
    <div style="margin-top: 5%; text-align: center;">
        <ul>
            <li>@Html.ActionLink("OK", "ShoppingCartCheckout", "ShoppingCart",null,new { @class = "anc_link_btn" })</li>

           <!-- <li>
                <input type="button" value="OK" onclick="javascript:$('#divshoppingcardstatus').dialog('destroy').remove();"
                       class="confirmButton" />

                
            </li>-->
        </ul>
    </div>
</div>
