<div class="popMessageLabel">
    <p>
        Are you sure you would like to end the customer session?
    </p>
    <br />
    
    <div style="margin-top: 5%;text-align: center;">
        <ul>
            <li>@Html.ActionLink("Yes", "CustomerSearch", "CustomerSearch", new { CounterIdAssigned = true }, new { @class = "aLinkCancelButton" })</li>
            <li>
                <input type="button" value="No" onclick="javascript:$('#divshoppingcardstatus').dialog('destroy').remove();"
                    class="confirmButton" /></li>
        </ul>
    </div>
</div>
