<br />
<div>
    <div>
        <p class="">
            This transaction requires you to make a photo copy of the customer’s ID. Once the copy is made, you can proceed with the transaction.  Then,
            complete the <b>ID Form – Western Union China Transfers.</b>
        </p>
        <br />
    </div>
</div>
<div style="text-align:center;">
    <ul>
        <li class="popUpConfrmBtnWidth">
            <input type="submit" value="OK" id="btnConfirm" name="BSAWarning" onclick="RemovePopUp();" />
        </li>
    </ul>
</div>