<div class="txt_center">
    Data saved successfully
</div>
<div class="txt_center">
    <ul>
        <li class="SrchButtonWidth margin_top_20">
            <input type="button" class="anc_link_btn green_input" onclick="RemovePopUp()" value="OK" />
        </li>
    </ul>
</div>