@model TCF.Channel.Zeo.Web.Models.TipsAndOffersViewModel
<div class="CustProfileLabelTxt" style="margin-left: 5px; width: 100%; line-height: 18px;">
	@if (!string.IsNullOrWhiteSpace(Model.Message))
	{
		@Model.Message
	}
	 else
	 { 
		@Html.Raw(ViewBag.TipsAndOffersMessage)
	}
</div>
