<div class="margin_top_two">
<hgroup>
<h1>Are you sure you want to cancel ?</h1>
</hgroup>
<div class="row_shift20 margin_top_eight">
<ul>
    @*<li>@Html.ActionLink("Yes", "SendMoney", "Product", null, new { @class = "cancelbttn" })</li>*@
    <li><input type="button"  value="Yes"  onclick="javascript:location.reload();" class="green_input width_fix100" /></li>
    <li><input type="button"  value="No"  onclick="javascript:$('#dlgCancel').dialog('destroy').remove();" class="red_btn width_fix100"/></li>
</ul>
</div>
</div>
