
<div class="cFont">
	<div style="margin-top: 6px; margin-left:6px; margin-bottom:25px;">
		<div style=" width: 370px">
			<p style="line-height: 1.2; font-size:13px;">
				@Html.Raw(ViewBag.ConfirmationMessage)
			</p>
		</div>
	</div>
	<div style=" text-align: center; margin-bottom:0px">
		<ul>
			<li>
				<input type="button" value="OK" onclick="RemovePopUp();"
					   class="green_input width_fix100" />
			</li>
		</ul>
	</div>
</div>
