<div>

	<div class="push_top5 popMessageLabel txt_red txt_black">
				@Html.Raw(Html.Encode(@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.CertegyRemovalSecondPopUpMsg).Replace("\\n", "<br /><br />"))
	</div>
			<div class="push_top5 txt_center">
				<ul>
					<li><input type="button" class="anc_link_red_btn" value="Cancel" onclick="javascript: $('#removeCheckConfirmPopup').dialog('destroy').remove();" /></li>

					<li>@Html.ActionLink("Confirm", "RemoveCheckFromCart", "CertegyProcessCheck", new { transactionId = @ViewBag.transactionId }, new { id = "confirmLink", @class = "grey_btn1" })</li>

				</ul>
			</div>
		</div>



		<script type="text/javascript">
			$('#confirmLink').click(function () {
				$('#removeCheckConfirmPopup').dialog('destroy').remove();
			});
		</script>