<div class="cFont">
    <div style="margin-top: 10px">
        <div style="float: left; margin-right: 10px;">
            <img src="@Url.Content("~/Content/images/FailedIcon.png")" alt="Failed" title="Failed"/>
        </div>
        <div style="float: left; width: 345px">
            <p style="line-height: 1.2;">
                Customer profile is being made inactive. This change will be committed on clicking Done on the Summary train stop page. No transactions will be allowed for an inactive profile. 
                <br /> <br />
                Would you like to continue?
            </p>
        </div>
    </div>
    <div style="clear: both;">
    </div>
    <div style="margin-top: 5%; text-align: center;">
         <ul>
            <li>
                <input type="button" value="Yes" onclick="javascript:SubmitPersonalInfoForm();" class="aLinkCancelButton" />
            </li>
            </li>
            <li>
                <input type="button" value="No" onclick="javascript:$('#divcustomerinactivestatus').dialog('destroy').remove();"
                    class="confirmButton" /></li>
        </ul>
    </div>
</div>
