<div>
    <hgroup>
        <h1>Are you Sure you want to Delete this Transaction?</h1>
    </hgroup>
    <div class="row_shift20 push_top5">
        <ul>
            <li>@Html.ActionLink("Yes", "DeleteShoppingCartItem", "ShoppingCart", new { id = @ViewBag.deleteCartId, screenName = @ViewBag.screenName, Product = @ViewBag.product }, new { id = "submitLink", @class = "anc_link_btn width_fix100" })</li>
            <li>
                <input type="button" value="No" onclick="javascript: $('#dlgRemoveCheck').dialog('destroy').remove();" class="red_btn width_fix100"/>
            </li>
        </ul>
    </div>
</div>
