<div id="dyntext" class="row5">
	<p>
		Hand $ @ViewBag.withdrawAmt cash (GPR withdrawal amount) to Customer.
	</p>
    <br /><br />
</div>
<div>
	<input type="button" id="btnDone" value="Done" />  @*// onclick="javascript:$('#GPRWithdrawalAmountPopup').dialog('destroy').remove();" />*@
</div>

<script>
    var gprTotalCashCollected = '@ViewBag.cashCollected';
    var gprCollectCashFromCustomerPopupURL = '@Url.Action("CollectCashFromCustomerPopup","ShoppingCart")';
</script>
<script src="@Url.Content("~/Scripts/Fund/par_GPRWithdrawAmountPopup.js")" type="text/javascript"></script>
