@using (Html.BeginForm("SendMoneyDetails", "SendMoney", FormMethod.Post))
{
	<br />
	<div class="txt_red">
		<p><b>ATTENTION</b>!** This transaction can be submitted at checkout, however, it will be on <b>HOLD</b> until customer calls Western Union at 1-800-267-0487**.
		Customer information must be provided via interview to remove the <b>HOLD</b> on the Transaction.
		</p>
        <br />
	</div>
	<div style="text-align:center;">
		<ul>
			<li class="popUpCancelBtnWidth">
				<input type="button" value="Cancel" onclick="javascript:$('#lpmtMessage').dialog('destroy').remove();" />
			</li>&nbsp;
			<li class="popUpConfrmBtnWidth">
				<input type="submit" value="Continue" id="btnConfirm" name="lpmtcontinue" />
			</li>
		</ul>
	</div>
}
<script type="text/javascript">
	$(document).ready(function () {
		$('#btnConfirm').focus();
	});
</script>
