<script type="text/javascript">    var receiptvalue = '@ViewBag.ReceiptNo' </script>
<div class="partialRetryOuterDiv">
    <div class="partialRetryMessageDiv">
        <span class="partialRetryMessageSpan">@ViewBag.Message</span>
    </div>
    <br />
    <br />
    <div class="partialRetryUserInfo">
        <span>NOTE: Receipts can also be printed
            from Customer transaction history</span>
    </div>
    <br />
    <br />
    <div class="partialRetryButtonDiv">
        <ul>
            <li class="SrchButtonWidth">
                <input type="button" value="Cancel Print" id="btnCancel" onclick="javascript:cancelPrint();"
                    class="partialRetrySearchButton" />
            </li>
            <li class="SrchButtonWidth">
                <input type="button" value="Retry Print" id="btnRetry" onclick="javascript:retryPrint(receiptvalue);"
                    class ="partialRetrySearchButton partialRetryPrintButton" />
            </li>
        </ul>
    </div>
</div>
