<div id="loading">
	<div id="loadingcontent">
		<div id="loadingspinner" class="loadingmsgspinner">
		</div>
		<div>
			<div id="loadingspinnerbanner" class="spinner_msg_banner">
				<span id="loadingmsgspinner" class="spinner_msg"></span>
			</div>
		</div>
	</div>
</div>
