@model MGI.Channel.DMS.Web.Models.MoneyTransferTransactionDetailsViewModel
@{
    Layout = null;
}
<div class="trxpopup_provider_div">
    <div class="trxpopup_row">
        @Html.LabelFor(model => model.ReferenceNumber, new { @class = "trxpopup_label" })
        <span class="trxpopup_label">@Html.DisplayFor(model => model.MTCN)</span>
    </div>
</div>
