<hgroup>
	<h1>Potential Duplicate Check Error if Removed</h1>
</hgroup>
<div class="push_top5 popMessageLabel txt_red txt_black">
	To avoid a duplicate check error when resubmitting this check, select Cancel and then click on chat icon in message center to request the check be declined. After check has been declined, cancelled check can be removed from cart. Selecting Continue now will remove check but will not allow the check to be resubmitted later.
</div>
<div class="push_top5 txt_center">
	<ul>
		<li><input type="button" class="grey_btn" value="Cancel" onclick="javascript: $('#dlgRemoveCheck').dialog('destroy').remove();" /></li>

		
			<li>@Html.ActionLink("Continue", "DeleteShoppingCartItem", "ShoppingCart", new { id = @ViewBag.deleteCartId, screenName = @ViewBag.screenName, Product = @ViewBag.product }, new { id = "submitLink", @class = "anc_link_red_btn" })</li>
		
	</ul>
</div>
