@model MGI.Channel.DMS.Web.Models.CheckFrankingDetailsViewModel
@{
	Layout = null;
}
<div>
	<div class="row5">
		<h1 class="checkFrankCancelDialogSentence">
			Would you like to cancel the check endorsing? If yes, please
			<br />
			ensure to manually endorse the back of the check with:
			<br />
			<span class="checkFrankCheckCode">@ViewBag.cancelText</span>
		</h1>
	</div>
	<div>
		<ul>
			<li>
				<input type="button" class="red_btn checkFrankCancelDialogButton" value="No" id="btnNo" onclick="CancelCheckFrankingNo();" /></li>
			<li>
				<input type="button" class="anc_link_btn green_input" value="Yes" id="btnYes" onclick="CancelCheckFrankingYes();" /></li>
		</ul>
	</div>
</div>
