@model MGI.Channel.DMS.Web.Models.PrepaidTransactionDetailsViewModel
@{
    Layout = null;
}
@if (@ViewBag.IsAgentSession == null || @ViewBag.IsAgentSession == false)
{
    <div class="trxpopup_topspace_row">
        <span class="trxPopUpLabel">For inquiries and more information about this transaction,
            please contact Synovus at 866-340-6392 </span>
    </div>
}