<div class="shift25"></div>
<div>
    <p class="row_shift9">@ViewBag.ErrorMessage</p>
</div>
<div class="shift25"></div>
<div class="shift25">
    <ul>
        <li class="popUpCancelBtnWidth">
            <input type="button" value="Edit" id="btnEdit" class="red_btn push_top10_fix" />
        </li>
        <li class="popUpConfrmBtnWidth">
            @Html.ActionLink("Continue", "InitiateCustomerSession", "CustomerSearch", null, new { @class="anc_link_btn" })
        </li>
    </ul>
</div>
