@model MGI.Channel.DMS.Web.Models.ProfileSummary
@using (Html.BeginForm())
{
    <center>
        <p class="profile_heading roow5"> Profile Summary </p>
        <br />
        <br />
        <br />
        <br />
    </center>
    
    <div>
        <p class="profile_heading row5"> Personal Information </p>
    </div>
        
    @Html.Partial("_CustProfileSummary", Model)

    <div class="float_right">
        <ul>
            <li> @Html.ActionLink("Edit", "ModifyCustomer", "CustomerSearch", null, new { @class = "anc_link_btn"})</li>
            <li> <input type="button" value="Close" onclick="javascript:$('#dlgCustProfile').remove();" /></li>
        </ul>
    </div>
    
}