<br />
@using (Html.BeginForm())
{ 
	<div id="dyntext">
		<p class="txt_center"> @TempData["SuccessMessage"]</p>
	</div>
	<div>
	</div>
	<div class="txt_center">
		<ul>
			<li>@Html.ActionLink("OK", "EnterNewLocation", "Locations", null, new { @class = "anc_link_btn width_fix100" })</li>
		</ul>
	</div>
}