
  <br />
  <div id="dyntext"><p class="txt_center">Receiver data has been saved successfully</p> </div>
  <div></div>
  <div>
      <ul>
        <li>
        <li class="row_shift30"> @Html.ActionLink("OK", "SendMoney", "Product", null, new { @class = "anc_link_btn" })</li>
      </ul>
  </div>