<script src="@Url.Content("~/Scripts/Common/par_timeoutPopup.js")" type="text/javascript"></script>

<div>

@{
	string channelPartner = Session["ChannelPartnerName"].ToString();
}
<hgroup>
    <h1>
        <b>@MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.MinutesLeftForSession </b><br /><br />
	    <b> <span id="sessionTimeoutCountdown" class="green_inpit"></span></b> <br /><br />
	    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ClickOnContinue <br /><br />
	    @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.ClickOnCancel
    </h1>
</hgroup>
<div id="timeOutPopup" class="row_shift20">
    <ul>
       <li class="popUpCancelBtnWidth"><a href="#" class="anc_link_btn time_out_anc" onclick="UpdateCounterId();redirectToLogin()">Cancel</a></li>
        <li class="popUpConfrmBtnWidth"><input type="button"  value="Continue"  onclick="destroyPopup()" class="green_input"/></li>
    </ul>
</div>
</div>


