@model  string
			
<script type="text/javascript">
	function destroyPopup() {
		$('#divWarning').dialog('destroy').remove();
		redirectAfterTimeout();
	}
</script>

@using (Html.BeginForm())
{
	@Html.Hidden("hdnName", Model)
	<div id="timeOutPopup" class="row_shift20">
		<div style="margin-bottom:50px">Please Confirm Details</div>
		<ul>
			<li class="popUpCancelBtnWidth"><input type="button" value="Cancel" onclick="destroyPopup()" /></li>
			<li class="popUpConfrmBtnWidth"><input type="button" value="Confirmed" onclick="postCredentials();" class="green_input" /></li>
		</ul>
	</div>
	
}
