@model MGI.Channel.DMS.Web.Models.CashDrawerReport 
@{
    ViewBag.Title = "My Reports";
    Layout = "~/Views/Shared/_ReportLayout.cshtml"; 
}
@using (Html.BeginForm())
{   
    <div class="page_head product_head"><p>Select an option to generate Reports</p></div>  
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#divUserSessionId").css("display", "");
    });
</script>




