<div class="tab-container tab-control  grid-frm-icons">
  <app-spinner [show]="show"></app-spinner>
  <div class="row custForm no-gutters custLayout">
    <div class="col-md-3 col-lg-auto col">
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label font-bold width-80">Container</label>
        <input id="simple-input" type="text" class=" k-textbox width-140" [(ngModel)]="ReceiptHeader.ContainerNbr" disabled/>
      </div>
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label width-80">PickUp #</label>
        <input id="simple-input" type="text" class=" k-textbox width-140" [(ngModel)]="ReceiptHeader.PickupNumber" disabled/>
      </div>
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label width-80">Receipt #</label>
        <input id="simple-input" type="text" class=" k-textbox width-140" [(ngModel)]="ReceiptHeader.ReceiptNumber" disabled/>
      </div>
    </div>
    <div class="col-md-3 col-lg-auto col">
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label width-90-2">Shipment</label>
        <input id="simple-input" type="text" class="k-textbox width-270" [(ngModel)]="ReceiptHeader.Shipment" disabled/>
      </div>
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label width-90-2">PickUp Location</label>
        <input id="simple-input" type="text" class=" k-textbox width-270" [(ngModel)]="ReceiptHeader.PickupLocation" disabled/>
      </div>
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label width-90-2">Vendor Name</label>
        <input id="simple-input" type="text" class="k-textbox width-270" [(ngModel)]="ReceiptHeader.VendorName" disabled />
      </div>

    </div>
    <div class="col-md-3 col-lg-auto col">
      <div class="form-group row custFormrow">
        <label for="inputEmail3" class="col-form-label width-80">Vendor Code</label>
        <input id="simple-input" type="text" class=" k-textbox width-100" [(ngModel)]="ReceiptHeader.VendorCode" disabled/>
      </div>
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label width-80">Total Rolls</label>
        <input id="simple-input" type="text" class=" k-textbox width-100" [ngModel]="ReceiptHeader.TotalRolls | number" disabled/>
      </div>
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label width-80">Total Yards</label>
        <input id="simple-input" type="text" class=" k-textbox  width-100" [ngModel]="ReceiptHeader.TotalYards | number" disabled/>
      </div>
    </div>

    <div class="col-md-3 col-lg-auto col">
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label width-90-1">ASN</label>
        <input id="simple-input" type="text" class="k-textbox width-90" [(ngModel)]="ReceiptHeader.ASN" disabled />
      </div>
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label width-90-1">Received Rolls</label>
        <input id="simple-input" type="text" class=" k-textbox width-90" [ngModel]="ReceiptHeader.ReceivedRolls | number" disabled/>
      </div>
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label width-90-1">Received Yards</label>
        <input id="simple-input" type="text" class=" k-textbox width-90" [ngModel]="ReceiptHeader.ReceivedYards | number" disabled/>
      </div>

    </div>
    <div class="col-md-3 col-lg-auto col">
      <div class="form-group row custFormrow">
        <label for="inputEmail3" class="col-form-label width-80">Bill of Lading</label>
        <input id="simple-input" type="text" class=" k-textbox width-120" [(ngModel)]="ReceiptHeader.BillOfLading" disabled/>
      </div>
      <div class="form-group row custFormrow">
        <textarea id="simple-textarea" class="k-textbox width-200 maxWidth-200 m-0" rows="3" placeholder='Comments' [(ngModel)]="ReceiptHeader.Comments"
          style="height: auto !important;" disabled></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-auto col">
    <div id="agglomerations2" class=" text-right col agglomerations iconTooltip iconTooltip-large armrk-btn pt-0 mt-4 mr-0 clearfix">
      <button title="Export to PDF" class="icon_arm arm_pdf" id="moscow" [disabled] (click)="onExportPDF(grid)"></button>
      <button title="Export to Excel" class="icon_arm arm_excel" id="moscow" [disabled] (click)="onExportExcel(grid)"></button>
    </div>
  </div>
  <div class="responsiveTable">
  <kendo-grid #grid="kendoGrid" [scrollable]="'scrollable'" [data]="gridView" [height]="500" [style.maxHeight.vh]="50" [sortable]="{allowUnsort:false}"
    [sort]="sort" (sortChange)="sortChange($event)">
    <kendo-grid-column field="PONumber" title="PO #" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.PONumber" type="text" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="AramarkItem" title="Aramark Item" width="140">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.AramarkItem" type="text" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="RollCaseNbr" title="Roll Case #" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.RollCaseNbr" type="text" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Quantity" title="Roll Yards" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [ngModel]="dataItem.Quantity | number" type="text" style="text-align:right" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ReceivedYards" title="Received Yards" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [ngModel]="dataItem.ReceivedYards | number" type="text" style="text-align:right" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="LotNumber" title="Lot #" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.LotNumber" type="text" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="BinLocation" title="Bin Location" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.BinLocation" type="text" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Color" title="Color" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.Color" type="text" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Width" title="Width" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.Width" type="text" style="text-align:right" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="FiberContent" title="Fiber Content" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.FiberContent" type="text" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="VendorItem" title="Vendor Item" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.VendorItem" type="text" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="COO" title="COO" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.COO" type="text" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Defective" title="Defective" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="k-textbox" [(ngModel)]="dataItem.Defective" type="text" style="text-align:right" disabled/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="POComments" title="Comments" [width]="180">
      <ng-template kendoGridCellTemplate let-dataItem>
        <textarea type="text" class="k-textbox" [(ngModel)]="dataItem.POComments" disabled></textarea>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-pdf fileName="container-{{ReceiptHeader.ContainerNbr}}.pdf" [repeatHeaders]="true">
      <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
      <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
        <div class="page-template">
          <div class="header">
            <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
          </div>
          <div class="footer">
            Page {{ pageNum }} of {{ totalPages }}
          </div>
        </div>
      </ng-template>
      <kendo-grid-column field="PONumber" title="PO #">
      </kendo-grid-column>
      <kendo-grid-column field="AramarkItem" title="Aramark Item">
      </kendo-grid-column>
      <kendo-grid-column field="RollCaseNbr" title="Roll Case #">
      </kendo-grid-column>
      <kendo-grid-column field="Quantity" title="Roll Yards">
      </kendo-grid-column>
      <kendo-grid-column field="ReceivedYards" title="Received Yards">
      </kendo-grid-column>
      <kendo-grid-column field="LotNumber" title="Lot #">
      </kendo-grid-column>
      <kendo-grid-column field="BinLocation" title="Bin Location">
      </kendo-grid-column>
      <kendo-grid-column field="Color" title="Color">
      </kendo-grid-column>
      <kendo-grid-column field="Width" title="Width">
      </kendo-grid-column>
      <kendo-grid-column field="FiberContent" title="Fiber Content">
      </kendo-grid-column>
      <kendo-grid-column field="VendorItem" title="Vendor Item">
      </kendo-grid-column>
      <kendo-grid-column field="COO" title="COO">
      </kendo-grid-column>
      <kendo-grid-column field="Defective" title="Defective">
      </kendo-grid-column>
      <kendo-grid-column field="Comments" title="Comments">
      </kendo-grid-column>
    </kendo-grid-pdf>
    <kendo-grid-excel fileName="container-{{ReceiptHeader.ContainerNbr}}.xlsx">
    </kendo-grid-excel>
  </kendo-grid>
</div>
  <form class="row custForm armrk-tbl-footer no-gutters custLayout clearfix">
    <div class="col col-auto mt-2">
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label font-bold widthAuto  minWidthAuto">Total Rolls</label>
        <input type="text" class="k-textbox  text-left width-70" [value]="ReceiptsGridData.length | number" disabled>
      </div>
    </div>
    <div class="col col-auto mt-2">
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label font-bold widthAuto  minWidthAuto">Total Yards</label>
        <input type="text" class="k-textbox text-left width-70" [value]="yards | number" disabled>
      </div>
    </div>
    <div class="col col-auto mt-2">
      <div class="form-group row custFormrow">
        <label for="staticEmail" class="col-form-label font-bold widthAuto  minWidthAuto">Total Received Yards</label>
        <input type="text" class="k-textbox  text-left width-70" [ngModel]="receivedYards | number" name="ryards" disabled/>
      </div>
    </div>

  </form>

</div>
