<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomerWSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerWSSoap1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="wsHttpBinding">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="MBEndpoint">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://teller.tcfbank.com/TellerWorkQueueWS/TellerWorkQueueWS.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttpBinding"
                contract="TellerWorkQueueService.ITellerWorkQueueWS" name="wsHttpBinding" />
            <endpoint address="https://teller.tcfbank.com/TellerWorkQueueWS/TellerWorkQueueWS.svc/MB"
                binding="wsHttpBinding" bindingConfiguration="MBEndpoint"
                contract="TellerWorkQueueService.ITellerWorkQueueWS" name="MBEndpoint" />
            <endpoint address="https://tellertest.tcfbank.com/customerws/customerws.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerWSSoap"
                contract="EWSScanning.CustomerWSSoap" name="CustomerWSSoap" />
        </client>
    </system.serviceModel>
</configuration>