<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<!--<system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>-->
  <databaseSettings>
    <!--CXE DAtabase-->
    <add key="CXEDataSource" value="10.111.114.20;Integrated Security=false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="CXEPassword" value=""  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="CXEDatabase" value="UAT4_CXE"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!--CXN DAtabase-->
    <add key="CXNDataSource" value="10.111.114.20;Integrated Security=false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="CXNPassword" value=""  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="CXNDatabase" value="UAT4_CXN" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <!--Catalog Database-->
    <add key="CatalogDataSource" value="10.111.114.20;Integrated Security=false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="CatalogPassword" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="CatalogDatabase" value="UAT4_PCAT"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!--CorePartner Database-->
    <add key="PartnerDataSource" value="10.111.114.20;Integrated Security=false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="PartnerDbPassword" value=""  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="PartnerDatabase" value="UAT4_PTNR"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!--Compliance Database-->
    <add key="ComplianceDbDataSource" value="10.111.114.20;Integrated Security=false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ComplianceDbPassword" value=""  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ComplianceDatabase" value="UAT4_PTNR"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!--Bridger Database-->
    <add key="BridgerOFACDataSource" value="192.168.204.222;Integrated Security=false"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="BridgerOFACDbUser" value="DMSWebSvc"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="BridgerOFACDbPassword" value="rmIy2mLTE"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="BridgerOFACDatabase" value="BridgerInsightXGQ408"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!--Nexxo3 Database-->
    <add key="Nexxo3DataSource" value="192.168.204.222;Integrated Security=false"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="Nexxo3DbUser" value="DMSWebSvc"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="Nexxo3DbPassword" value="rmIy2mLTE"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="Nexxo3Database" value="Nexxo3"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <!--Bridger Path settings-->
    <add key="BridgerBasePath" value="C:\BridgerQ408" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="BridgerBatchFolder" value="\Batches" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="BridgerCLPath" value="\BridgerInsight\BridgerInsightCL.exe" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"  />
    <!--OFAC Alert address-->
    <add key="OFACAlertRecipientAddress" value="mzaman@nexxofinancial.com"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!--Receipt server settings-->
    <add key="ReceiptServerURL" value="http://10.111.114.13:8081/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ReceiptServerDBName" value="Nxo_ReceiptsRepo" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!--Check Processor settings-->
    <add key="CheckProcessor" value="WebSvc" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="DataProtectionService" value="Service" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="CardNumberLogging" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="EnvironmentIndicator" value="U" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
	<add key="AllowDuplicateTrxWU" value="D" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
	<add key="ReceiptServerBucketName"  value="UAT4" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
  </databaseSettings>
  <appSettings>
    <add key="LogPath" value="C:\Logs\" />
    <add key="ReceiptLogoUrl" value="http://10.111.114.50/ImageCache/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="CertificateFilePath" value="C:\CheckFree\nexxo.cer" />
    <add key="SecureKey" value="F194307C-A970-43F0-0A6B-19C618E83AFA" />
    <add key="CheckFreePayURL" value="https://test.link.checkfreepay.com/CFPLink/RealTimePayment23.asmx" />
		<add key="ExceptionDrillDownLimit" value="5" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ExceptionDrillDownLimit" value="5" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
  </appSettings>
  <spring>
        <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.net          http://www.springframework.net/xsd/spring-objects.xsd">
            <object id="Nexxo.DBIO" type="Nexxo.DBIO, Nexxo" autowire="byType">
                <constructor-arg index="1" value="Data Source=192.168.204.222;User ID=DMSWebSvc;Password=rmIy2mLTE;Initial Catalog=Nexxo3" xdt:Transform="SetAttributes(value)"
                                 xdt:Locator="Condition(../@id='Nexxo.DBIO' and @index=1)" />
			</object>
			<object id="Nexxo.Core.Customer.Service" type="Nexxo.Core.Customer.Impl.CustomerServiceImpl, Nexxo.Core.Customer.Impl" autowire="byType">
				<property name="TestCustomers" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)" />
				<property name="EnforceOFAC" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)" />
			</object>
			<object id="Nexxo.XEngineIO" type="Nexxo.XEngineIO, XClient" autowire="byType">
				<constructor-arg index="3" xdt:Transform="Replace" xdt:Locator="Condition(../@id='Nexxo.XEngineIO' and @index=3)">
					<!--XEngURLs dictionary-->
					<dictionary key-type="string" value-type="string">
						<entry key="DC2-Web2">
							<value>http://192.168.204.216/XWebSvc930_STAGE/XWebSvc.asmx</value>
						</entry>
						<entry key="DC2-Web1">
							<value>http://192.168.204.214/XWebSvc930_STAGE/XWebSvc.asmx</value>
						</entry>
					</dictionary>
				</constructor-arg>
			</object>
			<object id="Nexxo.Core.Alerts.Service" type="Nexxo.Core.Alerts.Impl.AlertServiceImpl, Nexxo.Core.Alerts.Impl" autowire="byType">
				<!--we'll need to update this once we know the right distribution list-->
				<constructor-arg index="1" value="Hrbsupport@nexxofinancial.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(../@id='Nexxo.Core.Alerts.Service' and @index=1)" />
			</object>
			<object id="ChannelCommonService" type="Nexxo.Channel.Common.Impl.CommonServiceImpl, Nexxo.Channel.Common.Impl" autowire="byType">
				<property name="EnforceOFAC" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)" />
			</object>
		</objects>
	</spring>
</configuration>
