<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DASInquiry_H2H_SOAP_HTTP_Binding" />
                <binding name="FusionGoShopping_H2H_SOAP_HTTP_Binding" />
                <binding name="MakePaymentValidate_H2H_SOAP_HTTP_Binding" />
                <binding name="MakePaymentStore_H2H_SOAP_HTTP_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.westernunion.com/DAS_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding"
                contract="DASService.DASInquiryPortType" name="SOAP_HTTP_Port" />
            <endpoint address="http://localhost:7080/FusionGoShopping_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="FusionGoShopping_H2H_SOAP_HTTP_Binding"
                contract="FusionGoShopping.FusionGoShopping_Service_PortType"
                name="SOAP_HTTP_Port1" />
            <endpoint address="http://localhost:7081/MakePaymentValidate_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="MakePaymentValidate_H2H_SOAP_HTTP_Binding"
                contract="MakePaymentValidate.MakePaymentValidate_Service_PortType"
                name="SOAP_HTTP_Port3" />
            <endpoint address="http://localhost:7081/MakePaymentStore_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="MakePaymentStore_H2H_SOAP_HTTP_Binding"
                contract="MakePaymentStore.MakePaymentStore_Service_PortType"
                name="SOAP_HTTP_Port2" />
        </client>
    </system.serviceModel>
</configuration>