<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PTNRDBConnection" connectionString="Data Source=OPT-LAP-0145\SQLEXPRESS;Initial Catalog=C_PTNR;User ID=sa;pwd=Opteamix@123" />
  </connectionStrings>
  <appSettings>
    <!--Receipt server settings-->
    <add key="ReceiptServerURL" value="http://192.168.1.154:8081/" />
    <add key="ReceiptServerDBName" value="Nxo_ReceiptsRepo" />
    <add key="ReceiptServerBucketName" value="R-3.2" />
		<add key="DataProtectionService" value="Simulator" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>