<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define ParentFolder = "Drivers\EPSON\" ?>
	<Fragment>
		<DirectoryRef Id="INSTALLLOCATION">
			<Directory Id="dir0" Name="EPSON">
				<Directory Id="dir1" Name="32Bit">

					<Component Id='Child3' Guid='{c25609b1-569c-49a7-9c1f-f598079a20b6}'>
						<File Id='FileId3' Source='$(var.ParentFolder)\32Bit\Epson_Pds_Driver_v102_Win7_32Bit.exe' DiskId='1' />
					</Component>

					<Directory Id="dir4" Name="TMS9000DRV102">
						<Component Id='Child5' Guid='{2464e79e-5cc5-46f0-aec3-5a3da78021bc}'>
							<File Id='FileId5' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Readme.txt' DiskId='1' />
						</Component>

						<Directory Id="dir6" Name="Setup">
							<Component Id='Child7' Guid='{81bf2fc2-aa81-48d7-b678-0a25149dc8cd}'>
								<File Id='FileId7' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\ES_UNINST.INI' DiskId='1' />
							</Component>

							<Component Id='Child8' Guid='{439e350c-3da5-4438-9f1e-8676fcbebe99}'>
								<File Id='FileId8' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\Setup.exe' DiskId='1' />
							</Component>

							<Component Id='Child9' Guid='{59df2725-3df7-40c3-8314-7f1dd7e3b2eb}'>
								<File Id='FileId9' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\SetupInfo.ini' DiskId='1' />
							</Component>

							<Component Id='Child10' Guid='{b0de784f-a502-4df5-b8b1-17538f18e5e6}'>
								<File Id='FileId10' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\SInst.ini' DiskId='1' />
							</Component>

							<Component Id='Child11' Guid='{3f9bdf48-41ef-46c5-8c87-3823080089f7}'>
								<File Id='FileId11' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\SInstLog.txt' DiskId='1' />
							</Component>

							<Directory Id="dir12" Name="CAB">
								<Component Id='Child13' Guid='{0262583a-fd01-42f1-a015-3080ca3f2b19}'>
									<File Id='FileId13' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\CAB\APIDriver32.cab' DiskId='1' />
								</Component>

								<Component Id='Child14' Guid='{0b1cd900-d9a7-4c52-9685-62e6f17df7e2}'>
									<File Id='FileId14' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\CAB\APIDriver64.cab' DiskId='1' />
								</Component>

								<Component Id='Child15' Guid='{0358e684-4ae9-44d1-86df-97beff287fde}'>
									<File Id='FileId15' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\CAB\Common.cab' DiskId='1' />
								</Component>

							</Directory>
							<Directory Id="dir16" Name="EXE">
								<Component Id='Child17' Guid='{dd7b7be1-1617-4355-bf53-d50f42da4840}'>
									<File Id='FileId17' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\EXE\ComWrapInst.exe' DiskId='1' />
								</Component>

								<Component Id='Child18' Guid='{88ca5117-a2f4-4ac8-865d-fedc9076a071}'>
									<File Id='FileId18' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\EXE\DotNetWrapInst.msi' DiskId='1' />
								</Component>

								<Component Id='Child19' Guid='{73220f6c-0eba-4418-852e-c7004eb9fb5c}'>
									<File Id='FileId19' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\EXE\EpsStmApiWrapper32.dll' DiskId='1' />
								</Component>

								<Component Id='Child20' Guid='{6dc4cf8e-fe8a-4dc9-86bd-093b09ecb718}'>
									<File Id='FileId20' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\EXE\EpsStmApiWrapper64.dll' DiskId='1' />
								</Component>

								<Component Id='Child21' Guid='{363b7941-463e-414d-84ee-cd3e275cd2b7}'>
									<File Id='FileId21' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\EXE\path.ini' DiskId='1' />
								</Component>

								<Component Id='Child22' Guid='{f22b633f-9270-4ae0-ad18-db5d703280b6}'>
									<File Id='FileId22' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\EXE\PCS_TMS32.msi' DiskId='1' />
								</Component>

								<Component Id='Child23' Guid='{281328e9-1e1b-4944-95b6-7ea80f1260b9}'>
									<File Id='FileId23' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\EXE\PCS_TMS64.msi' DiskId='1' />
								</Component>

							</Directory>
							<Directory Id="dir24" Name="RES">
								<Component Id='Child25' Guid='{d0363a5a-6033-46e8-a9eb-a286edc3fedb}'>
									<File Id='FileId25' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\RES\ES_INFO.sif' DiskId='1' />
								</Component>

								<Component Id='Child26' Guid='{e4af1c24-248d-4eae-886e-b2226e874e43}'>
									<File Id='FileId26' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\RES\License.txt' DiskId='1' />
								</Component>

								<Component Id='Child27' Guid='{e36cf9b5-4033-4c72-9119-15662fa42603}'>
									<File Id='FileId27' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\RES\ResLang.cab' DiskId='1' />
								</Component>

								<Component Id='Child28' Guid='{eb8912fc-9786-4c43-93c8-e62607ff58ac}'>
									<File Id='FileId28' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\RES\sures.dll' DiskId='1' />
								</Component>

							</Directory>
							<Directory Id="dir29" Name="TMUSB">
								<Component Id='Child30' Guid='{0c0029ce-e130-4481-81c3-56fd16195caf}'>
									<File Id='FileId30' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\readme_e.txt' DiskId='1' />
								</Component>

								<Component Id='Child31' Guid='{26e146ae-5d74-4ce5-93b7-cbc7152c5a50}'>
									<File Id='FileId31' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\readme_j.txt' DiskId='1' />
								</Component>

								<Component Id='Child32' Guid='{ce479473-9a18-4198-b56e-05425a3e1928}'>
									<File Id='FileId32' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\Setup.exe' DiskId='1' />
								</Component>

								<Directory Id="dir33" Name="TMUSB64">
									<Component Id='Child34' Guid='{c49f8369-3188-4d12-9d89-19a054547060}'>
										<File Id='FileId34' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\DPInst.exe' DiskId='1' />
									</Component>

									<Component Id='Child35' Guid='{901108b7-e6e2-46a4-aabe-76b07060fb7f}'>
										<File Id='FileId35' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\dpinst.xml' DiskId='1' />
									</Component>

									<Component Id='Child36' Guid='{77bba179-41cd-4b45-9cbc-1e361d841a3a}'>
										<File Id='FileId36' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\licenseE.txt' DiskId='1' />
									</Component>

									<Component Id='Child37' Guid='{9b98f47a-3b6e-4a1a-8291-43e6aa8a6d3d}'>
										<File Id='FileId37' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\licenseJ.txt' DiskId='1' />
									</Component>

									<Component Id='Child38' Guid='{2ca96606-a08c-4193-a176-249a271e68fd}'>
										<File Id='FileId38' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\tmusb64.cat' DiskId='1' />
									</Component>

									<Component Id='Child39' Guid='{55f8da77-23d4-4e8a-90aa-eabf7760b3d1}'>
										<File Id='FileId39' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\TMUSB64.INF' DiskId='1' />
									</Component>

									<Component Id='Child40' Guid='{5c722dee-3563-4971-a367-9e6dbd9a8289}'>
										<File Id='FileId40' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\tmusb64.sys' DiskId='1' />
									</Component>

								</Directory>
								<Directory Id="dir41" Name="TMUSBXP">
									<Component Id='Child42' Guid='{1d364057-2043-4037-a8ac-356fc1e52d96}'>
										<File Id='FileId42' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\DPInst.exe' DiskId='1' />
									</Component>

									<Component Id='Child43' Guid='{d0fb6b95-40e6-476b-bbea-e8cd9b7c355a}'>
										<File Id='FileId43' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\dpinst.xml' DiskId='1' />
									</Component>

									<Component Id='Child44' Guid='{4645536f-3bb2-43a1-bdf9-a9089f6d4eeb}'>
										<File Id='FileId44' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\licenseE.txt' DiskId='1' />
									</Component>

									<Component Id='Child45' Guid='{c4be6ee6-1a16-44fb-b243-f5a2ee5dc902}'>
										<File Id='FileId45' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\licenseJ.txt' DiskId='1' />
									</Component>

									<Component Id='Child46' Guid='{512ec7d2-5819-4d77-a0ae-05571f1d2638}'>
										<File Id='FileId46' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\TMUSB90.INF' DiskId='1' />
									</Component>

									<Component Id='Child47' Guid='{89144ae2-fa01-4651-b942-f72ee564a18c}'>
										<File Id='FileId47' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\tmusbxp.cat' DiskId='1' />
									</Component>

									<Component Id='Child48' Guid='{06a26d2a-3602-4015-8bf3-9c4c6184215a}'>
										<File Id='FileId48' Source='$(var.ParentFolder)\32Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\tmusbxp.sys' DiskId='1' />
									</Component>

								</Directory>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="EPSON32Bit">
			<ComponentRef Id="Child3" />
			<ComponentRef Id="Child5" />
			<ComponentRef Id="Child7" />
			<ComponentRef Id="Child8" />
			<ComponentRef Id="Child9" />
			<ComponentRef Id="Child10" />
			<ComponentRef Id="Child11" />
			<ComponentRef Id="Child13" />
			<ComponentRef Id="Child14" />
			<ComponentRef Id="Child15" />
			<ComponentRef Id="Child17" />
			<ComponentRef Id="Child18" />
			<ComponentRef Id="Child19" />
			<ComponentRef Id="Child20" />
			<ComponentRef Id="Child21" />
			<ComponentRef Id="Child22" />
			<ComponentRef Id="Child23" />
			<ComponentRef Id="Child25" />
			<ComponentRef Id="Child26" />
			<ComponentRef Id="Child27" />
			<ComponentRef Id="Child28" />
			<ComponentRef Id="Child30" />
			<ComponentRef Id="Child31" />
			<ComponentRef Id="Child32" />
			<ComponentRef Id="Child34" />
			<ComponentRef Id="Child35" />
			<ComponentRef Id="Child36" />
			<ComponentRef Id="Child37" />
			<ComponentRef Id="Child38" />
			<ComponentRef Id="Child39" />
			<ComponentRef Id="Child40" />
			<ComponentRef Id="Child42" />
			<ComponentRef Id="Child43" />
			<ComponentRef Id="Child44" />
			<ComponentRef Id="Child45" />
			<ComponentRef Id="Child46" />
			<ComponentRef Id="Child47" />
			<ComponentRef Id="Child48" />
		</ComponentGroup>
	</Fragment>
</Wix>