<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define ParentFolder = "Drivers\EPSON\" ?>
	<Fragment>
		<DirectoryRef Id="INSTALLLOCATION">
			<Directory Id="dir64_0" Name="EPSON">
				<Directory Id="dir64_1" Name="64Bit">
					<Component Id='Child64_3' Guid='{2603e4f1-f1f3-4ce6-a0cf-d14cebe9ed13}'>
						<File Id='FileId64_3' Source='$(var.ParentFolder)\64Bit\Epson_Pds_Driver_v102_Win7_64Bit.exe' DiskId='1' />
					</Component>

					<Directory Id="dir64_4" Name="TMS9000DRV102">
						<Component Id='Child64_5' Guid='{4adec534-f93c-4624-a4fc-3e75f8bed079}'>
							<File Id='FileId64_5' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Readme.txt' DiskId='1' />
						</Component>

						<Directory Id="dir64_6" Name="Setup">
							<Component Id='Child64_7' Guid='{75ebf914-fc92-4454-993c-5b67e7d853fe}'>
								<File Id='FileId64_7' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\ES_UNINST.INI' DiskId='1' />
							</Component>

							<Component Id='Child64_8' Guid='{e16e307d-555a-4a69-9669-38f331748622}'>
								<File Id='FileId64_8' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\Setup.exe' DiskId='1' />
							</Component>

							<Component Id='Child64_9' Guid='{b305cba9-0da3-4608-b63b-2dab5ca12abc}'>
								<File Id='FileId64_9' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\SetupInfo.ini' DiskId='1' />
							</Component>

							<Component Id='Child64_10' Guid='{69702beb-52fb-4987-b225-5ddee5032d73}'>
								<File Id='FileId64_10' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\SInst.ini' DiskId='1' />
							</Component>

							<Component Id='Child64_11' Guid='{f22b8e8e-2c14-433b-b39b-516d8e50f6d2}'>
								<File Id='FileId64_11' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\SInstLog.txt' DiskId='1' />
							</Component>

							<Directory Id="dir64_12" Name="CAB">
								<Component Id='Child64_13' Guid='{2a17e4f8-3a21-448e-a2c0-d2fd2bf0ed48}'>
									<File Id='FileId64_13' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\CAB\APIDriver32.cab' DiskId='1' />
								</Component>

								<Component Id='Child64_14' Guid='{272270ac-6671-4421-b7c4-574cfd4d4a3a}'>
									<File Id='FileId64_14' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\CAB\APIDriver64.cab' DiskId='1' />
								</Component>

								<Component Id='Child64_15' Guid='{285011b0-3ee6-4b28-b095-8153e9ce062f}'>
									<File Id='FileId64_15' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\CAB\Common.cab' DiskId='1' />
								</Component>

							</Directory>
							<Directory Id="dir64_16" Name="EXE">
								<Component Id='Child64_17' Guid='{ccec19e3-b767-4ab3-9137-0ebb7916df65}'>
									<File Id='FileId64_17' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\EXE\ComWrapInst.exe' DiskId='1' />
								</Component>

								<Component Id='Child64_18' Guid='{5d568245-8ef0-4fdc-bbfc-f124e3d69d6b}'>
									<File Id='FileId64_18' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\EXE\DotNetWrapInst.msi' DiskId='1' />
								</Component>

								<Component Id='Child64_19' Guid='{97077718-bf84-4cf0-ae4c-65914e235607}'>
									<File Id='FileId64_19' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\EXE\EpsStmApiWrapper32.dll' DiskId='1' />
								</Component>

								<Component Id='Child64_20' Guid='{fcfaa347-09d8-45b5-896e-6d7aee71a18c}'>
									<File Id='FileId64_20' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\EXE\EpsStmApiWrapper64.dll' DiskId='1' />
								</Component>

								<Component Id='Child64_21' Guid='{f5a8c0b4-8923-4b27-9629-53f33b3ddf24}'>
									<File Id='FileId64_21' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\EXE\path.ini' DiskId='1' />
								</Component>

								<Component Id='Child64_22' Guid='{bcd2e0e7-e02c-4825-814f-fdc74b3f0fec}'>
									<File Id='FileId64_22' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\EXE\PCS_TMS32.msi' DiskId='1' />
								</Component>

								<Component Id='Child64_23' Guid='{2e0902d5-bf9f-4663-ab20-1ab828d8d8f2}'>
									<File Id='FileId64_23' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\EXE\PCS_TMS64.msi' DiskId='1' />
								</Component>

							</Directory>
							<Directory Id="dir64_24" Name="RES">
								<Component Id='Child64_25' Guid='{30ebe3a7-0bc8-4fd0-a5b1-60b2e6960101}'>
									<File Id='FileId64_25' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\RES\ES_INFO.sif' DiskId='1' />
								</Component>

								<Component Id='Child64_26' Guid='{59d87f62-f140-47f9-b3a8-ec44f29eeb43}'>
									<File Id='FileId64_26' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\RES\License.txt' DiskId='1' />
								</Component>

								<Component Id='Child64_27' Guid='{c442edc6-3c12-46b7-acee-63ab6971cd1a}'>
									<File Id='FileId64_27' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\RES\ResLang.cab' DiskId='1' />
								</Component>

								<Component Id='Child64_28' Guid='{c46ee140-1afd-4468-baf6-1e0cc44ef233}'>
									<File Id='FileId64_28' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\RES\sures.dll' DiskId='1' />
								</Component>

							</Directory>
							<Directory Id="dir64_29" Name="tmp">
								<Component Id='Child64_30' Guid='{10ab88bf-89fc-465a-bcd0-23ed06492b1c}'>
									<File Id='FileId64_30' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\tmp\SInst.ini' DiskId='1' />
								</Component>

							</Directory>
							<Directory Id="dir64_31" Name="TMUSB">
								<Component Id='Child64_32' Guid='{eacfa873-6397-4ed9-80db-bec5573871c4}'>
									<File Id='FileId64_32' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\readme_e.txt' DiskId='1' />
								</Component>

								<Component Id='Child64_33' Guid='{635feeae-7dc5-419e-9ea4-0a2583b0573a}'>
									<File Id='FileId64_33' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\readme_j.txt' DiskId='1' />
								</Component>

								<Component Id='Child64_34' Guid='{11b822bd-453b-42ae-9fa2-f43581df92dd}'>
									<File Id='FileId64_34' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\Setup.exe' DiskId='1' />
								</Component>

								<Directory Id="dir64_35" Name="TMUSB64">
									<Component Id='Child64_36' Guid='{fd172838-14b0-4a7d-99a1-029ef1d3268b}'>
										<File Id='FileId64_36' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\DPInst.exe' DiskId='1' />
									</Component>

									<Component Id='Child64_37' Guid='{c1fcd7f0-9dc3-4492-9afb-10262bdc9f58}'>
										<File Id='FileId64_37' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\dpinst.xml' DiskId='1' />
									</Component>

									<Component Id='Child64_38' Guid='{ca03bcb9-2942-41fa-a529-334b858b8321}'>
										<File Id='FileId64_38' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\licenseE.txt' DiskId='1' />
									</Component>

									<Component Id='Child64_39' Guid='{d9ee377a-5bc8-45b3-95a4-81bdc867aec1}'>
										<File Id='FileId64_39' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\licenseJ.txt' DiskId='1' />
									</Component>

									<Component Id='Child64_40' Guid='{9c01cc42-34b0-4bf5-a691-cf8bb742421a}'>
										<File Id='FileId64_40' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\tmusb64.cat' DiskId='1' />
									</Component>

									<Component Id='Child64_41' Guid='{a1905543-5f7c-45bb-8b10-8d619e81cfe7}'>
										<File Id='FileId64_41' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\TMUSB64.INF' DiskId='1' />
									</Component>

									<Component Id='Child64_42' Guid='{2e69f4e2-1a37-4a03-ad5a-c877de285f61}'>
										<File Id='FileId64_42' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSB64\tmusb64.sys' DiskId='1' />
									</Component>

								</Directory>
								<Directory Id="dir64_43" Name="TMUSBXP">
									<Component Id='Child64_44' Guid='{a38662f6-ffba-4721-b2ec-6ad8a343d8e1}'>
										<File Id='FileId64_44' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\DPInst.exe' DiskId='1' />
									</Component>

									<Component Id='Child64_45' Guid='{804e839b-d5fd-401c-83a2-fdc7800a1b77}'>
										<File Id='FileId64_45' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\dpinst.xml' DiskId='1' />
									</Component>

									<Component Id='Child64_46' Guid='{115f06fe-da0a-4860-9c36-966d78630b22}'>
										<File Id='FileId64_46' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\licenseE.txt' DiskId='1' />
									</Component>

									<Component Id='Child64_47' Guid='{67168913-3c62-4762-ae91-b2fe6b8fc1fb}'>
										<File Id='FileId64_47' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\licenseJ.txt' DiskId='1' />
									</Component>

									<Component Id='Child64_48' Guid='{49ebef4d-49d1-40d5-b74e-373841376e72}'>
										<File Id='FileId64_48' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\TMUSB90.INF' DiskId='1' />
									</Component>

									<Component Id='Child64_49' Guid='{725f67b9-691d-4721-bf31-8e32eb48a62b}'>
										<File Id='FileId64_49' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\tmusbxp.cat' DiskId='1' />
									</Component>

									<Component Id='Child64_50' Guid='{c08eed2e-92c5-4107-9245-563d22a56c75}'>
										<File Id='FileId64_50' Source='$(var.ParentFolder)\64Bit\TMS9000DRV102\Setup\TMUSB\TMUSBXP\tmusbxp.sys' DiskId='1' />
									</Component>

								</Directory>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="EPSON64Bit">
			<ComponentRef Id="Child64_3" />
			<ComponentRef Id="Child64_5" />
			<ComponentRef Id="Child64_7" />
			<ComponentRef Id="Child64_8" />
			<ComponentRef Id="Child64_9" />
			<ComponentRef Id="Child64_10" />
			<ComponentRef Id="Child64_11" />
			<ComponentRef Id="Child64_13" />
			<ComponentRef Id="Child64_14" />
			<ComponentRef Id="Child64_15" />
			<ComponentRef Id="Child64_17" />
			<ComponentRef Id="Child64_18" />
			<ComponentRef Id="Child64_19" />
			<ComponentRef Id="Child64_20" />
			<ComponentRef Id="Child64_21" />
			<ComponentRef Id="Child64_22" />
			<ComponentRef Id="Child64_23" />
			<ComponentRef Id="Child64_25" />
			<ComponentRef Id="Child64_26" />
			<ComponentRef Id="Child64_27" />
			<ComponentRef Id="Child64_28" />
			<ComponentRef Id="Child64_30" />
			<ComponentRef Id="Child64_32" />
			<ComponentRef Id="Child64_33" />
			<ComponentRef Id="Child64_34" />
			<ComponentRef Id="Child64_36" />
			<ComponentRef Id="Child64_37" />
			<ComponentRef Id="Child64_38" />
			<ComponentRef Id="Child64_39" />
			<ComponentRef Id="Child64_40" />
			<ComponentRef Id="Child64_41" />
			<ComponentRef Id="Child64_42" />
			<ComponentRef Id="Child64_44" />
			<ComponentRef Id="Child64_45" />
			<ComponentRef Id="Child64_46" />
			<ComponentRef Id="Child64_47" />
			<ComponentRef Id="Child64_48" />
			<ComponentRef Id="Child64_49" />
			<ComponentRef Id="Child64_50" />
		</ComponentGroup>
	</Fragment>
</Wix>