<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?define ProductVersion="3.3.4.0" ?>
	<?define Manufacturer="Nexxo"?>
	<?define UpgradeCode="{baa10cc3-ba27-4711-911c-4361146be55f}"?>
	
	<Product Id="*" Name="Nexxo Wrapper for Epson" Language="1033"
			 Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"
				 Manufacturer="$(var.Manufacturer)"  Description="Updating Nexxo Wrapper Epson"/>
		
		<Media Id="1" Cabinet="Sample.cab" EmbedCab="yes"/>
		<Property Id="DiskPrompt" Value="Installation [1]" />
		<SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize" />
		<Property Id="INSTALLDIR" Secure="yes" />
		<Property Id="SERVERPATH"/>
		<Property Id="INSTALLLOGFOLDER"/>

    <MajorUpgrade  Schedule ="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."></MajorUpgrade>    
		<!--Calling Custom Action Methods using dll  -->
		<Binary Id="BIN_CustomAction" SourceFile="Nexxo.Wrapper.Epson.CustomAction.CA.dll" />
		<CustomAction Id="CheckPrerequiste" BinaryKey="BIN_CustomAction" DllEntry="InstallEPSON"
					  Return="ignore" Execute="immediate" />
		<CustomAction Id="CAUnInstallEPSON" BinaryKey="BIN_CustomAction" DllEntry="UnInstallEPSON" Execute="immediate" Return="ignore" />

		<InstallExecuteSequence>
      <Custom Action="CAUnInstallEPSON" Before="InstallInitialize">NOT UPGRADINGPRODUCTCODE AND REMOVE="ALL"</Custom>
      <Custom Action="CheckPrerequiste" After="InstallExecute">NOT Installed</Custom>
    </InstallExecuteSequence>

		<Directory Id="TARGETDIR"  Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="Nexxo Wrapper Epson">
          <Component Id="ComponentBatEpsonInstall64" Guid="{0206210D-C39A-4495-BA84-EC66267B68D6}" Permanent="yes">
            <File Id="FileBatInstallEpson64" Source=".\Bat\InstallEpson64.bat"/>
            <util:EventSource Log="Application" Name="Nexxo Epson Wrapper" EventMessageFile="%SystemRoot%\Microsoft.Net\Framework\v2.0.50727\EventLogMessages.dll" />
          </Component>
          <Component Id="ComponentBatEpsonInstall32" Guid="{49307806-4D95-4896-8271-98A685F1EF27}">
            <File Id="FileBatInstallEpson32" Source=".\Bat\InstallEpson32.bat"/>
          </Component>
          <Component Id="ComponentBatEpsonInstall64Alt" Guid="{0206211D-C39A-4495-BA84-EC66267B68D6}">
            <File Id="FileBatInstallEpson64Alt" Source=".\Bat\InstallEpson64Alt.bat"/>
          </Component>
          <Component Id="ComponentBatEpsonInstall32Alt" Guid="{49307816-4D95-4896-8271-98A685F1EF27}">
            <File Id="FileBatInstallEpson32Alt" Source=".\Bat\InstallEpson32Alt.bat"/>
          </Component>
          <Component Id="ComponentBatEpsonUnInstall64Alt" Guid="{0206211E-C39A-4495-BA84-EC66267B68D6}">
            <File Id="FileBatUninstallEpson64Alt" Source=".\Bat\InitUninstallEpson64Alt.bat"/>
          </Component>
          <Component Id="ComponentBatEpsonUnInstall32Alt" Guid="{49307817-4D95-4896-8271-98A685F1EF27}">
            <File Id="FileBatUninstallEpson32Alt" Source=".\Bat\InitUninstallEpson32Alt.bat"/>
          </Component>
          <Component Id="ComponentBatInitUninstallEpson32" Guid="{ED530CC5-D1DD-4DB4-8FB7-7CC60EA5F557}">
						<File Id="FileBatInitUninstallEpson32" Source=".\Bat\InitUninstallEpson32.bat"/>
					</Component>
          <Component Id="ComponentBatInitUninstallEpson64" Guid="{B0336F01-8B96-439E-8B76-7F0AAB6E7AD7}">
            <File Id="FileBatInitUninstallEpson64" Source=".\Bat\InitUninstallEpson64.bat"/>
          </Component>
          <Component Id="ComponentBatUninstallEpson64" Guid="{529B8C17-2F69-42F2-A36C-E98A0C44806A}">
						<File Id="FileBatUninstallEpson64" Source=".\Bat\UnInstallEpson64.bat"/>
					</Component>
					<Component Id="BatUninstallEpsonComponent32" Guid="{F7B49170-3554-459E-86E0-B6665BDABB24}">
						<File Id="FileBatUninstallEpson32" Source=".\Bat\UnInstallEpson32.bat"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="Nexxo Wrapper Epson" Level="1"  ConfigurableDirectory="INSTALLLOCATION">
		  <ComponentGroupRef Id="EPSON32Bit"/>
		  <ComponentGroupRef Id="EPSON64Bit"/>
		  <ComponentRef Id="ComponentBatEpsonInstall64"/>
		  <ComponentRef Id="ComponentBatEpsonInstall32"/>
		  <ComponentRef Id="ComponentBatEpsonInstall64Alt"/>
		  <ComponentRef Id="ComponentBatEpsonInstall32Alt"/>
		  <ComponentRef Id="ComponentBatInitUninstallEpson64"/>
  		  <ComponentRef Id="ComponentBatInitUninstallEpson32"/>
		  <ComponentRef Id="ComponentBatUninstallEpson64"/>
		  <ComponentRef Id="BatUninstallEpsonComponent32"/>
      <ComponentRef Id="ComponentBatEpsonUnInstall64Alt"/>
      <ComponentRef Id="ComponentBatEpsonUnInstall32Alt"/>
    </Feature>
	</Product>
</Wix>