<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Nexxo.Security.Voltage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
 <applicationSettings>
  <Nexxo.Security.Voltage.Properties.Settings>
   <setting name="Nexxo_Security_Voltage_VoltageSecurityService_VibeSimple"
    serializeAs="String">
    <value>https://proxy.ic.local/voltage/vibesimple/services/VibeSimpleSOAP</value>
   </setting>
  </Nexxo.Security.Voltage.Properties.Settings>
 </applicationSettings>
</configuration>
