<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChexarIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChexarIO.Properties.Settings>
            <setting name="ChexarIO_ChexarCommonService_CommonService" serializeAs="String">
                <value>http://beta.chexar.net/webservice/commonservice.asmx</value>
            </setting>
            <setting name="ChexarIO_ChexarTransactionService_TransactionService" serializeAs="String">
                <value>http://beta.chexar.net/webservice/transactionservice.asmx</value>
            </setting>
            <setting name="ChexarIO_ChexarCustomerService_CustService" serializeAs="String">
                <value>http://beta.chexar.net/webservice/CustService.asmx</value>
            </setting>
            <setting name="ChexarIO_ChexarCallCenterService_CallCenterService" serializeAs="String">
                <value>http://beta.chexar.net/webservice/callcenterservice.asmx</value>
            </setting>
        </ChexarIO.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
