 //Css-Reset Starts here
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;/*background:transparent;*/}body {line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}nav ul {list-style:none;}blockquote, q {quotes:none;}blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}a {margin:0;padding:0;font-size:100%;vertical-align:baseline;/*background:transparent;*/}/* change colours to suit your needs */ins {background-color:#ff9;color:#000;text-decoration:none;}/* change colours to suit your needs */mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del {text-decoration: line-through;}abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}table {border-collapse:collapse;border-spacing:0;}/* change border colour to suit your needs */hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input, select {vertical-align:middle;}
//Css-Reset Ends here
//all common related css starts here
html{
	height:100%;
	width:100%;
}

body{
	height:100%;
	width:100%;
}

li{
	list-style-type:none;
	display: inline-block;
}

form{
	height:100%;
	width:100%;
}
a{
	text-decoration:none;
}

.spacer{
	padding:1px;
	margin:1px;
}
.diagnoSpacer{
	padding:5px;
	margin:5px;
}

.reportSpacer {
  padding: 5px;
  margin: 5px; }

.bubbleImg{
	margin-top:13%;margin-left:17%;vertical-align:middle;
}

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
    {   
        border : 0px;
    } 

//UBkey related css starts here
#keySpace{
	float:left;
	height:auto;
	width:499px;
}

.ubkey {
    margin-left: 80%;
    margin-top: 30%;
}
.keyContainer {
    float: left;
    height: 165px;
    // margin: 30px 60px;
    width: 379px;
}
#keyLogin {
    color: #00794F;
    float: left;
    font-family:Arial,sans-serif, Helvetica;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 10px;
    text-align: left;
    width: 379px;
	margin-left:8px;
}

//UBkey related css ends here

//all common related css ends here

//scss related styling starts here
	$font-family:Arial,sans-serif, Helvetica;
	$font-size:13px;
	$labelwieght:bold;
	$menuheading:Arial,sans-serif, Helvetica;
	$menuheadingsize:15px;
	$menusize:18.6667px;
	$breadcrumbfontsize:14px;
	$labeltext:13px;
	$labelinput:13px;
	$font-weight:normal;
	$cursor: pointer;
	$buttonfontsize:16px;
	$productmenus:17px;
	$menuheadingcolor:#c5d0fe;
//scss related styling starts here

// Container Related Css Starts here
 #container { width: 1200px; margin: 0 auto;  }
#header,
#footer,
#mainContentContainer { float: left; width: 100%; clear: both; display: block;  height:100%}
#sidebar-left { float: left; width: 20%; height: auto;}
#sidebar-leftPwdChanged { float: left; width: 20%; height: auto;}
#sidebar-right { float: left; width: 27%; height: auto;margin-left:2.5%;}
#sidebar-rightPwdChanged{ float: left; width: 27%; height: auto;margin-left:2.5%;}
#mainContent { float: left;  height: 100%;min-height:497px;width: 50%;}
// Container Related Css Ends here

//Login Page css starts here 
.cFont{
	font-family:$font-family;
	font-size:$font-size;
}

.breadNav{
	font-family:$font-family;
	font-size:$breadcrumbfontsize;
	width: 10%;
	float: left;
	margin-left:18px;
	 margin-top:6px;
	 color:#006837;
}
.searchCust{
	margin-left:27px;
	margin-top:-22px;
}
.breadNavSecond{
font-family:$font-family;
font-size:$breadcrumbfontsize;
// width: 70%;
 float: left;
 margin-left:15px;
 margin-top:6px;
 color:#006837;

}
.expiryInfo{
font-family:$font-family;
font-size:$font-size;
float: left; 
width: 30%; 
color: Red; 
margin-top:6px;
margin-left:21%;
}
.LoginButtonInfo
{
    float:right;
    margin-top:-4px;
    margin-right:28.8%;
}
.forgotInfo
{
	clear:both;float:right;margin-right:12.5%;padding:3px;
}
.forgotLink{
	text-decoration:underline;
	font-family:$font-family;
	font-size:$font-size;
	color: #0000FF;
	}
// Login Page css ends here 
// Header Related Css Starts here
.agentImg{
		height:82px;
		width:99%;
		background-image:url("../../images/NFS_header_1600x150.jpg");
		border-bottom-right-radius:20px;
		border-bottom-left-radius:20px;
	}

.logoImgRight{
	float: right;
	margin-top:5px;
	margin-right:4px;
}
.logoImgLeft{
	float: left;
	/*width:200px;
	height:80px;*/
	margin:15px;
}

.pMenuImg{
margin-top:-8px;margin-left:5px;
}
.pMenuText{
vertical-align:top;margin-left:10px;
}

.menuOpts{
		background-image:url("../../images/nav_bkrnd_fullHome.gif");
		background-repeat: no-repeat;
		border-bottom-right-radius:20px;
		border-bottom-left-radius:20px;
		height:40px;
		width:100%;
		margin-top:7px;
		padding-left:7px;
		padding-top:7px;
}
.menuOptsNew{
		background-image:url("../../images/nav_bkrnd_full.gif");
		background-repeat: no-repeat;
		border-bottom-right-radius:20px;
		border-bottom-left-radius:20px;
		height:40px;
		width:100%;
		margin-top:7px;
		padding-left:7px;
		padding-top:7px;
}

.menu{
	display: inline-block;
	font-family:$font-family;
	font-size: $breadcrumbfontsize;
	color:#006837;
	//margin-left:6px;
	margin-top:-2px;
	padding:3px;
	text-align: left;
	vertical-align:top;
}
.loginMenu{
	display: inline-block;
	font-family:$font-family;
	font-size: $breadcrumbfontsize;
	color:#006837;
	float:left;
	margin-left:6px;
	margin-top:3px;
	padding:3px;
}
.loginArea{
	border:1px solid gray;
    //border-radius:20px;
	box-shadow:4px 4px 6px #ccc;
	width: 100%;
	height: auto;
	float: left;
	margin:100px 260px;
	padding:15px;
}
.labelText{
		float:left;
		width:27%;
		padding-top:7px;
		margin-right: 16px;
		text-align:right;
		font-family:$font-family;
		font-size:$labeltext;
		font-weight:$labelwieght;
		color:#4D4D4D;
}
.transHstLabel{
	    float:left;
		
		padding-top:7px;
		margin-right: 16px;
		text-align:left;
		font-family:$font-family;
		font-size:$labeltext;
		font-weight:$labelwieght;
		color:#4D4D4D;
}
.shpngCartLabelTxt{
		display:none;float:right;margin-right:13.5%;margin-top:1%;font-family:$font-family;
		font-size:$labeltext;
		font-weight:$labelwieght;color:#4D4D4D;
}
.shpngCartLabeltdtxt{
		display:none;
}
.ShpngTextBox {
	font-family: $font-family;
	font-size: $labelinput;
	color:#000000;
	line-height:22.53px;
	padding:4px 8px;
	margin-right:80px;
	//border: 1px solid #ccc;
	border:1px solid #808080;
	background-color:#FFFFFF;
	height:20px;
	outline:none;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	-moz-opacity:.6;/*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/;

&:focus{font-family: $font-family;
	font-size: $labelinput;
	color:#000000;
	line-height:22.53px;
	padding:4px 8px;
	margin-right:80px;
	//border: 1px solid #059764;
	border:1px solid #808080;
	background-color:#FFFFFF;
	height:20px;
	outline:none;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	-moz-opacity:.6;/*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/}
}

.CustProfileLabelTxt
{
 font-family: $font-family;
 font-size: $labelinput;
 width:65%;
 margin-bottom:2px;
}
.breadCrumb{
// margin-left:20px;
font-family:$font-family;
font-size: $breadcrumbfontsize;
color:#006837;
text-decoration:none;
}

.hoverMenu{
font-family:$font-family;
font-size:$font-size;
display: inline-block;
color:#006837;
	//margin-left:6px;
margin-top:-4px;
padding:3px;
text-align: left;
vertical-align:top;
}


textarea{
	margin: 1px 0px 6px 6%; padding: 1px; width: auto; height: 30px;resize:none;
}

.profile{
	float:left;
		width:auto;
		padding-top:7px;
		margin-right: 16px;
		text-align:right;
		font-family:$font-family;
		font-size:$font-size;
}


// forgot username & password related css starts here
.forgot
{
	font-family: $font-family;	
	font-size: $font-size;
	text-align:center;
}
.call{
text-decoration:underline;
font-family: $font-family;	
font-size: $font-size;
margin-left:42%;

}
.comingSoon{
	font-family: $font-family;	
	font-size: $font-size;
	text-align:center;
}
#AgentLoginnew{
	width:100%; 
	height:30px;
	float:left; 
	margin-bottom:10px;
	font-family:$font-family; 
	font-size:$font-size;
	font-weight:bold; 
	color:#00794f; 
	text-align:center;
   }
// forgot username & password related css ends here
// common for all  buttons and errors starts here
.field-validation-error {
  font-family: $font-family;	
  font-size: $font-size;
  color: #FF0000;
  }

.errorDisplay{
text-align:left;
margin-left:30%;
padding:2px;
}
.errorDispalyCustomer
{
     margin-left: 30.1%;
     padding: 2px;
    }
.TextAreaFor{
    border:1px solid #808080;
	background-color:#eff1ef;
}
.textArText{
     margin-left:1px;height:60px;width:239px;font-family:Arial,Helvetica,sans-serif;font-size:15px;padding:4px 8px;
}
  .optDropDown{
	font-family: $font-family;
	font-size: $labelinput;
	line-height:22.53px;
	width:41%;
	padding:8px 8px;
	margin-right:14%;
	border:1px solid #808080;
	background-color:#FFFFFF;
}

.OptDropDownLblWidth{
	width:27.5%;
}
.transHstryDropDown{
	font-family: $font-family;
	font-size: $labelinput;
	line-height:22.53px;
	width:54%;
	padding:8px 8px;
	border:1px solid #808080;
	background-color:#FFFFFF;

}

.transHstryDropDownWidth
{
    font-family: Arial, sans-serif, Helvetica;
    font-size: 13px;
    line-height: 22.53px;
    width:195px;
    padding: 8px 8px;
    border: 1px solid #808080;
    background-color: #FFFFFF;
    
}
.transHstryDropDownCustmrWidth
{
    font-family: Arial, sans-serif, Helvetica;
    font-size: 13px;
    line-height: 22.53px;
    width:175px;
    padding: 8px 8px;
    border: 1px solid #808080;
    background-color: #FFFFFF;
    
}
.transHstCheckBox{
margin-top:8px;
}

 .textBox1{
    font-family: $font-family;
	font-size: $labelinput;
	line-height:22.53px;
	padding:4px 8px;
	//border: 1px solid #ccc;
	border:1px solid #808080;
	background-color:#FFFFFF;
	height:20px;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
    width:38%;
	-moz-opacity:.6;/*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/;

  }

.textBox {
	font-family: $font-family;
	font-size: $labelinput;
	color:#000000;
	line-height:22.53px;
	padding:4px 8px;
	margin-right:80px;
	//border: 1px solid #ccc;
	border:1px solid #808080;
	background-color:#FFFFFF;
	height:20px;
	outline:none;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
    width:38%;
	-moz-opacity:.6;/*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/;

&:focus{font-family: $font-family;
	font-size: $labelinput;
	color:#000000;
	line-height:22.53px;
	padding:4px 8px;
	margin-right:80px;
	//border: 1px solid #059764;
	border:1px solid #808080;
	background-color:#FFFFFF;
	height:20px;
	width:38%;
	outline:none;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	-moz-opacity:.6;/*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/}
}
.disableText{
	font-family: $font-family;
	font-size: $labelinput;
	line-height:22.53px;
	padding:4px 8px;
	margin-right:80px;
	//border: 1px solid #ccc;
	border:1px solid #808080;
	background-color:#eff1ef;
	height:20px;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
    width:38%;
	-moz-opacity:.6;/*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/;
}

.disableTxt
{
font-family: $font-family;
	font-size: $labelinput;
	line-height:22.53px;
	padding:4px 8px;
	margin-right:80px;
	//border: 1px solid #ccc;
	border:1px solid #808080;
	background-color:#eff1ef;
	height:20px;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
    -moz-opacity:.6;/*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/;
}

input[type="password"] {
	font-family: $font-family;
	font-size: $labelinput;
	line-height:22.53px;
	padding:4px 8px;
	margin-right:80px;
	//border: 1px solid #ccc;
	border:1px solid #808080;
	background-color:#FFFFFF;
	height:20px;
    width:38%;
	outline:none;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	-moz-opacity:.6;/*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/;


&:focus{font-family: $font-family;
	font-size: $labelinput;
	line-height:22.53px;
	padding:4px 8px;
	margin-right:80px;
	//border: 1px solid #059764;
	border:1px solid #808080;
	background-color:#FFFFFF;
	height:20px;
     width:38%;
	 outline:none;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	-moz-opacity:.6;/*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/}
	}
     input[type="submit"] {
  background-color: #006937;
  //border-radius: 15px;
  //-moz-border-radius: 15px;
  float: right;
  cursor: pointer;
  width: 130px;
  height: 30px;
  line-height:30px;
  font-family: $font-family;
  font-size: $buttonfontsize;
  text-align: center;
  color: #f2f0da;
  border: none;
  outline:none;
  margin: 4px;
  padding-right: 2px;
  padding-left: 2px;
  // padding-bottom:3px;
 }

 input[type="button"]
 {
	background-color: #ad2525;
 // border-radius: 15px;
 // -moz-border-radius: 15px;
  float: right;
  cursor: pointer;
  width: 130px;
  height: 30px;
  line-height:30px;
  font-family: $font-family;
  font-size: $buttonfontsize;
  text-align: center;
  color: #f2f0da;
  border: none;
  outline:none;
  margin: 4px;
  padding-right: 2px;
  padding-left: 2px;
   // padding-bottom:1px;
 }
 .aLinkButton{
 background-color: #006937;
  //border-radius: 15px;
 // -moz-border-radius: 15px;
  float: right;
  cursor: pointer;
  width: 130px;
  height: 30px;
  font-family: $font-family;
  font-size: $buttonfontsize;
  text-align: center;
  line-height:30px;
  color: #f2f0da;
  border: none;
  outline:none;
  margin: 4px;
  padding-right: 2px;
  padding-left: 2px;
 }
 .dropDownMenu{
		display:block;
		border:1px solid black;
		background-color: #cccccc;
		text-align: left;
	}
	ul {
			margin:0;
			padding:0;
			list-style-type:none;
			min-width:200px;
		}
 
		ul#navigation {
			float:left;
		}
 
		ul#navigation li {
			float:left;
			border:1px black solid;
			min-width:200px;
		}
 
		ul.sub_navigation {
			position:absolute;
			display:none;
			z-index: 1; 
		}
 
		ul.sub_navigation li {
			clear:both;
		}
 
// common for all  buttons and errors starts here
// sidebar-left Related Css Starts here 
.menuHeading{
	 color:#fff;
	background-color:#A5B3A1;
	padding:10px;
	margin:0px 8px 2px 8px;
	text-align: center;
	line-height:24.27px;
	font-family:$menuheading;
	font-size: $menuheadingsize;
	font-weight: bold;
	display: block;
}


.menuTitle{
	height:15px;
	background-color:#a5b3a1;
	padding:10px;
	margin:0px 8px 2px 8px;
	text-align: center;
	font-family:$font-family;
	font-size: $font-size;
	font-weight: bold;
	cursor:$cursor;
	display: block;
}
.menuItems{
	height:15px;
	background-color:#d7dbd6;
	padding:10px;
	margin:0px 8px 2px 8px;
	text-align: center;
	cursor:$cursor;
	display: block;
}
.cmenuItems{
	height:15px;
	background-color:#006937;
	padding:10px;
	margin:0px 8px 2px 8px;
	text-align: left;
	cursor:$cursor;
	display: block;
	a{
	color:#f2f0da;
	}
}

.menuLeft{
	height:15px;
	background-color:#d7dbd6;
	padding:10px;
	margin:0px 8px 2px 8px;
	text-align: left;
	cursor:$cursor;
	display: block;
	&:hover{
	    	background-color:#006837;
			a{color:#FFF;}
			span{color:#FFF;}	
		}
	}

	.menuLeftover
	{
	height:15px;
	background-color:#d7dbd6;
	padding:10px;
	margin:0px 8px 2px 8px;
	text-align: left;
	cursor:default;
	display: block;
	}

	

.menuNames{
	font-family:$font-family;
	font-size: $breadcrumbfontsize;
	color:#006837;
	text-decoration:none;
		}

.productBand{
height: 14px;line-height:14.27px; width:621px; margin: 0px;
}

.checkBand{
	background-color:#fcbd56;
	color:#000000;
}
.custSearchOptBand{
	width:813px;
	background-color:#fdbe57;
	color:#000000;
	height:9px;
	line-height:9px;
}
.cardSearchDiv{
	float: right; margin: 5px 17px 5px 5px; padding: 5px;
}
.mngUserBand{
	margin-left:40.2%;width:121px;height:9px;border:1px solid #006937
}

.mngCretNUser{
	display: inline-block; float: left;cursor:pointer;margin-top:-2px;margin-left:10px;
}
.cretNUserImg
{
    display: inline-block;
    float: left; 
    margin-top: -5px;
}
.message{
	border:1px solid #a5b3a1;
	background-color:#a5b3a1;
	min-height:173px;
	width:223px;
	margin-left:8px;
}
.messageDisplay
{
    margin-left: 0px;
}
.tipsandoffers
{	
	background-color: #FFFFFF;
    font-family: Arial,sans-serif,Helvetica;
    font-size: 12px;
    height: auto;
	min-height:135px;
    margin: 2px;
    text-align: left;
    word-spacing: calc(4px);
}

.productHeading{
	line-height:14.27px;
	height:14px;

}
// sidebar-left Related Css ends here 

//process check css starts here

.CheckImage{
	width:480px;
	height:170px;
}

.checkImg
{
    width: 480px;
    height: 375px;
}

.checkImageInstructions{
	height:190px;
	width:186px;
}
.checkRequest{
	font-family:$font-family;
	font-size: $font-size;
	padding:5px;
	margin:5px;
	color:Blue;
}

.checkAmt{
		float:left;
		padding-top:7px;
		margin-right: 16px;
		margin-left:10%;
		text-align:left;
		font-family:$font-family;
		font-size:$font-size;
}

.checkTxt{
	font-family: $font-family;
	font-size: $font-size;
	padding:4px 8px;
	margin-right:80px;
	//border: 1px solid #ccc;
	border:none;
	background-color:#ebf0ea;
	height:20px;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
    -moz-opacity:.6;/*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/;
}

.apprCheck{
		font-family:$font-family;
		font-size:$font-size;
		text-align: center;
}
//process check css starts here

// customer profile css starts here
.custProfile{
		width: 285px;
		margin-top:-13px;
		//min-height: 235px;
		overflow:hidden;
		border:1px solid #A5B3A1;
		background-color:#A5B3A1;
	  }

	  .custProfile table {
    background-color: #FFFFFF;
    margin: 5px;
    padding: 5px;
    width: 270px;
}

.shppngCart{
border: 1px solid #a5b3a1;
background-color: #a5b3a1;
min-height: 250px;
overflow:hidden;
width:285px;
}

.shppngCartGrid{
border: 1px solid black;font-family:Arial,sans-serif;font-size:13px;width:620px;
}

.shpngLabel {
  float: left;
  padding-top: 7px;
  margin-right: 16px;
  text-align: left;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 13px;
  font-weight: bold;
  color: #4D4D4D; 
}

.shppngCartGridText{
	border: 1px solid black;
	vertical-align: middle;
	color:#F2F0DA;
	padding:5px;
}
.shppngCartGridTabCol{
width: 15%; padding: 5px;vertical-align:middle;
}
.shoppingCart{
	vertical-align: middle;
	color:#FFFFFF;
	margin-left:3px;
	font-family:$font-family;
	font-size: $menuheadingsize;
	font-weight: bold;
}
.custText{
	font-family:$font-family;
	font-size: $font-size;
	text-align: left;
	
}

// customer profile css ends here

.gridHeader{
	background-color:#a5b3a1;
	font-family:$font-family;
	font-size: $font-size;
	width: 622px;
	height:34px;
}

.gridText{
	font-family:$font-family;
	font-size: 12px;
	color:#F2F0DA;
	padding:5px;
}

.columnText{
	text-align:center;
}

.deleteImg{
 background-image:url("../../images/cross.png");
 background-repeat: no-repeat;
 height:15px;
	display: block;
 width:20px;
 margin-left:30px;
 }

 .deleteItemImg{
 background-image:url("../../images/cross.png");
 background-repeat: no-repeat;
 height:15px;
	display: block;
 width:20px;
 margin-left:30px;
 }

 .parkImg{
 background-image:url("../../images/cross.png");
 background-repeat: no-repeat;
 height:15px;
	display: block;
 width:20px;
 margin-left:30px;
 }

.editImg{
 background-image:url("../../images/edit.png");
 background-repeat: no-repeat;
 height:15px;
 display: block;
 cursor:pointer;
}
.evenRow{
	background-color:#ebf0ea;
	font-family:$font-family;
	font-size: $font-size;
}
.oddRow{
	padding:5px;
	background-color:#ffffff;
	font-family:$font-family;
	font-size: $font-size;
}

.profileText
{
    font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 4px 8px;
  margin-left:78px;
  border: none;
  background-color: #A5B3A1;
  height: 20px;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  -moz-opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.identTxt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 4px 8px;
  border:1px solid #808080;
  background-color:#eff1ef;
  height: 20px;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  -moz-opacity: .6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

}
.profileHeading
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight:bold;
  text-align: center;
  color:#00794F;
  text-decoration:underline;
}

.ui-dialog-titlebar-close{
    display: none;
}

.editAnchorTag {
  background-repeat: no-repeat;
  height: 15px;
  display: block;
  cursor:pointer; }

  .productInfo{
	font-family:$font-family;
	font-size: $font-size;
	font-weight:bold;
	color:#026a34;
	margin-top:10%;
  }
.frequentItems{
  background-repeat: no-repeat;
  background-color: #006937;
  //border-radius: 15px;
 // -moz-border-radius: 15px;
  float: right;
  cursor: pointer;
  width: 168px;
  height: 75px;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: bold;
  text-align: center;
  line-height:23px;
  color: #f2f0da;
  border: none;
  outline:none;
  margin: 4px;
   padding-right: 2px;
  padding-left: 2px;
	}

.selectedFrequentItem{
  background-repeat: no-repeat;
  background-color: #fdbe57;
 // border-radius: 15px;
  //-moz-border-radius: 15px;
  float: right;
  cursor: pointer;
  width: 168px;
  height: 75px;
  font-family: $font-family;
  font-size: $font-size;
  text-align: center;
  line-height:23px;
  color: #000000;
  border: none;
  outline:none;
  margin: 4px;
  padding-right: 2px;
  padding-left: 2px;
	}




#gallery-wrap{margin: 0 auto; overflow: hidden; width: 500px; position: relative;}
#gallery{position: relative; left: 0; top: 0;}
#gallery li{float: left; margin: 0 20px 15px 0;}

#gallery-prev{}
#gallery-next{}

#aDescription {
   text-decoration: none;
}

#aDescription:hover {
	cursor:pointer;
	cursor:hand;	
   text-decoration: underline;
   color:#0000ff;
}

.receiversMultileTxtBx
{
margin-left:139px;
height:60px;
width:239px;    
background-color: #ebf0ee;
}

.activeSessionTable
{
	color:#000000;
	padding-top:10px;
	padding-bottom:3px;
	margin:0px 0px 3px;
	text-align: center;
	line-height:24.27px;
	font-family:$menuheading;
	font-size: $labelinput;
	font-weight: normal;
	display: block;
	min-height: 250px;
	height:20%;
}

  .labelTextForRpt 
  {
  float: left;  
  margin-right: 16px;
  text-align: left;
  font-family:$menuheading;
  font-size: $labelinput;
  }

  .tableHeader{
color:#000000;
font-weight: normal;
}

.custNavigation{
float:left;
margin-left:37%;
}

.mngUserGrid{
border: 1px solid black;font-family:Arial,sans-serif;font-size:13px;width:620px;
}
.mngUserGridText{
	border: 1px solid black;
	vertical-align: middle;
	background-color:#ffc000;
	color:#0000;
	padding:5px;
}
.mngUserGridCol{
	border: 1px solid black;
	vertical-align: middle;
	color:#0000;
	text-align: center;
	padding:5px;
}
.hrdmenuLeft{
 height:15px;
 background-color:#d7dbd6;
 padding:10px;
 margin:0px 8px 2px 8px;
 text-align: left;
 cursor:$cursor;
 display: block;
 &:hover{
      background-color:#006837;
   span{color:#FFF;} 
  }
 }
#liDiagnostics 
  {
   
   font-family:Arial,sans-serif,Helvetica;
   font-size:14px;
  &:hover{
   a{color:#FFFFFF;}
  }
  }
  
#liPeripheralServer
{
        
   font-family:Arial,sans-serif,Helvetica;
   font-size:14px;
  &:hover{
   a{color:#FFFFFF;}
  }
}

#liTerminal 
{
        
   font-family:Arial,sans-serif,Helvetica;
   font-size:14px;
  &:hover{
   a{color:#FFFFFF;}
  }
}

#pdsdriver
{
	background-image: url("../../images/epson_pds_ver_1.0.1.png");
	width: 258px;
	height: 77px;
	display: block;
}

#sdkdriver
{
	background-image: url("../../images/epson_sdk_ver_1.0.2.png");
	width: 258px;
	height: 77px;
	display: block;
}

.checkInstruction{
 display: list-item;
 list-style-type: square;
 margin-left: 20px;
 padding:2px;
 font-family:arial;
 font-size:13px;
 font-weight:bold;
} 


.prfSummaryLblWidth
{
    width: 35%;
}

.transPopUpHeading
{
    font-family: Arial,sans-serif, Helvetica;
    font-size: 17px;
}

.transPopUpLabel
{
    font-family: Arial,sans-serif, Helvetica;
    font-size: 15px;
}
.custSrchDivWdth
{
    float: left;
    margin-top: -2px;
    margin-left: 29.2%;
}
.shpngCartButton
{
    clear: both; margin-left :150px; width: 616px; text-align:left;
}
.locSummryWdth
{
    width: 100%;
    border: 1px solid black;
}
.diagnoInfo
{
    font-family: Arial, sans-serif, Helvetica;
    font-size: 13px;
    width: 100%;
    text-align: left; 
    vertical-align: middle;
}
.processCheckPopUp
{
    float: left; margin-left: 40%;
}
.mngUserDiv
{
    margin-left:15%;
}

.mngUserForgetPopup
{
    display:inline-block;
 }



.customerSearchDiv{
 float:left;width:832px;
}

.customerSearchOptns{
 float:left;width:400px;background-color:#e9e7e7;overflow:hidden;height:auto;
}

.cardSwipeWidthOptns{
 width:400px;
}

.cardSwipeText{
 width:180px;
 padding:5px;
 margin:5px;
 text-align:left;
}
.cardSwipeBttn{
 width:180px;
}

.srchCriTextBox{
 width:57% !important;
 margin-right:0 !important; 
}

.fltleft{
  float:left;
}

.fltRgt{
 float:right;
}
.clr{
 clear:both;
 }
 .cardTextBox{
 width:54% !important;
 margin-right:0 !important; 
 margin-left:-58px;
}
.cardSrchOptions h1{
  font-family:arial;
  font-size: 13px;
  padding:5px;
  margin:5px;
}
.customerSearchOptnsMinheight{
	min-height:264px;
}
.GprBalTd{
	text-alin:right;
}
.transHstryWidth
{
    width:194px;
}
.ProdTransHstryWdth{
	width:175px;
}

.synvsErrorDisplay {
  margin-left: 31.5%;
  padding: 2px; }

.rgtAppltShpngCartBtn{
 margin-left:131px;
}
.rgtAppltCustProfBtn{
 margin-right:-26px;
}


.shpngCartLabelTable
{
    width: 630px;
}

.shpngCartLabelTdInput
{
    display: table; padding: 0px; margin: 0px;
}
.shpngCartLabelInputTd
{
    padding:5px;width:101px;text-align:right;
}

.shpngCartLabels
{
    font-family: arial,helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #4D4D4D;
}
.shpngCartLabelFont
{
    font-size: 12px; 
    font-weight: bold;
    font-family: arial,helvetica,sans-serif;
    padding: 0px;
}
.shpngCartLoadCardLbl
{
    width: 210px;padding-left:35px;text-align:left;
}
.shpngCarWithdrawCardLbl
{
    width:269px;
}
.nonIeshpngCarWithdrawCardLbl
{
	padding-left: 35px;
    text-align: left;
    width: 247.5px;
}
.shpngCartNetCashLbl
{
    padding-left: 34px;
    text-align: left;
    width: 205px;
}
.shpngCartCashCustmrLbl
{
    padding-left: 34px;
    text-align: left;
    width: 203px;
}
.shpngCartTotalLabel
{
  width: 616px; border-collapse: collapse; margin-bottom:5px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background-color: #d9d9d9;
}

.sendMnyEditRcvr{
 display: inline-block; float: right;margin-top:-7px;border:1px solid #FFFFFF;padding:6px 5px;width:65px;
}

.editRcvrLbl{
 font-weight: bold;
    margin: 23px;
    text-align: left;
}

.sndMnySideHdngs{
font-weight:bold;margin-left:30.5%;text-align:left;
}
.bannerText{
  display: inline-block; float: left;text-align:left;width:400px;
}
.westernUnionText{
	font-weight: bold; padding-left: 26px;display:block;text-align:left;
}
.billPayDesc{
	overflow:hidden;
	border:1px solid black;
	width:638px;
	margin-top:5px;
}
.billPayDesc p{
	font-family: Arial,sans-serif,Helvetica;
	font-size: 13px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}
.lineSeperator{
	border-top:2px solid #b5c1b2;width:633px;padding:2px
}
.sendMnyDiv{
float:left;width:639px;
}
.sendMnyScndNameDiv{
float: left; width: 285px;
}
.sendMnyLabel{
text-align: right; width: 50%; margin: 0px;
}
.sendMnyScndLabel{
text-align: left; width: 26%;
}
.sendMnyAddRcvr{
margin-top:-7px;border:1px solid #FFFFFF;padding:6px 5px;cursor:pointer;
}
.sendMnyEditRcvr{
display: inline-block; float: right;margin-top:-7px;border:1px solid #FFFFFF;padding:6px 5px;width:65px;
}
.westernUnionText{
font-weight: bold; padding-left: 26px;display:block;text-align:left;
}

#billerMessage
{
	background:#ffc35b;
}
.optDropDownDisable{
 font-family: $font-family;
 font-size: $labelinput;
 line-height:22.53px;
 width:41%;
 padding:8px 8px;
 margin-right:14%;
 border:1px solid #808080;
 background-color:#FFFFFF;
 }
.editRcvrLbl{
font-weight: bold;
    margin: 23px;
    text-align: left;
}
.SndMnyBttnMargin{
margin-left:7.5%;
}
.westernUnionText{
 font-weight: bold; padding-left: 24px;display:block;text-align:left;
}
.receiveMnyButton
{
	float:left;
	margin-left:25%;
}
.receiveMnyDetailsButton{
	margin-left:8%;
}
.sndMnyDisclosure
{

    padding-left:4px;
}

.billerDtls{
display:inline-block;float:left;padding:5px;vertical-align:middle;
}
.billPaywesternUnionText{
 font-weight: bold; padding-left: 30px;display:block;text-align:left;
}

.westernUnionBannerMsg {
  background: #fdbe57;
  width: 641px;
  margin-top: 5px;
 }

.westernUnionBannerMsgHeading {
  font-weight: bold;
  padding: 5px;
 }

 .westernUnionTextMsg{
 font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    padding: 5px;
   text-transform: uppercase;
 }

 .agentBannerTitle{
	margin-top:-22px;
 }
 /* money order related - start */
 .aLinkCancelButton
 {
    background-color: #ad2525;
    float: right;
    cursor: pointer;
    width: 130px;
    height: 30px;
    font-family: Arial, sans-serif, Helvetica;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #f2f0da !important;
    border: none;
    outline: none;
    margin: 4px;
    padding-right: 2px;
    padding-left: 2px;
 }

.moneyOrderImg
 {
    width: 350px;
    height: 225px;
 }

.moneyOrderRequest
 {
    font-family: Arial, sans-serif, Helvetica;
    font-size: 13px;
    padding: 5px;
    margin: 5px;
    color: Blue;
    text-align: center;
 }

.divMoneyOrderImg
 {
    text-align: center;
    padding-top: 20px;
 }
.popMessageLabel
 {
    font-size: 13px;
    padding: 5px;
    margin: 5px;
 }
 /* money order related - end */
 .westernUnionEnrollDiv{
 width:621px;
 }
 .westernUnionEnrollDivMessage{
 width:475px;
 }
 .westernUnionEnrollDivMsgContent{
 text-align:justify;
 padding:5px;
 font-weight:bold; 
 }
 .westernUnionEnrollButton{
 width:100px;
 margin-top:12px;
 }
 .wuCustmrLookUp{
  border: 1px solid black;font-family:Arial,sans-serif;font-size:13px;width:639px;
 }
.wuCustmrLookUpGridText{
 border: 1px solid black;
 vertical-align: middle;
 background-color:#ffc000;
 color:#0000;
 padding:5px;
}
.wuCustmrLookUpGridCol{
 border: 1px solid black;
 vertical-align: middle;
 color:#0000;
 text-align: center;
 padding:5px;
}
input[type="button"].confirmButton {
    background-color: #006937;
}
.DisableButtons:disabled {
  opacity: 0.5;
}
.DisablePanels
{	
	height: 15px;
	background-color: #d7dbd6;
	padding: 10px;
	margin: 0px 8px 2px 8px;
	text-align: left;
	  cursor: default;	
	display: block;
	opacity: 0.5;
}
.SpinnerImageDiv
{
	display: table;
	padding-top: 60px;
	padding-left: 100px;
	z-index: 1000;
	position: fixed;
	top: 24%;
	left: 43%;
	background: url("../../images/Spinner.gif") no-repeat;
	cursor: wait;
}
.SpinnerDivMessage
{
	font-weight: bold;
	display: table;
	padding-top: 80px;
	padding-left: 100px;
	z-index: 1000;
	position: absolute;
	top: 21%;
	left: 34%;
}
.LoadCoverPage
{
	background-color: white; 
	width: 1500px; 
	height: 700px; 
	float: left; 
	top: -20%; 
	margin-top: -25%; 
	margin-left: -60%; 
	z-index: 2000;
	opacity: 0.4;
}
.RecieptsNotFound
{
font-weight:bold;
}
.PrinterNotFound
{
left: 27% !important;
}

.customerLookUpHdg {
	text-align: left; 
	margin-top:5px;
	font-weight: bold; 
	line-height: 24.27px; 
	font-family: Arial, sans-serif, Helvetica; 
	font-size: 15px;	
}
.customerLookUpGrid
{
	float:left; 
	padding-bottom:10px;
	padding-top: 10px;
	border:1px solid #a5b3a1; 
	margin-top: 5px;
}

.noRecords
{
	text-align: center; 
	margin-left: auto; 
	color: Red; 
	margin-top:3%; 
	font-weight:bold;
}

.requiredfield-label { color:red }

.customerLookUpContainer 
{
	border:1px solid #a5b3a1; 
	margin-top: 10px;	
	padding-top: 10px;
	float:left;
	width:642px;
}

.jqGridHyperLink {
	cursor:pointer;
}

.jqGridHyperLink:hover{
	color: #c77405;
}

.customerLookUpTextBox
{
	font-family: Arial, sans-serif, Helvetica;
	font-size: 13px;
	color: #000000;
	line-height: 22.53px;
	padding: 4px 8px;
	margin-right: 18px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	height: 20px;
	outline: none; /*-webkit-border-radius: 5px;   -moz-border-radius: 5px;   border-radius: 5px;*/
	width: 38%;
	-moz-opacity: .6; /*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/
}

.customerLookUpTextBox:focus
{
	font-family: Arial, sans-serif, Helvetica;
	font-size: 13px;
	color: #000000;
	line-height: 22.53px;
	padding: 4px 8px;
	margin-right: 18px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	height: 20px;
	width: 38%;
	outline: none; /*-webkit-border-radius: 5px;     -moz-border-radius: 5px;     border-radius: 5px;*/
	-moz-opacity: .6; /*filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"*/
}

.customerLookUpSpacer 
{
	padding: 1px;
	margin: 1px;
	width: 240px;
}

.customerLookUpBtnSpacer 
{
	padding: 1px;
	margin: 1px;
	width: 150px;
	margin-top: -1px;
}

.customerLookUpLbl {
	float: left;
	width: 40%;
	padding-top: 7px;
	margin-right: 16px;
	text-align: right;
	font-family: Arial, sans-serif, Helvetica;
	font-size: 13px;
	font-weight: bold;
	color: #4D4D4D;
}

.customerLookUpBtn {
	width: 134px !important;
}

.customerLookUpErrorDisplay	 
{
	text-align: left;
	padding: 3px;
	padding-top: 5px;
	margin-bottom: 5px;
}

.margin-left85 
{
	margin-left:-85px;	
}
.cFont10
{
	font-family: Arial, sans-serif, Helvetica;
	font-size: 10px;
    font-style: italic;
}

.tellerNameDisable
 {
    color: #626261 !important; 
}

.customerLookUpCancelBtn 
{
	font-size:16px;
}
