@model TCF.Channel.Zeo.Web.Models.EmploymentDetails
<div class="identify_btn_wrap profile_det_shift">
    <ul>
@{
	Dictionary<string, string> actionControllers = TCF.Channel.Zeo.Web.Common.WebHelper.GetRelatedActionController();
}

		<li>
			@if (Model.IsCompanionSearch)
			{
				@Html.ActionLink(TCF.Channel.Zeo.Web.App_GlobalResources.Nexxo.CancelButtonText.ToString(), "ProductCredential", "VISAProductCredential", null, new { @class = "anc_link_btn red_btn" });
			}
			else
			{
				@Html.ActionLink("Cancel", actionControllers["actionMethod"], actionControllers["controller"], null, new { @class = "anc_link_btn red_btn", tabindex = 6 })
			}

		</li>
<li>@Html.ActionLink("Back", "IdentificationInformation", "CustomerRegistration", null, new { @class = "anc_link_btn",tabindex = 5})</li>
<li class="SrchButtonWdth"><input type="submit" value="Next" tabindex="4" name="profilesummary" /></li>
    </ul>
</div>
