@model TCF.Channel.Zeo.Web.Models.VisaTransactionHistory

<ul class="page_head product_head trans_head">
	<li class="fav_payee_banner_txt">Prepaid Card</li>

	@*As per AL-6295 : Remove Companion Card button from Prepaid card screens*@
	@*@if(Model.CardStatus == MGI.Channel.DMS.Server.Data.CardStatus.Active)*@
	@if ( false )
	{
		<li class="import_payee_button" style="margin-left:170px; margin-top:4px">
			<a href="javascript:void(0);" onclick="OrderCompanionCard()">
				<img src="@Url.Content("~/Content/Images/Order-CompanionCard.png")" class="import_payee_img" />
			</a>
		</li>
	}

	@if ( Model.DisableMaintenance )
	{
		<li class="import_payee_button" style="margin-right:149px; margin-top:4px;float:right;">
			<a href="javascript:void(0);">
				<img src="@Url.Content("~/Content/Images/card-maintenance.png")" class="import_payee_img" />
			</a>
		</li>
	}
	else
	{
		<li class="import_payee_button" style="margin-right:149px; margin-top:4px;float:right;">
			<a href="javascript:void(0);" onclick="ShowPopUp(CardMaintenancePopUp_Url, 'Card Maintenance', 520, 280);">
				<img src="@Url.Content("~/Content/Images/card-maintenance.png")" class="import_payee_img" />
			</a>
		</li>
	}

</ul>
