<kendo-grid #grid="kendoGrid" [data]="filterGridData.data" [style.maxHeight.px]="190" [style.minHeight.px]="160" [sortable]="{allowUnsort:false}"
[sort]="filterSort" (sortChange)="filterSortChange($event)">
  <kendo-grid-column field="Style" class="text-left" title="Style" [width]="120" [style.minWidth.px]="120" [style.maxWidth.px]="120">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="elepsis" style="min-width:110px;max-width:110px;" title="{{dataItem.Style}}"> {{dataItem.Style}}</div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Color" class="text-left" title="Color" [width]="140" [style.maxWidth.px]="140" [style.minWidth.px]="140">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="elepsis" style="min-width:110px;max-width:110px;" title="{{dataItem.Color}}"> {{dataItem.Color}}</div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Vendor" class="text-left" title="Vendor" [width]="140" [style.maxWidth.px]="140" [style.minWidth.px]="140">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="elepsis" style="min-width:130px;max-width:130px;" title="{{dataItem.Vendor}}"> {{dataItem.Vendor}}</div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="YDS" class="text-left" title="YDS" [width]="100" [style.minWidth.px]="100" [style.maxWidth.px]="100">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="elepsis" style="min-width:90px;max-width:90px;" title="{{dataItem.YDS}}"> {{dataItem.YDS}}</div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

