<div class="col-sm-12">
  <kendo-tabstrip  #tabstrip>
    
    <kendo-tabstrip-tab [title]="'title_Fabric_Watchlist' | translation" [selected]="true">
      <ng-template kendoTabContent>
        <!--tab On Hold-->
        <app-fabric-watchlist></app-fabric-watchlist>
        <!--end of tab On Hold-->
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'title_Future_Watchlist' | translation">
      <ng-template kendoTabContent>
        <!--tab Receiving-->
        <app-future-watchlist></app-future-watchlist>
        <!--end of tab Receiving-->
      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'title_Fabric_Planning_Report' | translation">
      <ng-template kendoTabContent>
        <!--tab Lookup-->
        <app-fabric-planning-report [vendorId]="vendorId" [itemId]="itemId"></app-fabric-planning-report>
        <!--end of tab Lookup-->
      </ng-template>
    </kendo-tabstrip-tab>
    
  </kendo-tabstrip>
</div>