<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <table>
        <tr>
            <td>
                <span style="font-family:Arial;font-size:10pt">
                    Hi {UserName},<br />
                    Congratulations, your resume is shortlisted. {link}

                    <br /><br />
                    Regards<br />
                    {RecruiterName}<br />
                    {PhoneNumber}
                    <br />
                    <img src="opteamixlogo.png" width="150px" height="60px" />
                    <br />
                    <a href='https://www.opteamix.com/'>Website</a> |
                    <a href='https://www.facebook.com/Opteamix'>Facebook</a> |
                    <a href='https://www.linkedin.com/company/opteamix'>LinkedIn</a>
                </span>

            </td>
        </tr>
    </table>
</body>
</html> 