.alert-pop-container {
    min-height: 150px;
}
.alert-pop-header {
    min-height: 50px;
    background-color:rgb(244,67,54) !important;
    padding: 15px;
    color: white;
    font-size: 15px;
    border-bottom: 1px solid;
    margin: -14px;
}
.alert-pop-main {
    min-height: 50px;
    padding: 30px;
    color: #000000;
}
.alert-pop-footer {
    min-height: 50px;
}
.padding-margin {
    margin: 15px 30px 0px 0px;
    float: right;
    min-width: 120px;
}