<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>

  <variable name="baseLayout" value="${event-context:item=AppName}-${event-context:item=Version}-${event-context:item=ClientId}.${event-context:item=NAN}.${event-context:item=SessionId}.${uppercase:${level}}|${message} ${exception:format=StackTrace:innerFormat=Message,StackTrace:maxInnerExceptionLevel=1}"/>

  <targets async="true">
    <target xsi:type="FallbackGroup" name="MainTarget">
      <target name="syslogPrimary" type="Syslog" syslogserver="10.111.109.104" port="514" protocol="tcp" facility="Local7" sender=""
          layout="${baseLayout}"/>
      <target name="syslogSecondary" type="Syslog" syslogserver="10.111.109.104" port="514" protocol="tcp" facility="Local7" sender=""
          layout="${baseLayout}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" appendTo="MainTarget" />
  </rules>
</nlog>