<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<main class="mdl-layout__content mdl-color--grey-100">
		<div class="page-content">
			<div class="opt-map-container ">
				<div class="mdl-card top-margin">
					<div class="lable-row">
						<h2>Opteamix</h2>
					</div>
					<div class="login-form-margin">
						<div class="">
							<mdl-textfield type="text" label="Email" [(ngModel)]="_candlogin.Email" floating-label></mdl-textfield>
						</div>
						<div class="">
							<mdl-textfield type="text" label="Contact Number" [(ngModel)]="_candlogin.PhoneNumber" floating-label></mdl-textfield>
						</div>
						<div class="top-mar-btn">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-color--red-400 mdl-color-text--white full-width" (click)="Login()">Continue</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<div *ngIf="_isLoading" class="loading">Loading&#8230;</div>