<div class="dashboard-layer">
    <div class="col-10 mx-auto justify-content-center mt-5 pt-5">
        <div class="row dashboard-card-lyout">
            <div class="col-3">
                <div class="card armrk-btn">
                    <div class="card-header bg-dark bg-color-red">
                        <span class="icon btn-std btn-md btn-luggage-carrier-white mr-2"></span><label>Raw Material</label>
                    </div>
                    <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="btn-std btn-sm btn-note-box-blue mr-2"></span><a (click)="navigate(2, 10)" routerLink="/raw-material/inventory">Inventory</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-calendar-blue mr-2"></span><a (click)="navigate(2, 11)" routerLink="/raw-material/planning">Planning</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-currency-blue mr-2"></span><a (click)="navigate(2, 12)" routerLink="/raw-material/purchasing">Purchasing</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-data-storage-blue mr-2"></span><a (click)="navigate(2, 13)" routerLink="/raw-material/container">Container</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-download-data-blue mr-2"></span><a (click)="navigate(2, 14)" routerLink="/raw-material/receiving">Receiving</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-graph-pichart-blue mr-2"></span><a (click)="navigate(2, 15)" routerLink="/raw-material/reports">Reports</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card armrk-btn">
                    <div class="card-header bg-dark bg-color-red-800">
                        <span class="icon btn-std btn-md btn-stiching-machine-white mr-2"></span><label>Manufacturing</label>
                    </div>
                    <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="btn-std btn-sm btn-calendar-blue mr-2"></span><a (click)="navigate(3, 16)" routerLink="/manufacturing/planning">Planning</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-calculator-blue mr-2"></span><a (click)="navigate(3, 17)" routerLink="/manufacturing/rm-assignment">RM Assignment</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-stiching-machine-blue mr-2"></span><a (click)="navigate(3, 18)" routerLink="/manufacturing/manufacturing-orders">Orders</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-graph-pichart-blue mr-2"></span><a (click)="navigate(3, 19)" routerLink="/manufacturing/reports">Reports</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card armrk-btn">
                    <div class="card-header bg-dark bg-color-red-600">
                        <span class="icon btn-std btn-md btn-flag-label-white mr-2"></span><label>Finished Goods</label>
                    </div>
                    <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="btn-std btn-sm btn-note-box-blue mr-2"></span><a (click)="navigate(4, 20)" routerLink="/finished-goods/inventory">Inventory</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-download-data-blue mr-2"></span><a (click)="navigate(4, 21)" routerLink="/finished-goods/receiving">Receiving</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-printer-machine-blue mr-2"></span><a (click)="navigate(4, 22)" routerLink="/finished-goods/print-labels">Print Labels</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-doller-letter-blue mr-2"></span><a (click)="navigate(4, 23)" routerLink="/finished-goods/order-fulfilment">Fulfilment</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-graph-pichart-blue mr-2"></span><a (click)="navigate(4, 24)" routerLink="/finished-goods/reports">Reports</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card armrk-btn">
                    <div class="card-header bg-dark bg-color-red-400">
                        <span class="icon btn-std btn-md btn-person-focus-white mr-2"></span><label>Admin</label>
                    </div>
                    <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="btn-std btn-sm btn-bluecircle-star-blue mr-2"></span><a (click)="navigate(5, 25)" target="_blank" href="http://13.228.122.102/Secure360/">Secure 360</a></li>
                            <li class="list-group-item"><span class="btn-std btn-sm btn-db-data-blue mr-2"></span><a (click)="navigate(5, 26)" routerLink="/admin/master">Master</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
