<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_INpsInstallerService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INpsInstallerService"
                contract="DMSService.INpsInstallerService" name="WSHttpBinding_INpsInstallerService" />
        </client>
    </system.serviceModel>
</configuration>