<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

	<appSettings>
    <!--*********************** SOAP Service Config (Tokenize/Detokenize) FOR TCF VOLTAGE ****************************-->
    <!--Starts Here -->
    <add key="Format" value="alloy4x4"/>
    <add key="Identity" value="token@alloy"/>
    <add key="Authinfo" value="voltage123"/>
    <!--Ends Here-->

    <!--*********************** HOST DLL Config (Encrypt/Decrypt) ********************************-->
    <!--Starts Here -->
    <add key="VoltageUrl" value="https://proxy.ic.local/tcf_voltage/vibesimple/services/VibeSimpleSOAP"/>
    <add key="DistrictName" value="dev.tcfbank.com"/>
    <add key="PolicyLocator" value="https://proxy.ic.local/tcf_voltage/policy/clientPolicy.xml"/>
    <add key="IdentityString" value="host@dev.tcfbank.com"/>
    <add key="PieMerchantID" value="tcf"/>
    <add key="DecryptTime" value=""/>
    <!--Ends Here-->
	</appSettings>
</configuration>
