<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WUCardLookup_H2H_SOAP_HTTP_Binding" />
                <binding name="WUCardLookup_H2H_SOAP_HTTP_Binding1" />
                <binding name="DASInquiry_H2H_SOAP_HTTP_Binding" />
                <binding name="WUCardLookup_H2H_SOAP_HTTP_Binding2" />
                <binding name="WUCardEnrollment_H2H_SOAP_HTTP_Binding" />
                <binding name="CustomerLookupRequest_H2H_SOAP_HTTP_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.westernunion.com/WUCardLookup_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="WUCardLookup_H2H_SOAP_HTTP_Binding"
                contract="WUCardLookupService.WUCardLookupPortType" name="SOAP_HTTP_Port5" />
            <endpoint address="http://www.westernunion.com/WUCardLookup_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="WUCardLookup_H2H_SOAP_HTTP_Binding1"
                contract="WUCardLookupService.WUCardLookupPortType" name="SOAP_HTTP_Port6" />
            <endpoint address="http://www.westernunion.com/DAS_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="DASInquiry_H2H_SOAP_HTTP_Binding"
                contract="DASService.DASInquiryPortType" name="SOAP_HTTP_Port1" />
            <endpoint address="http://www.westernunion.com/WUCardLookup_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="WUCardLookup_H2H_SOAP_HTTP_Binding2"
                contract="WUCardLookupService.WUCardLookupPortType" name="SOAP_HTTP_Port2" />
            <endpoint address="http://www.westernunion.com/WUCard_Enrollment_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="WUCardEnrollment_H2H_SOAP_HTTP_Binding"
                contract="WUCardService.WUCardEnrollmentPortType" name="SOAP_HTTP_Port" />
            <endpoint address="http://www.westernunion.com/CustomerLookup_Service_H2H"
                binding="basicHttpBinding" bindingConfiguration="CustomerLookupRequest_H2H_SOAP_HTTP_Binding"
                contract="WUCustomerLookup.CustomerLookupPortType" name="SOAP_HTTP_Port3" />
        </client>
    </system.serviceModel>
</configuration>