<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IZeoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49404/ZeoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IZeoService" contract="ZeoService.IZeoService"
                name="BasicHttpBinding_IZeoService" />
        </client>
    </system.serviceModel>
</configuration>
