<div class="container opt-form">
  <div class="clearfix"></div>
  <div class="opt-card mdl-card mdl-shadow--2dp p-a-lg" style="padding: 1% 5% 5% 5%;">
    <h4 class="m-t mdl-color-text--red-400">Dear </h4>
    <p class="lead">&nbsp;&nbsp;&nbsp;Greetings and Congratulations from Opteamix!<br> Subsequent to our discussion, I am pleased to extend our offer to you
      as <span class="position"></span><br> with Opteamix India Business Solutions Private Limited.<br> An email has been
      sent on your email id mentioned in the resume for more details.<br> Kindly go through the same and confirm your acceptance
      and the joining date.<br>
      <br>
      <br> Regards
      <br> Talent Acquisition Team<br> Opteamix
    </p>
    <div class="clearfix"></div>
    <div class="offer-btn-center">
      <a class="mdl-button mdl-js-button mdl-color-text--white mdl-color--green-300 declined-btn-margin" (click)="acceptOffer()"> Accept </a>&nbsp;&nbsp;&nbsp;
      <a class="mdl-button mdl-js-button mdl-color-text--white mdl-color--red-300 declined-btn-margin" (click)="showPopUp()"> Decline </a>
    </div>
    <!-- Accent-colored raised button -->
  </div>
</div>