<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbConnectionString" connectionString="Data Source=localhost;Initial Catalog=PromoEngine_PTNR;User ID=sa;pwd=TcfBank1" />
  </connectionStrings>
  <appSettings>
    <add key="ReceiptsToBeUploaded" value="C:\TCF\zeo\SYS.CONF.Receipts\Receipts\" />
  </appSettings>
</configuration>