<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

	<!-- This is application version number, update for each release -->
	<?define Version = "3.4.4.0" ?>
	<?define UpgradeCode = "{7B46158B-8154-4F4C-B36E-AB45C22163CF}" ?>
	<?define ProductName = "Peripheral Service Installer" ?>
	<?define Manufacturer = "MGI" ?>
	<?define ProductId = "14F9F134-F669-4C16-8D34-F6827030502B" ?>

	<Product Id="*" Name="$(var.ProductName)"
       Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)"
       UpgradeCode="$(var.UpgradeCode)">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" 
				 InstallPrivileges="elevated"  Manufacturer="$(var.Manufacturer)"
				 Description="Updating Peripheral Service Slient Installer"/>
		<Media Id="1" Cabinet="Sample.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />

		<MajorUpgrade  Schedule ="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."></MajorUpgrade>

		<Property Id="DiskPrompt" Value="Installation [1]" />
		<Property Id="OPTIONCHECKED" Value="1" />
		<SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize" />
		<Property Id="INSTALLDIR" Secure="yes" />
		
		<Property Id="LOCATIONNAME">
			<RegistrySearch Id="RegSearchLocation" Type="raw" Root="HKLM" Key="SOFTWARE\MGI\Peripheral Service" Name="LocationName" />
		</Property>
		
		<!--Calling Custom Action Methods using dll  -->
		<Binary Id="BIN_CustomAction" SourceFile="Peripheral.Service.CustomAction.CA.dll" />
		<CustomAction Id="CA_PrerequisiteCheck" BinaryKey="BIN_CustomAction" DllEntry="PrerequisiteCheck" Execute="immediate" Impersonate="yes" Return="check" />		
		<CustomAction Id="CAUnInstallNXO" BinaryKey="BIN_CustomAction" DllEntry="UnInstallNXO" Execute="immediate" Return="ignore" />
			
		<InstallExecuteSequence>
	      <Custom Action="CAUnInstallNXO" After="InstallInitialize">NOT UPGRADINGPRODUCTCODE AND REMOVE="ALL"</Custom>
		  <Custom Action="CA_PrerequisiteCheck"  After="InstallExecute">NOT Installed</Custom>
		</InstallExecuteSequence>

		<Directory Id="TARGETDIR"  Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="Peripheral Service">
					<Directory Id="TempFolderId" Name="Temp">
						<Component Id="TempFolderComponent" Guid="{9AC97A61-33CD-4612-9AD1-2F4BB371F270}">
							<CreateFolder Directory="TempFolderId">
								<Permission User="Everyone" GenericAll="yes" />
							</CreateFolder>
							<File Id="filEC20935A3F97F24E20E1C2041AC766CA" KeyPath="yes" Source=".\NpsInstaller\ReadMe.txt" />
							<util:EventSource Log="Application" Name="Peripheral Installer" EventMessageFile="%SystemRoot%\Microsoft.Net\Framework\v2.0.50727\EventLogMessages.dll" />
						</Component>
					</Directory>
					<Component Id="ProductComponent" Guid="{4F178595-0AA8-42FC-B994-EEC09D764352}" Permanent="yes">
						<RegistryKey Root="HKLM" Key="SOFTWARE\MGI\Peripheral Service">
							<RegistryValue Name="InstallLocation" Value="[INSTALLLOCATION]" Type="string" />
						</RegistryKey>
					</Component>
					<Component Id="ExeComponent" Guid="{08B33300-1389-4398-B8F5-801D81077B12}">
						<File Id="ExeFile" Source="vcredist_x86.exe" />
					</Component>
					<Component Id="BatComponent" Guid="{D61B8096-6631-403A-B0B7-166F4221D60A}">
						<File Id="httpcfgbat" Source="configuresys.bat"/>
					</Component>
					<Component Id="PermComponent" Guid="{86BB21E6-D972-407D-B4D6-D181089F68F9}">
						<File Id="permbat" Source="PeripheralPerm.bat"/>
					</Component>
					<Component Id="Batunregnxo" Guid="{2A825C35-D5A3-4212-A980-A246BA232D63}">
						<File Id="filebatunregnxo" Source="unregnxo.bat"/>
					</Component>
					<Component Id="RegComponent" Guid="{1C808244-E26A-41A3-BEB9-0E7F8443A7D2}">
						<File Id="regcomp" Source="registernxo.reg"/>
					</Component>
					<Component Id="RegUninstallComponent" Guid="{AE82CC3C-275D-4F25-BB45-43ABEE524AE2}">
						<File Id="fileunregcomp" Source="unregnxo.reg"/>
					</Component>
					<Component Id="RedistComponent" Guid="{DB5528B9-A83C-438B-A602-36D7FA025886}">
						<File Id="redistcomp" Source="VCRedistInstaller.exe"/>
					</Component>
					<Component Id="BuildComponent" Guid="{17344FC2-1A42-498A-A0BC-F4C2110B44BA}">
						<File Id="buildcomp" Source="BuildInfo.txt"/>
					</Component>
					<Component Id="LogComponent" Guid="{6F2C153D-EF7F-4FBE-BB08-3B7C6D23E57B}">
						<File Id="logcomp" Source="DMSDebug.log"/>
					</Component>
					<Component Id="ResetLogComponent" Guid="{E4BA19AA-9B4D-47CE-A12A-26A38E106397}">
						<File Id="resetlogcomp" Source="reset.log"/>
					</Component>
					<Component Id="CertComponent" Guid="{5C88FFE7-8E94-4159-A962-ABE73A1F54B5}">
						<File Id="certcomp" Source="nps_certificate.pfx"/>
					</Component>
					<Component Id="CertInstallerComponent" Guid="{C9821E26-B911-470B-91AA-87F36C3D623A}">
						<File Id="certinstallercomp" Source="winhttpcertcfg.exe"/>
					</Component>
					<Component Id="NexxoPeripheralWindowsService" Guid="{F696E764-CDA3-4C74-BD16-149CB050AAFA}">
						<File Id="fil00690A65EA1A3EFEB7607285DBA0C8C5" KeyPath="yes" Source=".\NpsInstaller\MGI.Peripheral.Windows.Svc.exe" />
						<ServiceInstall Id="NexxoPeripheralService" Name="NexxoPeripheralService"   DisplayName="Peripheral Windows Service" Description="Peripheral Windows Service" Start="auto" ErrorControl="ignore" Account="NT AUTHORITY\LocalService" Type="ownProcess" />
						<ServiceControl Id="sc_NexxoPeripheralService" Name="NexxoPeripheralService" Stop="both" Remove="uninstall"  Wait="yes" />
					</Component>					
					<Component Id="NexxoPeripheralWindowsSvcexe" Guid="{F4DAE19D-20F9-47C8-A3F4-B20E42A09502}">
						<File Id="fil49215CE1A25380930C771772AD14519B" KeyPath="yes" Source="NpsInstaller\MGI.Peripheral.Windows.Svc.exe.config" />
					</Component>									
					<Component Id="NexxoPeripheralEpsonTMS9000" Guid="{351159D3-F8AF-4CB7-B971-0D591D8854F7}">
						<File Id="filA59B4938D66F461FBE353924C1D893C5" KeyPath="yes" Source="NpsInstaller\MGI.Peripheral.Epson.TMS9000.dll" />
					</Component>
				  <Component Id="NexxoPeripheralServer" Guid="{83F9ECF5-E3D9-433A-A8DD-11510F9361B7}">
				      <File Id="filB3C3036BFAF640FDA090982081B06DDD" KeyPath="yes" Source="NpsInstaller\MGI.Peripheral.Server.dll" />
				  </Component>
				  <Component Id="ChexarIO" Guid="{83F9ECF5-E3D9-433A-A8DD-BB510F9361B7}">
				     <File Id="filB3C3036BFAF640FCA09098C081B06DDD" KeyPath="yes" Source="NpsInstaller\ChexarIO.Communication.dll" />
				  </Component>
				  <Component Id="CheckMessenger" Guid="{83F9ECCC-E3D9-433A-A8DD-BB510F9361B7}">
				            <File Id="filB3CC036CFAF640FCA00098C081B06DDD" KeyPath="yes" Source="NpsInstaller\MGI.Peripheral.Check.Messenger.dll" />
				        </Component>
          <Component Id="SpringCore" Guid="{31C7E859-FE53-46B1-85E6-8D0CB4FB0189}">
						 <File Id="filBF212A923DC50432308B44B6B0D504DA" KeyPath="yes" Source="NpsInstaller\Spring.Core.dll" />
					</Component>
					<Component Id="EpsonBankDriver" Guid="{839C257C-1890-434F-AF60-F06D33CE13C7}">
						<File Id="filA227D270EF14D6DE8F5264C6A36678E9" KeyPath="yes" Source="NpsInstaller\EpsonBankDriver.dll" />
					</Component>
					<Component Id="SpringAop" Guid="{D3F1D5C5-7835-42D0-91E9-45FE81AC0898}">
						<File Id="fil7E8742851A0ECFA4A3FD0D97B4A19C41" KeyPath="yes" Source="NpsInstaller\Spring.Aop.dll" />
					</Component>
					<Component Id="CommonLogging" Guid="{D93B9682-064C-4442-A628-7D27C24E4125}">
						<File Id="filF3BDC6775F7667BF7DD8C8B967C452E6" KeyPath="yes" Source="NpsInstaller\Common.Logging.dll" />
					</Component>
					<Component Id="DocX" Guid="{D5DB2A10-A346-430D-9F01-5E9D55E80763}">
						<File Id="fil4AD256CC723844C59F918C5C051E1FB4" KeyPath="yes" Source="NpsInstaller\DocX.dll" />
					</Component>
				  <Component Id="NewtonSoft" Guid="{C4CB2A10-A346-430D-9F01-5E9D55E80763}">
				            <File Id="filC4C56CC723844C59F918C5C051E1FB4" KeyPath="yes" Source="NpsInstaller\Newtonsoft.Json.dll" />
				  </Component>
					<Component Id="VersionInfo" Guid="{B3C5270B-5C70-4E75-851B-9FF5D3D142C5}">
					    <File Id="filB28A409107248378ADC3CCE931D4B38" KeyPath="yes" Source="NpsInstaller\version.txt" />
					</Component>
				  <Component Id="RedirectFile" Guid="{C4C5270B-5C70-4E75-851B-9FF5D3D142C5}">
				            <File Id="filC48A409107248378ADC3CCE931D4B38" KeyPath="yes" Source="redirect.txt" />
				  </Component>
        </Directory>
			</Directory>
		</Directory>	
    
		<Feature Id="ProductFeature" Title="Peripheral Service Installer" Level="1"  ConfigurableDirectory="INSTALLLOCATION">
		    <ComponentRef Id="TempFolderComponent"/>
		    <ComponentRef Id="BatComponent"/>
		    <ComponentRef Id="RegComponent"/>
		    <ComponentRef Id="PermComponent"/>
        <ComponentGroupRef Id='OpenOfficeComponents' />
		    <ComponentRef Id="RegUninstallComponent" />
		    <ComponentRef Id="Batunregnxo" />
		    <ComponentRef Id="ExeComponent" />
		    <ComponentRef Id="BuildComponent" />
		    <ComponentRef Id="LogComponent" />
		    <ComponentRef Id="ResetLogComponent" />
		    <ComponentRef Id="CertComponent" />
		    <ComponentRef Id="CertInstallerComponent" />
		    <ComponentRef Id="RedistComponent" />
		    <ComponentRef Id="ProductComponent" />
		    <ComponentRef Id="NexxoPeripheralWindowsService" />
		    <ComponentRef Id="NexxoPeripheralWindowsSvcexe" />
		    <ComponentRef Id="NexxoPeripheralEpsonTMS9000" />
		    <ComponentRef Id="NexxoPeripheralServer" />
		    <ComponentRef Id="ChexarIO" />
		    <ComponentRef Id="CheckMessenger" />
		    <ComponentRef Id="SpringCore" />
		    <ComponentRef Id="EpsonBankDriver" />
		    <ComponentRef Id="SpringAop" />
		    <ComponentRef Id="CommonLogging" />
		    <ComponentRef Id="DocX" />
      	<ComponentRef Id="NewtonSoft" />
	      <ComponentRef Id="VersionInfo" />
      	<ComponentRef Id="RedirectFile" />
   </Feature>		
    
	</Product>
</Wix>