<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
    <add name="ZeoConnectionString" connectionString="Data Source=localhost;Initial Catalog=ZEORelease_PTNR;User ID=sa;pwd=TcfBank1" />
  </connectionStrings>
  <appSettings>
    <add key="TCFProcessor" value="IO" />
    <add key="IsHardCodeSSOAttributes" value="true"/>
    <add key="SSOAttributes" value="BankNum:099|BranchNum:00003|TellerNum:10099|AmPmInd:A|CashDrawer:678|LU:HERA2352|LawsonID:000104|UserID:100023|BusinessDate:2018-04-03|HostName:099|subClientNodeID:100|SubClientNodeId:100"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MBEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://teller.tcfbank.com/TellerWorkQueueWS/TellerWorkQueueWS.svc"
          binding="wsHttpBinding" bindingConfiguration="wsHttpBinding"
          contract="TellerWorkQueueService.ITellerWorkQueueWS" name="wsHttpBinding" />
      <endpoint address="https://teller.tcfbank.com/TellerWorkQueueWS/TellerWorkQueueWS.svc/MB"
          binding="wsHttpBinding" bindingConfiguration="MBEndpoint"
          contract="TellerWorkQueueService.ITellerWorkQueueWS" name="MBEndpoint" />
    </client>
  </system.serviceModel>
</configuration>