<div class="back-img-dash">
  <div class="opt-map-container">
    <div class="opt-map-top">
    </div>
    <div class="pointer1">
      <div class="col-sm-12">
        <img src="/src/app/images/Location-icon.png" width="25" height="25" />
      </div>
      <button class="map-status" [disabled]="!_isOnBoarding" (click)="redirectToOnBoard()"><b>JOINING DATE</b></button>
    </div>
    <div class="pointer2">
      <div class="col-sm-12">
        <img src="/src/app/images/Location-icon.png" width="25" height="25" />
      </div>
      <button class="map-status top-margin" [disabled]="!_isOffer" (click)="redirectToOffer()"><b>OFFER</b></button>
    </div>
    <div class="pointer3">
      <div class="col-sm-12">
        <img src="/src/app/images/Location-icon.png" width="25" height="25" />
      </div>
      <button class="map-status top-margin" [disabled]="!_isInterview" (click)="redirectToInterview()"><b>INTERVIEW</b></button>
    </div>
    <div class="pointer4">
      <div class="col-sm-12">
        <img src="/src/app/images/Location-icon.png" width="25" height="25" />
      </div>
      <button class="map-status top-margin" [disabled]="!_isShortListed" (click)="redirectToShortList()"><b>SHORTLISTED</b></button>
    </div>
      <img src="/src/app/images/Character.png" class="opt-character  top-mar" [@destop-screen]="_statusCount" />
      <img src="/src/app/images/Character.png" class="opt-character1 top-mar" [@tablet-screen]="_statusCount" />
      <img src="/src/app/images/Character.png" class="opt-character2 top-mar" [@ipad-screen]="_statusCount" />
      <img src="/src/app/images/Character.png" class="opt-character3 top-mar" [@smartphone-screen]="_statusCount" />
      <img src="/src/app/images/Character.png" class="opt-character4 top-mar" [@iphone-screen]="_statusCount" />
  </div>
</div>