.opt-card{
	margin-top: 60px;
	margin-bottom: 60px;
}
.opt-form .mdl-textfield, .opt-form .mdl-select{
	width: 100%;
}
.opt-card.mdl-card{
	width: 100%;
	display: block;
	z-index: 999;
}
.mdl-textfield .mdl-button {
    position: absolute;
    bottom: 20px;
	right: 0px;
}
.opt-text-btn .mdl-textfield__input, .opt-text-btn .mdl-textfield__label {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
.opt-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
	background-image: url('/src/app/images/drawer-header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #757575;
    font-size: 30px;
    color: #fff;
    padding-top: 6px;
    padding-left: 5px;
}
/*.opt-map-bg{
	background-image: url('/src/app/images/Landscape.png') !important;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}*/


/***************************************************************
MDL CSS Overwriten
***************************************************************/
label.mdl-textfield__label, label.mdl-select__label, label{
	margin-bottom: 0px;
}
.mdl-textfield__label {
    color: rgba(0, 0, 0, 0.6);
}
label{
	font-weight: 400;
}
.getmdl-select-icon {
    position: absolute;
	right: 0;
	top: 25px;
    color: rgba(0,0,0,0.4);
}
.mdl-layout__drawer{
	border-right: none;
}
.mdl-menu__container.is-visible, .mdl-menu__container.is-animating{
	z-index: 9999;
}


/***************************************************************
default margin & pading css
***************************************************************/
.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.m-a { margin:        10px !important; }
.m-t { margin-top:    10px !important; }
.m-r { margin-right:  10px !important; }
.m-b { margin-bottom: 10px !important; }
.m-l { margin-left:   10px !important; }
.m-x { margin-right:  10px !important; margin-left: 10px !important; }
.m-y { margin-top:    10px !important; margin-bottom: 10px !important; }
.m-x-auto { margin-right: auto !important; margin-left: auto !important; }

.m-a-xs { margin:        5px !important; }
.m-t-xs { margin-top:    5px !important; }
.m-r-xs { margin-right:  5px !important; }
.m-b-xs { margin-bottom: 5px !important; }
.m-l-xs { margin-left:   5px !important; }
.m-x-xs { margin-right:  5px !important; margin-left:   5px !important; }
.m-y-xs { margin-top:    5px !important; margin-bottom: 5px !important; }

.m-a-md { margin:        15px !important; }
.m-t-md { margin-top:    15px !important; }
.m-r-md { margin-right:  15px !important; }
.m-b-md { margin-bottom: 15px !important; }
.m-l-md { margin-left:   15px !important; }
.m-x-md { margin-right:  15px !important; margin-left:   15px !important; }
.m-y-md { margin-top:    15px !important; margin-bottom: 15px !important; }

.m-a-lg { margin:        20px !important; }
.m-t-lg { margin-top:    20px !important; }
.m-r-lg { margin-right:  20px !important; }
.m-b-lg { margin-bottom: 20px !important; }
.m-l-lg { margin-left:   20px !important; }
.m-x-lg { margin-right:  20px !important; margin-left:   20px !important; }
.m-y-lg { margin-top:    20px !important; margin-bottom: 20px !important; }

.p-a-0 { padding:        0 !important; }
.p-t-0 { padding-top:    0 !important; }
.p-r-0 { padding-right:  0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left:   0 !important; }
.p-x-0 { padding-left:   0 !important; padding-right: 0 !important; }
.p-y-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

.p-a { padding:        10px !important; }
.p-t { padding-top:    10px !important; }
.p-r { padding-right:  10px !important; }
.p-b { padding-bottom: 10px !important; }
.p-l { padding-left:   10px !important; }
.p-x { padding-right:  10px !important; padding-left:   10px !important; }
.p-y { padding-top:    10px !important; padding-bottom: 10px !important; }

.p-a-xs { padding:        5px !important; }
.p-t-xs { padding-top:    5px !important; }
.p-r-xs { padding-right:  5px !important; }
.p-b-xs { padding-bottom: 5px !important; }
.p-l-xs { padding-left:   5px !important; }
.p-x-xs { padding-right:  5px !important; padding-left:   5px !important; }
.p-y-xs { padding-top:    5px !important; padding-bottom: 5px !important; }

.p-a-md { padding:        15px !important; }
.p-t-md { padding-top:    15px !important; }
.p-r-md { padding-right:  15px !important; }
.p-b-md { padding-bottom: 15px !important; }
.p-l-md { padding-left:   15px !important; }
.p-x-md { padding-right:  15px !important; padding-left:   15px !important; }
.p-y-md { padding-top:    15px !important; padding-bottom: 15px !important; }

.p-a-lg { padding:        20px !important; }
.p-t-lg { padding-top:    20px !important; }
.p-r-lg { padding-right:  20px !important; }
.p-b-lg { padding-bottom: 20px !important; }
.p-l-lg { padding-left:   20px !important; }
.p-x-lg { padding-right:  20px !important; padding-left:   20px !important; }
.p-y-lg { padding-top:    20px !important; padding-bottom: 20px !important; }
/*******************************************
default margin & pading css
********************************************/
.opt-map-container {
	width: 300px !important;
	margin-left: auto;
	margin-right: auto;
	height: calc(100vh - 70px);
}
.opt-map-top {
	width: 100%;
	height: 38%;
}
.map-status {
	color: #ffffff;
	background-color: #f44336;
	font-size: 12px;
	padding: 4px 5px;
	border-radius: 5px;
	min-width: 40%;
}
.top-mar{
	margin-top: -7%;
	position: relative;
	display: none;
	/*transition: all 2s ease-in-out;*/
	width: 80px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Smartphones (portrait and landscape) ----------- */
	.opt-map-container {
	}
	.opt-map-top {
		height: 34%;
	}
	.pointer1 img {
		margin-left: 28%;
		margin-bottom: 2px;
	}
	.pointer1 .map-status {
		margin-left: 30%;
	}
	.pointer2 img {
		margin-left: 60%;
		margin-bottom: 2px;
	}
	.pointer2 .map-status {
		margin-left: 60%;
	}
	.pointer3 .map-status {
		margin-left: -10px;
	}
	.pointer3 img {
		margin-left: -10px;
		margin-bottom: 2px;
	}
	.pointer4 img {
		margin-left: 50%;
		margin-bottom: 2px;
	}
	.pointer4 .map-status {
		margin-left: 50%;
	}
	.pointer2, .pointer3, .pointer4 {
		margin-top: 10%;
	}
}

@media only screen and (min-width : 321px) {
/* Smartphones (landscape) ----------- */
	.pointer1 img {
		margin-left: 28%;
		margin-bottom: 2px;
	}
	.pointer1 .map-status {
		margin-left: 30%;
	}
	.pointer2 img {
		margin-left: 65%;
		margin-bottom: 2px;
	}
	.pointer2 .map-status {
		margin-left: 65%;
	}
	.pointer3 .map-status {
		margin-left: -10%;
	}
	.pointer3 img {
		margin-left: -12%;
		margin-bottom: 2px;
	}
	.pointer4 img {
		margin-left: 54%;
		margin-bottom: 2px;
	}
	.pointer4 .map-status {
		margin-left: 54%;
	}
	.pointer2, .pointer3, .pointer4 {
		margin-top: 8%;
	}
		
}

@media only screen and (max-width : 320px) {
/* Smartphones (portrait) ----------- */
	.opt-map-container {
	}
	.opt-map-top {
		height: 28%;
	}
	.pointer1 img {
		margin-left: 28%;
		margin-bottom: 2px;
	}
	.pointer1 .map-status {
		margin-left: 30%;
	}
	.pointer2 img {
		margin-left: 60%;
		margin-bottom: 2px;
	}
	.pointer2 .map-status {
		margin-left: 60%;
	}
	.pointer3 .map-status {
		margin-left: -10px;
	}
	.pointer3 img {
		margin-left: -10px;
		margin-bottom: 2px;
	}
	.pointer4 img {
		margin-left: 50%;
		margin-bottom: 2px;
	}
	.pointer4 .map-status {
		margin-left: 50%;
	}
	.pointer2, .pointer3, .pointer4 {
		margin-top: 5%;
	}

	.opt-character4{
		display: inline;
	}
}

@media only screen and (min-width : 480px) {
/* Smartphones (landscape) ----------- */

	
	
}

@media only screen and (max-width : 760px) {
	.opt-card{
		margin-top: 20px;
	}

}

@media only screen and (min-width : 768px) {
/* Smartphones (landscape) ----------- */
	.opt-map-top {
		height: 40%;
	}
	.pointer1 img {
		margin-left: 28%;
		margin-bottom: 2px;
	}
	.pointer1 .map-status {
		margin-left: 30%;
	}
	.pointer2 img {
		margin-left: 70%;
		margin-bottom: 2px;
	}
	.pointer2 .map-status {
		margin-left: 70%;
	}
	.pointer3 img {
		margin-left: -10%;
		margin-bottom: 2px;
	}
	.pointer3 .map-status {
		margin-left: -10%;
	}
	.pointer4 img {
		margin-left: 60%;
		margin-bottom: 2px;
	}
	.pointer4 .map-status {
		margin-left: 60%;
	}
	.pointer2, .pointer3, .pointer4 {
		margin-top: 15%;
	}
}

@media only screen and (min-width : 1024px) and ( min-height: 600px ) {
/* Smartphones (landscape) ----------- */
	.opt-map-container {
	}
	.opt-map-top {
		height: 33%;
	}
	.pointer1 img {
		margin-left: 28%;
		margin-bottom: 2px;
	}
	.pointer1 .map-status {
		margin-left: 30%;
	}
	.pointer2 img {
		margin-left: 60%;
		margin-bottom: 2px;
	}
	.pointer2 .map-status {
		margin-left: 60%;
	}
	.pointer3 .map-status {
		margin-left: -20px;
	}
	.pointer3 img {
		margin-left: -20px;
		margin-bottom: 2px;
	}
	.pointer4 img {
		margin-left: 50%;
		margin-bottom: 2px;
	}
	.pointer4 .map-status {
		margin-left: 50%;
	}
	.pointer2, .pointer3, .pointer4 {
		margin-top: 10%;
	}
	.opt-character-p1{
		margin-top: -21%;
    	margin-left: 30%;
	}
	.opt-character-p2{
		margin-top: -58%;
    	margin-left: 22%;
	}
	.opt-character-p3{
		margin-top: -98%;
    	margin-left: 41%;
	}
	.opt-character-p4{
		margin-top: -144%;
    	margin-left: 47%;
	}
}

@media only screen and (min-width : 1024px) and ( min-height: 768px ) {
/* Smartphones (landscape) ----------- */
	.opt-map-container {
	}
	.opt-map-top {
		height: 40%;
	}
	.pointer1 img {
		margin-left: 28%;
		margin-bottom: 2px;
	}
	.pointer1 .map-status {
		margin-left: 30%;
	}
	.pointer2 img {
		margin-left: 65%;
		margin-bottom: 2px;
	}
	.pointer2 .map-status {
		margin-left: 65%;
	}
	.pointer3 img {
		margin-left: -10px;
		margin-bottom: 2px;
	}
	.pointer3 .map-status {
		margin-left: -10px;
	}
	.pointer4 img {
		margin-left: 55%;
		margin-bottom: 2px;
	}
	.pointer4 .map-status {
		margin-left: 55%;
	}
	.pointer2, .pointer3, .pointer4 {
		margin-top: 13%;
	}
}

@media only screen and (min-width : 1280px) and ( min-height: 800px ) {
/* Smartphones (landscape) ----------- */
	.opt-map-container {
	}
	.opt-map-top {
		height: 40%;
	}
	.pointer1 img {
		margin-left: 28%;
		margin-bottom: 2px;
	}
	.pointer1 .map-status {
		margin-left: 30%;
	}
	.pointer2 img {
		margin-left: 65%;
		margin-bottom: 2px;
	}
	.pointer2 .map-status {
		margin-left: 65%;
	}
	.pointer3 .map-status {
		margin-left: -10px;
	}
	.pointer3 img {
		margin-left: -10px;
		margin-bottom: 2px;
	}
	.pointer4 img {
		margin-left: 55%;
		margin-bottom: 2px;
	}
	.pointer4 .map-status {
		margin-left: 55%;
	}
	.pointer2, .pointer3, .pointer4 {
		margin-top: 15%;
	}
}

@media only screen and (min-width : 1366px) and ( min-height: 768px ) {
/* Smartphones (landscape) ----------- */
	.opt-map-container {
	}
	.opt-map-top {
		height: 33%;
	}
	.pointer1 img {
		margin-left: 28%;
		margin-bottom: 2px;
	}
	.pointer1 .map-status {
		margin-left: 30%;
	}
	.pointer2 img {
		margin-left: 65%;
		margin-bottom: 2px;
	}
	.pointer2 .map-status {
		margin-left: 65%;
	}
	.pointer3 .map-status {
		margin-left: -10px;
	}
	.pointer3 img {
		margin-left: -10px;
		margin-bottom: 2px;
	}
	.pointer4 img {
		margin-left: 55%;
		margin-bottom: 2px;
	}
	.pointer4 .map-status {
		margin-left: 55%;
	}
	.pointer2, .pointer3, .pointer4 {
		margin-top: 17%;
	}
}

@media only screen and (min-width : 1600px) and ( min-height: 900px ) {
/* Smartphones (landscape) ----------- */
	.opt-map-container {
	}
	.opt-map-top {
		height: 39%;
	}
	.pointer1 img {
		margin-left: 28%;
		margin-bottom: 2px;
	}
	.pointer1 .map-status {
		margin-left: 30%;
	}
	.pointer2 img {
		margin-left: 70%;
		margin-bottom: 2px;
	}
	.pointer2 .map-status {
		margin-left: 70%;
	}
	.pointer3 .map-status {
		margin-left: -10px;
	}
	.pointer3 img {
		margin-left: -10px;
		margin-bottom: 2px;
	}
	.pointer4 img {
		margin-left: 60%;
		margin-bottom: 2px;
	}
	.pointer4 .map-status {
		margin-left: 60%;
	}
	.pointer2, .pointer3, .pointer4 {
		margin-top: 20%;
	}
}

@media only screen and (min-width : 1920px) and ( min-height: 1080px ) {
/* Smartphones (landscape) ----------- */
	.opt-map-container {
	}
	.opt-map-top {
		height: 39%;
	}
	.pointer1 img {
		margin-left: 28%;
		margin-bottom: 2px;
	}
	.pointer1 .map-status {
		margin-left: 30%;
	}
	.pointer2 img {
		margin-left: 75%;
		margin-bottom: 2px;
	}
	.pointer2 .map-status {
		margin-left: 75%;
	}
	.pointer3 img {
		margin-left: -10px;
		margin-bottom: 2px;
	}
	.pointer3 .map-status {
		margin-left: -10px;
	}
	.pointer4 img {
		margin-left: 60%;
		margin-bottom: 2px;
	}
	.pointer4 .map-status {
		margin-left: 60%;
	}
	.pointer2, .pointer3, .pointer4 {
		margin-top: 25%;
	}
}

@media only screen and (min-width : 1200px) {
/* Desktops and laptops ----------- */
	.opt-character {
		display: inline;
	}
}

@media only screen and (min-width : 1700px) {
/* Large screens ----------- */
	
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* iPhone 4 ----------- */
	
}
/* iPads pro hadling */
@media only screen and (min-width : 1024px) and (max-width: 1100px) {
/* Large screens ----------- */
	.opt-character2 {
		display: inline;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
/* Styles */
	.opt-character1 {
		display: inline;
	}
}

@media only screen and (min-device-width : 324px) and (max-device-width : 500px){
	.opt-character3 {
		display: inline;
	}
}

.mdl-layout__header{
	background-color:rgb(244,67,54) !important;
}

a {
	text-decoration: none;
}

.top-margin {
	margin-top: 1%;
}

.back-img-dash{
	background-image: url('/src/app/images/Landscape.png') !important;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}