<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>
  <connectionStrings>
    <add name="PTNRDBConnection" connectionString="Data Source=localhost;Initial Catalog=Mitra_PTNR;User ID=sa;pwd=MoneyGram1" />
  </connectionStrings>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
		</parsers>
		<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.net/tx" xmlns:db="http://www.springframework.net/database" xsi:schemaLocation="http://www.springframework.net          http://www.springframework.net/xsd/spring-objects.xsd">
			<import resource="assembly://MGI.Core.Catalog/MGI.Core.Catalog/Core.Catalog.Services.Spring.xml"/>

		<!--<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:db="http://www.springframework.net/database" xmlns:tx="http://www.springframework.net/tx" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">-->
		</objects>
	</spring>
	

	<!--<configSections>

    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.net          http://www.springframework.net/xsd/spring-objects.xsd">

      <object id="sessionFactory"  type="MGI.Core.Catalog.Test.NHibernateHelper, MGI.Core.Catalog.Test" autowire="byType" factory-method="get_SessionFactory" />
      <object id="session" type="MGI.Core.Catalog.Test.NHibernateHelper, MGI.Core.Catalog.Test" autowire="byType" factory-method="get_Session" />
      
      <object id="ProductService" type="MGI.Core.Catalog.Impl.ProductServiceImpl, MGI.Core.Catalog.Impl">
        <property name="ProductRepo" ref="ProductRepo" />       
      </object >    

      <object id="ProductRepo" type="MGI.Common.DataAccess.Impl.NHibRepository&lt;MGI.Core.Catalog.Data.Product&gt;,  MGI.Common.DataAccess.Impl" autowire="byType" >
        <property name="SessionFactory" ref="sessionFactory"></property>
      </object>

    </objects>
  </spring>-->

	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>-->

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.4000" newVersion="3.2.0.4000" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>