.opt-map-container {
	width: 300px !important;
	margin-left: auto;
	margin-right: auto;
}
.top-margin{
  margin-top: 35%;
  border-radius: 10px;
  width: 300px !important;
  padding-bottom: 5%;
}
.lable-row{
  background-color:rgb(244,67,54) !important;
  color: #ffffff !important;
  padding: 15px;
  text-align: center;
}
.login-form-margin{
  margin: 10%;
}
.full-width{
  width: 100%;
}
.top-mar-btn{
  padding-bottom: 10%;
  padding-top: 10%;
}
