<div class="container opt-form">
  <div class="clearfix"></div>
  <div class="opt-card mdl-card mdl-shadow--2dp p-a-lg" style="padding: 1% 5% 5% 5%;">
    <h2 class="m-t mdl-color-text--red-400">About Opteamix</h2>
    <p>Opteamix is a professional IT solutions and services company, founded by IT experts who have been delivering quality
      service to Fortune 500 clients for the last 25 years. The company is headquartered in Centennial, Colorado, and has
      its Global Delivery Center in Bangalore, India. </p>
    <p>Opteamix is both an ISO 27001-certified and HIPAA-compliant company.</p>
    <p>Our vision is “to be the global technology partner businesses can count on.” Our executive team is comprised of industry
      veterans with extensive experience in building and operating large-scale IT services companies.</p>
    <p>Global delivery of IT services is our forte and we believe in aligning our cutting-edge technology solutions and domain
      expertise with client business objectives.</p>
    <p>Opteamix represents a state of harmony derived from optimization, team synergy and a deep belief in it's core values.</p>
    <div class="clearfix"></div>
    <!-- Accent-colored raised button -->
  </div>
</div>
