<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="LogFolderPath" value="${event-context:item=LogFolderPath}"/>
  <variable name="BaseLayout" value="${event-context:item=ApplicationName}-${event-context:item=Version}-${event-context:item=AgentSessionId}-${event-context:item=CustomerSessionId}-${uppercase:${level}}|${date:format=HH\:mm\:ss\:fff}|${message}${exception:format=StackTrace:innerFormat=Message,StackTrace:maxInnerExceptionLevel=5}"/>
  <variable name ="LayoutWithDate" value ="${longdate}|${level}|${logger}${baseLayout}"/>

  <targets>    
    <target name="MGI_ALLOY_LOGGING" 
            xsi:type="File" 
            autoFlush="true" 
            fileName="${LogFolderPath}/${date:format=yyyy}/${date:format=yyyyMM}/${date:format=yyyyMMdd}/${event-context:item=ApplicationName}/${event-context:item=FileName}.log" 
            layout="${BaseLayout}"
            encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="MGI_ALLOY_LOGGING" />
  </rules>
</nlog>
