.opt-card{
	margin-top: 60px;
	margin-bottom: 60px;
}
.opt-form .mdl-textfield, .opt-form .mdl-select{
	width: 100%;
}
.opt-card.mdl-card{
	width: 100%;
	display: block;
	z-index: 999;
}
.mdl-textfield .mdl-button {
    position: absolute;
    bottom: 20px;
	right: 0px;
}
.opt-text-btn .mdl-textfield__input, .opt-text-btn .mdl-textfield__label {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
.opt-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
	background-image: url('/src/app/images/drawer-header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #757575;
    font-size: 30px;
    color: #fff;
    padding-top: 6px;
    padding-left: 5px;
}

/***************************************************************
MDL CSS Overwriten
***************************************************************/
label.mdl-textfield__label, label.mdl-select__label, label{
	margin-bottom: 0px;
}
.mdl-textfield__label {
    color: rgba(0, 0, 0, 0.6);
}
label{
	font-weight: 400;
}
.getmdl-select-icon {
    position: absolute;
	right: 0;
	top: 25px;
    color: rgba(0,0,0,0.4);
}
.mdl-layout__drawer{
	border-right: none;
}
.mdl-menu__container.is-visible, .mdl-menu__container.is-animating{
	z-index: 9999;
}


/***************************************************************
default margin & pading css
***************************************************************/
.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.m-a { margin:        10px !important; }
.m-t { margin-top:    10px !important; }
.m-r { margin-right:  10px !important; }
.m-b { margin-bottom: 10px !important; }
.m-l { margin-left:   10px !important; }
.m-x { margin-right:  10px !important; margin-left: 10px !important; }
.m-y { margin-top:    10px !important; margin-bottom: 10px !important; }
.m-x-auto { margin-right: auto !important; margin-left: auto !important; }

.m-a-xs { margin:        5px !important; }
.m-t-xs { margin-top:    5px !important; }
.m-r-xs { margin-right:  5px !important; }
.m-b-xs { margin-bottom: 5px !important; }
.m-l-xs { margin-left:   5px !important; }
.m-x-xs { margin-right:  5px !important; margin-left:   5px !important; }
.m-y-xs { margin-top:    5px !important; margin-bottom: 5px !important; }

.m-a-md { margin:        15px !important; }
.m-t-md { margin-top:    15px !important; }
.m-r-md { margin-right:  15px !important; }
.m-b-md { margin-bottom: 15px !important; }
.m-l-md { margin-left:   15px !important; }
.m-x-md { margin-right:  15px !important; margin-left:   15px !important; }
.m-y-md { margin-top:    15px !important; margin-bottom: 15px !important; }

.m-a-lg { margin:        20px !important; }
.m-t-lg { margin-top:    20px !important; }
.m-r-lg { margin-right:  20px !important; }
.m-b-lg { margin-bottom: 20px !important; }
.m-l-lg { margin-left:   20px !important; }
.m-x-lg { margin-right:  20px !important; margin-left:   20px !important; }
.m-y-lg { margin-top:    20px !important; margin-bottom: 20px !important; }

.p-a-0 { padding:        0 !important; }
.p-t-0 { padding-top:    0 !important; }
.p-r-0 { padding-right:  0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left:   0 !important; }
.p-x-0 { padding-left:   0 !important; padding-right: 0 !important; }
.p-y-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

.p-a { padding:        10px !important; }
.p-t { padding-top:    10px !important; }
.p-r { padding-right:  10px !important; }
.p-b { padding-bottom: 10px !important; }
.p-l { padding-left:   10px !important; }
.p-x { padding-right:  10px !important; padding-left:   10px !important; }
.p-y { padding-top:    10px !important; padding-bottom: 10px !important; }

.p-a-xs { padding:        5px !important; }
.p-t-xs { padding-top:    5px !important; }
.p-r-xs { padding-right:  5px !important; }
.p-b-xs { padding-bottom: 5px !important; }
.p-l-xs { padding-left:   5px !important; }
.p-x-xs { padding-right:  5px !important; padding-left:   5px !important; }
.p-y-xs { padding-top:    5px !important; padding-bottom: 5px !important; }

.p-a-md { padding:        15px !important; }
.p-t-md { padding-top:    15px !important; }
.p-r-md { padding-right:  15px !important; }
.p-b-md { padding-bottom: 15px !important; }
.p-l-md { padding-left:   15px !important; }
.p-x-md { padding-right:  15px !important; padding-left:   15px !important; }
.p-y-md { padding-top:    15px !important; padding-bottom: 15px !important; }

.p-a-lg { padding:        20px !important; }
.p-t-lg { padding-top:    20px !important; }
.p-r-lg { padding-right:  20px !important; }
.p-b-lg { padding-bottom: 20px !important; }
.p-l-lg { padding-left:   20px !important; }
.p-x-lg { padding-right:  20px !important; padding-left:   20px !important; }
.p-y-lg { padding-top:    20px !important; padding-bottom: 20px !important; }
/*******************************************
default margin & pading css
********************************************/

.opt-map-container {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	height: calc(100vh - 70px);
}
.opt-map-top {
	width: 100%;
	height: 38%;
}
.map-status {
	color: #ffffff;
	background-color: #f44336;
	font-size: 12px;
	padding: 4px 5px;
	border-radius: 5px;
	min-width: 20%;
}
.opt-character{
	margin-top: -7%;
	position: relative;
	transition: all 2s ease-in-out;
	width: 80px;
}
.opt-character-p1{
	margin-top: -26%;
	margin-left: 33%;
}
.opt-character-p2{
	margin-top: -65%;
	margin-left: 24%;
}
.opt-character-p3{
	margin-top: -95%;
    margin-left: 42%;
}
.opt-character-p4{
	margin-top: -134%;
    margin-left: 45%;
}

.mdl-layout__header{
	background-color:rgb(244,67,54) !important;
}

a {
	text-decoration: none;
}