<div class="container opt-form">
  <div class="clearfix"></div>
  <div class="opt-card mdl-card mdl-shadow--2dp p-a-lg" style="padding: 1% 5% 5% 5%;">
    <h4 class="m-t mdl-color-text--red-400"><strong>Dear {{_candDetails.FirstName}} {{_candDetails.LastName}}</strong></h4>
    <p class="lead">We are pleased to inform you that you have been shortlisted for further process.
                        You will soon be intimated on the further process.
                        Feel free to get back to us for any queries/information.</p>
    <h4 class="m-t mdl-color-text--red-400"><strong>Position: </strong>{{_candDetails.PositionName}}</h4>
    <p class="lead">Job Description: {{_candDetails.JobDescription}}</p>
    <div class="clearfix"></div>
    <!-- Accent-colored raised button -->
  </div>
</div>