<div class="cFont" style="margin-left:10px;">
    <div style="margin-top: 5px; margin-left:5px;">
        <div style=" width: 380px">
            <p style="line-height: 1.2;">
                @MGI.Channel.DMS.Web.App_GlobalResources.Nexxo.SuccessfulVISAAccountClosure
            </p>
        </div>
    </div>
    <div style=" text-align: center; margin-bottom:0px">
        <ul>
            <li>
                <input type="button" value="OK" onclick="RemoveCloseConformationPopUp(prepaidPurchuse_URL);" class="green_input width_fix100" />
            </li>
        </ul>
    </div>
        
</div>
