<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Talent Radar</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <div class="opt-drawer-header mdl-color--blue-grey-900">
    </div>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" (click)="Registration()"><i class="material-icons m-r-lg">home</i> Home</a>
      <a class="mdl-navigation__link" (click)="AdminNotification()"><i class="material-icons m-r-lg">notifications</i>Notification</a>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-200">
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
  </main>
</div>
