<div id="agglomerations" class="agglomerations text-right">
  <span title="{{ 'title_help' | translation }}" id="moscow"><img src="./assets/images/icn_help.png" class="icon-top"></span>
  <span title="{{ 'title_add' | translation }}" id="moscow"><img src="./assets/images/icn_addrec.png" class="icon-top"></span>
  <span title="{{ 'title_refresh' | translation }}" id="moscow"><img src="./assets/images/icn_refresh.png" class="icon-top"></span>
  <span title="{{ 'title_rewind' | translation }}" id="moscow"><img src="./assets/images/icn_rewind.png" class="icon-top"></span>
  <span title="{{ 'title_docopy' | translation }}" id="moscow"><img src="./assets/images/icn_docopy.png" class="icon-top"></span>
  <span title="{{ 'title_copyrepo' | translation }}" id="moscow"><img src="./assets/images/icn_copyrepo.png" class="icon-top"></span>
  <span title="{{ 'title_window' | translation }}" id="moscow"><img src="./assets/images/icn_window.png" class="icon-top"></span>
  <span title="{{ 'title_print' | translation }}" id="moscow"><img src="./assets/images/icn_print.png" class="icon-top"></span>
</div>