<div class="tab-container fab-container-track frm-lg">
  <!-- <app-spinner [show]="show"></app-spinner> -->
  <div id="binLocationFilter" class="binLocationFilter clearfix">
    <form class="row custForm no-gutters border-bottom custLayout">

      <div class="col col-auto">
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-60-2 minWidthAuto">Cut #</label>
          <input class="k-textbox width-100" type="text" name="PO#"  disabled/>
        </div>
        <div class="form-group row custFormrow ">
          <label for="staticEmail" class="col-form-label font-bold width-60-2 minWidthAuto">Cut Plant</label>
          <input class="k-textbox width-100" type="text" name="PoDate"  disabled/>
        </div>
        <div class="form-group row custFormrow ">
          <label for="staticEmail" class="col-form-label font-bold width-60-2 minWidthAuto">Sew Plant</label>
          <input class="k-textbox width-100" type="text" name="PoDate"  disabled/>
        </div>
        <div class="form-group row custFormrow ">
          <label for="staticEmail" class="col-form-label font-bold width-60-2 minWidthAuto">Mfg. Style</label>
          <input class="k-textbox width-100" type="text" name="PoDate"  disabled/>
        </div>
      </div>
      <div class="col col-auto">
        <div class="form-group row custFormrow ">
          <label for="staticEmail" class="col-form-label font-bold width-60-2 minWidthAuto">Mfg. Color</label>
          <input class="k-textbox width-100" type="text" name="PoDate" disabled/>
        </div>
        <div class="form-group row custFormrow ">
          <label for="staticEmail" class="col-form-label font-bold width-60-2 minWidthAuto">Factory</label>
          <input class="k-textbox width-100" type="text" name="PoDate" disabled/>
        </div>
        <div class="form-group row custFormrow ">
          <label for="staticEmail" class="col-form-label font-bold width-60-2 minWidthAuto">LC</label>
          <input class="k-textbox width-100" type="text" name="PoDate" disabled/>
        </div>
      
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-60-2 minWidthAuto">Marker</label>
          <input class="k-textbox width-100" type="text" name="vendor"  disabled/>
        </div>
      </div>
      <div class="col col-auto">
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-80-1">Fabric</label>
          <input class="k-textbox width-100" type="text" name="PickUpLoc"  disabled/>
        </div>
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-80-1">Trim</label>
          <input class="k-textbox width-100" type="text" name="PickUpLoc" disabled/>
        </div>
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-80-1">Cut Plan</label>
          <input class="k-textbox width-100" type="text" name="PickUpLoc" disabled/>
        </div>
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-80-1">Cut Comment</label>
          <input class="k-textbox width-100" type="text" name="PickUpLoc" disabled/>
        </div>
      </div>
      <div class="col col-auto">
        <div class="form-group row custFormrow ">
          <label for="staticEmail" class="col-form-label font-bold width-60-1">Cust PO #</label>
          <input class="k-textbox width-100" type="text" name="RequestedDate"  disabled/>
        </div>
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-60-1">Customer</label>
          <input class="k-textbox width-100" type="text" name="ShipTo"  disabled/>
        </div>
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-60-1">Ship To</label>
          <input class="k-textbox width-100" type="text" name="ShipTo"  disabled/>
        </div>
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-60-1">Cust Style</label>
          <input class="k-textbox width-100" type="text" name="ShipTo" disabled/>
        </div>
      </div>
      <div class="col col-auto">
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-60-2">Cust Color</label>
          <input class="k-textbox width-100" type="text" name="ShipTo"  disabled/>
        </div>
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-60-2">OB Status</label>
          <input class="k-textbox width-100" type="text" name="ShipTo"  disabled/>
        </div>
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-60-2">Cut Status</label>
          <kendo-dropdownlist class="k-widget k-dropdown k-header width-100" 
            [popupSettings]="{ width: 'auto' }" disabled>
          </kendo-dropdownlist>
        </div>
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-60-2">Specs</label>
          <input class="k-textbox width-100" type="text" name="PoToVendor"  disabled/>
        </div>
      </div>
      <div class="col col-auto">
        <div class="form-group row custFormrow">
          <label for="staticEmail" class="col-form-label font-bold width-30-2">BOM</label>
          <input class="k-textbox width-100" type="text" name="PoToVendor"  disabled/>
        </div>
      </div>
      
    </form>
  </div>


  <form class="custForm clearfix">
      <div class="form-row align-items-center armrkTable">
          <div class="col-auto custFields custFields-lg armrkTcol text-left">
              <div class="armrkTrow font-bold text-center" style="line-height:28px;min-height:28px;">
                  <label class=" " for="inlineFormInput">Plan</label>
              </div>
              <div class="armrkTrow font-bold text-center" style="line-height:28px;min-height:28px;">
                  <label class=" " for="inlineFormInput">Actual</label>
              </div>
              <div class="armrkTrow font-bold text-center" style="line-height:28px;min-height:28px;">
                <label class=" " for="inlineFormInput">Size</label>
            </div>
            <div class="armrkTrow font-bold text-center" style="line-height: 26px; max-height:26px; min-height: 26px;">
                <label class=" " for="inlineFormInput">M</label>
            </div>
            <div class="armrkTrow font-bold text-center" style="line-height: 26px; max-height:26px; min-height: 26px;">
                <label class=" " for="inlineFormInput">L</label>
            </div>
            <div class="armrkTrow font-bold text-center" style="line-height: 26px; max-height:26px; min-height: 26px;">
                <label class=" " for="inlineFormInput">XL</label>
            </div>
            <div class="armrkTrow font-bold text-center" style="line-height: 26px; max-height:26px; min-height: 26px;">
                <label class=" " for="inlineFormInput">2XL</label>
            </div>
            <div class="armrkTrow font-bold text-center" style="line-height: 26px; max-height:26px; min-height: 26px;">
                <label class=" " for="inlineFormInput">3XL</label>
            </div>
            <div class="armrkTrow font-bold text-left" style="padding-top: 10px;">
                <label class=" " for="inlineFormInput">Total Units</label>
            </div>
          </div>
          <div class="col col-auto">
              <div class="row custLayout ml-0">
                  <div class="col col-auto mr-0 p-0">
                    <div class="custFields  custFields-lg ">
                      <div class="input-group">
                        <kendo-datepicker class="width-100"  placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'" disabled="true"></kendo-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col col-auto m-0 p-0">
                    <div class="custFields  custFields-lg ">
                      <div class="input-group">
                        <kendo-datepicker class="width-100"  placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'" disabled="true"></kendo-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col col-auto m-0 p-0">
                    <div class="custFields  custFields-lg ">
                      <div class="input-group">
                        <kendo-datepicker class="width-100"  placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'" disabled="true"></kendo-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col col-auto m-0 p-0">
                    <div class="custFields  custFields-lg ">
                      <div class="input-group">
                        <kendo-datepicker class="width-100" placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'" disabled="true"></kendo-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col col-auto m-0 p-0">
                      <div class="custFields  custFields-lg ">
                        <div class="input-group">
                          <kendo-datepicker class="width-100"  placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'" disabled="true"></kendo-datepicker>
                        </div>
                      </div>
                    </div>
                    <div class="col col-auto m-0 p-0">
                      <div class="custFields  custFields-lg ">
                        <div class="input-group">
                          <kendo-datepicker class="width-100" placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'" disabled="true"></kendo-datepicker>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row custLayout ml-0">
                  <div class="col col-auto mr-0 p-0">
                    <div class="custFields  custFields-lg ">
                      <div class="input-group">
                        <kendo-datepicker class="width-100"  placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'" disabled="true"></kendo-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col col-auto mr-0 p-0">
                    <div class="custFields  custFields-lg ">
                      <div class="input-group">
                        <kendo-datepicker  class="width-100"  placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'" ></kendo-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col col-auto m-0 p-0">
                    <div class="custFields  custFields-lg ">
                      <div class="input-group">
                        <kendo-datepicker  class="width-100" placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'"></kendo-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col col-auto m-0 p-0">
                    <div class="custFields  custFields-lg ">
                      <div class="input-group">
                        <kendo-datepicker class="width-100" placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'"></kendo-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="col col-auto m-0 p-0">
                      <div class="custFields  custFields-lg ">
                        <div class="input-group">
                          <kendo-datepicker class="width-100"  placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'" disabled="true"></kendo-datepicker>
                        </div>
                      </div>
                    </div>
                    <div class="col col-auto m-0 p-0">
                      <div class="custFields  custFields-lg ">
                        <div class="input-group">
                          <kendo-datepicker class="width-100" placeholder="mm/dd/yyyy" [format]="'MM/dd/yyyy'" disabled="true"></kendo-datepicker>
                        </div>
                      </div>
                    </div>
                </div>
              <div class="form-row align-items-center armrkTable">
                <kendo-grid #grid="kendoGrid"  [scrollable]="'scrollable'" [style.maxHeight.vh]="50" [style.minHeight.px]="200" class="ml-1"
                >
          
                <kendo-grid-column field="VendorCode" title="ISSD" [width]="100" [style.minWidth.px]="100" [style.maxWidth.px]="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div>
                            <input [disabled]="true" type="text" class="k-textbox"  />
                        </div>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-dataItem let-column="column">
                      <div class="text-right font-bold pr-2">12343</div>
                  </ng-template>
                </kendo-grid-column>
          
                <kendo-grid-column field="VendorName" title="CUTT" [width]="100" [style.minWidth.px]="100" [style.maxWidth.px]="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div>
                            <input [disabled]="true" type="text" class="k-textbox"  />
                        </div>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-dataItem let-column="column">
                        <div class="text-right font-bold pr-2">1212</div>
                    </ng-template>
                </kendo-grid-column>
          
                <kendo-grid-column field="PickupLocnAddress" title="XCUT" [width]="100" [style.minWidth.px]="100" [style.maxWidth.px]="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div title="{{dataItem.PickupLocnAddress}}">
                            <input [disabled]="true" class="k-textbox" type="text"  />
                        </div>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-dataItem let-column="column">
                        <div class="text-right font-bold pr-2">2231</div>
                    </ng-template>
                </kendo-grid-column>
          
                <kendo-grid-column field="PickupNbr" title="NSEW"  [width]="100" [style.minWidth.px]="100" [style.maxWidth.px]="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div>
                            <input [disabled]="true" type="text" class="k-textbox" />
                        </div>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-dataItem let-column="column">
                        <div class="text-right font-bold pr-2">11</div>
                    </ng-template>
                </kendo-grid-column>
          
                <kendo-grid-column field="ShipmentNbr" title="XSEW" [width]="100" [style.minWidth.px]="100" [style.maxWidth.px]="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <input class="k-textbox" type="text"/>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-dataItem let-column="column">
                        <div class="text-right font-bold pr-2">1212</div>
                    </ng-template>
                </kendo-grid-column>
          
                <kendo-grid-column field="AsnNbr" title="INDC" [width]="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <input class="k-textbox" type="text" />
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-dataItem let-column="column">
                        <div class="text-right font-bold pr-2">1222</div>
                    </ng-template>
                </kendo-grid-column>
          
                <kendo-grid-column field="BillOfLadingNbr" title="OB Qty" [width]="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <input class="k-textbox" type="text" />
                    </ng-template>
                </kendo-grid-column>
          
                <kendo-grid-column field="TotalRolls" title="OB Status" [width]="90">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <input class="k-textbox text-right" type="text" />
                    </ng-template>
                </kendo-grid-column>
          
            </kendo-grid>
              </div>
          </div>
          <div class="col col-auto armrkTable" style="margin-top: 64px;">
              <kendo-grid [scrollable]="'scrollable'" style="height: 50vh; min-height: 200px; max-height:200px;margin: 0;"
                   class="tracking-descr-grid">
                  <kendo-grid-column field="Notes" title="Notes" [width]="450" [sortable]="false">
                  </kendo-grid-column>
              </kendo-grid>
          </div>
          <div class="col-auto" style="margin-top: 180px;">
              <div class="form-group row custFormrow armrk-btn mt-4 pt-4">
                  <button type="submit" class="btn btn-add-circle-red-sml" ></button>
              </div>
          </div>
      </div>
  </form>


  <form class="armrk-tbl-footer custFields custFields-inline form-inline clearfix ">
      <div class="form-group ml-auto pr-4">
          <button type="submit" class="btn btn-danger armrk-btn mr-2" >Save</button>
      </div>
  </form>
</div>


<!-- <kendo-dialog title="Add Notes" [width]="450">
  <form class="row custForm no-gutters border-bottom custLayout">
      <div class="col-12">
          <div class="form-group row custFormrow">
              <textarea id="simple-textarea" rows="3" class="k-textbox widthFull" placeholder="Notes" style="min-height: 66px;"  name="Notes"></textarea>
          </div>
      </div>
  </form>

  <div class="text-center k-dilog-btn-group">
      <button class="btn btn-danger" >Cancel</button>
      <button class="btn btn-danger"  primary="true">Save</button>
  </div>
</kendo-dialog> -->