@model TCF.Channel.Zeo.Web.Models.CheckTransaction
<script language="javascript" type="text/javascript">

    function SubmitForm() {
        $('#ApprovedCheckTransactionFormId').submit();   
    }

</script>

<div>
<hgroup>
    <h1>Are you sure you want to cancel?</h1>
</hgroup>
<div class="row_shift20">
    <ul>
        <li><input type="button"  value="Yes" name="Source"  onclick="SubmitForm()" class="green_input width_fix100"/></li>
        <li><input type="button"  value="No"  onclick="javascript:$('#dlgCancel').dialog('destroy').remove();" class="red_btn width_fix100"/></li>
    </ul>
</div>
</div>

 
