<div align="center" style="margin-top:3%;height:35%;">
	@Html.Raw(ViewBag.StatusChangedMessage)

</div>
<div class="txt_center">
	<ul>
		<li class="SrchButtonWidth">
			<input type="button" class="anc_link_btn" onclick="RemovePopUp()" value="OK"/>
		</li>
	</ul>
</div>