
<div id="dyntext" class="row5">
	<p>
		Collect $<label id="cash">@ViewBag.collectcash</label> cash from Customer to fund remaining transactions.
	</p>
	<br /><br />
</div>
<div class="row5">
	Amount Collected: <input type="text" id="txtAmountCollected" onkeyup="inputKeyUp(event)" /><br /> <label id="lblcashcollected error_txt"></label> <br />
	<input type="button" value="Done" id="btncashcollected" />
</div>

<script type="text/javascript">
	var cash = parseFloat($("#cash").text());
	var cashcollected = $("#txtAmountCollected").val();
	var RegExpCash = new RegExp("^[0-9]+$");
	$(document).ready(function () {
		$('#btncashcollected').focus();

		$('#txtAmountCollected').keypress(function (event) {
			avoidSpecialCharNegSign(event, this);
		});

		$("#btncashcollected").click(function () {
			cash = parseFloat($("#cash").text());
			cashcollected = $("#txtAmountCollected").val();

			if (!RegExpCash.test(cashcollected) && !((cashcollected == null) || ($("#txtAmountCollected").val() == ""))) {
				$("#lblcashcollected").text("Please enter only numeric  Amount ");
			}
			if (cashcollected < cash) {
				$("#lblcashcollected").text("Amount should be greater than or equal to  $" + cash);
			}
			if ((cashcollected == null) || ($("#txtAmountCollected").val() == "")) {
				$("#lblcashcollected").text("Please enter Amount $" + cash);
			}
			if (cashcollected >= cash) {
				$('#CollectCashFromCustomerPopup').dialog('destroy').remove();
				$('#CashCollected').val(cashcollected);
				$('#CashToCustomer').val((parseFloat(cashcollected) - parseFloat(cash)).toFixed(2));
				$('#btnSubmit').trigger('click');
			}
		});

	});


	function inputKeyUp(e) {
		e.which = e.which || e.keyCode;
		if (e.which == 13) {
			$('#btncashcollected').focus();
		}
	}

	function avoidSpecialCharNegSign(event, e) {
		if ($.browser.mozilla == true) {
			if (event.which == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 9 || event.keyCode == 16 || event.keyCode == 46) {
				return true;
			}
		}
		if ((event.which != 46 || $(e).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
			event.preventDefault();
		}
	}
</script>
