<div>
    <hgroup>
    <div>
        <h1>Are you sure you would like to remove the transaction?</h1>
        </div>
    </hgroup>
    <div class="del_cart_alert_wrap">
        <ul>
            <li><input type="button" value="Close" onclick="javascript:$('#dlgCancel').dialog('destroy').remove();" /></li>
            <li>@Html.ActionLink("Remove", "DeleteShoppingCartItem", "ShoppingCart", new { id = @ViewBag.deleteCartId, screenName = @ViewBag.screenName, Product = @ViewBag.product }, new { id = "submitLink", @class = "anc_link_btn" })</li>
        </ul>
    </div>
</div>
