@model TCF.Channel.Zeo.Web.Models.ProfileSummary
<div class="row_shift28">
<ul>
@if (Session["ClosedCustomerProfile"] != null && Session["ClosedCustomerProfile"] == "true" || Convert.ToInt32((Session["UserRoleId"])) == (int)TCF.Zeo.Common.Util.Helper.UserRoles.Tech || Convert.ToInt32((Session["UserRoleId"])) == (int)TCF.Zeo.Common.Util.Helper.UserRoles.ComplianceManager)
{
	<li>@Html.ActionLink("Exit", "CustomerSearch", "CustomerSearch", null, new { @class = "anc_link_btn red_btn", tabIndex = "1" })</li>
	<li>@Html.ActionLink("Cancel", "ProductInformation", "Product", null, new { @class = "anc_link_btn", tabIndex = "1", })</li>	
}
else
{
	<li>@Html.ActionLink("Back", "EmploymentDetails", "CustomerRegistration", null, new { @class = "anc_link_btn", tabindex = 2})</li>
	if (Model.IsNewCustomer)
	{

		<li class="row_width30 row_shift2"><input type="submit" value="Confirm" tabindex="1" /></li>
	}
	else
	{
		<li class="row_width30 row_shift2"><input type="submit" value="Done" tabindex="1" /></li>
	}
}
</ul>
</div>
