@model long
<div id="dyntext">
	<p class="row_shift12">SSN is required for this transaction, select Continue to add to Customer Profile</p>
</div>
<div class="shift25">
	<ul>
		<li class="popUpCancelBtnWidth">
			<input type="button" value="Cancel" onclick="javascript: $('#dlgSSNValidationWarning').dialog('destroy').remove();" style="background-color: #ad2525;" />
		</li>
		<li class="popUpConfrmBtnWidth">
            <li>@Html.ActionLink("Continue", "ModifyCustomer", "CustomerSearch", new { id = @Model }, new { @class = "anc_link_btn shift_btn_fix" })</li>
		</li>
	</ul>
</div>

<script type="text/javascript">
	$(document).ready(function () {
	    $('#btnContinue').focus();
	});
</script>
