<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
            Opteamix
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
    </div>
  </div>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title opt-drawer-header">
          <img class="" src="/src/app/images/drawer-header.jpg">
        </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/candidateflow/candidatedashboard"><i class="material-icons m-r-lg">home</i> Home</a>
      <a class="mdl-navigation__link" routerLink="/candidateflow/companydetails"><i class="material-icons m-r-lg">group</i> About Opteamix</a>
      <a class="mdl-navigation__link" routerLink="/candidateflow/candidatenotification"><i class="material-icons m-r-lg">notifications</i> Notification</a>
      <a class="mdl-navigation__link" routerLink="/candidateflow/recruiterdetails"><i class="material-icons m-r-lg">email</i> Contact Info</a>
    </nav>
  </div>
  
  <main class="mdl-layout__content opt-map-bg mdl-color--grey-200">
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
  </main>
</div>